<div class="modal-body px-4">
	<button type="button" class="close" aria-label="Close" (click)="closeModal()">
		<span aria-hidden="true">&times;</span>
	</button>
	<div class="card-block">
		<div class="modal-header">
			<div class="modal-title text-center">
				<h4 class="m-0">Compound Interest Calculator </h4>
				<p class="f-14 m-0">{{currentDate|date:'EEEE, MMMM dd, yyyy'}}</p>
				<p class="f-12 text-muted px-3">This calculator will help you to determine the future value of a lump sum and/or monthly investments at various interest
					rates. The calculations do not take into account inflation or taxation, both of which will reduce future purchasing
					value.
				</p>
			</div>
		</div>
		<div class="modal-body p-4">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="">Client Name (optional)</label>
						<input class="form-control" [attr.maxLength]="50"  type="text" [(ngModel)]="ComponentInterest.name">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="">Current Age (optional)</label>
						<input class="form-control" type="text" [restrictNumeric] [restrictmaxvalue]="100" [(ngModel)]="ComponentInterest.age">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="">Initial Starting Investment</label>
						<input class="form-control" app-restrict-input="float" [attr.maxLength]="15" type="text" [(ngModel)]="ComponentInterest.initialStartInvestment">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for=""> Monthly Investment Amount</label>
						<input class="form-control" app-restrict-input="float" [attr.maxLength]="15" type="text" [(ngModel)]="ComponentInterest.monthlyInvestment">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">

					<p class="m-0">
						<label for=""> Annual Interest Rates</label>
					</p>

					<div class="form-group d-flex">

						<div class="input-group col-sm-6 col-md-8 col-lg-6 col-xl-4 p-0 mr-4">
							<input class="form-control rounded-0" type="text" app-restrict-input="float" [(ngModel)]="ComponentInterest.interestRate1"
							 [restrictmaxvalue]="100">
							<span class="input-group-addon bg-none border-0 f-18">%</span>
						</div>
						<div class="input-group col-sm-6 col-md-8 col-lg-6 col-xl-4 p-0 mr-4">
							<input class="form-control rounded-0" type="text" app-restrict-input="float" [(ngModel)]="ComponentInterest.interestRate2"
							 [restrictmaxvalue]="100">
							<span class="input-group-addon bg-none border-0 f-18">%</span>
						</div>
						<div class="input-group col-sm-6 col-md-8 col-lg-6 col-xl-4 p-0 mr-4">
							<input class="form-control rounded-0" type="text" app-restrict-input="float" [(ngModel)]="ComponentInterest.interestRate3"
							 [restrictmaxvalue]="100">
							<span class="input-group-addon bg-none border-0 f-18">%</span>
						</div>
					</div>
				</div>
				<div class="col-md-5 offset-1">
					<p class="m-0">
						<label for="">Number of Years</label>
					</p>
					<div class="form-group d-flex">
						<div class="input-group col-sm-6 col-md-8 col-lg-6 col-xl-4 p-0 mr-4">
							<input class="form-control rounded-0" type="text" [(ngModel)]="ComponentInterest.no_of_years" [restrictNumeric] [restrictmaxvalue]="100">

						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="modal-footer justify-content-center">
			<button class="btn btn-submit btn-secondary btn-sm px-4 py-2" (click)="getResult()"> Go</button>
			<button class="btn btn-dark btn-sm px-4 py-2" (click)="getDefaultValues()"> Reset</button>
		</div>
		<table class="table" *ngIf="ComponentInterest.cInterestDetails!==null && ComponentInterest.cInterestDetails.length>0">
			<tr class="font-weight-bold">
				<td class="text-muted" *ngIf="ComponentInterest.cInterestDetails[0].age!==null">Age</td>
				<td class="text-muted">Years</td>
				<td class="text-muted">Annual Investment</td>
				<td class="text-muted">Total Investment</td>
				<td class="text-muted">Future Value @ {{intrst1}}%</td>
				<td class="text-muted">Future Value @ {{intrst2}}%</td>
				<td class="text-muted">Future Value @ {{intrst3}}%</td>
			</tr>
			<tr *ngFor="let compInt of ComponentInterest.cInterestDetails;">
				<td class="text-muted" *ngIf="compInt.age!==null">{{compInt.age}} </td>
				<td class="text-muted">{{compInt.years}} </td>
				<td class="text-muted">${{compInt.anualInvestment|number:'1.2-2'}} </td>
				<td class="text-muted">${{compInt.totalInvestment|number:'1.2-2'}}</td>
				<td class="text-muted">${{compInt.futurevalueA|number:'1.2-2'}}</td>
				<td class="text-muted">${{compInt.futurevalueB|number:'1.2-2'}}</td>
				<td class="text-muted">${{compInt.futurevalueC|number:'1.2-2'}}</td>
			</tr>
			<tr class="font-weight-bold">
				<td class="text-muted">Total</td>
				<td class="text-muted" *ngIf="ComponentInterest.cInterestDetails[0].age!==null"></td>
				<td class="text-muted">${{ComponentInterest.total_anualInvestment|number:'1.2-2'}} </td>
				<td class="text-muted">${{ComponentInterest.total_totalInvestment|number:'1.2-2'}}</td>
				<td class="text-muted">${{ComponentInterest.total_futurevalueA|number:'1.2-2'}}</td>
				<td class="text-muted">${{ComponentInterest.total_futurevalueB|number:'1.2-2'}}</td>
				<td class="text-muted">${{ComponentInterest.total_futurevalueC|number:'1.2-2'}}</td>
			</tr>
		</table>
		<p class="f-12 text-muted px-3">The above results are hypothetical only and do not represent any investment or expected return and cannot be guaranteed.
			It does not represent the return of any particular investment or savings vehicle. There can be no assurance that the results
			as illustrated in this hypothetical scenario can or will be achieved. The calculations do not take into account inflation
			or taxation, both of which will reduce future values. This is neither an offer to sell nor a solicitation to buy. Registered
			products, including mutual funds, are sold by prospectus. For complete information you are encouraged to request a prospectus
			from a properly licensed registered representative. The prospectus discusses fees and charges of particular securities.
			Please read it carefully before investing any money. This hypothetical illustration is for illustration purposes only.</p>


	</div>
</div>