
.landing-banner{
  background: url(/assets/img/landing-bg.jpg) no-repeat center bottom;
  background-size: cover; 
  min-height: 100vh
}
.rounded-50{
  border-radius: 50px; 
}
 

 .client-benefit-container{
  background: url(/assets/img/bg-img3.jpg) no-repeat center bottom;
  background-size: cover; 
  
}

.icon-box {
  background:#464661;
  width: 150px;
  height: 150px;
}


.testimonial-dp{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow:hidden; 
}

 