<div class="landing-banner">
  <section class="container ">
    <div class="text-center pt-4 f-16">
      <a class=" text-white mx-3 pagelink" href="javascript:;" [routerLink]="['/support']">Support</a>
      <a class=" text-white mx-3 pagelink" href="">Pricing</a>
      <a class=" text-white mx-3 pagelink" href="javascript:;" [routerLink]="['/app-login']">Login</a>
    </div>
  </section>
  <div class="my-5">
    <br>
    <br>
  </div>
  <section class="container text-center py-5">
    <div class="my-4">
      <img src="assets/img/money-edge-logo.png" width="100" alt="">
    </div>
    <h1 class="text-white my-4">A Tool to Help Your Financial Practice Proposer</h1>
    <p class="text-muted f-18 my-4">MoneyEdge was created by Financial Professionals for Financial Professions. Over time that development has not only been
      driven by the orginal creators but also by many great suggestions from our valued subscribers. We look forward to the
      opportunity of hearing your ideas about how we can make MoneyEdge even better</p>
    <a href="javascript:;" [routerLink]="['/app-login']" class="btn btn-success btn-lg f-16 px-5">GET STARTED</a>
  </section>
  <div class="py-5"></div>
</div>

<div class="container">
  <h2 class="text-center my-5">Adviser Benefits</h2>
  <div class="row">
    <div class="col-md-4 text-md-right text-center">
      <div class="mb-5 text-muted">
        <h5 class="font-weight-bold">Registered Representatives</h5>
        <p class=""> There are two types of Registered Reps who begin using the MoneyEdge as their premier planning tool:</p>
        <a href="" class="text-gray-dark pagelink font-weight-bold">Read More…</a>
      </div>
      <div class="mb-5 text-muted">
        <h5 class="font-weight-bold">Investment Adviser Representatives</h5>
        <p class="">Investment advisers (IA) and investment adviser representatives (IAR) are persons who provide advice.. </p>
        <a href="" class="text-gray-dark pagelink font-weight-bold">Read More…</a>
      </div>
      <div class="mb-5 text-muted">
        <h5 class="font-weight-bold"> Financial Planners</h5>
        <p class="">There are many financial planning designations in the industry, the three most common designations are:</p>
        <a href="" class="text-gray-dark pagelink font-weight-bold">Read More…</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="border py-3 rounded-50 d-flex justify-content-center align-items-center h-100 w-100 ">
        <img src="assets/img/icon-img1.png" alt="" width="200">
      </div>
    </div>
    <div class="col-md-4 text-md-left text-center">
      <div class="mb-5 mt-5 mt-md-0 text-muted">
        <h5 class="font-weight-bold">Licensed Insurance Professionals</h5>
        <p class="">While the MoneyEdge is primarily used as a long-term planning tool covering many different facets of… </p>
        <a href="" class="text-gray-dark pagelink font-weight-bold">Read More…</a>
      </div>

      <div class="mb-5 text-muted">
        <h5 class="font-weight-bold">Broker Dealers</h5>
        <p class="">As millions of unadvised Baby Boomers hit retirement, trillions of dollars are in play as Boomers…</p>
        <a href="" class="text-gray-dark pagelink font-weight-bold">Read More…</a>
      </div>

      <div class="mb-5 text-muted">
        <h5 class="font-weight-bold">Field Marketing Organizations</h5>
        <p class="">In today’s competitive world, agent recruitment by Field Marketing Organizations (FMO’s)…</p>
        <a href="" class="text-gray-dark pagelink font-weight-bold">Read More…</a>
      </div>

    </div>
  </div>
  <div class="text-center my-5">
    <a href="javascript:;" [routerLink]="['/']" class="btn btn-success btn-lg f-16 px-5">BROCHURE</a>
  </div>
</div>


<div class="client-benefit-container py-5 text-white">
  <div class="container">
    <h2 class="text-center mb-5">Client Benefits</h2>
    <div class="row text-center mt-5">
      <div class="col-md-3">
        <div class="d-inline-block">
          <div class="icon-box rounded-circle d-flex justify-content-center align-items-center">
            <img src="assets/img/lp-icon1.png" width="50" alt="">
          </div>
          <p class="mt-3 f-16">Plan Your Future</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="d-inline-block">
          <div class="icon-box rounded-circle d-flex justify-content-center align-items-center">
            <img src="assets/img/lp-icon3.png" width="70" alt="">
          </div>
          <p class="mt-3 f-16">Exceptional Client
            <br> Features</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="d-inline-block">
          <div class="icon-box rounded-circle d-flex justify-content-center align-items-center">
            <img src="assets/img/lp-icon2.png" width="60" alt="">
          </div>
          <p class="mt-3 f-16">Before & After</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="d-inline-block">
          <div class="icon-box rounded-circle d-flex justify-content-center align-items-center">
            <img src="assets/img/lp-icon4.png" width="70" alt="">
          </div>
          <p class="mt-3 f-16">Request a MoneyEdge</p>
        </div>
      </div>
    </div>
    <div class="text-center mt-5">
      <a href="javascript:;" [routerLink]="['/']" class="btn btn-white btn-lg f-16 px-5">MONEYEDGE CHECKLIST</a>
    </div>
  </div>
</div>


<div class="container my-5">
  <h2 class="text-center mb-5 text-muted">Testimonials</h2>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="row py-5">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-2">
                <div class="testimonial-dp">
                  <img src="assets/img/user.png" alt="">
                </div>
              </div>
              <div class="col-md-10">
                <p class="font-weight-bold m-0">Steven Smith</p>
                <p class="text-muted">Oakhurst, California
                  <br> Licensed in Financial Services since 2004
                  <br> MoneyEdge User since March 2005</p>
              </div>
            </div>

            <p>"The people behind the MoneyEdge have been great to work with over the years. I’ve offered suggestions for improvement
              and have seen them implemented. They’ve displayed high regard for quality without compromising production capabilities.</p>
            <p>It’s been a privilege to work with MoneyEdge since the very beginning. "</p>

          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-2">
                <div class="testimonial-dp">
                  <img src="assets/img/user.png" alt="">
                </div>
              </div>
              <div class="col-md-10">
                <p class="font-weight-bold m-0">Steven Smith</p>
                <p class="text-muted">Oakhurst, California
                  <br> Licensed in Financial Services since 2004
                  <br> MoneyEdge User since March 2005</p>
              </div>
            </div>

            <p>" The people behind the MoneyEdge have been great to work with over the years. I’ve offered suggestions for improvement
              and have seen them implemented. They’ve displayed high regard for quality without compromising production capabilities.</p>
            <p>It’s been a privilege to work with MoneyEdge since the very beginning. "</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row py-5">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-2">
                <div class="testimonial-dp">
                  <img src="assets/img/user.png" alt="">
                </div>
              </div>
              <div class="col-md-10">
                <p class="font-weight-bold m-0">Steven Smith</p>
                <p class="text-muted">Oakhurst, California
                  <br> Licensed in Financial Services since 2004
                  <br> MoneyEdge User since March 2005</p>
              </div>
            </div>

            <p>"The people behind the MoneyEdge have been great to work with over the years. I’ve offered suggestions for improvement
              and have seen them implemented. They’ve displayed high regard for quality without compromising production capabilities.</p>
            <p>It’s been a privilege to work with MoneyEdge since the very beginning. "</p>

          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-2">
                <div class="testimonial-dp">
                  <img src="assets/img/user.png" alt="">
                </div>
              </div>
              <div class="col-md-10">
                <p class="font-weight-bold m-0">Steven Smith</p>
                <p class="text-muted">Oakhurst, California
                  <br> Licensed in Financial Services since 2004
                  <br> MoneyEdge User since March 2005</p>
              </div>
            </div>

            <p>" The people behind the MoneyEdge have been great to work with over the years. I’ve offered suggestions for improvement
              and have seen them implemented. They’ve displayed high regard for quality without compromising production capabilities.</p>
            <p>It’s been a privilege to work with MoneyEdge since the very beginning. "</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>