<div class="page-content">
  <div class="row">
    <div class="col-md-12">
      <h5>Emergency Fund</h5>
  <p>Lorem ipsum dolor sit amet, consectetur   Nesciunt sint sit facilis ducimus, illum quis ex quae voluptatem nam asperiores sunt ut amet modi, totam sequi cupiditate mollitia! Quam, nulla. Lorem ipsum dolor sit amet, consectetur   Nesciunt sint sit facilis ducimus, illum quis ex quae voluptatem nam asperiores  </p>
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0"> 
  <ngb-panel id="ngb-panel-0">
	<ng-template ngbPanelTitle >
	<div class=" d-flex justify-content-between align-items-center ">
		<span class="font-weight-bold text-dark">Emergency Fund</span>
		<span>
			<i class="zmdi zmdi-caret-down f-26 text-dark"></i>
		</span>
	</div>
	</ng-template>
    <ng-template ngbPanelContent >
      

    <p class="f-16">Many financial projections can get interrupted by unexpected expenses.</p>
    <div class="row mt-4">
      <div class="col-md-6">
        <h5 class="mb-3">Potential Emergency Needs</h5>
        <p>
          <i class="zmdi zmdi-brightness-5 mr-2 text-muted"></i>   Major car repairs
        </p>
        <p>
          <i class="zmdi zmdi-brightness-5 mr-2 text-muted"></i>   Major appliance repairs/replacement
        </p>
        <p>
          <i class="zmdi zmdi-brightness-5 mr-2 text-muted"></i>   Job interruption
        </p>
        <p>
          <i class="zmdi zmdi-brightness-5 mr-2 text-muted"></i>   Serious illness/hospitalization
        </p>
        <p>
          <i class="zmdi zmdi-brightness-5 mr-2 text-muted"></i>   Family crisis
        </p>
        <p>
          <i class="zmdi zmdi-brightness-5 mr-2 text-muted"></i>   Investment opportunities
        </p>
      </div>
      <div class="col-md-6">
        
        <h5 class="mb-3">Potential Investment Vehicles</h5>
        <p>
          <i class="zmdi zmdi-brightness-5 mr-2 text-muted"></i>   Savings Accounts
        </p>
        <p>
          <i class="zmdi zmdi-brightness-5 mr-2 text-muted"></i>   Money Market
        </p>
        <p>
          <i class="zmdi zmdi-brightness-5 mr-2 text-muted"></i>   Certificates of Deposit
        </p>
        <p>
          <i class="zmdi zmdi-brightness-5 mr-2 text-muted"></i>   Short term bond funds
        </p>
        <p>
          <i class="zmdi zmdi-brightness-5 mr-2 text-muted"></i>   Government backed securities
        </p>
        <p>
          <i class="zmdi zmdi-brightness-5 mr-2 text-muted"></i>   Mutual funds
        </p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <div class="border p-3  mb-4">
          <p>
            Client Target Amount:
            <input class="border border-right-0 border-top-0 border-left-0 fw50 text-center font-weight-bold f-16"
            type="text" [(ngModel)]="emergencyModal.targetAmount" name="targetAmount" [restrictNumeric]>
             <a href="javascript:;" class="text-success ml-3" (click)="go()">GO</a></p>
            <p>Current Emergency Funds: <span class="font-weight-bold">$
              <input class="border border-right-0 border-top-0 border-left-0 fw50 text-center font-weight-bold f-16"
              type="text" [(ngModel)]="emergencyModal.currentFund" name="currentFund" [restrictNumeric]>
            </span>
            <span class="font-weight-bold" *ngIf="hideAmtBlk"><a (click)="showHide=!showHide">
              <span *ngIf="!showHide">+</span>
              <span *ngIf="showHide">-</span>
            </a></span>
          </p>
            <div>
              <div class="col-md-6" *ngIf="showHide">
                <div  class="border p-3  mb-4"> 
                  <ul>
                    <li *ngFor="let detail of emergencyModal.details;let i=index;">
                      <h6>
                          {{detail?.assetCatg}}
                      </h6>
                      <div class="col-md-6">
                          {{detail.assetType[i]?.name}} : {{detail.assetType[i]?.value}}
                      </div>
                          
                    
                      <!-- <ul>
                        <li *ngFor="let subDetail of emergencyModal.details.assetType">
                            {{subDetail?.name}} : {{subDetail?.value}}
                        </li>
                      </ul> -->
                    </li>
                  </ul>
                 
                  </div>
                </div>
            </div>
         
           

            <p class="m-0">{{emergencyModal.status}}: <span class="font-weight-bold">$
              <input class="border border-right-0 border-top-0 border-left-0  text-center font-weight-bold f-16"
              type="text" [(ngModel)]="emergencyModal.statusValue" name="statusValue">
            </span></p>
          </div>
        </div>
        <div class="col-md-6">
          <p><span class="font-weight-bold">Suggested:</span> at least 3 months income should be set aside in a liquid fund for emergencies.</p>
          <p><span class="font-weight-bold">Ideal Emergency Fund</span> : 6 months Household Income.</p>
        </div>
      </div>
    
      <div class=" d-flex justify-content-between align-items-center ">
        <span class="font-weight-bold text-dark">Monthly Savings Goal</span>
        <span>
          <i class="zmdi zmdi-caret-down f-26 text-dark"></i>
        </span>
      </div>
      <div class="border p-3 mb-4">
        <div class="row">
          <div class="col-8">
            Rate of Return
            <input class="border border-right-0 border-top-0 border-left-0 fw50 text-center font-weight-bold f-16" 
             [(ngModel)]="emergencyModal.returnRate" name="returnRate" type="text"> No. of years
             <input class="border border-right-0 border-top-0 border-left-0 fw50 text-center font-weight-bold f-16"
             [(ngModel)]="emergencyModal.years" name="years" type="text">
              <a href="javascript:;" class="text-success ml-3"(click)="go()">GO</a>
          </div>
          <div class="border border-right-0 border-top-0 border-bottom-0 col-4 f-20 text-center font-weight-bold">
            ${{emergencyModal.monthlySavings}}
          </div>
        </div>
      </div>
      <p class="f-12 text-muted">
        * Care should be exercised when selecting the correct vehicle for your emergency fund: Savings accounts and Certificates of Deposit do not fluctuate in value and the principal is generally guaranteed up to a limit determined by the FDIC (Federal Deposit Insurance Corporation). However, Certificate of Deposits, money markets, and savings accounts are types of investments whose returns are affected negatively by taxes and inflation. In addition, any vehicle which has penalties for early withdrawal may not be a good choice when used for an emergency fund. Mutual funds and some money market accounts are not guaranteed. Mutual funds are subject to investment risks, including the possible loss of principal and may involve sales charges and other fees. Registered products, including mutual funds, are sold by prospectus. For complete information you are encouraged to request a prospectus from a properly licensed representative. The prospectus discusses fees and charges and should be read carefully before investing any money.
      </p>
    </ng-template>
  </ngb-panel>







 
</ngb-accordion>







 
 

 

</div>


 
</div>  
</div>