﻿@model CLayer.AssetTypesModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AssetType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.assetCatName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assetCatName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typeName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.isTaxed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isTaxed)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.sortOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sortOrder)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updatedBy)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.assetTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
