<div class="mb-auto">
  <form #clientGlobalSettingsForm="ngForm" (ngSubmit)="clientGlobalSettingsForm.form.valid&&saveSettings()" novalidate>
    <div class="header fixed-top">
      <app-header></app-header>
      <div class="status-bar py-2">
        <div class="container-fluid">
          <div class="logo-space">
            <div class="row">
              <div class="col-md-6">
                <h5 class="mb-0 mt-1">Add New Client</h5>
              </div>
              <div class="col-md-6 col-sm-6 text-right">
                <a (click)="backClicked" class="btn btn-outline-secondary mr-2">CANCEL</a>
                <button type="submit" class="btn btn-dark">SAVE</button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-container mb-auto py-2">
      <div class="container">
        <nav class="breadcrumb">
          <a class="breadcrumb-item text-muted" href="#">Client</a>
          <a class="breadcrumb-item text-muted" href="#">Add New Client</a>
          <span class="breadcrumb-item active">Client Settings</span>
        </nav>
        <div class="custom-tab-container">
          <ngb-tabset>
            <ngb-tab>
              <ng-template ngbTabTitle> Global Settings</ng-template>
              <ng-template ngbTabContent>
                <p class="text-center mt-3">The Settings you designate below will represent the defaults for any new Clients reports you generate.
                  <br> You will be able to change these defaults for each clients.</p>


                <div class="row mt-3">
                  <div class="col-md-6">
                    <div class="row mb-3">
                      <div class="col-md-5">
                        <label for="" class="mt-2">Local Time Zone</label>
                      </div>
                      <div class="col-md-7">

                        <select class="form-control custom-select f-14" (change)="timezoneChanged($event.target.value)">
                          <option *ngFor="let workout of timezones" [value]="workout.VALUE" [selected]="workout.VALUE=== clientModal.global.defaultstate">{{workout.TEXT}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-md-5">
                        <label for="" class="mt-2">Currency</label>
                      </div>
                      <div class="col-md-7">

                        <select class="form-control custom-select f-14" (change)="currencyChanged($event.target.value)">
                          <option *ngFor="let workout of currencies" [value]="workout.VALUE" [selected]="workout.VALUE=== clientModal.global.currency">{{workout.TEXT}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-md-5">
                        <label for="" class="mt-2">Default State</label>
                      </div>
                      <div class="col-md-7">
                        <select class="form-control custom-select f-14" (change)="stateChanged($event.target.value)">
                          <option *ngFor="let workout of states" [value]="workout.VALUE" [selected]="workout.VALUE=== clientModal.global.defaultstate">{{workout.TEXT}}</option>
                        </select>
                      </div>
                    </div>

                  </div>
                  <div class="w-100 m-2">

                    <ngb-accordion #acc="ngbAccordion">
                      <ngb-panel>
                        <ng-template ngbPanelTitle>
                          <div class=" d-flex justify-content-between align-items-center ">
                            <span class="font-weight-bold text-dark">Retirement Defaults</span>
                            <span>
                              <i class="zmdi zmdi-caret-down f-26 text-dark"></i>
                            </span>


                          </div>
                        </ng-template>


                        <ng-template ngbPanelContent>
                          <div class="card-block">
                            <div class="row">
                              <div class="col-md-3">
                                <label for="" class="mt-2">Retirement age</label>
                                <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                  <!-- <input type="text" class="form-control rounded-0"> -->
                                  <input type="text" class="form-control rounded-0" placeholder="Retirement Age" [(ngModel)]="clientModal.ret.retireAge" name="retireAge"
                                    #retireAge="ngModel">
                                  <span class="input-group-addon bg-none border-0 f-18">%</span>
                                </div>
                              </div>
                              <div class="col-md-3">
                                <label for="" class="mt-2">Pre-etirement return</label>
                                <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                  <input type="text" class="form-control rounded-0" placeholder="Retirement Return" [(ngModel)]="clientModal.ret.preRetReturnTax"
                                    name="preRetReturnTax" #preRetReturnTax="ngModel">
                                  <span class="input-group-addon bg-none border-0 f-18">%</span>
                                </div>
                              </div>
                              <div class="col-md-3">
                                <label for="" class="mt-2">Retirement Tax Rate</label>
                                <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                  <input type="text" class="form-control rounded-0" placeholder="Retirement Tax Rate" [(ngModel)]="clientModal.ret.retTax"
                                    name="retTax" #retTax="ngModel">
                                  <span class="input-group-addon bg-none border-0 f-18">%</span>
                                </div>
                              </div>
                              <div class="col-md-3">
                                <label for="" class="mt-2">Monthly income at retirement</label>
                                <div class="input-group col-sm-8 col-md-10  col-lg-12  col-xl-12 p-0">
                                  <input type="text" class="form-control rounded-0" placeholder="Monthly income at retirement" [(ngModel)]="clientModal.ret.monthIncome"
                                    name="monthIncome" #monthIncome="ngModel">
                                  <span class="input-group-addon bg-none border-0 f-18">In $</span>
                                </div>
                              </div>
                            </div>
                            <div class="row mt-3">
                              <div class="col-md-3">
                                <label for="">Life Expectency</label>
                                <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                  <input type="text" class="form-control rounded-0" placeholder="Monthly income at retirement" [(ngModel)]="clientModal.ret.lifeExpectency"
                                    name="lifeExpectency" #lifeExpectency="ngModel">
                                  <span class="input-group-addon bg-none border-0 f-18">%</span>
                                </div>
                              </div>
                              <div class="col-md-3">
                                <label for="">Retirement return</label>
                                <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                  <input type="text" class="form-control rounded-0" placeholder="Retirement return" [(ngModel)]="clientModal.ret.retReturnTax"
                                    name="retReturnTax" #retReturnTax="ngModel">
                                  <span class="input-group-addon bg-none border-0 f-18">%</span>
                                </div>
                              </div>
                              <div class="col-md-3">
                                <label for="">Inflation</label>
                                <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                  <input type="text" class="form-control rounded-0" placeholder="Inflation" [(ngModel)]="clientModal.ret.inflation" name="inflation"
                                    #inflation="ngModel">
                                  <span class="input-group-addon bg-none border-0 f-18">%</span>
                                </div>
                              </div>
                            </div>

                          </div>
                        </ng-template>
                      </ngb-panel>
                      <ngb-panel>
                        <ng-template ngbPanelTitle>
                          <div class="d-flex justify-content-between align-items-center">
                            <span class="font-weight-bold text-dark">Income Projection Defaults</span>
                            <span>
                              <i class="zmdi zmdi-caret-down f-26 text-dark"></i>
                            </span>
                          </div>
                        </ng-template>
                        <ng-template ngbPanelContent>
                          <div class="card-block">
                            <div class="row">
                              <div class="col-md-3">
                                <label for="">Primary pay raise default</label>
                                <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                  <input type="text" class="form-control rounded-0" [(ngModel)]="clientModal.Income.primaryInflation" name="primaryInflation"
                                    #primaryInflation="ngModel">

                                  <span class="input-group-addon bg-none border-0 f-18">%</span>
                                </div>
                              </div>

                              <div class="col-md-3">
                                <label for="">Spouse pay raise default</label>
                                <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                  <input type="text" class="form-control rounded-0" [(ngModel)]="clientModal.Income.spouseInflation" name="spouseInflation"
                                    #spouseInflation="ngModel">
                                  <span class="input-group-addon bg-none border-0 f-18">%</span>
                                </div>
                              </div>
                              <div class="col-md-3">
                                <label for="">Inflation</label>
                                <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                  <input type="text" class="form-control rounded-0" name="inflation" [(ngModel)]="clientModal.Income.inflation" #inflation="ngModel">

                                  <span class="input-group-addon bg-none border-0 f-18">%</span>
                                </div>
                              </div>
                            </div>
                          </div>

                        </ng-template>
                      </ngb-panel>


                      <ngb-panel>
                        <ng-template ngbPanelTitle>
                          <div class="d-flex justify-content-between align-items-center">
                            <span class="font-weight-bold text-dark">Debt Defaults</span>
                            <span>
                              <i class="zmdi zmdi-caret-down f-26 text-dark"></i>
                            </span>
                          </div>
                        </ng-template>
                        <ng-template ngbPanelContent>
                          <div class="card-block">
                            <div class="row">
                              <div class="col-md-3">
                                <label for="">Credit card minimum payment</label>
                                <div class="input-group col-sm-8 col-md-8  col-lg-6  col-xl-4 p-0">
                                  <input type="text" class="form-control rounded-0" [(ngModel)]="clientModal.debt.minPay" name="minPay" #minPay="ngModel">

                                </div>
                              </div>
                              <div class="col-md-3">
                                <label for="">Credit card % of unpaid balance</label>
                                <div class="input-group col-sm-8 col-md-8  col-lg-6  col-xl-4 p-0">
                                  <input type="text" class="form-control rounded-0" [(ngModel)]="clientModal.debt.unpaidPercentage" name="unpaidPercentage"
                                    #unpaidPercentage="ngModel">
                                  <span class="input-group-addon bg-none border-0 f-18">%</span>

                                </div>
                              </div>
                              <div class="col-md-3">
                                <label for="">Inflation</label>
                                <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                  <input type="text" class="form-control rounded-0" name="inflation" [(ngModel)]="clientModal.debt.inflation" #inflation="ngModel">

                                  <span class="input-group-addon bg-none border-0 f-18">%</span>
                                </div>
                              </div>
                            </div>


                          </div>
                        </ng-template>
                      </ngb-panel>


                      <!-- /////////////// tab container //////////////////// -->

                      <ngb-panel>
                        <ng-template ngbPanelTitle>
                          <div class=" d-flex justify-content-between align-items-center">
                            <span class="font-weight-bold text-dark">Emergency Fund Defaults</span>
                            <span>
                              <i class="zmdi zmdi-caret-down f-26 text-dark"></i>
                            </span>
                          </div>
                        </ng-template>
                        <ng-template ngbPanelContent>
                          <div class="card-block">
                            <div class="row">
                              <div class="col-md-4">
                                <div class="mb-4">
                                  <p class="m-0">
                                    <label for=""> Default Graph</label>
                                  </p>
                                  <label for="chk" class="f-16">
                                    <input type="checkbox" [(ngModel)]="clientModal.emerg.isPieChart" name="graphIDPie">
                                    <span class="ml-2"> Pie chart </span>
                                  </label>
                                  <label for="chk" class="f-16 ml-4">
                                    <input type="checkbox" [(ngModel)]="clientModal.emerg.isBarChart" name="graphIDBar">
                                    <span class="ml-2"> Bar Graph </span>
                                  </label>
                                </div>
                                <div class="mb-4">
                                  <p class="m-0">
                                    <label for="">Target Emergency Fund</label>
                                    <input type="text" class="form-control rounded-0" [(ngModel)]="clientModal.emerg.emergencyFundValue" name="emergencyFundValue"
                                      #emergencyFundValue="ngModel">

                                  </p>
                                  <label for="chk" class="f-16">
                                    <input type="radio" [(ngModel)]="clientModal.emerg.isThreeMonth" name="isThreeMonth" value="true" [checked]="clientModal.emerg.isThreeMonth">
                                    <span class="ml-2"> $ xxx - 3Month household income </span>
                                  </label>
                                  <label for="chk" class="f-16">
                                    <input type="radio" [(ngModel)]="clientModal.emerg.isSixMonth" name="isThreeMonth" value="false" [checked]="clientModal.emerg.isSixMonth">
                                    <span class="ml-2"> $ xxx - 6Month household income </span>
                                  </label>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="mb-4">
                                  <p class="m-0">
                                    <label for=""> Emergency Rate of return</label>
                                  </p>

                                  <div class="form-group d-flex">

                                    <div class="input-group col-sm-6 col-md-8 col-lg-6 col-xl-4 p-0 mr-4">
                                      <input type="text" class="form-control rounded-0" [(ngModel)]="clientModal.emerg.rateA" name="rateA" #rateA="ngModel">
                                      <span class="input-group-addon bg-none border-0 f-18">%</span>
                                    </div>
                                    <div class="input-group col-sm-6 col-md-8 col-lg-6 col-xl-4 p-0 mr-4">
                                      <input type="text" class="form-control rounded-0" [(ngModel)]="clientModal.emerg.rateB" name="rateB" #rateB="ngModel">
                                      <span class="input-group-addon bg-none border-0 f-18">%</span>
                                    </div>
                                    <div class="input-group col-sm-6 col-md-8 col-lg-6 col-xl-4 p-0 mr-4">
                                      <input type="text" class="form-control rounded-0" [(ngModel)]="clientModal.emerg.rateC" name="rateC" #rateC="ngModel">
                                      <span class="input-group-addon bg-none border-0 f-18">%</span>
                                    </div>
                                  </div>
                                </div>

                              </div>
                              <div class="col-md-3 offset-1">
                                <label for="">Inflation</label>
                                <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                  <input type="text" class="form-control rounded-0" name="inflation" [(ngModel)]="clientModal.emerg.inflation" #inflation="ngModel">
                                  <span class="input-group-addon bg-none border-0 f-18">%</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </ngb-panel>


                      <!-- /////////////// tab container //////////////////// -->

                      <ngb-panel>
                        <ng-template ngbPanelTitle>
                          <div class="d-flex justify-content-between align-items-center">
                            <span class="font-weight-bold text-dark">Life insurance Defaults</span>
                            <span>
                              <i class="zmdi zmdi-caret-down f-26 text-dark"></i>
                            </span>
                          </div>
                        </ng-template>
                        <ng-template ngbPanelContent>

                          <div class="card-block">
                            <div class="row">
                              <div class="col-md-3">
                                <label for="" class="mt-2">Cost of final Expenses</label>
                                <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                  <input type="text" class="form-control rounded-0" name="cost" [(ngModel)]="clientModal.insu.cost" #cost="ngModel">
                                  <span class="input-group-addon bg-none border-0 f-18">%</span>
                                </div>
                              </div>
                              <div class="col-md-3">
                                <label for="" class="mt-2">Monthly income after death </label>
                                <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                  <input type="text" class="form-control rounded-0" name="monthlyIncome" [(ngModel)]="clientModal.insu.monthlyIncome" #monthlyIncome="ngModel">
                                  <span class="input-group-addon bg-none border-0 f-18">%</span>
                                </div>
                              </div>

                              <div class="col-md-3">
                                <label for="" class="mt-2">Years after death</label>
                                <div class="input-group col-sm-7 col-md-8  col-lg-12  col-xl-12 p-0">
                                  <select class="form-control custom-select f-14" (change)="yearAfterDeathChanged($event.target.value)">
                                    <option *ngFor="let workout of lifeExpectencies" [value]="workout.VALUE" [selected]="workout.VALUE=== clientModal.insu.yearAfterDeath">{{workout.TEXT}}</option>

                                  </select>



                                </div>
                                <div class="input-group col-sm-7 col-md-8  col-lg-12  col-xl-12 p-0 mt-4">
                                  <input type="text" *ngIf="specificnoofyearsBox" class="form-control rounded-0" name="specificnoofyears" [(ngModel)]="clientModal.specificnoofyears"
                                    #specificnoofyears="ngModel">
                                </div>
                              </div>
                              <div class="col-md-3">
                                <label for="">Inflation</label>
                                <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                  <input type="text" class="form-control rounded-0" name="inflation" [(ngModel)]="clientModal.insu.inflation" #inflation="ngModel">
                                  <span class="input-group-addon bg-none border-0 f-18">%</span>
                                </div>
                              </div>
                            </div>
                            <div class="row mt-4">
                              <div class="col-md-12">
                                <div class="mb-4">
                                  <p class="m-0">
                                    <label for="">Assets to offset life insurance needs</label>
                                  </p>
                                  <div>
                                    <label for="chk" class="f-16">
                                      <!-- <input type="checkbox" id="chk"> -->
                                      <input type="checkbox" [(ngModel)]="clientModal.insu.retAsset" name="retAsset">
                                      <span class="ml-2">Retirement assets </span>
                                    </label>
                                  </div>
                                  <div>
                                    <label for="chk" class="f-16">
                                      <input type="checkbox" [(ngModel)]="clientModal.insu.otherRetAsset" name="otherRetAsset">
                                      <span class="ml-2">Other retirement assets</span>
                                    </label>
                                  </div>
                                  <div>
                                    <label for="chk" class="f-16">
                                      <input type="checkbox" [(ngModel)]="clientModal.insu.cashAccounts" name="cashAccounts">
                                      <span class="ml-2">Cash accounts</span>
                                    </label>
                                  </div>
                                  <div>
                                    <label for="chk" class="f-16">
                                      <input type="checkbox" [(ngModel)]="clientModal.insu.spouseRetAsset" name="spouseRetAsset">
                                      <span class="ml-2">Spouse retirement assets</span>
                                    </label>
                                  </div>
                                  <div>
                                    <label for="chk" class="f-16">
                                      <input type="checkbox" [(ngModel)]="clientModal.insu.nonRetAsset" name="nonRetAsset">
                                      <span class="ml-2">Non-retirement assets</span>
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </ngb-panel>



                      <!-- /////////////// tab container //////////////////// -->

                      <ngb-panel>
                        <ng-template ngbPanelTitle>
                          <div class="d-flex justify-content-between align-items-center">
                            <span class="font-weight-bold text-dark">Education Defaults</span>
                            <span>
                              <i class="zmdi zmdi-caret-down f-26 text-dark"></i>
                            </span>
                          </div>
                        </ng-template>
                        <ng-template ngbPanelContent>
                          <div class="card-block">
                            <div class="row my-3">
                              <div class="col-md-2">
                                <label for="">College start month</label>
                                <div class="input-group">
                                  <select class="form-control custom-select f-14" name="name" [(ngModel)]="selectedElement.id" #name="ngModel">
                                    <option *ngFor="let type of monthsArray" [ngValue]="type.id" [selected]="type.id=== clientModal.edu.collegeStartMonth"> {{type.name}}</option>
                                  </select>
                                </div>
                              </div>
                              <div class="col-md-3">
                                <label for="">Inflation</label>
                                <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                  <input type="text" class="form-control rounded-0" name="tutionFeeInflation" [(ngModel)]="clientModal.edu.tutionFeeInflation"
                                    #inflation="ngModel">
                                  <span class="input-group-addon bg-none border-0 f-18">%</span>
                                </div>
                              </div>
                              <div class="col-md-2">
                                <label for="">Age to enter college </label>
                                <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                  <input type="text" class="form-control rounded-0" [(ngModel)]="clientModal.edu.collegeAge" name="collegeAge" #collegeAge="ngModel">

                                </div>
                              </div>
                              <div class="col-md-2">
                                <label for="">Years spent in college </label>
                                <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                  <input type="text" class="form-control rounded-0" [(ngModel)]="clientModal.edu.collageYears" name="collageYears" #collageYears="ngModel">

                                </div>
                              </div>
                              <div class="col-md-3">
                                <label for="">% of college fee parents pay </label>
                                <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                  <input type="text" class="form-control rounded-0" [(ngModel)]="clientModal.edu.parentPay" name="parentPay" #parentPay="ngModel">
                                  <span class="input-group-addon bg-none border-0 f-18">%</span>
                                </div>
                              </div>

                            </div>
                            <div class="row mb-3">
                              <div class="col-4">
                                <p class="m-0">
                                  <label for="" class="mt-2">Rates of Return</label>
                                </p>

                                <div class="form-group d-flex">
                                  <div class="input-group col-sm-6 col-md-8 col-lg-6 col-xl-4 p-0 mr-4">
                                    <input type="text" class="form-control rounded-0" name="rateA" [(ngModel)]="clientModal.edu.rateA" #rateA="ngModel">
                                    <span class="input-group-addon bg-none border-0 f-18">%</span>
                                  </div>
                                  <div class="input-group col-sm-6 col-md-8 col-lg-6 col-xl-4 p-0 mr-4">
                                    <input type="text" class="form-control rounded-0" name="rateB" [(ngModel)]="clientModal.edu.rateB" #rateB="ngModel">
                                    <span class="input-group-addon bg-none border-0 f-18">%</span>
                                  </div>
                                  <div class="input-group col-sm-6 col-md-8 col-lg-6 col-xl-4 p-0 mr-4">
                                    <input type="text" class="form-control rounded-0" name="rateC" [(ngModel)]="clientModal.edu.rateC" #rateC="ngModel">
                                    <span class="input-group-addon bg-none border-0 f-18">%</span>
                                  </div>
                                </div>
                              </div>

                            </div>

                            <div class=" my-4 text-center">
                              <a class="btn btn-lg px-4 btn-dark text-white" (click)="open(content)">SEARCH COLLEGE</a>
                            </div>
                            <h6 class="font-weight-bold text-center">Favorite List</h6>

                            <div class="scroler-vertical" style="max-height: 250px;">
                              <div class="loader" *ngIf="loader">
                                <img src="assets/img/loader.gif">
                              </div>

                              <table class="table table-bordered table-striped table-hover  text-center" *ngIf="favouriteCollege">
                                <thead>
                                  <tr>
                                    <td align="left">
                                      <div class="font-weight-bold"> College Name</div>
                                    </td>
                                    <td>
                                      <div class="font-weight-bold">City </div>
                                    </td>
                                    <td>
                                      <div class="font-weight-bold">OutState Fee </div>
                                    </td>
                                    <td>
                                      <div class="font-weight-bold">InState Fee </div>
                                    </td>
                                    <td></td>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let fvcollege of favoriteColleges">



                                    <td align="left">
                                      <div class="font-weight-bold"> {{fvcollege.college.collegeName}}</div>
                                    </td>
                                    <td>
                                      <div class="font-weight-bold"> {{fvcollege.college.city}}</div>
                                    </td>
                                    <td>
                                      <div class="font-weight-bold"> {{fvcollege.college.outState}}</div>
                                    </td>
                                    <td>
                                      <div class="font-weight-bold"> {{fvcollege.college.inState}}</div>
                                    </td>
                                    <td>
                                      <button (click)="remove(fvcollege)" class="btn btn-danger">x</button>
                                    </td>





                                  </tr>
                                </tbody>
                              </table>
                              <!-- <ngb-pagination [collectionSize]="itemsTotal" [(page)]="page" aria-label="Default pagination" (pageChange)="click(page)"></ngb-pagination> -->


                            </div>
                          </div>
                        </ng-template>
                      </ngb-panel>

                    </ngb-accordion>
                  </div>
                </div>

              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>Access Settings</ng-template>
              <ng-template ngbTabContent>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi perspiciatis excepturi accusantium nesciunt,
                  pariatur et voluptas vitae sit ad tempore nulla nobis maxime voluptates ratione minima dolor dolores porro
                  consectetur!</p>
                <div class="form-wrapper m-auto">
                  <form action="">
                    <div class="row">
                      <div class="col-md-6">
                        <label for="" class="font-weight-bold mt-2">Report Type</label>
                      </div>

                    </div>
                    <hr class="mt-2">


                    <div class="row my-3" *ngFor="let info of clientModal.permissionList">
                      <div class="col">
                        <i class="zmdi zmdi-circle f-6 mr-3 text-muted"></i>
                        <label for="" class="font-weight-bold mt-2">{{info.pageName}}</label>
                      </div>

                      <div class="col d-flex align-items-center">
                        <label class="mr-4 mb-0">
                          <input type="checkbox" [(ngModel)]="info.isRead" name="isRead" (change)="addAdvancedReport($event,info)"> Read

                        </label>
                        <label class="mb-0">
                          <input type="checkbox" [(ngModel)]="info.isEdit" name="isEdit" (change)="addAdvancedReport($event,info)"> Edit
                        </label>
                      </div>

                    </div>
                  </form>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </form>

</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">School List</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">


    <div class="row">
      <div class="col-md-5">
        <label> Search College</label>
        <div class="input-group">

          <input id="collegename" type="text" name="collegename" [(ngModel)]="collegename" class="form-control" placeholder="Search for...">
          <label class="input-group-btn" for="collegename" style="margin:0">
            <button class="btn btn-dark" style="width:100%;float:left;" type="button">
              <i class="zmdi zmdi-search f-20" (click)="searchCollege(collegename,page)"></i>
            </button>
          </label>
        </div>
      </div>
      <div class="col-md-2 d-flex align-items-center justify-content-center">
        <span class="font-weight-bold">OR</span>
      </div>
      <div class="col-md-5">
        <label> Select State</label>


        <div class="input-group">

          <select id="stateSearch" class="form-control custom-select f-14" name="stateSearch" [(ngModel)]="stateSearch.VALUE" #stateSearch="ngModel">
            <option *ngFor="let stateSearch of statesForsearch" [ngValue]="stateSearch.VALUE"> {{stateSearch.TEXT}}</option>
          </select>

          <label class="input-group-btn" for="stateSearch" style="margin:0;">
            <button class="btn btn-dark" type="button" style="width:100%;float:left;" (click)="collegeByState(stateSearch.VALUE)">
              <i class="zmdi zmdi-search f-20"></i>
            </button>
          </label>
        </div>
      </div>

      <div class="col-md-12 d-flex align-items-center justify-content-center mt-4">
        <span class="font-weight-bold">OR</span>
      </div>

    </div>


    <div class="text-center my-3">
      <a (click)="getAllColleges(1)" class=" btn btn-dark">LOAD ENTIRE DATABASE</a>
    </div>


    <div class="scroler-vertical" style="max-height: 250px;">
      <div class="loader" *ngIf="loader">
        <img src="assets/img/loader.gif">
      </div>

      <table class="table" *ngIf="tableShow">
        <tr>
          <td class="text-muted">
            <input type="checkbox" name="">
          </td>
          <td class="text-muted">Collage Name</td>
          <td class="text-muted">Location</td>
          <td class="text-muted">In-state Total
            <br>(Annual Cost)</td>
          <td class="text-muted">Out-state Total
            <br>(Annual Cost)</td>
        </tr>
        <tr *ngFor="let college of colleges">


          <td>
            <input type="checkbox" data-md-icheck name="checkboxValue" (change)="addprop($event,college)" [(ngModel)]="college.checkboxValue"
            />

          </td>
          <td class="font-weight-bold">{{college.collegeName}}</td>
          <td>{{college.Location}} </td>
          <td>
            <label> In State (${{college.inState}})</label>
          </td>
          <td>
            <label> Out State (${{college.outState}})</label>
          </td>
        </tr>

      </table>
      <!-- <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination" pageChanged="pageChanged($event)"></ngb-pagination> -->
      <ngb-pagination *ngIf="nameBasedsearch" [collectionSize]="totalCollegeSerachedUsingName" [(page)]="page" [pageSize]="20"
        aria-label="Default pagination" (pageChange)="clickNameBasedSeach(page)"></ngb-pagination>
      <ngb-pagination *ngIf="fullsearch" [collectionSize]="itemsTotal" [(page)]="page" [pageSize]="20" aria-label="Default pagination"
        (pageChange)="click(page)"></ngb-pagination>
      <ngb-pagination *ngIf="stateBasedsearch" [collectionSize]="totalCollegeSerachedUsingState" [(page)]="page" [pageSize]="20"
        aria-label="Default pagination" (pageChange)="clickStateSearch(page)"></ngb-pagination>


    </div>


    <div class=" my-4 text-center">
      <a class="btn  px-4 btn-success text-white" (click)="addToFavColleges();d('Cross click')">SAVE</a>
    </div>


  </div>

</ng-template>