<div class="mb-auto">
  <form #addClientForm="ngForm" (ngSubmit)="addClientForm.form.valid&&addClient()" novalidate>

    <div class="header fixed-top">
      <app-header></app-header>
      <div class="status-bar py-2">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-sm-6 ">
              <div class="logo-space">
                <h5 class="mb-0 mt-1">Add New Client</h5>
              </div>
            </div>

            <div class="col-md-6 col-sm-6 text-right">
              <a class="btn btn-outline-secondary mr-2" (click)="backClicked()">CANCEL</a>
              <button type="submit" class="btn btn-dark">SAVE</button>

            </div>


          </div>
        </div>
      </div>
    </div>

    <div class="page-container mb-auto py-2">
      <div class="container">
        <nav class="breadcrumb">
          <a class="breadcrumb-item text-muted" href="javascript:;">Clients</a>
          <a class="breadcrumb-item text-muted" href="javascript:;">Add new clients</a>
          <span class="breadcrumb-item active">Client information</span>
        </nav>

        <div class="card p-3">
          <div class="row  my-4">
            <div class="col-md-3">
              <div class="text-center">
                <div class="p-relative d-inline-block img-wrap rounded-circle">
                  <!-- <img src="assets/img/user.png" alt="" class=""> -->
                  <!-- <img *ngIf="!userImage" src="assets/img/user.png">
                  <img *ngIf="userImage" [src]="userImage"> -->
                  <img [src]="addClientModel.imagePath">
                </div>



                <!-- <div class="d-inline-block">
                  <label for="file" class="p-relative d-inline-block img-wrap rounded-circle">
                      <img  [src]="advisorModel.advisorInfo.imgPath" width="125" alt="">
                       <a class=" change-img" id="zmdi-camera">
                      Change Image
                    </a>
                    <input type="file" accept="image/*" id="file" class="custom-file-input col-md-1" (change)="changeListener($event)">

                  </label>

                </div> -->


                <input type="file" accept="image/*" id="file" class="custom-file-input" (change)="changeListener($event)">
                <label for="file" class="btn btn-secondary dash-border mt-3">Change Picture</label>

              </div>
            </div>
            <div class="col-md-3 dash-border-left">
              <div class="form-group">
                <label for="">Email<i class="fa fa-asterisk text-danger"></i></label>
                <input type="email" class="form-control" placeholder="Email Id" name="emailPrimary" [(ngModel)]="addClientModel.emailPrimary"
                  #emailPrimary="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required (ngModelChange)="checkEmail($event)">
                <small *ngIf="!emailPrimary.valid && emailPrimary.errors && addClientForm.submitted" class="error_message">
                  <div [hidden]="!emailPrimary.errors.required">
                    Email is required
                  </div>
                  <div [hidden]="!emailPrimary.errors.pattern">
                    Enter valid email
                  </div>
                </small>
                <small [hidden]="!emailIdExist" class="error_message">
                  Email id not available
                </small>
              </div>
              <div class="form-group">
                <label for="">User Name<i class="fa fa-asterisk text-danger"></i></label>
                <input type="text" class="form-control" placeholder="User Name" name="username" (ngModelChange)="displayName()" [(ngModel)]="addClientModel.userName"
                  #username="ngModel" pattern="^[a-zA-Z]+$" required>
                <small *ngIf="!username.valid && username.errors && addClientForm.submitted" class="error_message">
                  <div [hidden]="!username.errors.required">
                    Username is required
                  </div>
                  <div [hidden]="!username.errors.pattern">
                    Number, space, special characters not allowed
                  </div>

                </small>
                <small [hidden]="!userNameExist" class="error_message">
                  User Name already available
                </small>
              </div>
              <!-- <div *ngIf="!this.storeService.getObject('clientId')" class="pwdContainer"> -->
              <div class="pwdContainer">

                <div class="form-group">
                  <label for="">Password<i class="fa fa-asterisk text-danger"></i></label>
                  <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="addClientModel.password"
                    required validateEqual="confirmPassword" #password="ngModel" reverse="true">

                  <small [hidden]="password.valid || (password.pristine && !addClientForm.submitted)" class="error_message">
                    Password is required
                  </small>

                </div>
                <div class="form-group">
                  <label for="">Confirm Password<i class="fa fa-asterisk text-danger"></i></label>
                  <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="addClientModel.confirmPassword"
                    required validateEqual="password" #confirmPassword="ngModel">
                  <!-- <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !addClientForm.submitted)" class="error_message">
                    Password mismatch
                  </small> -->
                  <small *ngIf="confirmPassword.errors && addClientForm.submitted" class="error_message">
                    <div [hidden]="!confirmPassword.errors.required">
                        Confirm Password is required
                    </div>

                  </small>
                  <small [hidden]="confirmPassword.valid || confirmPassword.pristine" class="error_message">
                    Passwords did not match
                  </small>
                </div>
              </div>
            </div>
            <div class="col-md-3 dash-border-left">
              <div class="form-group">

                <label for="">Gender</label>

                <select name="gender" class="form-control custom-select f-14" [(ngModel)]="addClientModel.clientGender">
                  <option selected>--Select--</option>
                  <option [value]="Female" selected>Female</option>
                  <option [value]="Male">Male</option>
                  <option [value]="Male">Transgender</option>
                </select>
              </div>
              <div class="form-group">
                <label for="">First Name<i class="fa fa-asterisk text-danger"></i></label>
                <input type="text" class="form-control" placeholder="First Name" name="firstName"
                 [(ngModel)]="addClientModel.firstName"
                  #firstName="ngModel" pattern="^[a-zA-Z]+$" required>
                 
                  <small *ngIf="!firstName.valid && firstName.errors && addClientForm.submitted" class="error_message">
                    <div [hidden]="!firstName.errors.required">
                      First Name is required
                    </div>
                    <div [hidden]="!firstName.errors.pattern">
                      Number, space, special characters not allowed
                    </div>
                </small>
              </div>
              <div class="form-group">
                <label for="">Last Name<i class="fa fa-asterisk text-danger"></i></label>
                <input type="text" class="form-control" placeholder="Last Name" name="lastName"
                 [(ngModel)]="addClientModel.lastName" #lastName="ngModel" pattern="^[a-zA-Z]+$" required>
                <small *ngIf="!lastName.valid && lastName.errors && addClientForm.submitted" class="error_message">
                  <div [hidden]="!lastName.errors.required">
                    Last Name is required
                  </div>
                  <div [hidden]="!lastName.errors.pattern">
                    Number, space, special characters not allowed
                  </div>
              </small>
              </div>
              <div class="form-group">
                <label for="">Date of birth</label>
                <div class="input-group">
                <ng-datepicker id="field" [(ngModel)]="addClientModel.clientDOB"
                 [ngModelOptions]="{standalone: true}" name="clientDOB" [options]="options">
                
                </ng-datepicker>
                </div>
              </div>
            </div>
            <div class="col-md-3 dash-border-left">


              <!-- <div class="form-group">
                <label for="">Report type</label>
            
                <select id="stateSearch" class="form-control custom-select f-14" name="report" [ngModel]="report.VALUE" (ngModelChange)="ddlChange($event)">
                  <option *ngFor="let report of reports" [ngValue]="report.VALUE"> {{report.TEXT}}</option>
                </select>
              </div> -->

              <div class="form-group text-center mt-5">
                <button class="btn btn-success" *ngIf="!notYetSaved" (click)="globalSettings()">Change Global Settings</button>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </form>

</div>