<div class="modal-header">
  
  <div class="modal-title text-center w-100">
    <h4 class="m-0">Current College Costs</h4>
    <p class="f-14">Thursday, November 30, 2017</p>
    <p class="f-16 m-0">This search tool will help parent's plan for a child's college expenses. The data will show:</p>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="dismissModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-4">

  <p class="mb-1 d-flex ">
    <i class="zmdi zmdi-brightness-5 text-muted mr-2 mt-1 align-middle"></i>
    <span> Current 2013-2014 annual costs for individual colleges and universities (based on information from Peterson's*) </span>
  </p>
  <p class="mb-1 d-flex ">
    <i class="zmdi zmdi-brightness-5 text-muted mr-2 mt-1 align-middle"></i>
    <span> The breakdown of annual costs for in-state and out-of-state tuition, fees, room and board. </span>
  </p>
  <p class="mb-1 d-flex ">
    <i class="zmdi zmdi-brightness-5 text-muted mr-2 mt-1 align-middle"></i>
    <span>Annual costs of the colleges within the same state </span>
  </p>


  <div class="row mt-3 mb-3">
    <div class="col-md-4">
      <div class="form-group">
        <label for="">Search College: </label>
        <input id="collegename" type="text" name="collegename" [(ngModel)]="collegename" (blur)="searchCollege(collegename,stateSearch.VALUE,page)"
          class="form-control">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="">Select State or province: </label>
        <select id="stateSearch" class="form-control custom-select f-14" name="stateSearch.VALUE" [(ngModel)]="stateSearch.VALUE"
          (change)="searchCollege(collegename,stateSearch.VALUE,page)">
          <option *ngFor="let stateSearch of statesForsearch;let i=index;" [ngValue]="stateSearch.VALUE" [selected]="stateSearch.VALUE==defaultSelectedstate">
            {{stateSearch.TEXT}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-12 d-flex align-items-center">

      <div class="mr-3 mb-0">Select residency status: </div>
      <div>
          <mat-radio-group class="example-radio-group" [ngModelOptions]="{standalone: true}" [(ngModel)]="residencyStatus.value" (ngModelChange)="onSelectionResidencyStatus(residencyStatus.value)">
              <mat-radio-button class="example-radio-button" *ngFor="let residencyStatus of residencyStatusList" [value]="residencyStatus.value" [checked]="residencyStatus.value==defaultSelectedstate">
                  {{residencyStatus.text}}
              </mat-radio-button>
          </mat-radio-group>
      </div>

    </div>
  </div>
</div>
<div class="scroler-vertical" style="max-height: 400px;">
  <table class="table" *ngIf="tableShowNational">
    <tr>
      <td class="text-muted">National Average</td>
      <td class="text-muted" *ngIf="columnShowInState">In-State Total</td>
      <td class="text-muted" *ngIf="columnShowInState">In-State Tuition</td>
      <td class="text-muted" *ngIf="columnShowOutState">Out-of-State Total</td>
      <td class="text-muted" *ngIf="columnShowOutState">Out-of-State Tuition</td>
      <td class="text-muted">Fees</td>
      <td class="text-muted">Room & Board</td>
    </tr>
    <tr *ngFor="let nationalCollege of nationalColleges">
      <td class="font-weight-bold">{{nationalCollege.collegeName}}</td>
      <td *ngIf="columnShowInState">
        <label>{{nationalCollege.inState}}</label>
      </td>
      <td *ngIf="columnShowInState">
        <label>${{nationalCollege.inStateTutionFees}}</label>
      </td>
      <td *ngIf="columnShowOutState">
        <label>${{nationalCollege.outState}}</label>
      </td>
      <td *ngIf="columnShowOutState">
        <label>${{nationalCollege.outStateTutionFees}}</label>
      </td>
      <td>
        <label>${{nationalCollege.fees}}</label>
      </td>
      <td>
        <label>${{nationalCollege.roomBoardFees}}</label>
      </td>
    </tr>

  </table>
</div>
<div *ngIf="noOtherClg" class="text-center no-college">No Collge Found</div>
<div class="scroler-vertical" style="max-height: 400px;">
  <div class="loader" *ngIf="loader">
    <img src="assets/img/loader.gif">
  </div>

  <table class="table" *ngIf="tableShowOther">
    <tr>
      <td class="text-muted">College Name</td>
      <td class="text-muted">City</td>
      <td class="text-muted">State</td>
      <td class="text-muted" *ngIf="columnShowInState">In-state Total</td>
      <td class="text-muted" *ngIf="columnShowInState">In-State Tuition</td>
      <td class="text-muted" *ngIf="columnShowOutState">Out-of-State Total</td>
      <td class="text-muted" *ngIf="columnShowOutState">Out-of-State Tuition</td>
      <td class="text-muted">Fees</td>
      <td class="text-muted">Room & Board</td>
    </tr>
    <tr *ngFor="let otherCollege of otherColleges">
      <td>
        <label>{{otherCollege.collegeName}}</label>
      </td>
      <td>
        <label>{{otherCollege.city}}</label>
      </td>
      <td>
        <label>{{otherCollege.collegeState}}</label>
      </td>
      <td *ngIf="columnShowInState">
        <label>${{otherCollege.inState}}</label>
      </td>
      <td *ngIf="columnShowInState">
        <label>${{otherCollege.inStateTutionFees}}</label>
      </td>
      <td *ngIf="columnShowOutState">
        <label>${{otherCollege.outState}}</label>
      </td>
      <td *ngIf="columnShowOutState">
        <label>${{otherCollege.outStateTutionFees}}</label>
      </td>
      <td>
        <label>${{otherCollege.fees}}</label>
      </td>
      <td>
        <label>${{otherCollege.roomBoardFees}}</label>
      </td>
    </tr>

  </table>
  <div class="pagination_section" *ngIf="pagination">
    <ngb-pagination *ngIf="shortsearch" [collectionSize]="totalCollegeSerachedUsingName" [(page)]="page" [pageSize]="20"
      aria-label="Default pagination" (pageChange)="clickSeach(page)"></ngb-pagination>
    <ngb-pagination *ngIf="fullsearch" [collectionSize]="itemsTotal" [(page)]="page" [pageSize]="20" aria-label="Default pagination"
      (pageChange)="click(page)"></ngb-pagination>
  </div>
</div>
<div class="modal-footer justify-content-center" *ngIf="showEntireTable">
  <button class="btn btn-outline-secondary dash-border btn-sm px-4 py-2" (click)="getAllColleges(1)"> Click here to generate entire table</button>
</div>

<p class="mx-3">* Current annual college cost figures are obtained from Peterson's. The college costs may include tuition, fees, and room
  and board expenses as reported by Peterson's, part of the Thomson Corporation.</p>

<p class="f-12 text-muted px-3">This information was obtained by sources believed to be reliable but cannot be guaranteed. It is for independent use and
  is not intended or written to be used, and cannot be used, to avoid penalties imposed under the Internal Revenue Code or
  for any legal or investment advice. It is not to be used as part of the solicitation or sales process or to promote any
  product or service. Anyone to whom this material is promoted, marketed, or recommended should consult with their own professional
  tax adviser, legal representative, or financial adviser regarding their own particular situation.</p>