<div class="page-content">
	<div class="row">
		<div class="col-md-12">
			<h5>Expenses</h5>
			<p>Lorem ipsum dolor sit amet, consectetur Nesciunt sint sit facilis ducimus, illum quis ex quae voluptatem nam asperiores
				sunt ut amet modi, totam sequi cupiditate mollitia! Quam, nulla. Lorem ipsum dolor sit amet, consectetur Nesciunt sint
				sit facilis ducimus, illum quis ex quae voluptatem nam asperiores </p>
			<div class="row my-4">
				<div class="col-md-6">
					<ng-template #popSummary>
						<p class="f-12">This summary totals up all the values on the page to give a grand total for monthly expenses:
						</p>
						<ul class="f-12" style="list-style-type: square;padding-left:30px;">
							<li>Subtracting the current expenses from the current income produces a Monthly Disposable Income, which can be a Surplus
								or a Shortfall.</li>
							<li>On the output report, a surplus appears in bold
								<b style="color:#458b74">Green</b>, and Shortfall in bold
								<b style="color:#ff6666">Red</b> meaning the client is living on more than they are bringing in.</li>
							<li>A positive would indicate additional amounts the client should be able to apply to their financial future, a negative
								means they have to bear down and change their spending habits.</li>
							<li>Your client can see the direct affect lowering their expenses can have on what they have left over each month.</li>
						</ul>
					</ng-template>
					<h5 class="mb-3">Expenses Summary
						<i class="zmdi zmdi-info text-success ml-2" triggers="mouseenter:mouseleave" [ngbPopover]="popSummary" placement="right"
						 container="body"></i>
					</h5>
					<div class="d-flex mb-3">
						<i class="zmdi zmdi-brightness-5 mr-2 text-muted mt-1 f-12"></i>
						<p class="m-0 d-flex w-75 justify-content-between">
							<span>Total Debt Payments</span>
							<span class="font-weight-bold">${{DeptExpList.totalPay|number:'1.2-2'}}</span>
						</p>
					</div>
					<div class="d-flex mb-3">
						<i class="zmdi zmdi-brightness-5 mr-2 text-muted mt-1 f-12"></i>
						<p class="m-0 d-flex w-75 justify-content-between">
							<span> Total Insurance Premiums </span>
							<span class="font-weight-bold">${{InsuranceExpList.faceValueSum|number:'1.2-2'}}</span>
						</p>
					</div>
					<div class="d-flex mb-3">
						<i class="zmdi zmdi-brightness-5 mr-2 text-muted mt-1 f-12"></i>
						<p class="m-0 d-flex w-75 justify-content-between">
							<span> Total Taxes </span>
							<span class="font-weight-bold">${{TaxExpList.total|number:'1.2-2'}}</span>
						</p>
					</div>
					<div class="d-flex mb-3">
						<i class="zmdi zmdi-brightness-5 mr-2 text-muted mt-1 f-12"></i>
						<p class="m-0 d-flex w-75 justify-content-between">
							<span> Total Savings </span>
							<span class="font-weight-bold">${{SavExpList.total|number:'1.2-2'}}</span>
						</p>
					</div>
					<div class="d-flex mb-3">
						<i class="zmdi zmdi-brightness-5 mr-2 text-muted mt-1 f-12"></i>
						<p class="m-0 d-flex w-75 justify-content-between">
							<span> Total Living Expenses </span>
							<span class="font-weight-bold">${{LivingExpense.totalExpense|number:'1.2-2'}}</span>
						</p>
					</div>
					<div class="d-flex mb-3">
						<i class="zmdi zmdi-brightness-5 mr-2 text-muted mt-1 f-12"></i>
						<p class="m-0 d-flex w-75 justify-content-between">
							<span> Total Expenses </span>
							<span class="font-weight-bold">${{TotalExp| number : '1.2-2'}}</span>
						</p>
					</div>
				</div>
				<div class="col-md-6 border justify-content-center align-items-center text-center">
					<div id="container" style="min-width: 500px; height: 260px; max-width: 500px; margin: 0 auto"></div>
					<div class="m-3">
						<div>Monthly
							<span style="color:#458b74">Surplus</span> /
							<span style="color:#ff6666">Shortfall</span>
						</div>
						<div class="font-weight-bold" style.color="{{IncomeExpList.total<TotalExp?'#ff6666':'#458b74'}}">${{MonthlyDiff | number : '1.2-2'}}</div>
					</div>
				</div>
			</div>
			<ngb-accordion #acc="ngbAccordion">
				<ngb-panel>
					<ng-template ngbPanelTitle>
						<div class=" d-flex justify-content-between align-items-center ">
							<ng-template #popLivingExpense>
								<p class="f-12">The Living Expenses section is divided into Home Related Expenses and Non-Home Related Expenses. Sub-categories include
									Housing, Family, Transportation, Giving, and Leisure. It should be noted that some entries can be entered in different
									categories, for example, one person may choose to enter baby-sitting under Child Care while another may choose to
									put this as a cost of Entertainment, this is left up to the user to decide.</p>
								<p class="f-12">As values are entered, the totals are calculated on the report page, but
									<span class="text-danger"> are not saved to the report until you hit the save button</span>.</p>
							</ng-template>
							<span class="font-weight-bold text-dark">Living Expenses
								<i class="zmdi zmdi-info text-success ml-2" triggers="mouseenter:mouseleave" [ngbPopover]="popLivingExpense" placement="right"
								 container="body"></i>
							</span>
							<span>
								<i class="zmdi zmdi-caret-down f-26 text-dark"></i>
							</span>
						</div>
					</ng-template>
					<ng-template ngbPanelContent>


						<div class="mb-3 mt-1 d-flex justify-content-between">
							<span class="d-flex align-items-center f-16">Total Living Expenses:
								<span class="font-weight-bold ml-2">${{LivingExpense.totalExpense|number:'1.2-2'}}</span>
							</span>
						</div>
						<div class="mb-3 mt-1 d-flex justify-content-between">
							<span class="d-flex align-items-center f-16">Total Home Related Expenses:
								<span class="font-weight-bold ml-2">${{LivingExpense.homeExpense|number:'1.2-2'}}</span>
							</span>
						</div>
						<div class="mb-3 mt-1 d-flex justify-content-between">
							<span class="d-flex align-items-center f-16">Total Non-Home Related Expenses:
								<span class="font-weight-bold ml-2">${{LivingExpense.nonHomeExpense|number:'1.2-2'}}</span>
							</span>
						</div>
						<form #LivingExpenseForm="ngForm" (ngSubmit)="LivingExpenseForm.form.valid&&saveLivingExpense()" novalidate>
							<div class="card-block p-0">
								<table class="table">
									<tr>
										<td class="text-muted">Expense Category</td>
										<td class="text-muted">Expense Sub-category</td>
										<td class="text-muted">Type</td>
										<td class="text-muted">Company</td>
										<td class="text-muted">Amount</td>
										<td class="text-muted">Note</td>
										<td></td>
									</tr>
									<tr class="font-weight-bold" *ngFor="let expense of LivingExpense.expenseList;let i=index;">
										<td>
											<select class="custom-select form-control f-14" [(ngModel)]="expense.expenseCategoryId" name="expenseCategoryId{{i}}" (change)="expenseCategoryChange($event.target.value,i)">
												<option *ngFor="let type of ExpenseCategory" [value]="type.VALUE">{{type.TEXT}}</option>
											</select>
										</td>
										<td>
											<select class="custom-select form-control f-14" [disabled]="disableSubCategory[i]" [(ngModel)]="expense.expSubCategoryId"
											 name="expSubCategoryId{{i}}" (change)="expenseSubCategoryChange($event.target.value,i)">
												<option *ngFor="let type of ExpenseSubCategory[i]" [value]="type.VALUE">{{type.TEXT}}</option>
											</select>
										</td>
										<td>
											<select class="custom-select form-control f-14" [disabled]="disableType[i]" [(ngModel)]="expense.typeId" name="typeId{{i}}">
												<option *ngFor="let type of ExpenseType[i]" [value]="type.VALUE">{{type.TEXT}}</option>
											</select>
										</td>
										<td>
											<input class="form-control " type="text" [(ngModel)]="expense.company" [attr.maxLength]="50" name="company{{i}}" [ngModelOptions]="{standalone: true}">
										</td>
										<td>
											<input class="form-control " type="text" name="amount{{i}}" [attr.maxLength]="15" [(ngModel)]="expense.amount" app-restrict-input="float"
											 [ngModelOptions]="{standalone: true}">
										</td>
										<td>
											<input class="form-control " type="text" [(ngModel)]="expense.notes" [attr.maxLength]="200" name="notes{{i}}" [ngModelOptions]="{standalone: true}">
										</td>
										<td class="text-center" width="20">
											<a class="btn btn-secondary btn-sm text-danger" (click)="removeLivingExpense(expense,i)">
												<i class="zmdi zmdi-delete"></i>
											</a>
										</td>
									</tr>
								</table>
							</div>
							<div class="text-center">
								<a (click)="addRow(i)" class="btn btn-secondary dash-border btn-lg">
									<i class="zmdi zmdi-plus-circle-o mr-3"></i>
									Add More</a>
							</div>
							<hr>
							<div class="text-center mt-4">
								<button class="btn btn-dark px-5 btn-submit" type="submit">Save</button>
							</div>
						</form>
					</ng-template>
				</ngb-panel>
				<ngb-panel>
					<ng-template ngbPanelTitle>
						<div class=" d-flex justify-content-between align-items-center ">
							<span class="font-weight-bold text-dark">Debt</span>
							<span>
								<i class="zmdi zmdi-caret-down f-26 text-dark"></i>
							</span>
						</div>
					</ng-template>
					<ng-template ngbPanelContent>

						<div class="mb-3 mt-1 d-flex justify-content-between">
							<span class="d-flex align-items-center f-16">Total Debt Payment:
								<span class="font-weight-bold ml-2">${{DeptExpList.totalPay|number:'1.2-2'}}</span>
							</span>

						</div>
						<table class="table" *ngIf="DeptExpList.deptList.length>0">
							<tr class="font-weight-bold">
								<td class="text-muted">Debt Type</td>
								<td class="text-muted">Creditor</td>
								<td class="text-muted">Type</td>
								<td class="text-muted">Balance</td>
								<td class="text-muted">Balance as of</td>
								<td class="text-muted">Interest Rate</td>
								<td class="text-muted">Principal and Interest Payment</td>
							</tr>
							<tr *ngFor="let dept of DeptExpList.deptList;let i=index;">
								<td class="text-muted">{{dept.deptCatType}} </td>
								<td class="text-muted">{{dept.creditorName}} </td>
								<td class="text-muted">{{dept.deptType}}</td>
								<td class="text-muted">${{dept.balance|number:'1.2-2'}}</td>
								<td class="text-muted">{{dept.balanceAsOf}}</td>
								<td class="text-muted">{{dept.interestRate}}% </td>
								<td class="text-muted">${{dept.principleInterestRate|number:'1.2-2'}}</td>
							</tr>
						</table>

					</ng-template>
				</ngb-panel>
				<ngb-panel>
					<ng-template ngbPanelTitle>
						<div class=" d-flex justify-content-between align-items-center ">
							<span class="font-weight-bold text-dark">Insurance</span>
							<span>
								<i class="zmdi zmdi-caret-down f-26 text-dark"></i>
							</span>
						</div>
					</ng-template>
					<ng-template ngbPanelContent>
						<div class="mb-3 mt-1 d-flex justify-content-between">
							<span class="d-flex align-items-center f-16">Total Insurance Premiums:
								<span class="font-weight-bold ml-2">${{InsuranceExpList.faceValueSum|number:'1.2-2'}}</span>
							</span>

						</div>
						<table class="table" *ngIf="InsuranceExpList.insuranceList.length>0">
							<tr class="font-weight-bold">
								<td class="text-muted">Insurance Category</td>
								<td class="text-muted">Type</td>
								<td class="text-muted">Company</td>
								<td class="text-muted">Individual</td>
								<td class="text-muted">Face Value</td>
								<td class="text-muted">Current Cash Value</td>
							</tr>
							<tr *ngFor="let insurance of InsuranceExpList.insuranceList;let i=index;">
								<td class="text-muted">{{insurance.InsuranceCategory}}</td>
								<td class="text-muted">{{insurance.insuranceType}}</td>
								<td class="text-muted">{{insurance.company}}</td>
								<td class="text-muted">{{insurance.name}}</td>
								<td class="text-muted" *ngIf="insurance.faceValue!==null">${{insurance.faceValue|number:'1.2-2'}}</td>
								<td class="text-muted" *ngIf="insurance.faceValue==null">{{insurance.faceValue|number:'1.2-2'}}</td>
								<td class="text-muted" *ngIf="insurance.currentCashValue!==null">${{insurance.currentCashValue|number:'1.2-2'}} </td>
								<td class="text-muted" *ngIf="insurance.currentCashValue==null">{{insurance.currentCashValue|number:'1.2-2'}} </td>
							</tr>
						</table>

					</ng-template>
				</ngb-panel>
				<ngb-panel>
					<ng-template ngbPanelTitle>
						<div class=" d-flex justify-content-between align-items-center ">
							<span class="font-weight-bold text-dark">Tax</span>
							<span>
								<i class="zmdi zmdi-caret-down f-26 text-dark"></i>
							</span>
						</div>
					</ng-template>
					<ng-template ngbPanelContent>
						<div class="card-block">
							<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="custom_acc">
								<ngb-panel *ngFor="let taxList of TaxExpList.expenseOutput;">
									<ng-template ngbPanelTitle>
										<div class="row-m">
											<span class="col-md-5 font-weight-bold text-dark">{{taxList.name}}</span>
											<span class="text-dark col-md-5 font-weight-bold text-right">${{taxList.totalTax|number:'1.2-2'}}</span>
											<span class="font-weight-bold text-dark text-right">
												<i class="zmdi zmdi-caret-down f-26 text-dark"></i>
											</span>
										</div>
									</ng-template>
									<ng-template ngbPanelContent>
										<div class="body-style font-weight-bold">
											<p class="d-flex body-margin justify-content-between mb-1 font-weight-normal" *ngFor="let tax of taxList.incomeList;let p=index;">
												<span>{{tax.taxName}}</span>
												<span>${{tax.taxAmount|number:'1.2-2'}}</span>
											</p>
										</div>
									</ng-template>
								</ngb-panel>
							</ngb-accordion>
							<div class="row-t">
								<span class="col-md-5 font-weight-bold text-dark">Total Taxes</span>
								<span class="text-dark col-md-5 font-weight-bold text-right">${{TaxExpList.total|number:'1.2-2'}}</span>
							</div>
						</div>
					</ng-template>
				</ngb-panel>
				<ngb-panel>
					<ng-template ngbPanelTitle>
						<div class=" d-flex justify-content-between align-items-center ">
							<span class="font-weight-bold text-dark">Savings</span>
							<span>
								<i class="zmdi zmdi-caret-down f-26 text-dark"></i>
							</span>
						</div>
					</ng-template>
					<ng-template ngbPanelContent>
						<div class="card-block">
							<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="custom_acc">
								<ngb-panel *ngFor="let savList of SavExpList.savingOutput;">
									<ng-template ngbPanelTitle>
										<div class="row-m">
											<span class="col-md-5 font-weight-bold text-dark">{{savList.name}}</span>
											<span class="text-dark col-md-5 font-weight-bold text-right">${{savList.totalSaving|number:'1.2-2'}}</span>
											<span class="font-weight-bold text-dark text-right">
												<i class="zmdi zmdi-caret-down f-26 text-dark"></i>
											</span>
										</div>
									</ng-template>
									<ng-template ngbPanelContent>
										<div class="body-style font-weight-bold">
											<p class="d-flex body-margin justify-content-between mb-1 font-weight-normal" *ngFor="let savings of savList.savingList;let p=index;">
												<span>{{savings.SavingName}}</span>
												<span>${{savings.SavingAmount|number:'1.2-2'}}</span>
											</p>
										</div>
									</ng-template>
								</ngb-panel>
							</ngb-accordion>
							<div class="row-t">
								<span class="col-md-5 font-weight-bold text-dark">Total Savings</span>
								<span class="text-dark col-md-5 font-weight-bold text-right">${{SavExpList.total|number:'1.2-2'}}</span>
							</div>
						</div>
					</ng-template>
				</ngb-panel>
				<ngb-panel>
					<ng-template ngbPanelTitle>
						<div class=" d-flex justify-content-between align-items-center ">
							<span class="font-weight-bold text-dark">Income</span>
							<span>
								<i class="zmdi zmdi-caret-down f-26 text-dark"></i>
							</span>
						</div>
					</ng-template>
					<ng-template ngbPanelContent>
						<div class="card-block">
							<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="custom_acc">
								<ngb-panel *ngFor="let incList of IncomeExpList.incomeOutput;">
									<ng-template ngbPanelTitle>
										<div class="row-m">
											<span class="col-md-5 font-weight-bold text-dark">{{incList.name}}</span>
											<span class="text-dark col-md-5 font-weight-bold text-right">${{incList.totalGrossAmount|number:'1.2-2'}}</span>
											<span class="font-weight-bold text-dark text-right">
												<i class="zmdi zmdi-caret-down f-26 text-dark"></i>
											</span>
										</div>
									</ng-template>
									<ng-template ngbPanelContent>
										<div class="body-style font-weight-bold">
											<p class="d-flex body-margin justify-content-between mb-1 font-weight-normal" *ngFor="let income of incList.incomeList;let p=index;">
												<span>{{income.incomeName}}</span>
												<span>${{income.grossAmount|number:'1.2-2'}}</span>
											</p>
										</div>
									</ng-template>
								</ngb-panel>
							</ngb-accordion>
							<div class="row-t">
								<span class="col-md-5 font-weight-bold text-dark">Total Income</span>
								<span class="text-dark col-md-5 font-weight-bold text-right">${{IncomeExpList.total|number:'1.2-2'}}</span>
							</div>
						</div>
					</ng-template>
				</ngb-panel>
			</ngb-accordion>
		</div>
	</div>
</div>