.row-m{
    display: flex;
    margin-left: -30px;
    margin-right: -102px;
}
.body-style
{
    //border-top: 1px dashed #999;
    margin-top: -35px;
    margin-right: 11px;
    margin-left: -6px;
}
.body-margin
{
    margin-top:15px;
}
.row-t{
    display: flex;
    max-width: 50.9%;
    margin: 13px -7px 4px -10px;
}
.highcharts-container .style {
height: 260px;
}