<div class="page-content">

<div class="dashboard-menu">
	<ngb-tabset>
	
	<ngb-tab>
	<ng-template ngbTabTitle>
	<span class="sp-icon"></span>
	<p>Total Net Worth</p>
	</ng-template>
	<ng-template ngbTabContent>
<div class="my-5">
	<div class="d-flex align-items-center justify-content-center f-16 border" style="height: 250px;">
		<span> Graph</span>
	</div>
	<div class="row mt-4">
		<div class="col-md-6">
			<div class="mr-4">
				<h5 class="my-3">Asset</h5>	
				
				
				<div class="row mb-2">
					<div class="col-md-6">Primary Residence </div>
					<div class="col-md-6 text-right">$15000 <span class="ml-2">43%</span>  </div>
				</div>
				<div class="dash-border-bottom my-3"></div>
				<div class="row mb-2">
					<div class="col-md-6">Primary Residence </div>
					<div class="col-md-6 text-right">$15000 <span class="ml-2">43%</span>  </div>
				</div>
				<div class="dash-border-bottom my-3"></div>
				<div class="row mb-2">
					<div class="col-md-6">Primary Residence </div>
					<div class="col-md-6 text-right">$15000 <span class="ml-2">43%</span>  </div>
				</div>
				<div class="dash-border-bottom my-3"></div>
				
				<div class="row mb-2">
					<div class="col-md-6">Primary Residence </div>
					<div class="col-md-6 text-right">$15000 <span class="ml-2">43%</span>  </div>
				</div>
				<div class="dash-border-bottom my-3"></div>
				<div class="row mb-2">
					<div class="col-md-6">Primary Residence </div>
					<div class="col-md-6 text-right">$15000 <span class="ml-2">43%</span>  </div>
				</div>
				<div class="dash-border-bottom my-3"></div>
				<div class="row mb-2 font-weight-bold">
					<div class="col-md-6">Total Asset</div>
					<div class="col-md-6 text-right">$15000 <span class="ml-2">100%</span>  </div>
				</div>
				
				
			</div>
		</div>
		<div class="col-md-6">
			<div class="ml-4">
				<h5 class="my-3">Liabilities</h5>
				<div class="row mb-2">
					<div class="col-md-6">Primary Residence </div>
					<div class="col-md-6 text-right">$15000 <span class="ml-2">43%</span>  </div>
				</div>
				<div class="dash-border-bottom my-3"></div>
				<div class="row mb-2">
					<div class="col-md-6">Primary Residence </div>
					<div class="col-md-6 text-right">$15000 <span class="ml-2">43%</span>  </div>
				</div>
				<div class="dash-border-bottom my-3"></div>
				<div class="row mb-2">
					<div class="col-md-6">Primary Residence </div>
					<div class="col-md-6 text-right">$15000 <span class="ml-2">43%</span>  </div>
				</div>
				<div class="dash-border-bottom my-3"></div>
				
				<div class="row mb-2">
					<div class="col-md-6">Primary Residence </div>
					<div class="col-md-6 text-right">$15000 <span class="ml-2">43%</span>  </div>
				</div>
				<div class="dash-border-bottom my-3"></div>
				<div class="row mb-2">
					<div class="col-md-6">Primary Residence </div>
					<div class="col-md-6 text-right">$15000 <span class="ml-2">43%</span>  </div>
				</div>
				<div class="dash-border-bottom my-3"></div>
				<div class="row mb-2 font-weight-bold">
					<div class="col-md-6">Total Liabilities</div>
					<div class="col-md-6 text-right">$15000 <span class="ml-2">100%</span>  </div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-center text-white my-5">
		<div class="col-md-5 d-flex justify-content-between f-18 bg-cyan py-5">
			<span>Total Net worth</span> <span class="font-weight-bold">$ 42000</span>
		</div>
		<div class="ml-2"></div>
		<div class="col-md-5 d-flex justify-content-between f-18 bg-dark  py-5">
			<span>Liquid Net worth</span> <span class="font-weight-bold">$ 42000</span>
		</div>
	</div>
</div>
	</ng-template>
	</ngb-tab>
	<ngb-tab>
	<ng-template ngbTabTitle>
	<span class="sp-icon invt"></span>
	<p>Investments</p>
	</ng-template>
	<ng-template ngbTabContent>
<div class="my-5">
	<div class="row">
		<div class="col-md-4">
			<div class="border p-3">
				<p class="f-18">Current Value <span class="font-weight-bold ml-3">$ 202200.00</span></p>
				<p class="">Cash <span class="font-weight-bold ml-3">$ 0.00</span></p>
				<p class="">Holdings <span class="font-weight-bold ml-3">$ 0.00</span></p>
			</div>
			<p class="f-12 text-muted mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga iusto deleniti magnam totam soluta laudantium, voluptatibus qui odio.</p>
		</div>
		<div class="col-md-8">
			<div class="d-flex align-items-center justify-content-center f-16 border" style="height: 150px;">
				<span> Graph</span>
			</div>
			<p class="f-12 text-muted  mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga iusto deleniti magnam totam soluta laudantium, voluptatibus qui odio quia nulla incidunt quas cum, autem harum fugiat voluptatum. Facilis repellendus, eum.</p>
		</div>
	</div>
	<table class="table mt-3">
		<tbody>
			<tr>
				<td class="text-muted">Account </td>
				<td class="text-muted">Position As Of </td>
				<td class="text-muted">Holdings </td>
				<td class="text-muted">Current Value </td>
				<td class="text-muted">Value </td>
				<td class="text-muted">Pct </td>
				
				
			</tr>
			<tr class="font-weight-bold">
				<td class="text-muted">************* 356* </td>
				<td class="text-muted">11-09-2017 <span class="f-10 ml-2">08:35 Pm</span>   </td>
				<td class="text-muted"> - </td>
				<td class="text-muted"> $0.00</td>
				<td class="text-muted"> - </td>
				<td class="text-muted"> - </td>
			</tr>
			<tr class="font-weight-bold">
				<td class="text-muted">************* 356* </td>
				<td class="text-muted">11-09-2017 <span class="f-10 ml-2">08:35 Pm</span>   </td>
				<td class="text-muted"> - </td>
				<td class="text-muted"> $0.00</td>
				<td class="text-muted"> - </td>
				<td class="text-muted"> - </td>
			</tr>
			<tr class="font-weight-bold">
				<td class="text-muted">************* 356* </td>
				<td class="text-muted">11-09-2017 <span class="f-10 ml-2">08:35 Pm</span>   </td>
				<td class="text-muted"> - </td>
				<td class="text-muted"> $0.00</td>
				<td class="text-muted"> - </td>
				<td class="text-muted"> - </td>
			</tr>
			<tr class="font-weight-bold">
				<td class="text-muted">************* 356* </td>
				<td class="text-muted">11-09-2017 <span class="f-10 ml-2">08:35 Pm</span>   </td>
				<td class="text-muted"> - </td>
				<td class="text-muted"> $0.00</td>
				<td class="text-muted"> - </td>
				<td class="text-muted"> - </td>
			</tr>
		</tbody>
	</table>
</div>
	</ng-template>
	</ngb-tab>
	<ngb-tab>
	<ng-template ngbTabTitle>
	<span class="sp-icon lab"></span>
	<p>Liabilities</p>
	</ng-template>
	<ng-template ngbTabContent>
<div class="my-5">
	<div class="d-flex align-items-center justify-content-center f-16 border" style="height: 250px;">
		<span> Graph</span>
	</div>
	<div class="row d-flex justify-content-center">
		<div class="col-md-8 mt-3">
			
			
			<h5 class="my-4 text-center">Liabilities</h5>
			
			<div class="row mb-2">
				<div class="col-md-6">Other Property: 1st Mortgage </div>
				<div class="col-md-6 text-right">$15000 <span class="ml-3">43%</span>  </div>
			</div>
			<div class="dash-border-bottom my-3"></div>
			<div class="row mb-2">
				<div class="col-md-6">Revolving: Wells Fargo </div>
				<div class="col-md-6 text-right">$15000 <span class="ml-3">43%</span>  </div>
			</div>
			<div class="dash-border-bottom my-3"></div>
			<div class="row mb-2">
				<div class="col-md-6">Revolving: Wells Fargo </div>
				<div class="col-md-6 text-right">$15000 <span class="ml-3">43%</span>  </div>
			</div>
			<div class="dash-border-bottom my-3"></div>
			
			<div class="row mb-2 font-weight-bold">
				<div class="col-md-6">Total Liabilities</div>
				<div class="col-md-6 text-right">$15000 <span class="ml-3">100%</span>  </div>
			</div>
		</div>
	</div>
</div>
	</ng-template>
	</ngb-tab>
	<ngb-tab>
	<ng-template ngbTabTitle>
	<span class="sp-icon edu"></span>
	<p>Education</p>
	</ng-template>
	<ng-template ngbTabContent>
<div class="my-5">
	<div class="row">
		<div class="col-md-6">
			<div class="d-flex align-items-center justify-content-center f-16 border" style="height: 250px;">
				<span> Graph</span>
			</div>
		</div>
		<div class="col-md-6 col-lg-6 col-xl-5 ">
			<div class="d-flex justify-content-between f-18 bg-cyan py-5 px-3 text-white mb-3">
				<span>Total Education Need</span> <span class="font-weight-bold">$ 42000</span>
			</div>
			<div class="d-flex justify-content-between f-18 bg-dark py-5 px-3 text-white mb-3">
				<span>Current Savings</span> <span class="font-weight-bold">$ 42000</span>
			</div>
			<div class="d-flex justify-content-between f-18 bg-inverse py-5 px-3 text-white mb-3">
				<span>Surplus</span> <span class="font-weight-bold">$ 42000</span>
			</div>
		</div>
	</div>
</div>

	</ng-template>
	</ngb-tab>
	<ngb-tab>
	<ng-template ngbTabTitle>
	<span class="sp-icon prot"></span>
	<p>Protection</p>
	</ng-template>
	<ng-template ngbTabContent>
<div class="my-5">
	<div class="row d-flex justify-content-center">
		<div class="col-md-6 mt-3 border py-3">
			
			<div class="row mb-2 text-muted">
				<div class="col-md-6">Name</div>
				<div class="col-md-6 text-right"> Face value  </div>
			</div>
			<div class="dash-border-bottom my-3"></div>
			<div class="row mb-2">
				<div class="col-md-6">Steven Smith </div>
				<div class="col-md-6 text-right">$15000  </div>
			</div>
			<div class="dash-border-bottom my-3"></div>
			<div class="row mb-2">
				<div class="col-md-6">Steven Smith </div>
				<div class="col-md-6 text-right">$15000  </div>
			</div>
			<div class="dash-border-bottom my-3"></div>
			<div class="row mb-2">
				<div class="col-md-6">Steven Smith </div>
				<div class="col-md-6 text-right">$15000  </div>
			</div>
			<div class="dash-border-bottom my-3"></div>
			<div class="row mb-2">
				<div class="col-md-6">Steven Smith </div>
				<div class="col-md-6 text-right">$15000  </div>
			</div>
			
		</div>
	</div>
</div>


	</ng-template>
	</ngb-tab>
	<ngb-tab>
	<ng-template ngbTabTitle>
	<span class="sp-icon emerg"></span>
	<p>Emergency Fund</p>
	</ng-template>
	<ng-template ngbTabContent>

<div class="my-5">
	<div class="row mt-4">
		<div class="col-md-4">
			<div class="d-flex justify-content-around f-18 bg-cyan py-5  text-white mb-3">
				<span>Target</span> <span class="font-weight-bold">$ 42000</span>
			</div>
		</div>
		<div class="col-md-4">
			<div class="d-flex justify-content-around f-18 bg-dark py-5  text-white mb-3">
				<span>Available </span> <span class="font-weight-bold">$ 42000</span>
			</div>
		</div>
		<div class="col-md-4">
			<div class="d-flex justify-content-around f-18 bg-inverse py-5  text-white mb-3">
				<span>Surplus</span> <span class="font-weight-bold">$ 42000</span>
			</div>
		</div>
	</div>
	<div class="d-flex align-items-center justify-content-center f-16 border" style="height: 250px;">
		<span> Graph</span>
	</div>
</div>

	</ng-template>
	</ngb-tab>
	<ngb-tab>
	<ng-template ngbTabTitle>
	<span class="sp-icon inc"></span>
	<p>Income vs. Expense</p>
	</ng-template>
	<ng-template ngbTabContent>

<div class="my-5">
	<div class="row mt-4">
		<div class="col-md-4">
			<div class="d-flex justify-content-around f-18 bg-cyan py-5  text-white mb-3">
				<span>Income</span> <span class="font-weight-bold">$ 42000</span>
			</div>
		</div>
		<div class="col-md-4">
			<div class="d-flex justify-content-around f-18 bg-dark py-5  text-white mb-3">
				<span>Expenses </span> <span class="font-weight-bold">$ 42000</span>
			</div>
		</div>
		<div class="col-md-4">
			<div class="d-flex justify-content-around f-18 bg-inverse py-5  text-white mb-3">
				<span>Surplus</span> <span class="font-weight-bold">$ 42000</span>
			</div>
		</div>
	</div>
	<div class="row mt-4">
		<div class="col-md-6">
			<div class="mr-4">
				<h5 class="my-3 text-center">Income</h5>			
				
				<div class="row mb-2">
					<div class="col-md-6">lorem ipsum </div>
					<div class="col-md-6 text-right">$15000   </div>
				</div>
				<div class="dash-border-bottom my-3"></div>
				<div class="row mb-2">
					<div class="col-md-6">lorem ipsum </div>
					<div class="col-md-6 text-right">$15000   </div>
				</div>
				<div class="dash-border-bottom my-3"></div>
				<div class="row mb-2">
					<div class="col-md-6">lorem ipsum </div>
					<div class="col-md-6 text-right">$15000   </div>
				</div>
				<div class="dash-border-bottom my-3"></div>

			</div>
		</div>
		<div class="col-md-6">
			<div class="ml-4">
				<h5 class="my-3 text-center">Expenses</h5>
				<div class="row mb-2">
					<div class="col-md-6">lorem ipsum </div>
					<div class="col-md-6 text-right">$15000   </div>
				</div>
				<div class="dash-border-bottom my-3"></div>
				<div class="row mb-2">
					<div class="col-md-6">lorem ipsum </div>
					<div class="col-md-6 text-right">$15000   </div>
				</div>
				<div class="dash-border-bottom my-3"></div>
				<div class="row mb-2">
					<div class="col-md-6">lorem ipsum </div>
					<div class="col-md-6 text-right">$15000   </div>
				</div>
				<div class="dash-border-bottom my-3"></div>				
				
			</div>
		</div>
	</div>
</div>

	</ng-template>
	</ngb-tab>
	
	</ngb-tabset>
</div>

 
</div>