<div class="modal-header">
  <h5 class="modal-title">Steven Smith - Report History</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <!-- <div class="scroler-vertical" style="max-height: 400px;">
    <table class="table table-hover">
      <tr>
        <td class="text-muted border-0">Report Date</td>
        <td class="text-muted border-0">Report Name</td>
        <td class="text-muted border-0" align="center">Action</td>
      </tr>
      <tr>
        <td>July 2017</td>
        <td>Sample Report</td>
        <td align="center">
          <span class="badge badge-pill badge-info cursor-p hover">Edit</span>
          <span class="badge badge-pill badge-danger cursor-p hover"><i class="zmdi zmdi-close"></i></span>
        </td>
      </tr>
      <tr>
        <td>July 2017</td>
        <td>Sample Report</td>
        <td align="center">
          <span class="badge badge-pill badge-info cursor-p hover">Edit</span>
          <span class="badge badge-pill badge-danger cursor-p hover"><i class="zmdi zmdi-close"></i></span>
        </td>
      </tr>
      <tr>
        <td>July 2017</td>
        <td>Sample Report</td>
        <td align="center">
          <span class="badge badge-pill badge-info cursor-p hover">Edit</span>
          <span class="badge badge-pill badge-danger cursor-p hover"><i class="zmdi zmdi-close"></i></span>
        </td>
      </tr>
      <tr>
        <td>July 2017</td>
        <td>Sample Report</td>
        <td align="center">
          <span class="badge badge-pill badge-info cursor-p hover">Edit</span>
          <span class="badge badge-pill badge-danger cursor-p hover"><i class="zmdi zmdi-close"></i></span>
        </td>
      </tr>
      
      <tr>
        <td>July 2017</td>
        <td>Sample Report</td>
        <td align="center">
          <span class="badge badge-pill badge-info cursor-p hover">Edit</span>
          <span class="badge badge-pill badge-danger cursor-p hover"><i class="zmdi zmdi-close"></i></span>
        </td>
      </tr>
    </table>
  </div> -->
  <div class="scroler-vertical" style="max-height: 400px;">
    <div class="loader" *ngIf="loader"><img src="assets/img/loader.gif"></div>
    
<table class="table"  *ngIf="tableShow">      
  <tr>
    <td class="text-muted border-0">Report Date</td>
    <td class="text-muted border-0">Report Name</td>
    <td class="text-muted border-0" align="center">Action</td>
  </tr>
  <tr *ngFor="let report of reportList">


    <td>
      {{report.profileDate}}
    </td>
  
    <td>
      {{report.profileName}}
    </td>
    <td align="center"> 
      <span class="badge badge-pill badge-info cursor-p hover">Edit</span>
      <span class="badge badge-pill badge-danger cursor-p hover"><i class="zmdi zmdi-close"></i></span>
    </td>
  </tr>
       
 </table>
 <!-- <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination" pageChanged="pageChanged($event)"></ngb-pagination> -->
 <ngb-pagination [collectionSize]="totalCollegeSerachedUsingName" [(page)]="page" [pageSize]="20" aria-label="Default pagination" 
 (pageChange)="pageCount(page)"></ngb-pagination>
 
 
</div>
</div>