.menu-bar{
	background: #009C47;

}

.status-bar{
background: #232340;
 min-height: 51px;
 color: #d2d2d2;
}


 .fixed-header{
 	padding-top: 110px;
 }
.main-logo {
    display: inline-block;
    position: absolute;
    top: -11px;
}

.main-menu > li {
display: inline-block;
margin-right:15px;

}
.main-menu > li > a{
 color: #232340;
 opacity: .5;
 transition: all ease-in-out .3s;
}
.main-menu > li.active > a,
.main-menu > li > a:hover{
	opacity: 1;
	color: #fff;
}
.breadcrumb{
	background: none;
}
.breadcrumb-item + .breadcrumb-item:before {
   content: ">";
}
.nav-tabs .nav-link{
	position: relative;
	color: #999;
}


.tab-container > .nav-tabs .nav-link.active:after{
	background: #009c47;
    bottom: -4px;
    content: "";
    height: 3px;
    left: 20%;
    position: absolute;
    right: 20%;
}

.tab-container > .tab-content{
	border: 1px solid #ddd;
	border-top:none; 
}

.nav-link i{
	margin-top: -5px;
	display: none;
}
.nav-link.active i{
	display: block;
}



.form-wrapper{
	width: 450px;
}

.change-img {
    background: #fff;
    border-radius: 5px;
    bottom: 14px;
    padding: 0 8px;
    position: absolute;
    right: 27px;
    display: none;
}
.img-wrap:hover .change-img{
  display: block;
}
.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 18px;
  margin: 0;
}

.switch input {display:none;}

.slider-toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-toggle:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-toggle {
  background-color: #009C47;
}

input:focus + .slider-toggle {
  box-shadow: 0 0 1px #009C47;
}

input:checked + .slider-toggle:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded slider-toggles */
.slider-toggle.round {
  border-radius: 34px;
}

.slider-toggle.round:before {
  border-radius: 50%;
}

.img-wrap{
  width: 140px;
  height: 140px;
  overflow: hidden;
}
.img-wrap img{
  min-width: 100%;
  min-height: 100%;
}

.list-table tr td:first-child{
  width: 10px;
  text-align: center;
}


.action-btn{
  color: #8A909C;
  font-size: 20px;
}
.action-btn:hover{
  color: #009C47;
}

.side-menu {
    background: #F2F2F2;
    box-shadow:0 0 6px rgba(0, 0, 0, 0.21);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 110px;
    width: 250px;
    z-index: 1;
    overflow-x: auto; 
}

.side-menu .side-menu-list li a.active,
.side-menu .side-menu-list li a.active:hover
 {
    background:#009C47;
    color: #fff;
}
.side-menu .side-menu-list li a:hover
{
  background: rgba(35, 35, 64, 0.08);

}
.side-menu .side-menu-list li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    color: #333;
    display: block;
    padding: 10px 10px 10px 20px;
}

.side-menu .side-menu-list li a i.zmdi {
    background: #fff;
    border: 1px solid #58627c;
    border-radius: 50%;
    color: #58627c;
    font-size: 17px;
    height: 30px;
    line-height: 1.6;
    margin-right: 10px;
    text-align: center;
    width: 30px;
}

.page-content {
    
    margin: 0 0 0px 250px;
     /* min-height: 50vh; */ 
    padding: 20px;
    position: relative;
    
}

.app-page footer{
  padding-left: 250px;
}

ul.dropdown-menu {
/* min-width: 200px; */
padding: 0;
overflow: hidden;
}
ul.dropdown-menu > li > a {
    color: #333;
    display:block;
    font-size: 14px;
    padding: 8px 18px;
}

ul.dropdown-menu > li > a:hover {
background: #E2E2E4;
}

ul.list-circle{
list-style:circle;
}
ul.list-circle li{
margin-bottom: 5px;
}

.logo-space{
	margin-left: 110px;
}
