<div class="mb-auto">
  <div class="header fixed-top">
    <app-header></app-header>
    <div class="status-bar py-2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-6 ">
          <div class="logo-space"> <h5 class="mb-0 mt-1">Client List</h5>   </div>
        </div>

          <div class="col-md-6 col-sm-6 text-right">
           <a (click)="addClient()" class="btn btn-outline-secondary mr-2">NEW CLIENT</a>
        </div>


        </div>
      </div>
    </div>
  </div>
   
<div class="page-container mb-auto pb-2">
<div class="container">

<div class="text-center">
<i class="zmdi zmdi-accounts-outline" style="font-size: 180px; opacity: 0.08;"></i>
  <p class="f-20">There is no clients added in your account.</p>

  <a (click)="addClient()" class="btn btn-secondary dash-border mt-3 btn-lg f-16">Add New Client</a>
</div>


</div>





</div>
</div>
   
