<div class="modal-header">
	<div class="modal-title text-center w-100">
		<h4 class="m-0">Vehicle Loan Payment Calculator </h4>
		<p class="f-14 m-0">Thursday, November 30, 2017</p>
		<p class="f-12 text-muted px-3">This calculator will quickly help you to determine the monthly payment of an vehicle loan.</p>
	</div>
	<button type="button" class="close" aria-label="Close" (click)="dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body py-4 px-5">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="">Client Name (optional)</label> 
				<input class="form-control" type="text" [(ngModel)]="loanModal.cName" name="cName">
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="form-group">
				<label for="">Total Purchase Price (before tax)</label>
				<input class="form-control" type="text" [(ngModel)]="loanModal.purchasePrice" name="purchasePrice">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<label for="">Rebates and Cash Down</label>
				<div class="d-flex">
					<input class="form-control w-50" type="text" [(ngModel)]="loanModal.cashDown" name="cashDown">

					<mat-slider style="margin-top: 0.5em;" [max]="50" [min]="10" [step]="5" (ngModelChange)="onChangeSlider($event)" 
					 [thumb-label]=true [(ngModel)]="loanModal.drpCashDown">
					</mat-slider>%
				</div>
				<!-- <nouislider [min]="10" [max]="50" [step]="5" [(ngModel)]="loanModal.drpCashDown" [tooltips]="true" style="margin-top: 4em;"
					(ngModelChange)="onChangeSlider($event)" ></nouislider>% -->

			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="">Trade Allowance</label>
				<input class="form-control" type="text" [(ngModel)]="loanModal.tradeAllowance" name="tradeAllowance">
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="">Sales Tax Rate</label>
				<input class="form-control" type="text" [(ngModel)]="loanModal.salesTaxRate" name="salesTaxRate">
			</div>
		</div>

		<div class="col-md-4">
			<div class="form-group">
				<label for="">Interest Rate</label>
				<input class="form-control" type="text" [(ngModel)]="loanModal.intRate" name="intRate">
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="">Term in Months</label>

				<mat-slider style="margin-top: 0.5em;" [max]="100" [min]="1" [step]="5" (ngModelChange)="termChanger($event)" 
				 [thumb-label]=true [(ngModel)]="loanModal.noOfInstl">
				</mat-slider>%
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label for="">First Payment</label>
				<select class="form-control custom-select" name="monName" [(ngModel)]="loanModal.monName" #monName="ngModel">
					<option *ngFor="let type of monthsArray" [ngValue]="type.id" [selected]="type.id=== loanModal.monName">
						{{type.name}}</option>
				</select>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label for="">Year</label>
				<input class="form-control" type="text" name="years" [(ngModel)]="loanModal.years" #years="ngModel">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<label for="">Total Sales Tax </label>
				<input class="form-control" type="text" name="totSalesTax" [(ngModel)]="loanModal.totSalesTax" #totSalesTax="ngModel">
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="">Total Balance Financed </label>
				<input class="form-control" type="text" name="totBalanceFinanced" [(ngModel)]="loanModal.totBalanceFinanced" #totBalanceFinanced="ngModel">
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="">Monthly Payment</label>
				<input class="form-control" type="text" name="monthlyPayment" [(ngModel)]="loanModal.monthlyPayment" #monthlyPayment="ngModel">
			</div>
		</div>

	</div>

</div>
<div class="modal-footer justify-content-center">
	<button class="btn btn-secondary btn-sm px-4 py-2" (click)="Calculate()"> Calculate</button>
	<div class="row">
			<div class="form-group">
				<label for="" style="margin-bottom:0">Current Balance as of {{loanModal?.currentDate}}</label>
				<input class="form-control" type="text" name="totBalanceFinanced" [(ngModel)]="loanModal.totBalanceFinanced" readonly>
			</div>
		</div>
</div>
<!-- <div class="text-center ">
	<p class="link cursor-p f-16 text-success" (click)="fullWidthModal(amortization_schedule)" (click)="d('Cross click')">View Amortization Schedule</p>
</div> -->

<div class="m-4 f-12 text-muted">
	<p>The above results are based on standard fixed-rate automobile loans only (also known as installment loans). The figures
		calculated do not include any closing costs, taxes and/or insurance premiums which may be built into an automobile loan.
		In this calculation, the original amount of the loan is paid off over the life of the loan, in other words, the principal
		is amortized and under a fixed-rate installment loan and the monthly payment will not change over the life of the loan
		unless additional amounts are added for the acceleration of principal. Results are rounded and should not be considered
		an official payment schedule.</p>
</div>