<div class="login-wrap card p-4 m-auto">
  <div class="text-center">
    <a routerLink="">
      <img src="assets/img/money-edge-logo.png" width="125" alt="">
    </a>
  </div>
  <h4 class="text-center font-weight-bold my-4">Reset Password</h4>
  <div *ngIf="showErr" class="text-center">
    {{showMsg}}
  </div>
  <form *ngIf="!showErr" #resetPwdForm="ngForm" (ngSubmit)="resetPwdForm.form.valid&&resetPwd()" novalidate>
 
    <div class="form-group">

      <input type="password" class="form-control m-wrap" placeholder="Password" name="password"
      [(ngModel)]="confirmPwdModel.password" required validateEqual="confirmPassword" #password="ngModel" reverse="true">

       <small [hidden]="password.valid || (password.pristine && !resetPwdForm.submitted)"  class="error_message">
           Password is required
       </small>
       <small [hidden]="!this.errored_msg">
         {{errored_msg}}
       </small>

 </div>
 <div class="form-group">
   <input type="password" class="form-control m-wrap" placeholder="Confirm Password"  name="confirmPassword"
   [(ngModel)]="confirmPwdModel.confirmPassword" required validateEqual="password" #confirmPassword="ngModel">

    <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !resetPwdForm.submitted)"  class="error_message">
       Password mismatch
   </small>
   
 </div>


    <div class="form-group mb-1">
 
      <button type="submit" class="btn w-100 btn-primary2 py-2">Reset Password</button>

    </div>


  </form>



</div>

