<div class="modal-header">
  <div class="modal-title text-center w-100">
    <h4 class="m-0">Credit Card Minimum Payment Calculator </h4>
    <p class="f-14 m-0">Thursday, November 30, 2017</p>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body py-4 px-5">
  <p>This calculator will show you the huge amount of time and interest you will save if you start making fixed payments (level payments) on your credit card each month rather than just paying the minimum payment on your bill each month. Of course, this assumes no new charges will be added to your card (which the credit card issuer is not counting on you doing). </p>

<div class="row">
<div class="col-md-6">
  <table>
    <tr>
      <td class="p-2">Client Name</td>
      <td class="p-2">:</td>
    </tr>
    <tr>
      <td class="p-2">Interest Rate</td>
      <td class="p-2">: 18.00%</td>
    </tr>
    <tr>
      <td class="p-2 font-weight-bold">Min. % Payment Amount</td>
      <td class="p-2">: 2.00% of unpaid balance </td>
    </tr>
    <tr>
      <td class="p-2 font-weight-bold">Min. Dollar Payment Amount</td>
      <td class="p-2">: $15.00 per month</td>
    </tr>
    <tr>
      <td class="p-2">First Payment</td>
      <td class="p-2">: Dec, 2017</td>
    </tr>
    <tr>
      <td class="p-2">Current Balance as on Dec, 2017 : $10,000.00</td>
      <td class="p-2"> </td>
    </tr>
  </table>
</div>
<div class="col-md-6">
  <p class="f-16">Pre-Payment Options - </p>
  <div class="row">
    <div class="col-md-6"><label  class="mt-1"><input type="checkbox"  class="mr-2">One Time Pre-Payment</label> </div>
    <div class="col-md-6  d-flex">
      <input type="text" class="form-control w-50" value="$0.00">
      <button class="btn btn-dark ml-2">Go</button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6"><label class="mt-1"><input type="checkbox"  class="mr-2">All Payments</label> </div>
    <div class="col-md-6 d-flex">
      <input type="text" class="form-control w-50" value="$0.00">
      <button class="btn btn-dark ml-2">Go</button>
    </div>
  </div>
</div>
</div>
<div class="row my-3">
<div class="col-md-6">
  <div class="">
    <p class="f-16"> Minimum Payment Only - </p>
    <label><input type="radio" class="mr-2">higher of 2.00% of unpaid balance or $15.00 per month</label>
  </div>
</div>
<div class="col-md-6">
  <div class="">
    <p class="f-16"> Fixed Payment based on initial minimum payment </p>
    <label><input type="radio" class="mr-2">Keep payment level at current card minimum of $200.00</label>
  </div>
</div>
</div>



<div class="text-center">
<a href="" class="btn btn-success">View Monthly Chart</a>
</div>
<hr>
<h4 class="text-center my-4">
Amortization Payment Summary
</h4>
<hr>

<div class="row">
<div class="col"># of Payments : 610</div>
<div class="col">Payoff Date : Sep,2068 </div>
<div class="col">Total Payments : $38,396.66 </div>
<div class="col">Total Additional : $0.00 </div>
<div class="col">Total Interest : $28,396.66 </div>
</div>
<hr>
<div class="row my-2">
<div class="col">Starting Balance : $10,000.00  </div>
<div class="col text-right">Initial Principal & Interest Payment : $200.00 (per month)  </div>
</div>

<table class="table table-hover">
<thead>
  <tr>
    <td>Year</td>
    <td>Period</td>
    <td>Total Principal</td>
    <td>Total Interest </td>
    <td>Total Payment</td>
    <td>Pre-Payment</td>
    <td>Balance</td>
  </tr>
</thead>
<tbody>
  <tr>
    <td>1. </td>
    <td>Dec - Dec, 2017 </td>
    <td>$50.00 </td>
    <td>$50.00 </td>
    <td>$50.00 </td>
    <td>$50.00 </td>
    <td>$50.00 </td>			
  </tr>
  <tr>
    <td>1. </td>
    <td>Dec - Dec, 2017 </td>
    <td>$50.00 </td>
    <td>$50.00 </td>
    <td>$50.00 </td>
    <td>$50.00 </td>
    <td>$50.00 </td>			
  </tr>
  <tr>
    <td>1. </td>
    <td>Dec - Dec, 2017 </td>
    <td>$50.00 </td>
    <td>$50.00 </td>
    <td>$50.00 </td>
    <td>$50.00 </td>
    <td>$50.00 </td>			
  </tr>
  <tr>
    <td>1. </td>
    <td>Dec - Dec, 2017 </td>
    <td>$50.00 </td>
    <td>$50.00 </td>
    <td>$50.00 </td>
    <td>$50.00 </td>
    <td>$50.00 </td>			
  </tr>
  <tr>
    <td>1. </td>
    <td>Dec - Dec, 2017 </td>
    <td>$50.00 </td>
    <td>$50.00 </td>
    <td>$50.00 </td>
    <td>$50.00 </td>
    <td>$50.00 </td>			
  </tr>
  <tr>
    <td>1. </td>
    <td>Dec - Dec, 2017 </td>
    <td>$50.00 </td>
    <td>$50.00 </td>
    <td>$50.00 </td>
    <td>$50.00 </td>
    <td>$50.00 </td>			
  </tr>

</tbody>
</table>

<hr>
<p class="text-muted">The minimum monthly payment on credit card debt is calculated as a percentage of your current balance, or a fixed dollar amount, whichever is higher. However, if you just pay the minimum each month, because the next payment is based on the unpaid balance, the next payment drops as your balance is paid. However, you will end up paying for a long time due to the effect of compounding. This calculator is used to show how long it will take to pay off your debt, and how much interest you will pay over the life of your debt if you only make minimum monthly payments. The higher the interest rate the greater the effect and the longer you stay in debt.</p>
<p class="text-muted">
The assumptions in this calculator are as follows: all revolving debts are calculated using one cycle billing and payments are determined each month based on the percent of the average daily unpaid balance method and minimum dollar amounts inputted into the calculator by the user. No consideration for annual fees, late charges, over the limit charges, cash advance charges, or any of a number of other exorbitant charges accessed by the credit card companies are taken into account. The actual payoff criteria may differ somewhat for each debt as each revolving charge account has too many variables and differences to possibly consider in a program. It is also assumed that no additional charges are added, and you maintain the stated monthly payment until the card is completely paid off. Anything you attempt to do toward any creditor must be in accord with that specific creditor’s terms of agreement.
</p>		 
</div>