<div class="menu-bar py-3">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8 col-md-8 ">
				<a class="main-logo">
					<img src="assets/img/money-edge-logo.png" width="100" alt="">
				</a>
				<div class="logo-space">
					<ul class="main-menu font-weight-bold">
						<li>
							<a routerLink="/home">Home</a>
						</li>
						<li>
							<a routerLink="/client-list">Clients</a>
						</li>
						<li>
							<a routerLink="/advisor-list">Advisors</a>
						</li>
						<li>
							<a routerLink="/calculator">Calculators</a>
						</li>
						<li>
							<a routerLink="/billing">Billing</a>
						</li>
						<li>
							<a routerLink="/support">Support</a>
						</li>
						<li>
							<a routerLink="/">FAQ</a>
						</li>
						<li>
							<a routerLink="/">Financial Facts</a>
							<li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 text-right" *ngIf="!this.storeService.getObject('hide_login')">
				<ul class="main-menu font-weight-bold f-18">
					<li>
						<a>
							<i class="zmdi zmdi-search" title="Search"></i>
						</a>
					</li>
					<!-- <li class="active">
						<a href="">
							<i class="zmdi zmdi-pin-help"></i>
						</a>
					</li> -->
					<li>
						<a>
							<i class="zmdi zmdi-notifications" title="Notifications"></i>
						</a>
					</li>
					<li  *ngIf="this.storeService.getObject('Role')=='Advisor'">
						<a href="javascript:;" (click)="advisorsettings()">
							<i class="zmdi zmdi-settings" title="Adviosr Settings"></i>
						</a>
						</li>
						<!-- <a *ngIf="this.storeService.getObject('Role')=='Client'" (click)="clientsettings()">
							<i class="zmdi zmdi-settings" title="Client Settings"></i>
						</a> -->
						<li  *ngIf="admin" >
						<a href="javascript:;" (click)="adminsettings()">
							<i class="zmdi zmdi-settings" title="Admin Settings"></i>
						</a>
					</li>


					<li ngbDropdown placement="bottom-right" class="d-inline-block">
						<a class="cursor-p" id="dropdownBasic1" ngbDropdownToggle>
							<i class="zmdi zmdi-account"></i>
						</a>
						<ul ngbDropdownMenu aria-labelledby="dropdownBasic1">
							<li>
								<a (click)="logOut()" class="dropdown-item">Logout</a>
							</li>
							<li>
								<a (click)="changePassword()" class="dropdown-item">Change password</a>
							</li>
						</ul>
					</li>

				</ul>
			</div>
		</div>
	</div>
</div>