<div class="page-content">
  <div class="row">
    <div class="col-md-12">
      <h5>Debt</h5>
      <p>Lorem ipsum dolor sit amet, consectetur Nesciunt sint sit facilis ducimus, illum quis ex quae voluptatem nam asperiores
        sunt ut amet modi, totam sequi cupiditate mollitia! Quam, nulla. Lorem ipsum dolor sit amet, consectetur Nesciunt
        sint sit facilis ducimus, illum quis ex quae voluptatem nam asperiores </p>

      <!-- ##################   -->




      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel id="ngb-panel-0">
          <ng-template ngbPanelTitle>
            <div class=" d-flex justify-content-between align-items-center ">
              <ng-template #popContent>
                <p class="f-12">
                  Mortgage loans would include any debts tied to real estate, also known as real property, that is, property that is stationary,
                  or fixed in location. This would include:
                </p>
                <ul class="f-12" style="list-style-type: square;padding-left:30px;">
                  <li>
                    First mortgages on your primary residence</li>
                  <li>
                    Second mortgages</li>
                  <li>
                    Home Equity Loans</li>
                  <li>
                    Home Improvement Loans</li>
                  <li>
                    Mortgage Loans on Vacation Homes</li>
                  <li>
                    Mortgage Loans on Rental Property</li>
                  <li>
                    Loans on undeveloped land or lots</li>
                </ul>
                <p class="f-12">
                  In some instances you would also include loans on commercial property. The interest on most mortgage loans is tax deductible
                  if the client has enough interest deductions to itemize. A tax professional should be consulted for any
                  specific circumstance.</p>
                <p class="f-12">
                  <b style="color:red;">IMPORTANT NOTE:</b> The system <u>does not allow for interest only, adjustable or minimum payment mortgage
                  loans at this time.</u> If you try to enter parameters not acceptable by the system you will get an error message
                  and will not be able to continue until acceptable terms are entered.</p>
                <p class="f-12">
                  Please take a moment and click on the link to the far right labeled
                  <b style="color:blue;">“Information on Mortgages”</b> for a much more thorough explanation of different types of mortgages available
                  today.
                </p>
              </ng-template>
              <span class="font-weight-bold text-dark">Mortgage

                <i class="zmdi zmdi-info text-success ml-2" placement="right" triggers="mouseenter:mouseleave" [ngbPopover]="popContent"
                  container="body"></i>
              </span>
              <span>
                <i class="zmdi zmdi-caret-down f-26 text-dark"></i>
              </span>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <ol class="repeating_loop p-0">
              <form #mortageDetailForm="ngForm" (ngSubmit)="saveWholeMortageDebt()">
                <div class="">
                  <div class="table-wrapper">
                    <table class="table">
                      <tr>
                        <td class="text-muted">Mortage company
                          <ng-template #popContent>
                            <p class="f-12">
                              The current mortgage company is listed here (many loans have been sold in the secondary market so the current mortgage company
                              may be different than the original). Short, descriptive entries are the best, i.e., Countrywide
                              – First mortgage, Chase Mortgage – Second Mortgage, Bank of America – rental home. If the entry
                              is long, it may scroll to a second line upon printing.
                            </p>
                          </ng-template>
                          <i class="zmdi zmdi-info text-success ml-2" triggers="mouseenter:mouseleave" [ngbPopover]="popContent" container="body"></i>
                          <!-- <i class="zmdi zmdi-info text-success ml-2"></i> -->
                        </td>
                        <td class="text-muted interest_rate">Primary Residence
                          <i class="zmdi zmdi-info text-success ml-2"></i>
                        </td>
                        <td class="text-muted">Type</td>
                        <td class="text-muted">($)Balance
                          <i class="zmdi zmdi-info text-success ml-2"></i>
                        </td>
                        <td class="text-muted date_box">Balance as of </td>
                        <td class="text-muted interest_rate">(%)Interest Rate
                          <i class="zmdi zmdi-info text-success ml-2"></i>
                        </td>
                        <td class="text-muted">($)Principal and Interest Payment</td>
                        <td class="text-muted">($)Extra Payment </td>
                        <td class="text-muted">($)Total Payment
                          <i class="zmdi zmdi-info text-success ml-2"></i>
                        </td>
                        <td class="text-muted interest_rate">Include on Debt Output </td>
                        <td></td>
                      </tr>
                      <tr *ngFor="let mortage of mortageModel;let i=index;" class="font-weight-bold">
                        <td>
                          <input type="text" class="form-control" [(ngModel)]="mortage.creditor" name="creditor-{{i}}">

                        </td>
                        <td>
                          <input type="checkbox" class="mt-2" [(ngModel)]="mortage.isPrimaryResidence" name="isPrimaryResidence-{{i}}" [checked]="mortage.isPrimaryResidence"
                            (ngModelChange)="mortage.isPrimaryResidence = $event ? 1 : 0">
                        </td>
                        <td>

                          <select class="form-control custom-select f-14" (change)="changeMortageDLL($event.target.value, i)">
                            <option *ngFor="let workout of mortageDDL" [value]="workout.VALUE" [selected]="workout.VALUE===mortage.debtTypeID">
                              {{workout.TEXT}}
                            </option>
                          </select>

                        </td>
                        <td>
                          <input type="text" class="form-control rounded-0" [restrictNumeric] [(ngModel)]="mortage.amount" [ngModelOptions]="{standalone:true}"
                            name="amount-{{i}}" required>
                        </td>
                        <td>
                          <!-- <input matInput [matDatepicker]="picker3" [max]="maxDate" 
                            placeholder="mm/dd/yyyy" [(ngModel)]="mortage.Balanceasof" name="Balanceasof-{{i}}"
                            [value]="mortage.Balanceasof" class="form-control">
                          <mat-datepicker-toggle [for]="picker3"></mat-datepicker-toggle>
                          <mat-datepicker #picker3 startView="year" [startAt]="startDate"></mat-datepicker> -->
                          <ng-datepicker [(ngModel)]="mortage.Balanceasof" name="Balanceasof-{{i}}" [options]="options"
                           ></ng-datepicker>
                        </td>
                        <td>
                          <input type="text" class="form-control rounded-0" [restrictNumeric] [(ngModel)]="mortage.rate" name="rate-{{i}}" required>
                        </td>
                        <td>
                          <input type="text" class="form-control rounded-0" [restrictNumeric] [(ngModel)]="mortage.minPay" name="minPay-{{i}}" required
                            (change)="onChangeMortageMinPay(i)">
                        </td>
                        <td>
                          <input type="text" class="form-control rounded-0" [(ngModel)]="mortage.extraPay" name="extraPay-{{i}}" (change)="onChangeMortageExtraPay(i)">
                        </td>
                        <td>
                          <input type="text" class="form-control rounded-0" [restrictNumeric] [(ngModel)]="mortage.actualPay" name="actualPay-{{i}}"
                            required readonly>
                        </td>
                        <td>
                          <input type="checkbox" class="mt-2" [(ngModel)]="mortage.inclElmPlan" name="inclElmPlan-{{i}}" [checked]="mortage.inclElmPlan"
                            (ngModelChange)="mortage.inclElmPlan = $event ? 1 : 0">
                        </td>
                        <td class="text-center" width="20">
                          <a *ngIf="mortage.isActive != 'false'" class="btn btn-danger btn-sm text-white" (click)="removeMortageRow(i)">
                            <i class="zmdi zmdi-delete"></i>
                          </a>
                          <a *ngIf="mortage.isActive == 'false'" class="btn btn-success btn-sm text-white" (click)="addDeletedMortageRow(i)">
                            <i class="zmdi zmdi-add">Undo</i>
                          </a>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="row mt-2">
                    <div class="col-md-6 mt-2">
                      <p class="text-success mb-1">Mortgage Missing Value Calculator</p>
                      <p class="text-success m-0">Information on Mortgage</p>
                    </div>
                    <div class="col-md-6 text-right">
                      <a (click)="addMortage()" class="btn btn-secondary dash-border" data-toggle="modal" data-target="#myModal" data-keyboard="false"
                        data-backdrop="static">
                        <i class="zmdi zmdi-plus-circle-o mr-2"></i> Add Another Mortgage Debt</a>
                      <button class="btn btn-dark px-5 btn-submit" type="submit">Save</button>
                    </div>
                  </div>
                </div>
              </form>
            </ol>
          </ng-template>
        </ngb-panel>


        <ngb-panel>
          <ng-template ngbPanelTitle>
            <div class=" d-flex justify-content-between align-items-center ">
              <span class="font-weight-bold text-dark">Fixed</span>
              <span>
                <i class="zmdi zmdi-caret-down f-26 text-dark"></i>
              </span>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>

            <form #fixedDetailForm="ngForm" (ngSubmit)="saveWholeFixedDebt()">
              <div class="table-wrapper">
                <table class="table">
                  <tr>
                    <td class="text-muted">Creditor
                      <i class="zmdi zmdi-info text-success ml-2"></i>
                    </td>
                    <td class="text-muted">Type</td>
                    <td class="text-muted">($)Balance
                      <i class="zmdi zmdi-info text-success ml-2"></i>
                    </td>
                    <td class="text-muted date_box">Balance as of </td>
                    <td class="text-muted interest_rate">(%)Interest Rate
                      <i class="zmdi zmdi-info text-success ml-2"></i>
                    </td>
                    <td class="text-muted">($)Principal and Interest Payment</td>
                    <td class="text-muted">($)Extra Payment</td>
                    <td class="text-muted">($)Total Payment</td>
                    <td class="text-muted interest_rate">(%)Intro Rate</td>
                    <td class="text-muted date_box">End of Intro</td>
                    <td class="text-muted interest_rate">Include on Debt Output </td>
                    <td></td>
                  </tr>
                  <tr *ngFor="let fixed of fixedModel;let i=index;" class="font-weight-bold">
                    <td>
                      <input class="form-control" type="text" [(ngModel)]="fixed.creditor" name="creditorF{{i}}">
                    </td>
                    <td>
                      <select class="form-control custom-select f-14" (change)="changeFixedDLL($event.target.value, i)">
                        <option *ngFor="let workout of fixedDDL" [value]="workout.VALUE" [selected]="workout.VALUE===fixed.debtTypeID">
                          {{workout.TEXT}}
                        </option>
                      </select>
                    </td>
                    <td>
                      <input class="form-control" type="text" [(ngModel)]="fixed.amount" name="amountF{{i}}"> </td>
                    <td>
                      <!-- <input matInput [matDatepicker]="picker4" [max]="maxDate" placeholder="mm/dd/yyyy"
                         [(ngModel)]="fixed.Balanceasof" [value]="fixed.Balanceasof"
                        name="BalanceasofF{{i}}" class="form-control">
                      <mat-datepicker-toggle [for]="picker4"></mat-datepicker-toggle>
                      <mat-datepicker #picker4 startView="year" [startAt]="startDate"></mat-datepicker> -->
                      <ng-datepicker [(ngModel)]="fixed.Balanceasof" name="BalanceasofF{{i}}" [options]="options"
                      ></ng-datepicker>
                    </td>
                    <td>
                      <input class="form-control rounded-0" type="text" [(ngModel)]="fixed.rate" name="rateF{{i}}">
                    </td>
                    <td>
                      <input class="form-control rounded-0" type="text" [(ngModel)]="fixed.minPay" name="minPayF{{i}}" (change)="onChangeFixedMinPay(i)">
                    </td>
                    <td>
                      <input class="form-control rounded-0" type="text" [(ngModel)]="fixed.extraPay" name="extraPayF{{i}}" (change)="onChangeFixedExtraPay(i)">
                    </td>
                    <td>
                      <input class="form-control rounded-0" type="text" [(ngModel)]="fixed.actualPay" name="actualPayF{{i}}" readonly>
                    </td>
                    <td>
                      <input class="form-control rounded-0" type="text" [(ngModel)]="fixed.introRate" name="introRateF{{i}}">
                    </td>
                    <td>
                      <!-- <input matInput [matDatepicker]="picker5" [max]="maxDate" placeholder="mm/dd/yyyy"
                         [(ngModel)]="fixed.introDate" [value]="fixed.introDate"
                        name="introDateF{{i}}" class="form-control">
                      <mat-datepicker-toggle [for]="picker5"></mat-datepicker-toggle>
                      <mat-datepicker #picker5 startView="year" [startAt]="startDate"></mat-datepicker> -->
                      <ng-datepicker [(ngModel)]="fixed.introDate" name="introDateF{{i}}" [options]="options"
                      ></ng-datepicker>
                    </td>
                    <td>
                      <input type="checkbox" class="mt-2" [(ngModel)]="fixed.inclElmPlan" [checked]="fixed.inclElmPlan" (ngModelChange)="fixed.inclElmPlan = $event ? 1 : 0"
                        name="inclElmPlanF{{i}}">
                    </td>
                    <td class="text-center" width="20">
                      <a *ngIf="fixed.isActive != 'false'" class="btn btn-danger btn-sm text-white" (click)="removeFixedRow(i)">
                        <i class="zmdi zmdi-delete"></i>
                      </a>
                      <a *ngIf="fixed.isActive == 'false'" class="btn btn-success btn-sm text-white" (click)="addDeletedFixedRow(i)">
                        <i class="zmdi zmdi-add">Undo</i>
                      </a>
                    </td>
                  </tr>

                </table>
              </div>


              <div class="row mt-2">
                <div class="col-md-6 mt-2">
                  <p class="text-success mb-1">Vehicle Loan Payment Calculator</p>
                  <p class="text-success m-0">Information on Fixed Debts</p>
                </div>
                <div class="col-md-6 text-right">
                  <a (click)="addFixed()" class="btn btn-secondary dash-border" data-toggle="modal" data-target="#myModal" data-keyboard="false"
                    data-backdrop="static">
                    <i class="zmdi zmdi-plus-circle-o mr-2"></i> Add Another Fixed Debt</a>
                  <button class="btn btn-dark px-5 btn-submit" type="submit">Save</button>
                </div>

              </div>
            </form>


          </ng-template>
        </ngb-panel>


        <ngb-panel>
          <ng-template ngbPanelTitle>
            <div class=" d-flex justify-content-between align-items-center ">
              <span class="font-weight-bold text-dark"> Revolving</span>
              <span>
                <i class="zmdi zmdi-caret-down f-26 text-dark"></i>
              </span>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>

            <form #revolveDetailForm="ngForm" (ngSubmit)="saveWholeRevolveDebt()">
              <div class="table-wrapper">
                <table class="table">
                  <tr>
                    <td class="text-muted">Creditor
                      <i class="zmdi zmdi-info text-success ml-2"></i>
                    </td>
                    <td class="text-muted">Type</td>
                    <td class="text-muted">($)Balance
                      <i class="zmdi zmdi-info text-success ml-2"></i>
                    </td>
                    <td class="text-muted date_box">Balance as of </td>
                    <td class="text-muted interest_rate">(%)Interest Rate
                      <i class="zmdi zmdi-info text-success ml-2"></i>
                    </td>
                    <td class="text-muted interest_rate">% of Unpaid Balance
                      <i class="zmdi zmdi-info text-success ml-2"></i>
                    </td>
                    <td class="text-muted">($)Min Monthly Dollar Payment
                      <i class="zmdi zmdi-info text-success ml-2"></i>
                    </td>
                    <td class="text-muted">($)Current Min Monthly Payment
                      <i class="zmdi zmdi-info text-success ml-2"></i>
                    </td>
                    <td class="text-muted">($)Current Actual monthly Payment
                      <i class="zmdi zmdi-info text-success ml-2"></i>
                    </td>
                    <td class="text-muted interest_rate">(%)Intro Rate
                      <i class="zmdi zmdi-info text-success ml-2"></i>
                    </td>
                    <td class="text-muted date_box">End of Intro
                      <i class="zmdi zmdi-info text-success ml-2"></i>
                    </td>
                    <td class="text-muted interest_rate">Include on Debt Output </td>
                    <td></td>
                  </tr>
                  <tr *ngFor="let revolve of revolveModel;let i=index;" class="font-weight-bold">
                    <td>
                      <input class="form-control" type="text" [(ngModel)]="revolve.creditor" name="creditorR{{i}}">
                    </td>
                    <td>
                      <select class="form-control custom-select f-14" (change)="changeRevolveDLL($event.target.value, i)">
                        <option *ngFor="let workout of revolveDDL" [value]="workout.VALUE" [selected]="workout.VALUE===revolve.debtTypeID">
                          {{workout.TEXT}}
                        </option>
                      </select>
                    </td>
                    <td>
                      <input class="form-control" type="text" [(ngModel)]="revolve.amount" name="amountR{{i}}" (change)="onChangeRevolveAmount(i)">
                    </td>
                    <td>
                      <!-- <input matInput [matDatepicker]="picker6" [max]="maxDate" placeholder="mm/dd/yyyy" [(ngModel)]="revolve.Balanceasof" [value]="revolve.Balanceasof"
                        name="BalanceasofR{{i}}" class="form-control">
                      <mat-datepicker-toggle [for]="picker6"></mat-datepicker-toggle>
                      <mat-datepicker #picker6 startView="year" [startAt]="startDate"></mat-datepicker> -->
                      <ng-datepicker [(ngModel)]="revolve.Balanceasof" name="BalanceasofR{{i}}" [options]="options"
                      ></ng-datepicker>
                    </td>
                    <td>
                      <input class="form-control rounded-0" type="text" [(ngModel)]="revolve.rate" name="rateR{{i}}">
                    </td>
                    <td>
                      <input class="form-control rounded-0" type="text" [(ngModel)]="revolve.unPaidBalance" name="unPaidBalanceR{{i}}" (change)="onChangeRevolveUnpaidBalance(i)">
                    </td>
                    <td>
                      <input class="form-control rounded-0" type="text" [(ngModel)]="revolve.cardMinPay" name="cardMinPayR{{i}}" (change)="onChangeRevolveCardPay(i)">
                    </td>
                    <td>
                      <input class="form-control rounded-0" type="text" [(ngModel)]="revolve.minPay" name="minPayR{{i}}" readonly>
                    </td>
                    <td>
                      <input class="form-control rounded-0" type="text" [(ngModel)]="revolve.actualPay" name="actualPayR{{i}}">
                    </td>
                    <td>
                      <input class="form-control rounded-0" type="text" [(ngModel)]="revolve.introRate" name="introRateR{{i}}">
                    </td>
                    <td class>
                      <!-- <input matInput [matDatepicker]="picker7" [max]="maxDate" placeholder="mm/dd/yyyy" [(ngModel)]="revolve.introDate"
                         [value]="revolve.introDate"
                        name="introDateR{{i}}" class="form-control">
                      <mat-datepicker-toggle [for]="picker7"></mat-datepicker-toggle>
                      <mat-datepicker #picker7 startView="year" [startAt]="startDate"></mat-datepicker> -->
                      <ng-datepicker [(ngModel)]="revolve.introDate" name="introDateR{{i}}" [options]="options"
                      ></ng-datepicker>
                    </td>
                    <td>
                      <input type="checkbox" class="mt-2" [(ngModel)]="revolve.inclElmPlan" [checked]="revolve.inclElmPlan" (ngModelChange)="revolve.inclElmPlan = $event ? 1 : 0"
                        name="inclElmPlanR{{i}}">
                    </td>
                    <td class="text-center" width="20">
                      <a *ngIf="revolve.isActive != 'false'" class="btn btn-danger btn-sm text-white" (click)="removeRevolveRow(i)">
                        <i class="zmdi zmdi-delete"></i>
                      </a>
                      <a *ngIf="revolve.isActive == 'false'" class="btn btn-success btn-sm text-white" (click)="addDeletedRevolveRow(i)">
                        <i class="zmdi zmdi-add">Undo</i>
                      </a>
                    </td>
                  </tr>
                </table>
              </div>


              <div class="row mt-2">
                <div class="col-md-6 mt-3">
                  <p class="text-success mb-1">How Revolving Debt Works</p>
                </div>
                <div class="col-md-6 text-right">
                  <a (click)="addRevolve()" class="btn btn-secondary dash-border" data-toggle="modal" data-target="#myModal" data-keyboard="false"
                    data-backdrop="static">
                    <i class="zmdi zmdi-plus-circle-o mr-2"></i> Add Another Revolving Debt</a>
                  <button class="btn btn-dark px-5 btn-submit" type="submit">Save</button>
                </div>

              </div>
            </form>


          </ng-template>
        </ngb-panel>

        <ngb-panel>
          <ng-template ngbPanelTitle>
            <div class=" d-flex justify-content-between align-items-center ">
              <span class="font-weight-bold text-dark">Your Disappearing </span>
              <span>
                <i class="zmdi zmdi-caret-down f-26 text-dark"></i>
              </span>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>


            <div class="d-flex justify-content-center my-3">
              <div class="border p-3 f-16 mb-4">
                $
                <input [(ngModel)]="extraPayOutput" [value]="extraPayOutput" class="border border-right-0 border-top-0 border-left-0 fw50 text-center font-weight-bold f-16"
                  type="text"> additional monthly payment
                <a (click)="getDisappearListOutput()" class="text-success ml-3">GO</a>
              </div>
            </div>

            <div class="table-wrapper">
              <table class="table">
                <tr>
                  <td class="text-muted">Creditor </td>
                  <td class="text-muted">Type</td>
                  <td class="text-muted">Date Accelerated </td>
                  <td class="text-muted">Initial Minimum payment </td>
                  <td class="text-muted">Accelerated Payment</td>
                  <td class="text-muted">New Payment</td>
                  <td class="text-muted">Projected Payoff</td>
                  <td class="text-muted">Projected Interest Paid</td>
                </tr>
                <tr *ngFor="let dis of disappearModel" class="font-weight-bold">
                  <td>
                    <label>
                      {{dis.debtCreditor}}
                    </label>
                  </td>
                  <td>{{dis.debtCatName}}</td>
                  <td>{{dis.accelDateString}} </td>
                  <td>$ {{dis.initialMinimumPayment|number:'1.2-2'}}</td>
                  <td>$ {{dis.accelPayment|number:'1.2-2'}} </td>
                  <td>$ {{dis.newPayment|number:'1.2-2'}} </td>
                  <td>{{dis.projPayOffString}} </td>
                  <td>$ {{dis.projInterestPaid|number:'1.2-2'}} </td>
                </tr>
              </table>
            </div>
            <div class="row mt-5">
              <div class="col-md-6 ">
                <div class="border p-3 f-16 d-inline-block">
                  Total Interest Paid
                  <span class="font-weight-bold ml-3">$ {{totalInterestPaid|number:'1.2-2'}}</span>
                </div>
              </div>
              <div class="col-md-6">
                <p>If you do not add any additional debt, Your debt free date would be
                  <span class="font-weight-bold ">{{debtFreeDateString}}</span>
                </p>
              </div>
            </div>
            <div class="m-3 mt-5">

              <div class="d-flex">

                <i class="zmdi zmdi-brightness-5 mr-2 text-muted mt-1"></i>
                <p>The proposed Disappearing Debt plan is a guide to assist you in the complete elimination of outstanding debit.
                  Assumptions are that consumer debt is frozen, you stack your monthly payment onto the subsequent debt as
                  loans are paid off and you maintain the stated monthly payment until all debt has disappeared.
                </p>
              </div>
              <div class="d-flex">
                <i class="zmdi zmdi-brightness-5 mr-2 text-muted  mt-1"></i>
                <p>Results of the actual program depend solely on your commitment to the proposed accelerated payment schedule.
                  Anything you attempt to do toward any creditor must be in accord with that debts terms of agreement.
                </p>
              </div>

            </div>

          </ng-template>
        </ngb-panel>


      </ngb-accordion>


      <p class="text-muted f-12 text-center">These calculations are based on the information you provided to your advisor and or you inputted into the system. Please
        see the Disclosures on the cover page and the Disclamers page for important notes and assumptions.</p>




    </div>




  </div>
</div>