.pad-top{
    padding-top: 2.8rem;
}
.loader{
    text-align: center;
    img{
        width:100px;
    }
}

input[type="checkbox"]{
    cursor: default;
  }
  input[type="checkbox"]:hover{
    cursor: pointer;
  }
  .example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }
  .custom-file-input{
    width:0;
    display: none;
  }

