<div class="side-menu">
  <ul class="side-menu-list">

    

  <li><a (click)="activatePersonalInfo()" [class.active]="personalCls"><i class="zmdi zmdi-info"></i> <span class="m-content"> Personal Information </span> </a>
  </li>
  <li><a (click)="activateIncome()"  [class.active]="incomeCls"><i class="zmdi zmdi-money-box"></i> <span class="m-content">Income  </span></a>
  </li>
  
  <li><a (click)="activateAsset()"  [class.active]="activateCls"><i class="zmdi zmdi-home"></i> <span class="m-content"> Asset  </span></a>
  </li>
  <li><a (click)="activateEducation()"  [class.active]="educationCls"><i class="zmdi zmdi-graduation-cap"></i> <span class="m-content"> Education  </span></a>
  </li>
  <li><a (click)="activateDebt()"  [class.active]="debtCls"><i class="zmdi zmdi-balance-wallet"></i> <span class="m-content"> Debt  </span></a>
  </li>
  <li><a (click)="activateInsurance()" [class.active]="insuranceCls"><i class="zmdi zmdi-accounts-alt"></i> <span class="m-content"> Insurance  </span></a>
  </li>
  <li><a (click)="activateExpense()"  [class.active]="expenseCls"><i class="zmdi zmdi-shopping-cart"></i> <span class="m-content"> Expenses  </span></a>
  </li>
  <li><a (click)="activateEmergencyFund()" [class.active]="emergencyFund"><i class="zmdi zmdi-money"></i> <span class="m-content"> Emergency Fund  </span></a>
  </li>
  <li><a (click)="activateProtectionFund()"  [class.active]="protectionfundCls"><i class="zmdi zmdi-shield-security"></i> <span class="m-content"> Protection Fund  </span></a>
  </li>
  <li><a (click)="activateRetirement()"  [class.active]="retirementCls"><i class="zmdi zmdi-account"></i> <span class="m-content"> Retirement  </span></a>
  </li>
  </ul>
  </div>