<div class="mb-auto">
	<div class="header fixed-top">
		<app-header></app-header>
		<div class="status-bar py-2">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 col-sm-6 ">
						<div class="logo-space"> <h5 class="mb-0 mt-1">Billing</h5>   </div>
					</div>
					<div class="col-md-6 col-sm-6 text-right">
						<a href="" class="btn btn-outline-secondary mr-2">CANCEL</a>
						<a href="" class="btn btn-dark">SAVE</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="page-container mb-auto py-2">
		<div class="container">
			<h5 class="my-3">Update Billing</h5>
			<div class="row">
				
				<div class="col-md-6">
					
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="">First Name</label>
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="">Last Name</label>
								<input type="text" class="form-control">
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="">Company</label>
						<input type="text" class="form-control">
					</div>
					<div class="form-group">
						<label for="">Billing Address</label>
						<input type="text" class="form-control mb-3" placeholder="Address line 1">
						<input type="text" class="form-control" placeholder="Address line 2">
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="">City</label>
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="">State</label>
								<input type="text" class="form-control">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="">Zip Code</label>
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="">Phone No.</label>
								<input type="text" class="form-control">
							</div>
						</div>
					</div>
					<div class="mx-1">
						<p>Note: Your card will not be charged until your next billing period. Your next billing date is scheduled for 11/15/2019</p>
					</div>
					<div class="card p-5 text-center my-3">
						<div>
							<p class="mb-1">Charges on your  card will appear as:</p>
							<h5>"Innovation" Money Software</h5>
						</div>
					</div>
					
				</div>
				<div class="col-md-6">
					<div class="form-group m-0">
						<label for="">Card Type</label>
						<select name="" id="" class="form-control custom-select">
							<option value="">Master card</option>
							<option value="">Debit card</option>
							<option value="">Credit card</option>
						</select>
						<div class="text-right">
							<a href="" class="text-success "> Restore last Successful Card</a>
						</div>
					</div>
					<div class="form-group">
						<label for="">Card No.</label>
						<input type="text" class="form-control">
					</div>
					
					<div class="row">
						<div class="col-md-6">
							<label for="">Expiration</label>
							<div class="row">
								<div class="col-5">
									<div class="form-group m-0">
										<input type="text" class="form-control">
									</div>
								</div>
								<div class="col-2 text-center d-flex align-items-center">
									<span class=" f-26">/</span>
								</div>
								<div class="col-5">
									<div class="form-group m-0">
										<input type="text" class="form-control">
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group m-0">
								<label for="">Security Code</label>
								<input type="text" class="form-control">
							</div>
							<div class="text-right">
								<a href="" class="text-success"> Find your credit card ID</a>
							</div>
						</div>
					</div>
					<div class="text-muted my-4">
						<p class="mb-1">Your Monthly Fee:  <span class="font-weight-bold text-gray-dark">$52.00</span></p>
						<p class="mb-1">Your Renewal Fee:  <span class="font-weight-bold text-gray-dark">$52.00</span> (effective after the first year). </p>
						<p class="mb-1"><span class="font-weight-bold text-gray-dark">You are currently exempt from billing.</span></p>
					</div>
					<div class="d-flex justify-content-between  mt-5">
						<a href="" class="btn btn-lg btn-outline-secondary mr-2">Cancel My Account</a>
						<a href="" class="btn btn-lg btn-dark">Update Billing Info</a>
					</div>
				</div>
			</div>
			
 

<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" class="w-100">
<ngb-panel>
<ng-template ngbPanelTitle>
<div class="d-flex justify-content-between text-dark">
	<span class="font-weight-bold">Reasons why a credit card is rejected</span>
	<span><i class="zmdi zmdi-caret-down f-26"></i></span>
</div>
</ng-template>
<ng-template ngbPanelContent>
	 
<ul class="list-circle pl-3 w-100" >
	<li>Incorrect billing address - must match exactly, some bank's even reject because of putting Street instead of Road </li>
	<li>Incorrect account number - often will change when they issue a new card </li>
	<li>Incorrect expiration date - always changes upon renewal </li>
	<li>Over the limit of the card </li>
	<li>Past due bill and any new purchases on card are rejected </li>
</ul>
 

</ng-template>
</ngb-panel>
  <ngb-panel>
<ng-template ngbPanelTitle>
<div class="d-flex justify-content-between text-dark">
	<span class="font-weight-bold">Our Policy During Trial Period</span>
	<span><i class="zmdi zmdi-caret-down f-26"></i></span>
</div>
</ng-template>
<ng-template ngbPanelContent>

<p>    Your credit card is not charged until the end of the trial period
	You may hit the "Cancel My Account" button any time during the trial period and your credit card information is totally removed from the system.
If you cancel during the trial period, any data you entered is pulled into our normal purge process after 30 days. </p>
</ng-template>
</ngb-panel> 
 <ngb-panel>
<ng-template ngbPanelTitle>
<div class="d-flex justify-content-between text-dark">
	<span class="font-weight-bold">Our Policy After you License the program</span>
	<span><i class="zmdi zmdi-caret-down f-26"></i></span>
</div>
</ng-template>
<ng-template ngbPanelContent>

<p>
Once the program is licensed and the initial activation fee is paid, and then a person cancels their subscription or their credit card is rejected on their billing date, we allow a 30 day period to use the program. If valid credit card information is not entered within this 30 day period, your account is locked out.</p>

<p>
In order to bring your account up to date it is necessary to verify all your current information with your credit card company and then go into the billing section and re-enter valid credit card information and hit "Accept Charges" and your account will be brought up to an active status.</p>
<p>
We maintain your data for one year to allow you time to re-activate the account. Upon re-activation with a valid credit card, your card will be billed to bring your account up to date for the months owed with the maximum charge being three months of payments owed. </p>

</ng-template>
</ngb-panel>  

</ngb-accordion>

			

 

</div>
</div>
</div>