﻿@model CLayer.IncomeTaxTypeModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>IncomeTaxType</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.tc_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tc_Id)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.taxTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taxTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sortOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sortOrder)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createdDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updatedBy)
        </dd>*@

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", new { typeCatId = Model.tc_Id })
        </div>
    }
</div>
