﻿@model IEnumerable<CLayer.IncomeTaxTypeModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { typeCatId = Model.FirstOrDefault().tc_Id })
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.tc_Id)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.taxTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sortOrder)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.updatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.updatedBy)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.tc_Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.taxTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sortOrder)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.createdDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.updatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.updatedBy)
                </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.taxTypeID }) |
                @Html.ActionLink("Details", "Details", new { id = item.taxTypeID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.taxTypeID })
            </td>
        </tr>
    }

</table>
