<div class="modal-header">
	<div class="modal-title text-center">
		<h4 class="m-0">Fixed vs Minimum Payment Calculator</h4>
		<p class="f-14 m-0">Thursday, November 30, 2017</p>
		<p class="f-12 text-muted px-3">This calculator will show you the huge amount of time and interest you will save if you start making fixed payments (level
			payments) on your credit card each month rather than just paying the minimum payment on your bill each month. Of course,
			this assumes no new charges will be added to your card (which the credit card issuer is not counting on you doing).</p>
	</div>
	<button type="button" class="close" aria-label="Close" (click)="dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body py-4 px-5">
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="">Client Name (optional)</label>
				<input class="form-control" type="text" [(ngModel)]="paymentModal.cName" name="cName">
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="">Balance on your Card</label>
				<input class="form-control" type="text" [(ngModel)]="paymentModal.loanAmount" name="loanAmount">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<label for="">Annual Interest Rate</label>
				<input class="form-control" style="margin-top: 3em;" type="text" [(ngModel)]="paymentModal.intRate" name="intRate">
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="">The minimum percent payment amount</label>
				<nouislider [min]="2.00" [max]="5.00" [step]="0.25" [(ngModel)]="paymentModal.percentPay" [tooltips]="true" style="margin-top: 4em;"
				 (ngModelChange)="onChangeSlider($event)"></nouislider>

			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="">The minimum dollar payment amount</label>

				<nouislider [min]="10" [max]="30" [step]="5" [(ngModel)]="paymentModal.cardMinPay" [tooltips]="true" style="margin-top: 4em;"
				 (ngModelChange)="onChangeSliderDollar($event)"></nouislider>
			</div>
		</div>


	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label for="">First Payment</label>
				<select class="form-control custom-select" name="name" [(ngModel)]="paymentModal.monName" #monName="ngModel">
					<option *ngFor="let type of monthsArray" [ngValue]="type.id" [selected]="type.id=== paymentModal.monName">
						{{type.name}}</option>
				</select>
			</div>
		</div>
		<div class="col-md-3">
			<div class="form-group">
				<label for="">Year</label>
				<input class="form-control" type="text" [(ngModel)]="paymentModal.years" name="years">
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="">A fixed dollar payment you could commit to each month</label>
				<input class="form-control" type="text" [(ngModel)]="paymentModal.minPay" name="minPay">
			</div>
		</div>
	</div>


</div>
<div class="modal-footer justify-content-center">
	<button class="btn btn-secondary btn-sm px-4 py-2" (click)="calculate()"> Calculate</button>
	<button class="btn btn-dark btn-sm px-4 py-2" (click)="reset()"> Reset</button>
</div>
<!-- <div class="text-center ">
		<p class="link cursor-p f-16 text-success" (click)="fullWidthModal(amortization_schedule)" (click)="d('Cross click')">View Amortization Schedule</p>
	</div> -->
<div class="row mt-5"  *ngIf="paymentModal.output">
	<div class="col-md-12"><h5 class="text-center">Comparison Summary</h5></div>
	<div class="col-md-6">
		<h5 class="text-center">Minimum Payments</h5>
		<table class="table">
			<tbody>
				<tr>
					<td>
						Payment Amount
					</td>
					<td align="right">Greater of {{paymentModal.percentPay}}% or ${{paymentModal.cardMinPay}}
					</td>
				</tr>
				<tr>
					<td>
						Total payments to pay off debt
					</td>
					<td align="right">${{paymentModal?.output?.totalPayment}}</td>
				</tr>
				<tr>
					<td>
						Total years to pay off debt
					</td>
					<td align="right">
						{{paymentModal?.output?.payOffYears}}
					</td>
				</tr>
				<tr>
					<td>
						Payoff Date
					</td>
					<td align="right">
						{{paymentModal?.output?.paidDate}}
					</td>
				</tr>
				<tr>
					<td>
						Total Interest Cost
					</td>
					<td align="right">
						${{paymentModal?.output?.interestPaid}}
					</td>
				</tr>
			</tbody>
		</table>

		<!-- <div class="border p-3 mt-4 d-flex justify-content-between">
				<div>Total Need:</div>
				<div class="font-weight-bold">$  {{dimModal?.pTotalNeed}}</div>
			</div> -->
	</div>
	<div class="col-md-6">
		<h5 class="text-center"> Fixed Payment</h5>
		<table class="table">
			<tbody>
				<tr>
					<td>
						Payment Amount
					</td>
					<td align="right">${{paymentModal?.minPay}}</td>
				</tr>
				<tr>
					<td>
						Total payments to pay off debt
					</td>
					<td align="right">${{paymentModal?.output?.fixedTotalPayment}}</td>
				</tr>
				<tr>
					<td>
						Total years to pay off debt
					</td>
					<td align="right">
						{{paymentModal?.output?.fixedPayOffYears}}
					</td>
				</tr>
				<tr>
					<td>
						Payoff Date
					</td>
					<td align="right">
						{{paymentModal?.output?.fixedPaidDate}}
					</td>
				</tr>
				<tr>
					<td>
						Total Interest Cost
					</td>
					<td align="right">${{paymentModal?.output?.fixedInterestPaid}}</td>
				</tr>
			</tbody>
		</table>
		<!-- 
			<div class="border p-3 mt-4 d-flex justify-content-between">
				<div>Total Need:</div>
				<div class="font-weight-bold">$ {{dimModal?.sTotalNeed}}</div>
			</div> -->
	</div>
</div>
<hr>
<div class="text-muted f-12 text-center">
	<p>If you make a fixed payment of ${{paymentModal?.minPay}} to your monthly credit card bill each month instead of the minimum
		payments, you will eliminate {{paymentModal?.output?.paymentSavings}} payments, pay off your balance of ${{paymentModal?.loanAmount}},
		{{paymentModal?.output?.yearSavings}} years early, and save you ${{paymentModal?.output?.interestSavings}} in total interest charges!
	</p>
	<p>
		Find out how you can have compound interest work for you instead of against you, contact your financial professional to help
		you possibly become debt-free and financially independent!

	</p>

</div>


<!--asdfaikjdsfs-->
<div class="m-4 f-12 text-muted">
	<p>The minimum monthly payment on credit card debt is calculated as a percentage of your current balance, or a fixed dollar
		amount, whichever is higher. However, if you just pay the minimum each month, because the next payment is based on the
		unpaid balance, the next payment drops as your balance is paid. However, you will end up paying for a long time due to
		the effect of compounding. This calculator is used to show how long it will take to pay off your debt, and how much interest
		you will pay over the life of your debt if you only make minimum monthly payments. The higher the interest rate the greater
		the effect and the longer you stay in debt. </p>
	<p>
		The assumptions in this calculator are as follows: all revolving debts are calculated using one cycle billing and payments
		are determined each month based on the percent of the average daily unpaid balance method and minimum dollar amounts inputted
		into the calculator by the user. No consideration for annual fees, late charges, over the limit charges, cash advance charges,
		or any of a number of other exorbitant charges accessed by the credit card companies are taken into account. The actual
		payoff criteria may differ somewhat for each debt as each revolving charge account has too many variables and differences
		to possibly consider in a program. It is also assumed that no additional charges are added, and you maintain the stated
		monthly payment until the card is completely paid off. Anything you attempt to do toward any creditor must be in accord
		with that specific creditor’s terms of agreement.</p>
</div>