<div class="modal-header">
  <h4 class="modal-title text-center">School List</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="scroler-vertical" style="max-height: 250px;">
    <table class="table">
      <tr *ngFor="let school of schoollist;let i=index;">
        <td class="font-weight-bold">{{school.college.collegeName}}</td>
        <td>
          <label>
            <!-- <input type="radio" name="1" [(ngModel)]="inState"> In State (${{school.college.inState}}) -->

            <input type="radio" name="radiogroup" [value]="school.college.inState" (change)="onSelectionChangeInstate(school.college.inState,school.college.collegeName,school.college.collegeID)">In State (${{school.college.inState}})
          </label>
        </td>
        <td>
          <label>
            <input type="radio" name="radiogroup" [value]="school.college.outState" (change)="onSelectionChangeOutstate(school.college.outState,school.college.collegeName,school.college.collegeID)"> Out State (${{school.college.outState}})</label>
        </td>
      </tr>

    </table>
  </div>
  <div class="text-center my-3 ">
    <a href="javascript:;" class="btn btn-dark mr-2" (click)="open(search_other_college)">SEARCH OTHER COLLEGE</a>
    <a href="javascript:;" class="btn btn-success" (click)="submit()">Submit</a>
  </div>

</div>
<ng-template #search_other_college let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">School List</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">


    <div class="row">
      <div class="col-md-5">
        <label> Search College</label>
        <div class="input-group">

          <input id="collegename" type="text" name="collegename" [(ngModel)]="collegename" class="form-control" placeholder="Search for...">
          <label class="input-group-btn" for="collegename" style="margin:0">
            <button class="btn btn-dark" style="width:100%;float:left;" type="button">
              <i class="zmdi zmdi-search f-20" (click)="searchCollege(collegename,page)"></i>
            </button>
          </label>
        </div>
      </div>
      <div class="col-md-2 d-flex align-items-center justify-content-center">
        <span class="font-weight-bold">OR</span>
      </div>
      <div class="col-md-5">
        <label> Select State</label>

        <div class="input-group">
          <select id="stateSearch" class="form-control custom-select f-14" name="stateSearch" [(ngModel)]="stateSearch.VALUE" #stateSearch="ngModel">
            <option *ngFor="let stateSearch of statesForsearch" [ngValue]="stateSearch.VALUE"> {{stateSearch.TEXT}}</option>
          </select>
          <label class="input-group-btn" for="stateSearch" style="margin:0;">
            <button class="btn btn-dark" type="button" style="width:100%;float:left;" (click)="collegeByState(stateSearch.VALUE)">
              <i class="zmdi zmdi-search f-20"></i>
            </button>
          </label>
        </div>
      </div>

      <div class="col-md-12 d-flex align-items-center justify-content-center mt-4">
        <span class="font-weight-bold">OR</span>
      </div>

    </div>


    <div class="text-center my-3">
      <a (click)="getAllColleges(1)" class="text-white btn btn-dark">LOAD ENTIRE DATABASE</a>
    </div>
    <p>Note: Hover your mouse over the cost to see breakdown of tuition, fees, and room and board. click on the bottom to select
      the college cost of your choice and the report will be populated.</p>

    <div class="scroler-vertical" style="max-height: 250px;">
      <div class="loader" *ngIf="loader">
        <img src="assets/img/loader.gif">
      </div>

      <table class="table" *ngIf="tableShow">
        <tr>
          <td class="text-muted">Collage Name</td>
          <td class="text-muted">Location</td>
          <td class="text-muted">In-state Total
            <br>(Annual Cost)</td>
          <td class="text-muted">Out-state Total
            <br>(Annual Cost)</td>

        </tr>
        <tr *ngFor="let college of colleges">

          <td class="font-weight-bold">{{college.collegeName}}</td>
          <td>{{college.Location}} </td>
          <td>
            <label>

              <input type="radio" name="radiogroup" [value]="college.inState" (change)="onSelectionChangeInstate(college.inState,college.collegeName,college.collegeID)">In State (${{college.inState}})</label>
          </td>
          <td>
            <label>
              <input type="radio" name="radiogroup" [value]="college.outState" (change)="onSelectionChangeOutstate(college.outState,college.collegeName,college.collegeID)"> Out State (${{college.outState}})</label>
          </td>
        </tr>

      </table>
    </div>
    <div class="d-flex justify-content-center mt-2">
      <!-- <ngb-pagination [collectionSize]="70" [(page)]="page" aria-label="Default pagination" pageChanged="pageChanged($event)"></ngb-pagination> -->
      <ngb-pagination *ngIf="nameBasedsearch" [collectionSize]="totalCollegeSerachedUsingName" [(page)]="page" [pageSize]="20"
        aria-label="Default pagination" (pageChange)="clickNameBasedSeach(page)"></ngb-pagination>
      <ngb-pagination *ngIf="fullsearch" [collectionSize]="itemsTotal" [(page)]="page" [pageSize]="20" aria-label="Default pagination"
        (pageChange)="click(page)"></ngb-pagination>
      <ngb-pagination *ngIf="stateBasedsearch" [collectionSize]="totalCollegeSerachedUsingState" [(page)]="page" [pageSize]="20"
        aria-label="Default pagination" (pageChange)="clickStateSearch(page)"></ngb-pagination>
    </div>


    <div class=" my-4 text-center">
      <a class="btn  px-4 btn-success text-white" (click)="submit();d('Cross click')">SAVE</a>
    </div>


  </div>

</ng-template>