﻿@model CLayer.SalesPersonModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SalesPerson</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sp_FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sp_FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sp_LName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sp_LName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sp_Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sp_Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sp_Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sp_Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sp_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sp_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sp_isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sp_isActive)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
