﻿@model IEnumerable<CLayer.SalesPersonModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sp_FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sp_LName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sp_Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sp_Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sp_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sp_isActive)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sp_FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sp_LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sp_Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sp_Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sp_Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sp_isActive)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.sp_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.sp_Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.sp_Id })
            </td>
        </tr>
    }

</table>
