// .login-wrap{
// 	width: 400px;
// 	/* min-height:650px; */
// 	max-width: 100%;
// }
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.login-wrap {
    width: 400px;
    max-width: 100%;
}
 