<div class="mb-auto">
	<div class="header fixed-top">
		<app-header></app-header>
		<div class="status-bar py-2">
			<div class="container-fluid">
				<div class="logo-space">
					<div class="row">
						<div class="col-md-6 col-sm-6 d-flex align-items-center">
							<h5 class="mb-0  d-inline mr-3">Advisor Lists</h5> Advisor of
							<span class="font-weight-bold text-white mx-1"> Dan Harrimm </span>
							Current Advisers -
							<span class="font-weight-bold text-white"> 81</span>
						</div>
						<div class="col-md-6 col-sm-6 text-right">
							<a [routerLink]="['/add-advisor']" class="btn btn-outline-secondary mr-2">NEW ADVISOR</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-container mb-auto pb-2">
		<div *ngIf="tableShow">
			<div class="container">
				<div class="d-flex my-1">
					<div class=" col-md-2 padding-left-0">
						<!-- <a (click)="searchClient()" class="text-gray-dark align-middle"><i class="zmdi zmdi-search f-20"></i></a> -->
						<div class="input-group">
							<input class="form-control  cursor-p" placeholder="Search here..." name="advisor" [(ngModel)]="advisorSearchText">
							<a class="input-group-addon search" (click)="searchadvisor(advisorSearchText)">
								<i class="fa fa-search"></i>
							</a>
						</div>
						<!-- <span class="mx-3">|</span> -->
					</div>
					<div class="col-md-2 d-flex align-items-center">
						<a (click)="sortedBasedSearch(SortColumnDateValue)" class="text-gray-dark last-modified cursor-p">Last modified on
							<i *ngIf="ascending" class="zmdi zmdi-long-arrow-up font-weight-bold"></i>

							<i *ngIf="!ascending" class="zmdi zmdi-long-arrow-down font-weight-bold"></i>

						</a>
					</div>
					<div class="mx-2 col-md-2  d-flex align-items-center">
						<select class="form-control custom-select f-14 fw100 w-100">
							<option value="">Show current Advisor</option>
							<option value="">option</option>
							<option value="">option</option>
						</select>
					</div>
					<div class="mx-2 col-md-2  d-flex align-items-center">
						<select class="form-control custom-select f-14 fw100 w-100">
							<option value="">Admin legend</option>
							<option value="">option</option>
							<option value="">option</option>
							<option value="">option</option>
						</select>
					</div>
				</div>
			</div>
			<hr class="mt-1">
			<div class="container">
				<table class="list-table table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<td>
								<input type="checkbox">
							</td>
							<td>
								<div class="font-weight-bold">NAME </div>
							</td>
							<td>
								<div class="font-weight-bold">EMAIL </div>
							</td>
							<td align="center">
								<div class="font-weight-bold">CLIENTS </div>
							</td>
							<!-- <td align="center"><div class="font-weight-bold">DAYS </div> </td> -->
							<td align="center">
								<div class="font-weight-bold">RENEW DATE </div>
							</td>
							<td align="center">
								<div class="font-weight-bold">SETTINGS </div>
							</td>
						</tr>
					</thead>
					<tr *ngFor="let advisor of advisorsListData">
						<td>
							<input type="checkbox" data-md-icheck name="checkboxValue" [(ngModel)]="advisor.checkboxValue" />
						</td>
						<td>
							<a class="link">{{advisor.firstName}} {{advisor.lastName}}</a>
						</td>
						<td>{{advisor.emailPrimary}} </td>
						<td align="center">
							{{advisor.clients}}
						</td>
						<!-- <td align="center">
					{{advisor.createdDate|date:'MMM dd, yyyy'}}
				</td> -->
						<td align="center">
							{{advisor.renewdate|date:'MMM dd, yyyy'}}
						</td>
						<td align="center">
							<a class="action-btn mr-2 cursor-p" (click)="editAdvisor(advisor.advisorId);">
								<i class="zmdi zmdi-settings"></i>
							</a>
						</td>
					</tr>
				</table>
				<div class="d-flex justify-content-center">
					<ngb-pagination [collectionSize]="sizeOfTable" [(page)]="page" [pageSize]="5" aria-label="Default pagination" (pageChange)="paginatedSearch(page)"></ngb-pagination>
				</div>
			</div>
		</div>
		<div class="page-container mb-auto pb-2" *ngIf="!tableShow">
			<div class="container">
				<div class="text-center">
					<i class="zmdi zmdi-accounts-outline" style="font-size: 180px; opacity: 0.08;"></i>
					<p class="f-20">There is no advisor added in your account.</p>
					<a [routerLink]="['/add-advisor']" class="btn btn-secondary dash-border mt-3 btn-lg f-16">Add New Advisor</a>
				</div>
			</div>
		</div>
	</div>

</div>