﻿@model CLayer.UploadAdminModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Uploads</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ul_PathLabel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ul_PathLabel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ul_FileName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ul_FileName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ul_FileSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ul_FileSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ul_CreatedDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ul_CreatedDT)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ul_FilePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ul_FilePath)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.ul_Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ul_Year)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ul_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
