﻿@model IEnumerable<CLayer.UploadAdminModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.ul_PathLabel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ul_FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ul_FileSize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ul_CreatedDT)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.ul_FilePath)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ul_Year)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.isActive)
            </th>*@
        <th></th>
    </tr>
    @{string folderName = "";
        foreach (var item in Model)
        {
            if (folderName != (item.ul_CreatedDT == null ? "" : item.ul_CreatedDT.Value.ToString("MMM dd")))
            {
                <tr>
                    <td colspan="6">
                        <b>
                            <label>@item.ul_CreatedDT.Value.ToString("MMM dd")</label>
                        </b>
                    </td>
                </tr>
                folderName = item.ul_CreatedDT.Value.ToString("MMM dd");
            }
            <tr>
                <td></td>
                <td>
                    <a href="@item.ul_FilePath" target="_blank">
                        @Html.DisplayFor(modelItem => item.ul_PathLabel)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ul_FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ul_FileSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ul_CreatedDT)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ul_FilePath)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.ul_Year)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.isActive)
                    </td>*@
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.ul_Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ul_Id }) |*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.ul_Id })
                </td>
            </tr>
        }
    }

</table>
