<div class="modal-header">
	<div class="modal-title text-center w-100">
		<h4 class="m-0">Life Insurance Needs - DIME Calculator</h4>
		<p class="f-14">Thursday, November 30, 2017</p>
	</div>
	<button type="button" class="close" aria-label="Close" (click)="dismiss()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body p-4">
	<form #lineedsForm="ngForm" (ngSubmit)="lineedsForm.form.valid&&go()" novalidate>

		<p class="f-16 mb-2 font-weight-bold text-center">How do I determine how much Life Insurance I need? </p>
		<p class="text-muted f-12 text-center">
			A basic financial foundation starts with planning to meet the financial needs of survivors in the event of an untimely death
			of the breadwinner (s). Should this unfortunate calamity occur, few people are found to prepare properly. A key step in
			this planning process usually requires the purchase of life insurance to continue the lifestyle your family has become
			accustomed to since few people have adequate savings set aside to make this happen.
		</p>
		<p class="f-16">Your greatest asset is your ability to earn income!
			<br> A simple formula to illustrate your life insurance needs is the DIME : </p>
		<div>
			<p class="d-flex align-items-center">
				<span class="font-weight-bold mr-3 f-16">D</span>The amount of money needed to pay off outstanding debts and final expenses</p>

			<p class="d-flex align-items-center">
				<span class="font-weight-bold mr-4 f-16">I</span>The lump sum needed upon death, once invested, that is projected to provide the designated monthly income for
				the period of time you designated at the specified inflation rate and return on investment.</p>
			<p class="d-flex align-items-center">
				<span class="font-weight-bold mr-3 f-16">M</span>The lump sum needed to pay off your mortgage should you choose to do that.</p>
			<p class="d-flex align-items-center">
				<span class="font-weight-bold mr-4 f-16">E</span>The lump sum needed to provide for college education of the children.</p>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="">Primary Breadwinner Name (optional)</label>
					<input class="form-control" type="text" [(ngModel)]="dimModal.pName" [ngModelOptions]="{standalone: true}">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for=""> Current Age (optional)</label>
					<input class="form-control" type="text" [restrictNumeric] [(ngModel)]="dimModal.prAge" [ngModelOptions]="{standalone: true}">
				</div>
			</div>
			<div class="col-md-4 ">
				<div class="mt-4 pt-2">
					<mat-radio-group class="example-radio-group" [ngModelOptions]="{standalone: true}" [(ngModel)]="sp" (ngModelChange)="optionChange($event)">
						<mat-radio-button class="example-radio-button" *ngFor="let sp of spouselist" [value]="sp">
							{{sp}}
						</mat-radio-button>
					</mat-radio-group>
				</div>
			</div>
		</div>
		<div class="row">
				<div class="col-md-4" *ngIf="showSpouse">
					<div class="form-group">
						<label for="">Spouse Name (optional)</label>
						<input class="form-control" type="text" [(ngModel)]="dimModal.sName" [ngModelOptions]="{standalone: true}">
					</div>
				</div>
				<div class="col-md-4" *ngIf="showSpouse">
					<div class="form-group">
						<label for=""> Spouse Age (optional) </label>
						<input class="form-control" type="text" [restrictNumeric] [(ngModel)]="dimModal.sAge" [ngModelOptions]="{standalone: true}">
					</div>
				</div>
			<div class="col-md-4 ">
				<div class="form-group">
					<label for="">Number of children under 18 (optional)</label>


					<select id="stateSearch" class="form-control custom-select" name="child" [(ngModel)]="dimModal.Children">

						<option *ngFor="let child of children;let i=index;" [ngValue]="child" [selected]="child==dimModal.Children">
							{{ child}}</option>
					</select>
					<p class="text-muted m-0"> (for education needs)</p>
				</div>
			</div>
		</div>
		<!-- <div class="text-center">
		<button class="btn btn-dark px-5">Go</button>
	</div> -->
		<hr>
		<div class="row">
			<div class="col-md-1 d-flex align-items-center">
				<span class="font-weight-bold f-16">D</span>
			</div>
			<div class="col-md-3 dash-border-left">
				<div class="form-group">
					<label for="">Debts (not including mortgage)</label>
					<i class="zmdi zmdi-info text-success ml-2"></i>
					<input class="form-control" type="text" [(ngModel)]="dimModal.debtAmount" app-restrict-input="float" name="debtAmount">
				</div>
			</div>
			<div class="col-md-2 d-flex align-items-center">
				<div class="form-group mb-0 mt-2">
					<label>
						<input type="checkbox" [(ngModel)]="dimModal.isDebtAmountIncluded" name="isDebtAmountIncluded"> Include in Life Insurance Needs?</label>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="">Death (Final Expenses)</label>
					<i class="zmdi zmdi-info text-success ml-2"></i>
					<input class="form-control" type="text" [(ngModel)]="dimModal.deathExpenses" app-restrict-input="float" name="deathExpenses">
				</div>
			</div>
			<div class="col-md-2 d-flex align-items-center">
				<div class="form-group mb-0 mt-2">
					<label>
						<input type="checkbox" [(ngModel)]="dimModal.isDebtAmountIncluded" name="isDebtAmountIncluded"> Include in Life Insurance Needs?</label>
				</div>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-md-1 d-flex align-items-center">
				<span class="font-weight-bold f-16">I</span>
			</div>
			<div class="col-md-11 dash-border-left">
				<div class="form-group">
					<label for=""> Primary monthly income needed</label>
					<i class="zmdi zmdi-info text-success ml-2"></i>
					<div class="row">
						<div class="col-3">
							<div class="form-group m-0">
								<input class="form-control" type="text" [(ngModel)]="dimModal.pMonthlyNeed" name="pMonthlyNeed" #pMonthlyNeed="ngModel" required>
								<small *ngIf="!pMonthlyNeed.valid && pMonthlyNeed.errors && lineedsForm.submitted" class="error_message">
									<div [hidden]="!pMonthlyNeed.errors.required">
										Primary monthly income is required
									</div>
								</small>


								<!-- <input type="text" class="form-control m-wrap" placeholder="First Name" name="firstName" [(ngModel)]="advisorModel.advisorInfo.firstName"
							#firstName="ngModel" pattern="^[a-zA-Z]+$" required>
						  <small *ngIf="!firstName.valid && firstName.errors && lineedsForm.submitted" class="error_message">
							<div [hidden]="!firstName.errors.required">
							  First Name is required
							</div>
							<div [hidden]="!firstName.errors.pattern">
							  Number, space, special characters not allowed
							</div>
						  </small> -->
							</div>
						</div>
						<div class="col-1">
							<span class="">For</span>
						</div>
						<div class="col-3">
							<div class="form-group m-0">
								<input class="form-control" type="text" [(ngModel)]="dimModal.pYears" #pYears="ngModel" name="pYears" [restrictNumeric] [restrictmaxvalue]="150" [attr.maxLength]="3"  required>
								<small *ngIf="!pYears.valid && pYears.errors && lineedsForm.submitted" class="error_message">
									<div [hidden]="!pYears.errors.required">
										Year is required
									</div>
								</small>
							</div>
						</div>
						<div class="col-1">
							<span class="">Year</span>
						</div>
						<div class="col-3">
							<div class="form-group">
								<label>
									<input type="checkbox" [(ngModel)]="dimModal.isPrimaryIncluded" name="isPrimaryIncluded"> Include in Life Insurance Needs?</label>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group"  *ngIf="showSpouse">
					<label for=""> Spouse monthly income needed</label>
					<i class="zmdi zmdi-info text-success ml-2"></i>
					<div class="row">
						<div class="col-3">
							<div class="form-group m-0">
								<input class="form-control" type="text" [(ngModel)]="dimModal.sMonthlyNeed" name="sMonthlyNeed" app-restrict-input="float" #sMonthlyNeed="ngModel">
								<!-- <small *ngIf="!sMonthlyNeed.valid && sMonthlyNeed.errors && lineedsForm.submitted" class="error_message">
								<div [hidden]="!sMonthlyNeed.errors.required">
								Spouse monthly income is required
								</div>
							</small> -->
							</div>
						</div>
						<div class="col-1">
							<span class="">For</span>
						</div>
						<div class="col-3">
							<div class="form-group m-0">
								<input class="form-control" type="text" [(ngModel)]="dimModal.sYears" name="sYears" #sYears="ngModel"  [restrictNumeric] [restrictmaxvalue]="150"[attr.maxLength]="3" required>
								<small *ngIf="!sYears.valid && sYears.errors && lineedsForm.submitted" class="error_message">
									<div [hidden]="!sYears.errors.required">
										Year is required
									</div>
								</small>
							</div>
						</div>
						<div class="col-1">
							<span class="">Year</span>
						</div>
						<div class="col-3">
							<div class="form-group">
								<label>
									<input type="checkbox" [(ngModel)]="dimModal.isSpouseIncluded" name="isSpouseIncluded"> Include in Life Insurance Needs?</label>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
		<div class="my-4 text-center">
			View income projection at
			<input class="border border-right-0 border-top-0 border-left-0 fw50 text-center font-weight-bold f-16" value="" type="text"
			 [(ngModel)]="dimModal.inflationRate" name="inflationRate" #inflationRate="ngModel" required> % inflation
			<small *ngIf="!inflationRate.valid && inflationRate.errors && lineedsForm.submitted" class="error_message">
				<div [hidden]="!inflationRate.errors.required">
					%inflation is required
				</div>
			</small>
			<i class="zmdi zmdi-info text-success ml-2"></i> and
			<input class="border border-right-0 border-top-0 border-left-0 fw50 text-center font-weight-bold f-16" value="" type="text"
			 [(ngModel)]="dimModal.returnRate" name="returnRate" #returnRate="ngModel" required>
			<small *ngIf="!returnRate.valid && returnRate.errors && lineedsForm.submitted" class="error_message">
				<div [hidden]="!returnRate.errors.required">
					%inflation is required
				</div>
			</small>
			% return on investments
			<i class="zmdi zmdi-info text-success ml-2"></i>
		</div>
		<div class="row">
			<div class="col-md-1 d-flex align-items-center justify-content-center">
				<span class="font-weight-bold f-16">M</span>
			</div>
			<div class="col-md-4 dash-border-left">
				<div class="form-group">
					<label for="">Mortgage Balance (s)</label>
					<i class="zmdi zmdi-info text-success ml-2"></i>
					<input class="form-control" type="text" [(ngModel)]="dimModal.mortgageBalance" name="mortgageBalance" app-restrict-input="float">
				</div>
			</div>

			<div class="col-md-4 d-flex align-items-center">
				<div class="form-group mb-0 mt-2">
					<label>
						<input type="checkbox" [(ngModel)]="dimModal.ismortgageBalanceIncluded" name="ismortgageBalanceIncluded"> Include in Life Insurance Needs?</label>
				</div>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-md-1 d-flex align-items-center justify-content-center ">
				<span class="font-weight-bold f-16">E</span>
			</div>
			<div class="col-md-4 dash-border-left">
				<div class="form-group">
					<label for=""> Education Needs</label>
					<i class="zmdi zmdi-info text-success ml-2"></i>
					<input class="form-control" type="text" [(ngModel)]="dimModal.educationNeeds" name="educationNeeds" app-restrict-input="float">
				</div>
			</div>

			<div class="col-md-4 d-flex align-items-center">
				<div class="form-group mb-0 mt-2">
					<label>
						<input type="checkbox" [(ngModel)]="dimModal.isEducationNeedsIncluded" name="isEducationNeedsIncluded"> Include in Life Insurance Needs?</label>
				</div>
			</div>
		</div>
		<div class="text-center my-4">
			<button class="btn btn-dark px-5 mr-3" type="submit">Go</button>
			<button class="btn btn-outline-secondary px-5" (click)="reset()">Reset</button>
		</div>
		<div class="row mt-5">
			<div class="col-md-6" *ngIf="dimModal.primaryProtectionNeeds">
				<h5 class="text-center">Primary's Protection Need</h5>
				<table class="table">
					<tbody>
						<tr>
							<td>
								<span class="font-weight-bold f-16">D</span>ebt/Death Expenses
								<i class="zmdi zmdi-info text-success ml-2"></i>
							</td>
							<td align="right">${{dimModal.primaryProtectionNeeds?.DebtDeath}}</td>
						</tr>
						<tr>
							<td>
								<span class="font-weight-bold f-16">I</span>ncome Replacement
								<i class="zmdi zmdi-info text-success ml-2"></i>
							</td>
							<td align="right">${{dimModal.primaryProtectionNeeds?.IncomeNeed}}</td>
						</tr>
						<tr>
							<td>
								<span class="font-weight-bold f-16">M</span>ortgage
								<i class="zmdi zmdi-info text-success ml-2"></i>
							</td>
							<td align="right">${{dimModal.primaryProtectionNeeds?.Mortgage}}</td>
						</tr>
						<tr>
							<td>
								<span class="font-weight-bold f-16">E</span>ducation
								<i class="zmdi zmdi-info text-success ml-2"></i>
							</td>
							<td align="right">${{dimModal.primaryProtectionNeeds?.Education}}</td>
						</tr>
					</tbody>
				</table>

				<div class="border p-3 mt-4 d-flex justify-content-between">
					<div>Total Need:</div>
					<div class="font-weight-bold">$  {{dimModal?.pTotalNeed}}</div>
				</div>
			</div>
			<div class="col-md-6" *ngIf="dimModal.spouseProtectionNeeds">
				<h5 class="text-center">Spouse's Protection Need</h5>
				<table class="table">
					<tbody>
						<tr>
							<td>
								<span class="font-weight-bold f-16">D</span>ebt/Death Expenses
								<i class="zmdi zmdi-info text-success ml-2"></i>
							</td>
							<td align="right">${{dimModal.spouseProtectionNeeds?.DebtDeath}}</td>
						</tr>
						<tr>
							<td>
								<span class="font-weight-bold f-16">I</span> ncome Replacement
								<i class="zmdi zmdi-info text-success ml-2"></i>
							</td>
							<td align="right">${{dimModal.spouseProtectionNeeds?.IncomeNeed}}</td>
						</tr>
						<tr>
							<td>
								<span class="font-weight-bold f-16">M</span>ortgage
								<i class="zmdi zmdi-info text-success ml-2"></i>
							</td>
							<td align="right">${{dimModal.spouseProtectionNeeds?.Mortgage}}</td>
						</tr>
						<tr>
							<td>
								<span class="font-weight-bold f-16">E</span>ducation
								<i class="zmdi zmdi-info text-success ml-2"></i>
							</td>
							<td align="right">${{dimModal.spouseProtectionNeeds?.Education}}</td>
						</tr>

					</tbody>
				</table>
				<div class="border p-3 mt-4 d-flex justify-content-between">
					<div>Total Need:</div>
					<div class="font-weight-bold">$ {{dimModal?.sTotalNeed}}</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="text-muted f-12 text-center">
			<p>The above results should only be viewed as an estimate of your life insurance needs.</p>
			<p>
				Life insurance typically provides one of the most cost-effective methods of generating cash and income and adequate life
				insurance is a vital component of a family's financial game plan. Unfortunately, many people have only a fraction of
				the amount they need to fully cover their family.
			</p>
			<p>
				In addition, many families improperly cover children. If your children do not add income to the household, they generally
				need a smaller amount of coverage than the breadwinners, in most cases only enough to cover final expenses. This may
				often be accomplished by adding a child rider onto the policy of one of the breadwinners and usually has a guaranteed
				insurability option that allows conversion to an individual policy at a later age.
			</p>
			<p>
				Check with your insurance professional to determine the type of program that is right for you and your family.
			</p>
		</div>
	</form>
</div>