.example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }
  .mat-radio-label{
    white-space: unset;
  }
.showStatusList{
  list-style-type: none;
  li{
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid #ccc;
    background-color: #f7f6f6;
    font-weight: 700;
  }
}
.zmdi.zmdi-more-vert{
  font-weight: bold;
  font-size: 20px;
}