<div class="action-panel" [class.open-panel]="actionLinkShow">
  <div class="p-2 action-content">
    <h5 class="text-center mb-3 f-20"> Action Plan</h5>
    <hr>



    <div class="custom-tab-container custom-tab-sm">

      <ngb-tabset #tasbset="ngbTabset">
        <ngb-tab>
          <ng-template ngbTabTitle>Action Point</ng-template>
          <ng-template ngbTabContent>
            <mat-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason">
              <mat-radio-button class="example-radio-button" *ngFor="let season of actionPoints" [value]="season" (change)="tasbset.select('customId')">
                {{season.actionName}}
              </mat-radio-button>
            </mat-radio-group>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="customId">
          <ng-template ngbTabTitle>Custom</ng-template>
          <ng-template ngbTabContent>

            <p class="f-16 text-center mt-10"> New Action items</p>
            <div class="input-group mb-2">
              <textarea class="form-control rounded-0" placeholder="Action Point" [(ngModel)]="favoriteSeason.actionName"></textarea>
            </div>
            <div class="input-group mb-2">
              <label>Due Date</label>
            </div>
            <div class="input-group mb-2">
              <ng-datepicker id="datePickr" [(ngModel)]="actionPlanModal.dueDate" name="dueDate" [options]="options"></ng-datepicker>

            </div>
            <div class="input-group mb-2">
              <label>Assigned to</label>
            </div>
            <div class="input-group mb-2">

              <select class="custom-select form-control f-14" [(ngModel)]="actionPlanModal.assignedTo" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let tax of assignTypes" [value]="tax.VALUE">{{tax.TEXT}}</option>
              </select>

            </div>
            <div class="mb-2" *ngIf="actionPlanModal.assignedTo==0">
              <input type="text" class="form-control m-wrap" name="otherEmailID" [(ngModel)]="actionPlanModal.otherActions.otherEmailID"
                #otherEmailID="ngModel" placeholder="Email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
              <small *ngIf="!otherEmailID.valid && otherEmailID.errors" class="error_message">
                <div [hidden]="!otherEmailID.errors.required">
                  Email is required
                </div>
                <div [hidden]="!otherEmailID.errors.pattern">
                  Enter valid email
                </div>
              </small>
            </div>
            <div class="mb-2" *ngIf="actionPlanModal.assignedTo==0">
              <input type="text" class="form-control m-wrap" name="otherPersonName" [(ngModel)]="actionPlanModal.otherActions.otherPersonName"
                #otherPersonName="ngModel" placeholder="Name" required>
              <small *ngIf="!otherPersonName.valid && otherPersonName.errors" class="error_message">
                <div [hidden]="!otherPersonName.errors.required">
                  Name is required
                </div>
              </small>
            </div>

            <div class="input-group mb-2">
              <label>Notify once per week</label>
            </div>
            <div class="input-group mb-2">

              <select class="custom-select form-control f-14" [(ngModel)]="actionPlanModal.notificationTypeID" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let notification of notificationTypes;let in=index;" [value]="notification.VALUE">{{notification.TEXT}}</option>
              </select>

            </div>
            <div class="from-control mb-2">

              <textarea name="" id="" cols="30" rows="3" class="form-control rounded-0" [(ngModel)]="actionPlanModal.comment" placeholder="Comment"></textarea>
              <div class="text-center mt-3">
                <button class="btn btn-primary w-50" (click)="saveActionPlan()">Save</button>
              </div>
            </div>

            <div class="custom-tab-container custom-tab-sm">
              <ngb-tabset>
                <ngb-tab>
                  <ng-template ngbTabTitle>
                    <a (click)="getAllActions()">All</a>
                  </ng-template>
                  <ng-template ngbTabContent>

                    <div class="input-group p-3">
                      <select name="" placeholder="--Select--" class="custom-select form-control f-14" [(ngModel)]="choosedPeriod" (change)="chooseOption($event.target.value)">
                        <option value="2" selected>--Select--</option>

                        <option value="0">Today</option>
                        <option value="1">This Moth</option>

                      </select>
                    </div>

                    <div class=" mb-3 col-md-12 " *ngFor="let action of actionPlanBased;let i=index;">
                      <div class="d-flex align-items-start">
                        <div class="mr-2">
                          <input type="checkbox">
                        </div>
                        <div>
                          <p class="m-0">{{action.actionPoint}}</p>
                          <p class="f-12">
                            <span class="text-muted">Due date:</span> {{action.dueDate}}</p>


                        </div>
                        <a (click)="showStatus[i]=!showStatus[i]" class="ml-auto">
                          <i class="zmdi zmdi-more-vert"></i>
                        </a>

                      </div>
                      <div *ngIf="showStatus[i]" class="ml-1">
                        <ul class="showStatusList">
                          <li>
                            <a href="javascript:;" (click)="actionPlanCompleted(action.actionID)">Complete</a>
                          </li>
                          <li>
                            <a href="javascript:;" (click)="actionPlanProgress(action.actionID)">In Progress</a>
                          </li>
                          <li>
                            <a href="javascript:;" (click)="actionPlanReschedule(action.actionID)"> Reschedule</a>
                          </li>
                        </ul>
                      </div>
                    </div>




                  </ng-template>
                </ngb-tab>
                <ngb-tab>
                  <ng-template ngbTabTitle>
                    <a (click)="pastDueActions()">Past Due</a>
                  </ng-template>
                  <ng-template ngbTabContent>


                    <div class=" mb-3 col-md-12 " *ngFor="let pastaction of pastactionPlanBased;let in=index;">
                      <div class="d-flex align-items-start">
                        <div class="mr-2">
                          <input type="checkbox">
                        </div>
                        <div>
                          <p class="m-0">{{pastaction.actionPoint}}</p>
                          <p class="f-12">
                            <span class="text-muted">Due date:</span>{{pastaction.dueDate}}</p>
                        </div>
                        <a (click)="showStatus[in]=!showStatus[in]" class="ml-auto">
                          <i class="zmdi zmdi-more-vert"></i>
                        </a>
                      </div>
                      <div *ngIf="showStatus[in]" class="ml-1">
                        <ul class="showStatusList">
                          <li>
                            <a href="javascript:;" (click)="actionPlanCompleted(pastaction.actionID)">Complete</a>
                          </li>
                          <li>
                            <a href="javascript:;" (click)="actionPlanProgress(pastaction.actionID)">In Progress</a>
                          </li>
                          <li>
                            <a href="javascript:;" (click)="actionPlanReschedule(pastaction.actionID)"> Reschedule</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </ng-template>
                </ngb-tab>
                <ngb-tab>
                  <ng-template ngbTabTitle>
                    <a (click)="upComingActions()">Upcoming</a>
                  </ng-template>
                  <ng-template ngbTabContent>
                    <div class=" mb-3 col-md-12 " *ngFor="let upcomingaction of upcomingactionPlanBased;let ind=index;">
                      <div class="d-flex align-items-start">
                        <div class="mr-2">
                          <input type="checkbox">
                        </div>
                        <div>
                          <p class="m-0">{{upcomingaction.actionPoint}}</p>
                          <p class="f-12">
                            <span class="text-muted">Due date:</span> {{upcomingaction.dueDate}} </p>
                        </div>
                        <a (click)="showStatus[ind]=!showStatus[ind]" class="ml-auto">
                          <i class="zmdi zmdi-more-vert"></i>
                        </a>
                      </div>
                      <div *ngIf="showStatus[ind]" class="ml-1">
                        <ul class="showStatusList">
                          <li>
                            <a href="javascript:;" (click)="actionPlanCompleted(upcomingaction.actionID)">Complete</a>
                          </li>
                          <li>
                            <a href="javascript:;" (click)="actionPlanProgress(upcomingaction.actionID)">In Progress</a>
                          </li>
                          <li>
                            <a href="javascript:;" (click)="actionPlanReschedule(upcomingaction.actionID)"> Reschedule</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </ng-template>
                </ngb-tab>
                <ngb-tab>
                  <ng-template ngbTabTitle>
                    <a (click)="completedActions()">Completed</a>
                  </ng-template>
                  <ng-template ngbTabContent>
                    <div class=" mb-3 col-md-12 " *ngFor="let completedaction of completedactionPlanBased;let indexC=index;">
                      <div class="d-flex align-items-start">
                        <div class="mr-2">
                          <input type="checkbox">
                        </div>
                        <div>
                          <p class="m-0">{{completedaction.actionPoint}}</p>
                          <p class="f-12">
                            <span class="text-muted">Due date:</span> {{completedaction.dueDate}} </p>
                        </div>
                        <a (click)="showStatus[indexC]=!showStatus[indexC]" class="ml-auto">
                          <i class="zmdi zmdi-more-vert"></i>
                        </a>
                      </div>
                      <div *ngIf="showStatus[indexC]" class="ml-1">
                        <ul class="showStatusList">

                          <li>
                            <a href="javascript:;" (click)="actionPlanReschedule(completedaction.actionID)"> Reschedule</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </div>




          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>






  </div>
  <div class="action-point-btn" (click)="actionLinks()">Action Points</div>

</div>