<div class="page-content">
	 
			<h5>Archived Reports</h5>

<div class="mt-3">
	<div class="border p-3 d-flex justify-content-between align-items-center mb-1">
		<span class="font-weight-bold"> Sample Client - Retirement Projection example</span>
		<span class="text-muted">1/26/2017</span>
	</div>

	<div class="border p-3 d-flex justify-content-between align-items-center  mb-1">
		<span class="font-weight-bold"> Test Client - advanced to Express</span>
		<span class="text-muted">1/26/2017</span>
	</div>

	<div class="border p-3 d-flex justify-content-between align-items-center mb-1">
		<span class="font-weight-bold">Test Client - Pension stream only </span>
		<span class="text-muted">1/26/2017</span>
	</div>

	<div class="border p-3 d-flex justify-content-between align-items-center  mb-1">
		<span class="font-weight-bold"> Sample Client - Express to Advanced(2)</span>
		<span class="text-muted">1/26/2017</span>
	</div>



</div>
	 
</div>