<div class="modal-header">
  <h4 class="modal-title text-center w-100">Add Other Taxes</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body px-4">

  <form #addOtherIncomeForm="ngForm" (ngSubmit)="addOtherIncomeForm.form.valid&&addOtherTax()" novalidate>
    <div class="card-block">

      <div class="row">
        <div class="col-md-12 col-lg-12">

          <div class="row">
            <div class="col-md-4">
              <label for="">Type</label>
              <!-- (change)="payPeriodChanged($event.target.value)" -->
              <select class="custom-select form-control f-14" [(ngModel)]="otherTaxModal.taxTypeID" name="taxTypeID" (change)="otherTaxChangeType($event.target.value)">
                <option *ngFor="let tax of OtherTaxTypes" [value]="tax.VALUE" [selected]="OtherTaxTypes[0].VALUE">{{tax.TEXT}}</option>
              </select>
            </div>
            <div class="col-md-4">
                <label for="">Pay period</label>
                <select class="form-control custom-select f-14" [(ngModel)]="otherTaxModal.paytype"
                 [ngModelOptions]="{standalone: true}"
                (change)="payPeriodChanged($event.target.value)">
                 <option *ngFor="let tax of PayPeriods" [value]="tax.VALUE" [selected]="tax.VALUE=== otherTaxModal.paytype">{{tax.TEXT}}</option>
               </select>
              </div>
            <div class="col-md-4">
              <label for="">Amount</label>
              <div class="input-group  p-0">
                <input class="form-control rounded-0" [restrictNumeric] value="20" type="text" [(ngModel)]="otherTaxModal.payingTax" name="payingTax">

              </div>
            </div>
            <div class="col-md-4">
              <label for="">Notes</label>
              <div class="input-group  p-0 mb-1">
                  <textarea name="" id="" cols="30" rows="3" class="form-control rounded-0" placeholder="Notes" [(ngModel)]="otherTaxModal.note" name="note"></textarea>
                </div>
              <label>
                  <input type="checkbox" [(ngModel)]="otherTaxModal.isMouseHover" name="isMouseHover">
                  Show in Mouseover</label>
            </div>

          </div>


        </div>
      </div>
      <div class="text-center mt-4">
        <button class="btn btn-dark px-5" type="submit">Save</button>
      </div>
    </div>
  </form>
</div>