<div class="modal-header">
    <h4 class="modal-title"></h4>
    <button type="button" class="close" aria-label="Close" (click)="dismissModalpopup()">

      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
     <p class="text-center"> Need To Proceed</p> 

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="confirmModal()">Confirm</button>
  </div>