<div class="page-content">
  <div class="row">
    <div class="col-md-12">
      <h5>Assets</h5>


      <div class="custom-tab-container">

        <ngb-tabset>

          <ngb-tab>
            <ng-template ngbTabTitle>Non Retirement Assets</ng-template>
            <ng-template ngbTabContent>




              <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <ngb-panel id="ngb-panel-0">
                  <ng-template ngbPanelTitle>
                    <div class=" d-flex justify-content-between align-items-center ">
                      <span class="font-weight-bold text-dark">Personal Property</span>
                      <span>
                        <i class="zmdi zmdi-caret-down f-26 text-dark"></i>
                      </span>
                    </div>

                  </ng-template>
                  <ng-template ngbPanelContent>
                    <div class="card-block">
                      <div class="d-flex justify-content-center mb-2">
                        <div class="border p-3 f-16 mb-4">
                          Total Property
                          <span class="font-weight-bold ml-2">$ {{totalPersonalProp|number:'1.2-2'}}</span>
                        </div>
                      </div>
                      <form #PersonalPropertyForm="ngForm" (ngSubmit)="savePersonalProperty()">
                        <table class="table">
                          <tr>
                            <!-- <td class="text-muted">Tax Type</td> -->
                            <td class="text-muted">Personal Property Type</td>
                            <td class="text-muted">Appraised Value</td>
                            <td class="text-muted">Value as of</td>
                            <td class="text-muted">Description</td>
                            <td></td>
                          </tr>
                          <tr *ngFor="let person of personnalAssetModel.AssetList;let i=index;" class="font-weight-bold">
                            <!-- <td>
                              <select class="form-control custom-select f-14" (change)="onChangePersonalTaxDefferedTypeDDL($event.target.value,i)">
                                <option *ngFor="let workout of assetTaxVsDefferedDDL" [value]="workout.VALUE" [selected]="workout.VALUE===person.taxVsDefferedID">
                                  {{workout.TEXT}}
                                </option>
                              </select>
                            </td> -->
                            <td>
                              <select class="form-control custom-select f-14" (change)="onChangePersonalPropertyTypeDDL($event.target.value,i)">
                                <option *ngFor="let workout of personalPropertyTypeDDL" [value]="workout.VALUE" [selected]="workout.VALUE===person.assetTypeID">
                                  {{workout.TEXT}}
                                </option>
                              </select>
                            </td>
                            <td>
                              <div  class="input-group">
                                <span  class="input-group-addon">$</span>
                                <!-- appDollarplaceholder -->
                                <input appDollarplaceholder type="text" class="form-control rounded-0" [(ngModel)]="person.amount" name="amountP{{i}}" (change)="getTotalPersonnalProperty()">
                              </div>
                            </td>
                            <td>
                              <!-- <input matInput [matDatepicker]="picker1" [max]="maxDate" placeholder="mm/dd/yyyy" [(ngModel)]="person.valueAsOf" [value]="person.valueAsOf"
                                name="valueAsOfP{{i}}" class="form-control">
                              <mat-datepicker-toggle [for]="picker1"></mat-datepicker-toggle>
                              <mat-datepicker #picker1 startView="year" [startAt]="startDate"></mat-datepicker> -->
                              <ng-datepicker [(ngModel)]="person.valueAsOf" name="valueAsOfP{{i}}" [options]="options"
                           ></ng-datepicker>
                            </td>
                            <td>
                              <input type="text" class="form-control" [(ngModel)]="person.description" name="descriptionP{{i}}">
                            </td>
                            <td class="text-center" width="20">
                              <a *ngIf="person.isActive != 'false'" class="btn btn-danger btn-sm text-white" (click)="removePersonnalProp(i)">
                                <i class="zmdi zmdi-delete"></i>
                              </a>
                              <a *ngIf="person.isActive == 'false'" class="btn btn-success btn-sm text-white" (click)="addDeletedPersonnalPropRow(i)">
                                <i class="zmdi zmdi-add">Undo</i>
                              </a>
                            </td>
                          </tr>
                        </table>
                        <div class="text-center">
                          <a (click)="addPersonnalProp()" class="btn btn-secondary dash-border">
                            <i class="zmdi zmdi-plus-circle-o mr-2"></i> Add Personal Property</a>
                          <button class="btn btn-dark px-5 btn-submit" type="submit">Save</button>
                        </div>
                      </form>
                    </div>
                  </ng-template>
                </ngb-panel>


                <ngb-panel>
                  <ng-template ngbPanelTitle>
                    <div class=" d-flex justify-content-between align-items-center ">
                      <span class="font-weight-bold text-dark">Real Estate</span>
                      <span>
                        <i class="zmdi zmdi-caret-down f-26 text-dark"></i>
                      </span>
                    </div>

                  </ng-template>
                  <ng-template ngbPanelContent>
                    <div class="card-block">
                      <div class="d-flex justify-content-center mb-2">
                        <div class="border p-3 f-16 mb-4">
                          Total Real Estate Value
                          <span class="font-weight-bold ml-2">$ {{totalRealEstateProp|number:'1.2-2'}}</span>
                        </div>
                      </div>
                      <form #RealEstatePropertyForm="ngForm" (ngSubmit)="saveRealEstate()">
                        <table class="table">
                          <tr>
                            <!-- <td class="text-muted">Tax Type</td> -->
                            <td class="text-muted">Real Estate Type</td>
                            <td class="text-muted">Appraised Value</td>
                            <td class="text-muted">Value as of</td>
                            <td class="text-muted">Description</td>
                            <td></td>
                          </tr>
                          <tr *ngFor="let estate of realEstateAssetModel.AssetList;let i = index;" class="font-weight-bold">
                            <!-- <td>
                              <select class="form-control custom-select f-14" (change)="onChangeRealEstateTaxDefferedTypeDDL($event.target.value,i)">
                                <option *ngFor="let workout of assetTaxVsDefferedDDL" [value]="workout.VALUE" [selected]="workout.VALUE===estate.taxVsDefferedID">
                                  {{workout.TEXT}}
                                </option>
                              </select>
                            </td> -->
                            <td>
                              <select class="form-control custom-select f-14" (change)="onChangeRealEstatePropertyTypeDDL($event.target.value,i)">
                                <option *ngFor="let workout of realEstateTypeDDL" [value]="workout.VALUE" [selected]="workout.VALUE===estate.assetTypeID">
                                  {{workout.TEXT}}
                                </option>
                              </select>
                            </td>
                            <td>
                              <div class="input-group">
                                <span  class="input-group-addon">$</span>
                                <!-- appDollarplaceholder -->
                                <input appDollarplaceholder type="text" class="form-control rounded-0" [(ngModel)]="estate.amount" name="amountR{{i}}" (change)="getTotalReatEstateProperty()">
                              </div>
                            </td>
                            <td>
                              <!-- <input matInput [matDatepicker]="picker2" [max]="maxDate" placeholder="mm/dd/yyyy" [(ngModel)]="estate.valueAsOf" [value]="estate.valueAsOf"
                                name="valueAsOfR{{i}}" class="form-control">
                              <mat-datepicker-toggle [for]="picker2"></mat-datepicker-toggle>
                              <mat-datepicker #picker2 startView="year" [startAt]="startDate"></mat-datepicker> -->
                              <ng-datepicker [(ngModel)]="estate.valueAsOf" name="valueAsOfR{{i}}" [options]="options"
                              ></ng-datepicker>
                            </td>
                            <td>
                              <input type="text" class="form-control" [(ngModel)]="estate.description" name="descriptionR{{i}}">
                            </td>
                            <td class="text-center" width="20">
                              <a *ngIf="estate.isActive != 'false'" class="btn btn-danger btn-sm text-white" (click)="removeRealEstate(i)">
                                <i class="zmdi zmdi-delete"></i>
                              </a>
                              <a *ngIf="estate.isActive == 'false'" class="btn btn-success btn-sm text-white" (click)="addDeletedRealEstateRow(i)">
                                <i class="zmdi zmdi-add">Undo</i>
                              </a>
                            </td>
                          </tr>
                        </table>
                        <div class="text-center">
                          <a (click)="addRealEstate()" class="btn btn-secondary dash-border">
                            <i class="zmdi zmdi-plus-circle-o mr-2"></i> Add Real Estate Assets</a>
                          <button class="btn btn-dark px-5 btn-submit" type="submit">Save</button>
                        </div>
                      </form>
                    </div>
                  </ng-template>
                </ngb-panel>


                <ngb-panel>
                  <ng-template ngbPanelTitle>
                    <div class=" d-flex justify-content-between align-items-center ">
                      <span class="font-weight-bold text-dark">Non Retirement Investment</span>
                      <span>
                        <i class="zmdi zmdi-caret-down f-26 text-dark"></i>
                      </span>
                    </div>

                  </ng-template>
                  <ng-template ngbPanelContent>
                    <div class="card-block">
                      <div class="d-flex justify-content-center mb-2">
                        <div class="border p-3 f-16 mb-4">
                          Non Retirement Investment Value
                          <span class="font-weight-bold ml-2">$ {{totalNonRetireProp|number:'1.2-2'}}</span>
                        </div>
                      </div>
                      <form #NonRetireInvestPropertyForm="ngForm" (ngSubmit)="saveNonRetirementInvestment()">
                        <table class="table">
                          <tr>
                            <!-- <td class="text-muted">Tax Type</td> -->
                            <td class="text-muted">Investment Type</td>
                            <td class="text-muted">Company</td>
                            <td class="text-muted">Current value</td>
                            <td class="text-muted">Value as of</td>
                            <td class="text-muted">Monthly Contribution</td>
                            <td class="text-muted">Emergency Fund</td>
                            <td></td>
                          </tr>
                          <tr *ngFor="let nonRet of nonRetireAssetModel.AssetList;let i = index;" class="font-weight-bold">
                            <!-- <td>
                              <select class="form-control custom-select f-14" (change)="onChangeNonRetirementTaxDefferedTypeDDL($event.target.value,i)">
                                <option *ngFor="let workout of assetTaxVsDefferedDDL" [value]="workout.VALUE" [selected]="workout.VALUE===nonRet.taxVsDefferedID">
                                  {{workout.TEXT}}
                                </option>
                              </select>
                            </td> -->
                            <td>
                              <select class="form-control custom-select f-14" (change)="onChangeNonRetirementInvestmentPropertyTypeDDL($event.target.value,i)">
                                <option *ngFor="let workout of nonRetInvestTypeDDL" [value]="workout.VALUE" [selected]="workout.VALUE===nonRet.assetTypeID">
                                  {{workout.TEXT}}
                                </option>
                              </select>
                            </td>
                            <td>
                              <input class="form-control" [(ngModel)]="nonRet.company_location" name="company_locationN{{i}}">
                            </td>
                            <td>
                              <div  class="input-group">
                                <span  class="input-group-addon">$</span>
                                <!-- appDollarplaceholder -->
                                <input appDollarplaceholder class="form-control rounded-0" type="text" [(ngModel)]="nonRet.amount" name="amountN{{i}}" (change)="getTotalNonRetireProperty()">
                              </div>
                            </td>
                            <td>
                              <!-- <input matInput [matDatepicker]="picker3" [max]="maxDate" placeholder="mm/dd/yyyy" [(ngModel)]="nonRet.valueAsOf" [value]="nonRet.valueAsOf"
                                name="valueAsOfN{{i}}" class="form-control">
                              <mat-datepicker-toggle [for]="picker3"></mat-datepicker-toggle>
                              <mat-datepicker #picker3 startView="year" [startAt]="startDate"></mat-datepicker> -->
                              <ng-datepicker [(ngModel)]="nonRet.valueAsOf" name="valueAsOfN{{i}}" [options]="options"
                              ></ng-datepicker>
                            </td>
                            <td>
                              <div  class="input-group">
                                <span  class="input-group-addon">$</span>
                                <!-- appDollarplaceholder -->
                                <input appDollarplaceholder type="text" class="form-control rounded-0" [(ngModel)]="nonRet.monthlyContribution" name="monthlyContributionN{{i}}">
                              </div>
                            </td>
                            <td>
                              <input type="checkbox" class="mt-2" [(ngModel)]="nonRet.isIncludeEmergencyFund" name="isIncludeEmergencyFundN{{i}}" (ngModelChange)="nonRet.isIncludeEmergencyFund = $event ? 1 : 0">
                            </td>
                            <td class="text-center" width="20">
                              <a *ngIf="nonRet.isActive != 'false'" class="btn btn-danger btn-sm text-white" (click)="removeNonRetire(i)">
                                <i class="zmdi zmdi-delete"></i>
                              </a>
                              <a *ngIf="nonRet.isActive == 'false'" class="btn btn-success btn-sm text-white" (click)="addDeletedNonRetireRow(i)">
                                <i class="zmdi zmdi-add">Undo</i>
                              </a>
                            </td>
                          </tr>
                        </table>
                        <div class="text-center">
                          <a (click)="addNonRetire()" class="btn btn-secondary dash-border">
                            <i class="zmdi zmdi-plus-circle-o mr-2"></i> Add Non Retirement Assets</a>
                          <button class="btn btn-dark px-5 btn-submit" type="submit">Save</button>
                        </div>
                      </form>
                    </div>
                  </ng-template>
                </ngb-panel>



                <ngb-panel>
                  <ng-template ngbPanelTitle>
                    <div class=" d-flex justify-content-between align-items-center ">
                      <span class="font-weight-bold text-dark">Cash Accounts</span>
                      <span>
                        <i class="zmdi zmdi-caret-down f-26 text-dark"></i>
                      </span>
                    </div>

                  </ng-template>
                  <ng-template ngbPanelContent>
                    <div class="card-block">
                      <div class="d-flex justify-content-center mb-2">
                        <div class="border p-3 f-16 mb-4">
                          Cash Accounts
                          <span class="font-weight-bold ml-2">$ {{totalCashAccProp|number:'1.2-2'}}</span>
                        </div>
                      </div>
                      <form #CashAccountPropertyForm="ngForm" (ngSubmit)="saveCashAccount()">
                        <table class="table">
                          <tr>
                            <!-- <td class="text-muted">Tax Type</td> -->
                            <td class="text-muted">Investment Type</td>
                            <td class="text-muted">Location</td>
                            <td class="text-muted">Current value</td>
                            <td class="text-muted">Value as of</td>
                            <td class="text-muted">Monthly Contribution</td>
                            <td class="text-muted">Emergency Fund</td>
                            <td></td>
                          </tr>
                          <tr *ngFor="let cash of cashAccountAssetModel.AssetList;let i = index" class="font-weight-bold">
                            <!-- <td>
                              <select class="form-control custom-select f-14" (change)="onChangeCashAccountTaxDefferedTypeDDL($event.target.value,i)">
                                <option *ngFor="let workout of assetTaxVsDefferedDDL" [value]="workout.VALUE" [selected]="workout.VALUE===cash.taxVsDefferedID">
                                  {{workout.TEXT}}
                                </option>
                              </select>
                            </td> -->
                            <td>
                              <select class="form-control custom-select f-14" (change)="onChangeCashAccountPropertyTypeDDL($event.target.value,i)">
                                <option *ngFor="let workout of cashAccountTypeDDL" [value]="workout.VALUE" [selected]="workout.VALUE===cash.assetTypeID">
                                  {{workout.TEXT}}
                                </option>
                              </select>
                            </td>
                            <td>
                              <input type="text" class="form-control" [(ngModel)]="cash.company_location" name="company_locationC{{i}}">
                            </td>
                            <td>
                              <div  class="input-group">
                                <span  class="input-group-addon">$</span>
                                <!-- appDollarplaceholder -->
                                <input appDollarplaceholder type="text" class="form-control rounded-0" [(ngModel)]="cash.amount" name="amountC{{i}}" (change)="getTotalCashAccProperty()">
                              </div>
                            </td>
                            <td>
                              <!-- <input matInput [matDatepicker]="picker4" [max]="maxDate" placeholder="mm/dd/yyyy" [(ngModel)]="cash.valueAsOf" [value]="cash.valueAsOf"
                                name="valueAsOfC{{i}}" class="form-control">
                              <mat-datepicker-toggle [for]="picker4"></mat-datepicker-toggle>
                              <mat-datepicker #picker4 startView="year" [startAt]="startDate"></mat-datepicker> -->
                              <ng-datepicker [(ngModel)]="cash.valueAsOf" name="valueAsOfC{{i}}" [options]="options"
                              ></ng-datepicker>
                            </td>
                            <td>
                              <div  class="input-group">
                                <span  class="input-group-addon">$</span>
                                <!-- appDollarplaceholder -->
                                <input appDollarplaceholder type="text" class="form-control rounded-0" [(ngModel)]="cash.monthlyContribution" name="monthlyContributionC{{i}}">
                              </div>
                            </td>
                            <td>
                              <input type="checkbox" class="mt-2" [(ngModel)]="cash.isIncludeEmergencyFund" name="isIncludeEmergencyFundC{{i}}" (ngModelChange)="cash.isIncludeEmergencyFund = $event ? 1 : 0">
                            </td>
                            <td class="text-center" width="20">
                              <a *ngIf="cash.isActive != 'false'" class="btn btn-danger btn-sm text-white" (click)="removeCashAccount(i)">
                                <i class="zmdi zmdi-delete"></i>
                              </a>
                              <a *ngIf="cash.isActive == 'false'" class="btn btn-success btn-sm text-white" (click)="addDeletedCashAccountRow(i)">
                                <i class="zmdi zmdi-add">Undo</i>
                              </a>
                            </td>
                          </tr>
                        </table>
                        <div class="text-center">
                          <a (click)="addCashAccount()" class="btn btn-secondary dash-border">
                            <i class="zmdi zmdi-plus-circle-o mr-2"></i> Add Cash Account</a>
                          <button class="btn btn-dark px-5 btn-submit" type="submit">Save</button>
                        </div>
                      </form>
                    </div>
                  </ng-template>
                </ngb-panel>









              </ngb-accordion>








            </ng-template>
          </ngb-tab>


          <ngb-tab>
            <ng-template ngbTabTitle>Emergency Fund</ng-template>
            <ng-template ngbTabContent>


              <div class="my-3">
                <p class="f-16">What is the minimum amount you feel comfortable keeping liquid in today's dollars? </p>

                <div  class="input-group">
                  <span  class="input-group-addon">$</span>
                  <!-- appDollarplaceholder -->
                  <input appDollarplaceholder type="text" class="form-control col-6" [(ngModel)]="emergencyFund" name="emergencyFund">
                </div>
                <button class="btn btn-dark px-5 btn-submit mt-3" (click)="emergencyFundSave()">Save</button>
                <div class="row mt-3">
                  <div class="col-md-6">
                    <i class="zmdi zmdi-brightness-5 mr-2 text-muted"></i> Your 3 months gross household income
                    <span class="font-weight-bold"> $21,600.00</span>
                  </div>
                  <div class="col-md-6">
                    <i class="zmdi zmdi-brightness-5 mr-2 text-muted"></i> Your 6 months gross household income
                    <span class="font-weight-bold"> $43,200.00 </span>
                  </div>
                </div>

                <p class="f-12 text-muted mt-2">Suggested : a minimum of 3 months gross income, Ideal : 6 months gross income</p>
              </div>

            </ng-template>
          </ngb-tab>


          <ngb-tab>
            <ng-template ngbTabTitle>Retirement Assets</ng-template>
            <ng-template ngbTabContent>


              <div class="my-3">
                <p class="f-16">How much monthly household income will you need at retirement in today's dollars?</p>
                <div  class="input-group">
                  <span  class="input-group-addon">$</span>
                  <input appDollarplaceholder type="text" class="form-control col-6" [(ngModel)]="householdIncome" name="householdIncome">
                </div>
                <button class="btn btn-dark px-5 btn-submit mt-3" (click)="emergencyFundHouseholdSave()">Save</button>

              </div>


              <table class="table">
                <tr>
                  <td class="text-muted">Name </td>
                  <td class="text-muted">Desired Retire age</td>
                  <td class="text-muted">Life Expectancy</td>
                  <td class="text-muted">Total Assets</td>
                  <td class="text-muted">Retirement Assets</td>
                </tr>
                <tr *ngFor="let persn of Asset_RetirementModel" class="font-weight-bold">
                  <td>
                    <label>
                      {{persn.name}}
                    </label>
                  </td>
                  <td>
                    <label>
                      {{persn.retAge}}
                    </label>
                  </td>
                  <td>
                    <label>
                      {{persn.lifeEcpectancy}}
                    </label>
                  </td>
                  <td>
                    <label>
                      {{persn.totalAmount}}
                    </label>
                  </td>
                  <td>
                    <a class="btn btn-secondary" (click)="openRetirementAssets(persn.assetID)">View</a>
                  </td>
                </tr>
              </table>

              <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <ngb-panel>
                  <ng-template ngbPanelTitle>
                    <div class=" d-flex justify-content-between align-items-center ">
                      <span class="font-weight-bold text-dark">Other Retirement Plan</span>
                      <span>
                        <i class="zmdi zmdi-caret-down f-26 text-dark"></i>
                      </span>
                    </div>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    <form #OtherRetireProp="ngForm" (ngSubmit)="otherRetireSave()">
                      <table class="table">
                        <tr>
                          <!-- <td class="text-muted">Tax Type </td> -->
                          <td class="text-muted">Type </td>
                          <td class="text-muted">Company</td>
                          <td class="text-muted">Current Value</td>
                          <td class="text-muted">Value as of</td>
                          <td class="text-muted">Monthly Contribution</td>
                          <td class="text-muted">Employer Contribution</td>
                          <td></td>
                        </tr>
                        <tr *ngFor="let ot of Asset_RetirementDetailsModel_Other;let i=index;" class="font-weight-bold">
                          <!-- <td>
                            <select class="form-control custom-select f-14" (change)="onChangeOtherRetireTaxDefferedTypeDDL($event.target.value,i)">
                              <option *ngFor="let workout of assetTaxVsDefferedDDL" [value]="workout.VALUE" [selected]="workout.VALUE===ot.taxVsDefferedID">
                                {{workout.TEXT}}
                              </option>
                            </select>
                          </td> -->
                          <td>
                            <select class="form-control custom-select f-14" (change)="onChangeOtherRetireTypeDDL($event.target.value, i)">
                              <option *ngFor="let workout of otherRetAssetTypeDDL" [value]="workout.VALUE" [selected]="workout.VALUE===ot.assetTypeID">
                                {{workout.TEXT}}
                              </option>
                            </select>
                          </td>
                          <td>
                            <input type="text" class="form-control" [(ngModel)]="ot.company" name="companyOT{{i}}">
                          </td>
                          <td>
                            <div  class="input-group">
                              <span  class="input-group-addon">$</span>
                              <!-- appDollarplaceholder -->
                              <input appDollarplaceholder type="text" class="form-control round-0" [(ngModel)]="ot.amount" name="amountOT{{i}}">
                            </div>
                          </td>
                          <td>
                            <!-- <input matInput [matDatepicker]="picker1" [max]="maxDate" placeholder="mm/dd/yyyy" [(ngModel)]="ot.valueAsOf" name="valueAsOfOT{{i}}"
                              [value]="ot.valueAsOf" class="form-control">
                            <mat-datepicker-toggle [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1 startView="year" [startAt]="startDate"></mat-datepicker> -->
                              <ng-datepicker [(ngModel)]="ot.valueAsOf" name="valueAsOfOT{{i}}" [options]="options"
                              ></ng-datepicker>
                          </td>
                          <td>
                            <div  class="input-group">
                              <span  class="input-group-addon">$</span>
                              <!-- appDollarplaceholder -->
                              <input appDollarplaceholder type="text" class="form-control round-0" [(ngModel)]="ot.monthlyContribution" name="monthlyContributionOT{{i}}">
                            </div>
                          </td>
                          <td>
                            <input type="text" class="form-control round-0" [(ngModel)]="ot.empContribution" name="empContributionOT{{i}}">
                          </td>
                          <td class="text-center" width="20">
                            <a *ngIf="ot.isActive != 'false'" class="btn btn-danger btn-sm text-white" (click)="removeOtherRetRow(i)">
                              <i class="zmdi zmdi-delete"></i>
                            </a>
                            <a *ngIf="ot.isActive == 'false'" class="btn btn-success btn-sm text-white" (click)="addDeletedOtherRetRow(i)">
                              <i class="zmdi zmdi-add">Undo</i>
                            </a>
                          </td>
                        </tr>
                      </table>

                      <div class="text-center">
                        <a class="btn btn-secondary dash-border mt-3" (click)="addOtherRetire()">
                          <i class="zmdi zmdi-plus-circle-o mr-2"></i> Add More</a>
                        <button class="btn btn-dark px-5 btn-submit mt-3" type="submit">Save</button>
                      </div>
                    </form>
                  </ng-template>
                </ngb-panel>

              </ngb-accordion>


            </ng-template>
          </ngb-tab>





        </ngb-tabset>
      </div>






      <!-- <div class="tab-container mt-4">
   
  
    <div id="myTabContent" class="tab-content">
       
      
   
  
  
      
  <div id="assets-tabmenu3" class="tab-pane fade p-3 " role="tabpanel"></div>
  
  
      
  </div>
  </div>   -->


    </div>


    <div class="action-panel">
      <div class="p-2 action-content">
        <h5 class="text-center mb-3"> Action Points</h5>
        <hr>
        <p class="f-16 text-center"> New Action items</p>
        <div class="input-group mb-2">
          <input class="form-control rounded-0" value="" type="text" placeholder="Action Point">
        </div>
        <div class="input-group mb-2">
          <input class="form-control rounded-0" type="text" placeholder="Due Date">
          <span class="input-group-addon bg-none">
            <i class="zmdi zmdi-calendar"></i>
          </span>
        </div>
        <div class="input-group mb-2">
          <select name="" class="custom-select form-control f-14">
            <option value="">Suggested to</option>
            <option value="">Suggested to</option>
            <option value="">Suggested to</option>
          </select>
        </div>
        <div class="input-group mb-2">
          <select name="" class="custom-select form-control f-14">
            <option value="">Notify once per week </option>
          </select>
        </div>
        <div class="from-control mb-2">

          <textarea name="" id="" cols="30" rows="3" class="form-control rounded-0" placeholder="Comment"></textarea>
          <div class="text-center mt-3">
            <button class="btn btn-primary w-50">Save</button>
          </div>
        </div>

        <div class="tab-container mt-4">
          <ul id="myTab" class="nav nav-tabs f-16  border-0" role="tablist">
            <li class="nav-item">
              <a class="nav-link pb-0 border-0 active" data-toggle="tab" href="#tabs1" role="tab">All</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pb-0  border-0" data-toggle="tab" href="#tabs2" role="tab">Due</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pb-0  border-0" data-toggle="tab" href="#tabs3" role="tab">Today</a>
            </li>
            <li class="nav-item">
              <a class="nav-link pb-0  border-0" data-toggle="tab" href="#tabs4" role="tab">This Month</a>
            </li>
          </ul>
          <div id="myTabContent" class="tab-content border-0">
            <div id="tabs1" class="tab-pane fade p-3  active show" role="tabpanel">
              <div class="d-flex align-items-start mb-3">
                <div class="mr-2">
                  <input type="checkbox">
                </div>
                <div>
                  <p class="m-0">New action item</p>
                  <p class="f-12">
                    <span class="text-muted">Due date:</span> 10 Aug 2017</p>
                </div>
              </div>
              <div class="d-flex align-items-start mb-3">
                <div class="mr-2">
                  <input type="checkbox">
                </div>
                <div>
                  <p class="m-0">New action item</p>
                  <p class="f-12">
                    <span class="text-muted">Due date:</span> 10 Aug 2017</p>
                </div>
              </div>
              <div class="d-flex align-items-start mb-3">
                <div class="mr-2">
                  <input type="checkbox">
                </div>
                <div>
                  <p class="m-0">New action item</p>
                  <p class="f-12">
                    <span class="text-muted">Due date:</span> 10 Aug 2017</p>
                </div>
              </div>
              <div class="d-flex align-items-start mb-3">
                <div class="mr-2">
                  <input type="checkbox">
                </div>
                <div>
                  <p class="m-0">New action item</p>
                  <p class="f-12">
                    <span class="text-muted">Due date:</span> 10 Aug 2017</p>
                </div>
              </div>
              <div class="d-flex align-items-start mb-3">
                <div class="mr-2">
                  <input type="checkbox">
                </div>
                <div>
                  <p class="m-0">New action item</p>
                  <p class="f-12">
                    <span class="text-muted">Due date:</span> 10 Aug 2017</p>
                </div>
              </div>
              <div class="d-flex align-items-start mb-3">
                <div class="mr-2">
                  <input type="checkbox">
                </div>
                <div>
                  <p class="m-0">New action item</p>
                  <p class="f-12">
                    <span class="text-muted">Due date:</span> 10 Aug 2017</p>
                </div>
              </div>

            </div>
            <div id="tabs2" class="tab-pane fade p-3" role="tabpanel">
              <div class="d-flex align-items-start mb-3">
                <div class="mr-2">
                  <input type="checkbox">
                </div>
                <div>
                  <p class="m-0">New action item</p>
                  <p class="f-12">
                    <span class="text-muted">Due date:</span> 10 Aug 2017</p>
                </div>
              </div>
              <div class="d-flex align-items-start mb-3">
                <div class="mr-2">
                  <input type="checkbox">
                </div>
                <div>
                  <p class="m-0">New action item</p>
                  <p class="f-12">
                    <span class="text-muted">Due date:</span> 10 Aug 2017</p>
                </div>
              </div>
            </div>
            <div id="tabs3" class="tab-pane fade p-3" role="tabpanel">
              <div class="d-flex align-items-start mb-3">
                <div class="mr-2">
                  <input type="checkbox">
                </div>
                <div>
                  <p class="m-0">New action item</p>
                  <p class="f-12">
                    <span class="text-muted">Due date:</span> 10 Aug 2017</p>
                </div>
              </div>
              <div class="d-flex align-items-start mb-3">
                <div class="mr-2">
                  <input type="checkbox">
                </div>
                <div>
                  <p class="m-0">New action item</p>
                  <p class="f-12">
                    <span class="text-muted">Due date:</span> 10 Aug 2017</p>
                </div>
              </div>
              <div class="d-flex align-items-start mb-3">
                <div class="mr-2">
                  <input type="checkbox">
                </div>
                <div>
                  <p class="m-0">New action item</p>
                  <p class="f-12">
                    <span class="text-muted">Due date:</span> 10 Aug 2017</p>
                </div>
              </div>
            </div>
            <div id="tabs4" class="tab-pane fade p-3" role="tabpanel">
              <div class="d-flex align-items-start mb-3">
                <div class="mr-2">
                  <input type="checkbox">
                </div>
                <div>
                  <p class="m-0">New action item</p>
                  <p class="f-12">
                    <span class="text-muted">Due date:</span> 10 Aug 2017</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="action-point-btn">Action Points</div>
    </div>
  </div>
</div>