<div class="mb-auto">
  <div class="header fixed-top">
    <app-header></app-header>
    <div class="status-bar py-2">
      <div class="container-fluid">
        <div class="logo-space">
          <div class="row">
            <div class="col-md-6">
              <h5 class="mb-0 mt-1">Setup</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="page-container mb-auto py-2">
    <div class="container">
      <nav class="breadcrumb">
        <a class="breadcrumb-item text-muted" *ngIf="advisor" (click)="advisorsettings()">Setup</a>
        <a class="breadcrumb-item text-muted" *ngIf="client" (click)="clientsettings()">Setup</a>
        <a class="breadcrumb-item text-muted" *ngIf="admin" (click)="adminsettings()">Setup</a>
        <span class="breadcrumb-item active">{{settingslabel}}</span>
      </nav>

      <div class="custom-tab-container">
        <form #advisorForm="ngForm" (ngSubmit)="advisorForm.form.valid&&continue()" novalidate>

          <ngb-tabset (tabChange)="changedTab($event)">
            <ngb-tab title="Advisor Settings">
              <ng-template ngbTabContent>
                <div class="form-wrapper m-auto">
                  <div class="page1">
                    <div class="text-center mb-3 d-flex justify-content-center">
                      <div class="d-inline-block">
                        <label for="file" class="p-relative d-inline-block img-wrap rounded-circle">
                            <img  [src]="advisorModel.advisorInfo.imgPath" width="125" alt="">
                          <!-- <img *ngIf="!userImage" [src]="imgPath" width="125" alt="">
                          <img class="p-relative d-inline-block img-wrap rounded-circle" *ngIf="userImage" [src]="userImage" width="125" alt=""> -->

                          <a class=" change-img" id="zmdi-camera">
                            Change Image
                          </a>
                          <input type="file" accept="image/*" id="file" class="custom-file-input col-md-1" (change)="changeListener($event)">

                        </label>

                      </div>
                    </div>
                    <div class="form-group">
                      <label for="">Primary Email
                        <i class="fa fa-asterisk text-danger"></i>
                      </label>

                      <input type="text" class="form-control m-wrap" name="emailPrimary" [(ngModel)]="advisorModel.UserInfo.emailPrimary" #emailPrimary="ngModel"
                        placeholder="Primary Email" (ngModelChange)="checkEmail()" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                        required>
                      <small *ngIf="!emailPrimary.valid && emailPrimary.errors && advisorForm.submitted" class="error_message">
                        <div [hidden]="!emailPrimary.errors.required">
                          Email is required
                        </div>
                        <div [hidden]="!emailPrimary.errors.pattern">
                          Enter valid email
                        </div>
                      </small>
                      <small [hidden]="!emailIdExist" class="error_message">
                        Email id not available
                      </small>
                    </div>
                    <div class="form-group">
                      <label for="">Secondary Email</label>
                      <input type="text" class="form-control m-wrap" placeholder="Secondary Email" name="emailSecondary" [(ngModel)]="advisorModel.UserInfo.emailSecondary"
                        #emailSecondary="ngModel">
                    </div>
                    <div class="form-group">
                      <label for="">Username
                        <i class="fa fa-asterisk text-danger"></i>
                      </label>
                      <input type="text" class="form-control m-wrap" placeholder="User Name" name="userName" [(ngModel)]="advisorModel.UserInfo.userName"
                        #userName="ngModel" readonly>
                    </div>
                    <div class="form-group">
                      <label for="">First Name
                        <i class="fa fa-asterisk text-danger"></i>
                      </label>
                      <input type="text" class="form-control m-wrap" placeholder="First Name" name="firstName" [(ngModel)]="advisorModel.advisorInfo.firstName"
                        #firstName="ngModel" pattern="^[a-zA-Z]+$" required>
                      <small *ngIf="!firstName.valid && firstName.errors && advisorForm.submitted" class="error_message">
                        <div [hidden]="!firstName.errors.required">
                          First Name is required
                        </div>
                        <div [hidden]="!firstName.errors.pattern">
                          Number, space, special characters not allowed
                        </div>
                      </small>

                    </div>
                    <div class="form-group">
                      <label for="">Last Name
                        <i class="fa fa-asterisk text-danger"></i>
                      </label>

                      <input type="text" class="form-control m-wrap" placeholder="Last Name" name="lastName" [(ngModel)]="advisorModel.advisorInfo.lastName"
                        #lastName="ngModel" pattern="^[a-zA-Z]+$" required>
                      <small *ngIf="!lastName.valid && lastName.errors && advisorForm.submitted" class="error_message">
                        <div [hidden]="!lastName.errors.required">
                          Last Name is required
                        </div>
                        <div [hidden]="!lastName.errors.pattern">
                          Number, space, special characters not allowed
                        </div>
                      </small>
                    </div>

                  </div>
                  <div class="page2">
                    <div class="form-group">
                      <label for="">Company</label>
                      <input type="text" class="form-control m-wrap" [attr.maxLength]="50" placeholder="Company" [(ngModel)]="advisorModel.advisorInfo.titleA" name="titleA"
                        #titleA="ngModel">
                    </div>
                    <div class="form-group">
                      <label for="">Designation</label>
                      <input type="text" class="form-control m-wrap" placeholder="Designation" name="designation"
                       [(ngModel)]="advisorModel.advisorInfo.designation"
                        #designation="ngModel" [attr.maxLength]="100">
                    </div>
                    <div class="row mb-2">
                      <div class="col">
                        <i class="zmdi zmdi-circle f-6 mr-3 text-muted"></i>
                        <label for="" class="font-weight-bold">FINRA Registered</label>
                      </div>
                      <div class="col">
                        No
                        <label class="switch align-text-bottom mx-2">
                          <input type="checkbox" [(ngModel)]="advisorModel.advisorInfo.finraReg" name="finraReg" [checked]="advisorModel.advisorInfo.finraReg">
                          <span class="slider-toggle round"></span>
                        </label>
                        Yes
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col">
                        <i class="zmdi zmdi-circle f-6 mr-3 text-muted"></i>
                        <label for="" class="font-weight-bold">SEC Reg IAR ?</label>
                      </div>
                      <div class="col">
                        No
                        <label class="switch align-text-bottom mx-2">
                          <input type="checkbox" [(ngModel)]="advisorModel.advisorInfo.secReg" name="secReg" [checked]="advisorModel.advisorInfo.secReg">
                          <span class="slider-toggle round"></span>
                        </label>
                        Yes
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="">Broke Dealer Name</label>
                          <input type="text" class="form-control m-wrap" placeholder="Broke Dealer Name" name="brokerName" [(ngModel)]="advisorModel.advisorInfo.brokerName"
                            #brokerName="ngModel">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="">RIA Name</label>
                          <input type="text" class="form-control m-wrap" placeholder="RIA Name" name="riaName" [(ngModel)]="advisorModel.advisorInfo.riaName"
                            #riaName="ngModel">
                        </div>
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="">Telephone</label>
                          <input type="text" class="form-control m-wrap" placeholder="Telephone" name="telephone" [restrictNumeric] [attr.maxLength]="10"
                            [(ngModel)]="advisorModel.advContact.telephone">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="">Cellphone</label>
                          <input type="text" class="form-control m-wrap" placeholder="cellphone" name="cellphone" [restrictNumeric] [attr.maxLength]="10"
                            [(ngModel)]="advisorModel.advContact.cellphone">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="">Address</label>
                      <input type="text" class="form-control m-wrap" [attr.maxLength]="200" placeholder="Address line" name="addressOne" [(ngModel)]="advisorModel.advContact.address">
                    </div>

                    <div class="row mb-2">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="">City</label>
                          <input type="text" class="form-control m-wrap" [attr.maxLength]="50" placeholder="City" name="city" [(ngModel)]="advisorModel.advContact.city">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="">State</label>
                          <select class="form-control custom-select f-14"  (change)="stateChanged($event.target.value)">
                            <option *ngFor="let workout of states" [value]="workout.VALUE" [selected]="workout.VALUE=== advisorModel.advContact.state">{{workout.TEXT}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="">Zipcode
                            <i class="fa fa-asterisk text-danger"></i>
                          </label>
                          <input type="text" class="form-control m-wrap" [attr.maxLength]="5" placeholder="Zipcode" name="zip" [(ngModel)]="advisorModel.advContact.zip"
                            #zip="ngModel" [restrictNumeric] required>
                          <small *ngIf="!zip.valid && zip.errors && advisorForm.submitted" class="error_message">
                            <div [hidden]="!zip.errors.required">
                              ZipCode is required
                            </div>

                          </small>

                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="">
                        <input type="checkbox" [(ngModel)]="advisorModel.advBranch.checked" name="checked"
                         (change)="addToBranch($event,advisorModel.advBranch.checked)"> Also serve as the branch office </label>
                    </div>
                    <div class="form-group">
                      <label for="">Branch Address</label>
                      <input type="text" class="form-control m-wrap" [attr.maxLength]="200"  placeholder="Address line" name="addressone"
                       [(ngModel)]="advisorModel.advBranch.bAddress">
                    </div>

                    <div class="row mb-2">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="">Branch City</label>
                          <input type="text" [attr.maxLength]="50" class="form-control m-wrap" placeholder="Branch City" name="bCity" [(ngModel)]="advisorModel.advBranch.bCity">

                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="">Branch State</label>

                          <select class="form-control custom-select f-14" (change)="branchstateChanged($event.target.value)">
                            <option *ngFor="let workout of states" [value]="workout.VALUE" [selected]="workout.VALUE=== advisorModel.advBranch.bState">{{workout.TEXT}}</option>
                          </select>
                        </div>

                      </div>
                    </div>
                    <div class="row mb-2">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="">Branch Zip code
                            <i class="fa fa-asterisk text-danger"></i>
                          </label>
                          <input type="text" class="form-control m-wrap" [attr.maxLength]="5" placeholder="Branch Zip code" name="bZip" [(ngModel)]="advisorModel.advBranch.bZip"
                            #bZip="ngModel" [restrictNumeric] required>
                          <small *ngIf="!bZip.valid && bZip.errors && advisorForm.submitted" class="error_message">
                            <div [hidden]="!bZip.errors.required">
                              Zip Code is required
                            </div>

                          </small>

                        </div>
                      </div>

                    </div>

                    <div class="form-group">
                      <label for="">Disclaimer</label>
                      <select class="form-control custom-select f-14" (change)="disclaimerChanged($event.target.value)">
                        <option *ngFor="let workout of disclaimers" [value]="workout.VALUE" [selected]="workout.VALUE=== advisorModel.advisorInfo.disclaimer">{{workout.TEXT}}</option>
                      </select>
                    

                    </div>
                    <div class="mx-2">
                      {{disclaimerDatavalue}}
                    </div>

                  </div>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>Global Settings</ng-template>
              <ng-template ngbTabContent>
                <ngb-tabset [justify]="currentJustify">
                  <ngb-tab title="Global Settings">
                    <ng-template ngbTabContent>
                      <p class="text-center mt-3">The Settings you designate below will represent the defaults for any new Clients reports you generate.
                        <br> You will be able to change these defaults for each clients.</p>


                      <div class="row mt-3">
                        <div class="col-md-6">
                          <div class="row mb-3">
                            <div class="col-md-5">
                              <label for="" class="mt-2">Local Time Zone</label>
                            </div>
                            <div class="col-md-7">

                              <select class="form-control custom-select f-14" (change)="timezoneChanged($event.target.value)">
                                <option *ngFor="let workout of timezones" [value]="workout.VALUE" [selected]="workout.VALUE=== advisorModel.advglobal.timeZone">{{workout.TEXT}}</option>
                              </select>
                            </div>
                          </div>
                          <div class="row mb-3">
                            <div class="col-md-5">
                              <label for="" class="mt-2">Currency</label>
                            </div>
                            <div class="col-md-7">

                              <select class="form-control custom-select f-14" name="currency" [ngModel]="advisorModel.advglobal.currency" (change)="currencyChanged($event.target.value)">
                                <option *ngFor="let workout of currencies" [value]="workout.VALUE" [selected]="workout.VALUE=== advisorModel.advglobal.currency">{{workout.TEXT}}</option>
                              </select>
                            </div>
                          </div>
                          <div class="row mb-3">
                            <div class="col-md-5">
                              <label for="" class="mt-2">Default State</label>
                            </div>
                            <div class="col-md-7">
                              <select class="form-control custom-select f-14" name="defaultstate" [ngModel]="advisorModel.advglobal.defaultstate" (change)="globalStateChanged($event.target.value)">
                                <option *ngFor="let workout of states" [value]="workout.VALUE" [selected]="workout.VALUE=== advisorModel.advglobal.defaultstate">{{workout.TEXT}}</option>
                              </select>

                            </div>
                          </div>

                        </div>
                        <div class="w-100 m-2">

                          <ngb-accordion #acc="ngbAccordion">
                            <ngb-panel>
                              <ng-template ngbPanelTitle>
                                <div class=" d-flex justify-content-between align-items-center ">
                                  <span class="font-weight-bold text-dark">Retirement Defaults</span>
                                  <span>
                                    <i class="zmdi zmdi-caret-down f-26 text-dark"></i>
                                  </span>
                                </div>
                              </ng-template>


                              <ng-template ngbPanelContent>
                                <div class="card-block">
                                  <div class="row">
                                    <div class="col-md-3">
                                      <label for="" class="mt-2">Retirement age</label>
                                      <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                        <input type="text" class="form-control rounded-0" (paste)="onPaste($event)" placeholder="" [(ngModel)]="advisorModel.advRetirement.retireAge"
                                          name="retireAge" [restrictNumeric] [restrictmaxvalue]="150">  

                                        <span class="input-group-addon bg-none border-0 f-18">Years</span>
                                      </div>
                                    </div>
                                    <div class="col-md-3">
                                      <label for="" class="mt-2">Pre-retirement return</label>
                                      <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                        <input type="text" class="form-control rounded-0"  (paste)="onPaste($event)" 
                                        [(ngModel)]="advisorModel.advRetirement.preRetReturnTax" [restrictNumeric]
                                          name="preRetReturnTax" #preRetReturnTax="ngModel">
                                        <span class="input-group-addon bg-none border-0 f-18">%</span>
                                      </div>
                                    </div>
                                    <div class="col-md-3">
                                      <label for="" class="mt-2">Retirement Tax Rate</label>
                                      <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                        <input type="text" class="form-control rounded-0" (paste)="onPaste($event)" [(ngModel)]="advisorModel.advRetirement.retTax" [restrictNumeric] name="retTax"
                                          #retTax="ngModel">
                                        <span class="input-group-addon bg-none border-0 f-18">%</span>
                                      </div>
                                    </div>
                                    <div class="col-md-3">
                                      <label for="" class="mt-2">Monthly income at retirement</label>
                                      <div class="input-group col-sm-8 col-md-10  col-lg-12  col-xl-12 p-0">
                                        <input type="text" class="form-control rounded-0"  (paste)="onPaste($event)" [(ngModel)]="advisorModel.advRetirement.monthIncome" [restrictNumeric]
                                          name="monthIncome" #monthIncome="ngModel">
                                        <span class="input-group-addon bg-none border-0 f-18">In $</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row mt-3">
                                    <div class="col-md-3">
                                      <label for="">Life Expectancy</label>
                                      <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                        <input type="text" class="form-control rounded-0" (paste)="onPaste($event)" [(ngModel)]="advisorModel.advRetirement.lifeExpectency" [restrictNumeric]
                                          name="lifeExpectency" #lifeExpectency="ngModel">
                                        <span class="input-group-addon bg-none border-0 f-18">Years</span>
                                      </div>
                                    </div>
                                    <div class="col-md-3">
                                      <label for="">Retirement return</label>
                                      <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                        <input type="text" class="form-control rounded-0"  (paste)="onPaste($event)" [(ngModel)]="advisorModel.advRetirement.retReturnTax" app-restrict-input="float"
                                          name="retReturnTax" #retReturnTax="ngModel">
                                        <span class="input-group-addon bg-none border-0 f-18">%</span>
                                      </div>
                                    </div>
                                    <div class="col-md-3">
                                      <label for="">Inflation</label>
                                      <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                        <input type="text" class="form-control rounded-0" (paste)="onPaste($event)" name="inflation" [restrictNumeric] [(ngModel)]="advisorModel.advRetirement.inflation"
                                          #inflation="ngModel">

                                        <span class="input-group-addon bg-none border-0 f-18">%</span>
                                      </div>
                                    </div>
                                  </div>

                                </div>
                              </ng-template>
                            </ngb-panel>
                            <ngb-panel>
                              <ng-template ngbPanelTitle>
                                <div class="d-flex justify-content-between align-items-center">
                                  <span class="font-weight-bold text-dark">Income Projection Defaults</span>
                                  <span>
                                    <i class="zmdi zmdi-caret-down f-26 text-dark"></i>
                                  </span>
                                </div>
                              </ng-template>
                              <ng-template ngbPanelContent>
                                <div class="card-block">
                                  <div class="row">
                                    <div class="col-md-3">
                                      <label for="">Primary pay raise default</label>
                                      <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                        <input type="text" [restrictNumeric] (paste)="onPaste($event)" class="form-control rounded-0"
                                         [(ngModel)]="advisorModel.advIncome.primaryInflation" name="primaryInflation"
                                          #primaryInflation="ngModel">

                                        <span class="input-group-addon bg-none border-0 f-18">%</span>
                                      </div>
                                    </div>

                                    <div class="col-md-3">
                                      <label for="">Spouse pay raise default</label>
                                      <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                        <input type="text"[restrictNumeric] (paste)="onPaste($event)" class="form-control rounded-0"
                                         [(ngModel)]="advisorModel.advIncome.spouseInflation" name="spouseInflation"
                                          #spouseInflation="ngModel">
                                        <span class="input-group-addon bg-none border-0 f-18">%</span>
                                      </div>
                                    </div>
                                    <div class="col-md-3">
                                      <label for="">Inflation</label>
                                      <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                        <input type="text" [restrictNumeric] (paste)="onPaste($event)" class="form-control rounded-0" 
                                        name="inflation" [(ngModel)]="advisorModel.advIncome.inflation" #inflation="ngModel">

                                        <span class="input-group-addon bg-none border-0 f-18">%</span>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- </div> -->


                                </div>
                              </ng-template>
                            </ngb-panel>


                            <ngb-panel>
                              <ng-template ngbPanelTitle>
                                <div class="d-flex justify-content-between align-items-center">
                                  <span class="font-weight-bold text-dark">Debt Defaults</span>
                                  <span>
                                    <i class="zmdi zmdi-caret-down f-26 text-dark"></i>
                                  </span>
                                </div>
                              </ng-template>
                              <ng-template ngbPanelContent>
                                <div class="card-block">
                                  <div class="row">
                                    <div class="col-md-3">
                                      <label for="">Credit card minimum payment</label>
                                      <div class="input-group col-sm-8 col-md-8  col-lg-6  col-xl-4 p-0">
                                        <input  [restrictNumeric] type="text" class="form-control rounded-0"  (paste)="onPaste($event)"
                                         [(ngModel)]="advisorModel.advDebt.minPay" name="minPay" #minPay="ngModel">

                                      </div>
                                    </div>
                                    <!-- </div> -->
                                    <!-- <div class="row mt-3"> -->
                                    <div class="col-md-3">
                                      <label for="">Credit card % of unpaid balance</label>
                                      <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                        <input type="text"  (paste)="onPaste($event)" class="form-control rounded-0" [restrictNumeric] [(ngModel)]="advisorModel.advDebt.unpaidPercentage" name="unpaidPercentage"
                                          #unpaidPercentage="ngModel">
                                        <span class="input-group-addon bg-none border-0 f-18">%</span>

                                      </div>
                                    </div>
                                    <div class="col-md-3">
                                      <label for="">Inflation</label>
                                      <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                        <input type="text" (paste)="onPaste($event)" class="form-control rounded-0" name="inflation" [restrictNumeric] [(ngModel)]="advisorModel.advIncome.inflation"
                                          #inflation="ngModel">

                                        <span class="input-group-addon bg-none border-0 f-18">%</span>
                                      </div>
                                    </div>
                                  </div>


                                </div>
                              </ng-template>
                            </ngb-panel>


                            <!-- /////////////// tab container //////////////////// -->

                            <ngb-panel>
                              <ng-template ngbPanelTitle>
                                <div class=" d-flex justify-content-between align-items-center">
                                  <span class="font-weight-bold text-dark">Emergency Fund Defaults</span>
                                  <span>
                                    <i class="zmdi zmdi-caret-down f-26 text-dark"></i>
                                  </span>
                                </div>
                              </ng-template>
                              <ng-template ngbPanelContent>
                                <div class="card-block">
                                  <div class="row">
                                    <div class="col-md-4">
                                      <div class="mb-4">
                                        <p class="m-0">
                                          <label for=""> Default Graph</label>
                                        </p>
                                        <mat-radio-group class="example-radio-group" name="chart" [(ngModel)]="chart">
                                            <mat-radio-button class="example-radio-button" *ngFor="let chart of charts" 
                                            [value]="chart">
                                              {{chart}}
                                            </mat-radio-button>
                                          </mat-radio-group>
                                          
                                       
                                      </div>
                                      <div class="mb-4">
                                        <p class="m-0">
                                          <label for="">Target Emergency Fund</label>
                                          <input type="text" class="form-control rounded-0"  app-restrict-input="float"
                                           [(ngModel)]="advisorModel.advEmergency.emergencyFundValue" name="emergencyFundValue"
                                            #emergencyFundValue="ngModel">

                                        </p>
                                        <mat-radio-group class="example-radio-group" name="income" [(ngModel)]="income">
                                            <mat-radio-button class="example-radio-button" *ngFor="let income of incomeperiod" 
                                            [value]="income">
                                              {{income}}
                                            </mat-radio-button>
                                          </mat-radio-group>
                                        <!-- <label for="chk" class="f-16">
                                          <input type="checkbox" [(ngModel)]="advisorModel.advEmergency.isThreeMonth" name="isThreeMonth">

                                          <span class="ml-2"> $ xxx - 3Month household income </span>
                                        </label>
                                        <label for="chk" class="f-16">
                                          <input type="checkbox" [(ngModel)]="advisorModel.advEmergency.isSixMonth" name="isSixMonth">

                                          <span class="ml-2"> $ xxx - 6Month household income </span>
                                        </label> -->
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                      <div class="mb-4">
                                        <p class="m-0">
                                          <label for=""> Emergency Rate of return</label>
                                        </p>

                                        <div class="form-group d-flex">

                                          <div class="input-group col-sm-6 col-md-8 col-lg-6 col-xl-4 p-0 mr-4">
                                            <input type="text" app-restrict-input="float" class="form-control rounded-0" [(ngModel)]="advisorModel.advEmergency.rateA" name="rateA" #rateA="ngModel">
                                            <span class="input-group-addon bg-none border-0 f-18">%</span>
                                          </div>
                                          <div class="input-group col-sm-6 col-md-8 col-lg-6 col-xl-4 p-0 mr-4">
                                            <input type="text" app-restrict-input="float" class="form-control rounded-0" [(ngModel)]="advisorModel.advEmergency.rateB" name="rateB" #rateB="ngModel">
                                            <span class="input-group-addon bg-none border-0 f-18">%</span>
                                          </div>
                                          <div class="input-group col-sm-6 col-md-8 col-lg-6 col-xl-4 p-0 mr-4">
                                            <input type="text" app-restrict-input="float" class="form-control rounded-0" [(ngModel)]="advisorModel.advEmergency.rateC" name="rateC" #rateC="ngModel">
                                            <span class="input-group-addon bg-none border-0 f-18">%</span>
                                          </div>
                                        </div>
                                      </div>


                                    </div>
                                    <div class="col-md-3 offset-1">
                                      <label for="">Inflation</label>
                                      <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                        <input type="text" class="form-control rounded-0"  (paste)="onPaste($event)" [restrictNumeric] name="inflation" [(ngModel)]="advisorModel.advEmergency.inflation"
                                          #inflation="ngModel">
                                        <span class="input-group-addon bg-none border-0 f-18">%</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </ng-template>
                            </ngb-panel>


                            <!-- /////////////// tab container //////////////////// -->

                            <ngb-panel>
                              <ng-template ngbPanelTitle>
                                <div class="d-flex justify-content-between align-items-center">
                                  <span class="font-weight-bold text-dark">Life insurance Defaults</span>
                                  <span>
                                    <i class="zmdi zmdi-caret-down f-26 text-dark"></i>
                                  </span>
                                </div>
                              </ng-template>
                              <ng-template ngbPanelContent>

                                <div class="card-block">
                                  <div class="row">
                                    <div class="col-md-3">
                                      <label for="" class="mt-2">Cost of final Expenses</label>
                                      <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                        <input type="text"  (paste)="onPaste($event)" class="form-control rounded-0" [(ngModel)]="advisorModel.advInsurance.cost" [restrictNumeric] name="cost"
                                          #cost="ngModel">
                                        <span class="input-group-addon bg-none border-0 f-18">In $</span>
                                      </div>
                                    </div>
                                    <div class="col-md-3">
                                      <label for="" class="mt-2">Monthly income after death </label>
                                      <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                        <input type="text" class="form-control rounded-0" (paste)="onPaste($event)" [restrictNumeric] [(ngModel)]="advisorModel.advInsurance.monthlyIncome"
                                          name="monthlyIncome" #monthlyIncome="ngModel">
                                        <span class="input-group-addon bg-none border-0 f-18">%</span>
                                      </div>
                                    </div>

                                    <div class="col-md-3">
                                      <label for="" class="mt-2">Years after death</label>
                                      <div class="input-group col-sm-7 col-md-8  col-lg-12  col-xl-12 p-0">
                                        <select class="form-control custom-select f-14" (change)="yearAfterDeathChanged($event.target.value)">
                                          <option *ngFor="let workout of lifeExpectencies" [value]="workout.VALUE" [selected]="workout.VALUE=== advisorModel.advInsurance.yearAfterDeath">{{workout.TEXT}}</option>

                                        </select>
                                      </div>
                                      <div class="input-group col-sm-7 col-md-8  col-lg-12  col-xl-12 p-0 mt-4">
                                        <input type="text" *ngIf="specificnoofyearsBox"  (paste)="onPaste($event)" 
                                        class="form-control rounded-0" name="specificnoofyears" 
                                        [restrictNumeric] [(ngModel)]="advisorModel.advInsurance.specificnoofyears">
                                      </div>
                                    </div>
                                    <div class="col-md-3">
                                      <label for="" class="mt-2">Inflation</label>
                                      <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                        <input type="text" class="form-control rounded-0" (paste)="onPaste($event)" 
                                        [restrictNumeric] name="inflation" [(ngModel)]="advisorModel.advInsurance.inflation"
                                          #inflation="ngModel">
                                        <span class="input-group-addon bg-none border-0 f-18">%</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row mt-4">
                                    <div class="col-md-12">
                                      <div class="mb-4">
                                        <p class="m-0">
                                          <label for="" class="f-16">Assets to offset life insurance needs</label>
                                        </p>
                                        <div>
                                          <label for="chk">
                                            <input type="checkbox" [(ngModel)]="advisorModel.advInsurance.retAsset" name="retAsset">
                                            <span class="ml-2">Retirement assets </span>
                                          </label>
                                        </div>
                                        <div>
                                          <label for="chk">
                                            <input type="checkbox" [(ngModel)]="advisorModel.advInsurance.otherRetAsset" name="otherRetAsset">
                                            <span class="ml-2">Other retirement assets</span>
                                          </label>
                                        </div>
                                        <div>
                                          <label for="chk">
                                            <input type="checkbox" [(ngModel)]="advisorModel.advInsurance.cashAccounts" name="cashAccounts">
                                            <span class="ml-2">Cash accounts</span>
                                          </label>
                                        </div>
                                        <div>
                                          <label for="chk">
                                            <input type="checkbox" [(ngModel)]="advisorModel.advInsurance.spouseRetAsset" name="spouseRetAsset">
                                            <span class="ml-2">Spouse retirement assets</span>
                                          </label>
                                        </div>
                                        <div>
                                          <label for="chk">
                                            <input type="checkbox" [(ngModel)]="advisorModel.advInsurance.nonRetAsset" name="nonRetAsset">
                                            <span class="ml-2">Non-retirement assets</span>
                                          </label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </ng-template>
                            </ngb-panel>



                            <!-- /////////////// tab container //////////////////// -->

                            <ngb-panel>
                              <ng-template ngbPanelTitle>
                                <div class="d-flex justify-content-between align-items-center">
                                  <span class="font-weight-bold text-dark">Education Defaults</span>
                                  <span>
                                    <i class="zmdi zmdi-caret-down f-26 text-dark"></i>
                                  </span>
                                </div>
                              </ng-template>
                              <ng-template ngbPanelContent>
                                <div class="card-block">
                                  <div class="row my-3">
                                    <div class="col-md-2">
                                      <label for="">College start months</label>
                                      <div class="input-group">

                                        <select class="form-control custom-select f-14" name="name" [(ngModel)]="advisorModel.advEducation.collegeStartMonth" #name="ngModel">
                                          <option *ngFor="let type of monthsArray" [ngValue]="type.id" [selected]="type.id=== advisorModel.advEducation.collegeStartMonth">
                                            {{type.name}}</option>
                                        </select>

                                      </div>
                                    </div>

                                    <div class="col-md-3">
                                      <label for="">Inflation</label>
                                      <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                        <input type="text" class="form-control rounded-0" app-restrict-input="float" name="tutionFeeInflation" [(ngModel)]="advisorModel.advEducation.tutionFeeInflation"
                                          #inflation="ngModel">
                                        <span class="input-group-addon bg-none border-0 f-18">%</span>
                                      </div>
                                    </div>
                                    <div class="col-md-2">
                                      <label for="">Age to enter college </label>
                                      <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                        <input type="text" (paste)="onPaste($event)" class="form-control rounded-0" [restrictNumeric] [(ngModel)]="advisorModel.advEducation.collegeAge" name="collegeAge"
                                          #collegeAge="ngModel">

                                      </div>
                                    </div>
                                    <div class="col-md-2">
                                      <label for="">Years spent in college </label>
                                      <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                        <input type="text" class="form-control rounded-0" (paste)="onPaste($event)"[restrictNumeric] [(ngModel)]="advisorModel.advEducation.collageYears"
                                          name="collageYears" #collageYears="ngModel">

                                      </div>
                                    </div>
                                    <div class="col-md-3">
                                      <label for="">% of college fee parents pay </label>
                                      <div class="input-group col-sm-8 col-md-10  col-lg-8  col-xl-6 p-0">
                                        <input type="text" class="form-control rounded-0" (paste)="onPaste($event)" [restrictNumeric] [(ngModel)]="advisorModel.advEducation.parentPay" name="parentPay"
                                          #parentPay="ngModel">
                                        <span class="input-group-addon bg-none border-0 f-18">%</span>
                                      </div>
                                    </div>

                                  </div>
                                  <div class="row mb-3">
                                    <div class="col-4">


                                      <p class="m-0">
                                        <label for="" class="mt-2">Rates of Return</label>
                                      </p>

                                      <div class="form-group d-flex">
                                        <div class="input-group col-sm-6 col-md-8 col-lg-6 col-xl-4 p-0 mr-4">
                                          <input type="text" class="form-control rounded-0" name="rateA"
                                           [(ngModel)]="advisorModel.advEducation.rateA"  (paste)="onPaste($event)" #rateA="ngModel"
                                            [restrictNumeric]>
                                          <span class="input-group-addon bg-none border-0 f-18">%</span>
                                        </div>
                                        <div class="input-group col-sm-6 col-md-8 col-lg-6 col-xl-4 p-0 mr-4">
                                          <input type="text" class="form-control rounded-0"  (paste)="onPaste($event)" name="rateB" [(ngModel)]="advisorModel.advEducation.rateB" #rateB="ngModel"
                                            [restrictNumeric]>
                                          <span class="input-group-addon bg-none border-0 f-18">%</span>
                                        </div>
                                        <div class="input-group col-sm-6 col-md-8 col-lg-6 col-xl-4 p-0 mr-4">
                                          <input type="text" class="form-control rounded-0"  (paste)="onPaste($event)" name="rateC" [(ngModel)]="advisorModel.advEducation.rateC" #rateC="ngModel"
                                            [restrictNumeric]>
                                          <span class="input-group-addon bg-none border-0 f-18">%</span>
                                        </div>



                                      </div>

                                    </div>

                                  </div>

                                  <div class=" my-4 text-center">
                                    <a class="btn btn-lg px-4 btn-dark text-white" (click)="open(content)">SEARCH COLLEGE</a>
                                  </div>


                                  <h6 class="font-weight-bold text-center f-20 mb-2">Favorite List</h6>
                                  <div class="scroler-vertical" style="max-height: 250px;">
                                    <div class="loader" *ngIf="loader">
                                      <img src="assets/img/loader.gif">
                                    </div>

                                    <table class="table table-bordered table-striped table-hover  text-center" *ngIf="favouriteCollege">
                                      <thead>
                                        <tr>
                                          <td align="left">
                                            <div class="font-weight-bold"> College Name</div>
                                          </td>
                                          <td>
                                            <div class="font-weight-bold">City </div>
                                          </td>
                                          <td>
                                            <div class="font-weight-bold">OutState Fee </div>
                                          </td>
                                          <td>
                                            <div class="font-weight-bold">InState Fee </div>
                                          </td>
                                          <td></td>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let fvcollege of favoriteColleges">



                                          <td align="left">
                                            <div class="font-weight-bold"> {{fvcollege.college.collegeName}}</div>
                                          </td>
                                          <td>
                                            <div class="font-weight-bold"> {{fvcollege.college.city}}</div>
                                          </td>
                                          <td>
                                            <div class="font-weight-bold"> {{fvcollege.college.outState}}</div>
                                          </td>
                                          <td>
                                            <div class="font-weight-bold"> {{fvcollege.college.inState}}</div>
                                          </td>
                                          <td>
                                            <a (click)="remove(fvcollege)" class="btn btn-danger">x</a>
                                          </td>





                                        </tr>
                                      </tbody>
                                    </table>
                                    <!-- <ngb-pagination [collectionSize]="itemsTotal" [(page)]="page" aria-label="Default pagination" (pageChange)="click(page)"></ngb-pagination> -->


                                  </div>
                                </div>
                              </ng-template>
                            </ngb-panel>
                          </ngb-accordion>
                        </div>
                      </div>
                      <!-- </div> -->
                    </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Access Settings">
                    <ng-template ngbTabContent>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi perspiciatis excepturi accusantium
                        nesciunt, pariatur et voluptas vitae sit ad tempore nulla nobis maxime voluptates ratione minima
                        dolor dolores porro consectetur!</p>

                      <div class="row">
                        <div class="col-md-6">
                          <label for="" class="font-weight-bold mt-2">Advanced Report</label>

                          <div class="row my-3" *ngFor="let personal of advisorModel.AccesSettings.AdvancedReportDefaults">
                            <div class="col">
                              <i class="zmdi zmdi-circle f-6 mr-3 text-muted"></i>
                              <label for="" class="font-weight-bold mt-2">{{personal.pageName}}</label>
                            </div>

                            <div class="col d-flex align-items-center">
                              <label class="mr-4 mb-0">
                                <input type="checkbox" [(ngModel)]="personal.isRead" name="isRead" (change)="addAdvancedReport($event,personal)"> Read

                              </label>
                              <label class="mb-0">
                                <input type="checkbox" [(ngModel)]="personal.isEdit" name="isEdit" (change)="addAdvancedReport($event,personal)"> Edit
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <label for="" class="font-weight-bold mt-2">Express Report</label>

                          <div class="row my-3" *ngFor="let express of advisorModel.AccesSettings.ExpressReportDefaults">
                            <div class="col">
                              <i class="zmdi zmdi-circle f-6 mr-3 text-muted"></i>
                              <label for="" class="font-weight-bold mt-2">{{express.pageName}}</label>
                            </div>
                            <div class="col d-flex align-items-center">
                              <label class="mr-4 mb-0">
                                <input type="checkbox" [(ngModel)]="express.isRead" name="isRead" (change)="addExpressReport($event,express)"> Read

                              </label>
                              <label class="mb-0">
                                <input type="checkbox" [(ngModel)]="express.isEdit" name="isEdit" (change)="addExpressReport($event,express)"> Edit
                              </label>
                            </div>

                          </div>
                        </div>
                      </div>



                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>


              </ng-template>
            </ngb-tab>

          </ngb-tabset>
          <div class="form-group mt-4 text-right ">

            <!-- <a href="client-list-new.html" class="btn btn-lg btn-success text-white px-4">Submit</a> -->
            <button type="submit" class="btn btn-lg btn-success text-white px-4">Submit</button>

          </div>
        </form>
      </div>
    </div>
  </div>

</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">College List</h4>
    <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')"> -->
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">

      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">


    <div class="row">
      <div class="col-md-5">
        <label> Search College</label>
        <div class="input-group">

          <input id="collegename" type="text" name="collegename" [(ngModel)]="collegename" class="form-control" placeholder="Search for college">
          <label class="input-group-btn" for="collegename" style="margin:0">
            <button class="btn btn-dark" style="width:100%;float:left;" type="button">
              <i class="zmdi zmdi-search f-20" (click)="searchCollege(collegename,page)"></i>
            </button>
          </label>
        </div>
      </div>
      <div class="col-md-2 d-flex align-items-center justify-content-center">
        <span class="font-weight-bold">OR</span>
      </div>
      <div class="col-md-5">
        <label> Select State</label>


        <div class="input-group">
          <select id="stateSearch" class="form-control custom-select f-14" name="stateSearch.VALUE" [(ngModel)]="stateSearch.VALUE">

            <option *ngFor="let stateSearch of statesForsearch;let i=index;" [ngValue]="stateSearch.VALUE" [selected]="stateSearch.VALUE==defaultSelectedstate">
              {{stateSearch.TEXT}}</option>
          </select>
          <!-- <select class="form-control custom-select f-14" (change)="timezoneChanged($event.target.value)">
              <option *ngFor="let workout of timezones" [value]="workout.VALUE" [selected]="workout.VALUE=== advisorModel.advglobal.defaultstate">{{workout.TEXT}}</option>
            </select> -->
          <label class="input-group-btn" for="stateSearch" style="margin:0;">
            <button class="btn btn-dark" type="button" style="width:100%;float:left;" (click)="collegeByState(stateSearch.VALUE)">
              <i class="zmdi zmdi-search f-20"></i>
            </button>
          </label>
        </div>
      </div>

      <div class="col-md-12 d-flex align-items-center justify-content-center mt-4">
        <span class="font-weight-bold">OR</span>
      </div>

    </div>


    <div class="text-center my-3">
      <a (click)="getAllColleges(1)" class=" btn btn-dark">LOAD ENTIRE DATABASE</a>
    </div>

    <div *ngIf="noClg" class="text-center">No Collge Found</div>
    <div class="scroler-vertical" style="max-height: 250px;">
      <div class="loader" *ngIf="loader">
        <img src="assets/img/loader.gif">
      </div>

      <table class="table" *ngIf="tableShow">
        <tr>
          <td class="text-muted">
            <!-- <input type="checkbox" onclick="return false;"/> -->
            <mat-checkbox [(ngModel)]="checked" [disabled]="disabled"></mat-checkbox>
          </td>
          <td class="text-muted">College Name</td>
          <td class="text-muted">Location</td>
          <td class="text-muted">In-state Total
            <br>(Annual Cost)</td>
          <td class="text-muted">Out-state Total
            <br>(Annual Cost)</td>
        </tr>
        <tr *ngFor="let college of colleges">


          <td>
            <input type="checkbox" data-md-icheck name="checkboxValue" (change)="addprop($event,college)" [(ngModel)]="college.checkboxValue"
            />

          </td>
          <td class="font-weight-bold">{{college.collegeName}}</td>
          <td>{{college.Location}} </td>
          <td>
            <label> In State (${{college.inState}})</label>
          </td>
          <td>
            <label> Out State (${{college.outState}})</label>
          </td>
        </tr>

      </table>
      <div class="pagination_section" *ngIf="pagination">
        <ngb-pagination *ngIf="nameBasedsearch" [collectionSize]="totalCollegeSerachedUsingName" [(page)]="page" [pageSize]="20"
          aria-label="Default pagination" (pageChange)="clickNameBasedSeach(page)"></ngb-pagination>
        <ngb-pagination *ngIf="fullsearch" [collectionSize]="itemsTotal" [(page)]="page" [pageSize]="20" aria-label="Default pagination"
          (pageChange)="click(page)"></ngb-pagination>
        <ngb-pagination *ngIf="stateBasedsearch" [collectionSize]="totalCollegeSerachedUsingState" [(page)]="page" [pageSize]="20"
          aria-label="Default pagination" (pageChange)="clickStateSearch(page)"></ngb-pagination>
      </div>



    </div>
    <div class=" my-4 text-center">
      <a class="btn  px-4 btn-success text-white" (click)="addToFavColleges()">SAVE</a>
    </div>


  </div>

</ng-template>