<div class="modal-header">
  <h4 class="modal-title"></h4>
  <button type="button" class="close" aria-label="Close" (click)="dismissModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">



  <!-- <div class="custom-tab-container">
    <ngb-tabset>
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <div class=" d-flex justify-content-between align-items-center ">
              <span class="font-weight-bold text-dark">Primary Retirement Asset</span>
              <span>
                <i class="zmdi zmdi-caret-down f-26 text-dark"></i>
              </span>
            </div>
          </ng-template>
          <ng-template ngbPanelContent> -->
  <form #PrimaryOtherRetireProp="ngForm" (ngSubmit)="onParimarySave()">
    <table class="table">
      <tr>
        <!-- <td class="text-muted">Tax Type </td> -->
        <td class="text-muted">Type </td>
        <td class="text-muted">Company</td>
        <td class="text-muted">Current Value</td>
        <td class="text-muted">Value as of</td>
        <td class="text-muted">Monthly Contribution</td>
        <td class="text-muted">Employer Contribution</td>
        <td></td>
      </tr>
      <tr *ngFor="let otP of Asset_RetirementDetailsModel_Primary;let i=index;" class="font-weight-bold">
        <!-- <td>
          <select class="form-control custom-select f-14" (change)="onChangeOtherRetiretaxVsDefferedTypeDDL_Primary($event.target.value, i)">
            <option *ngFor="let workout of RetAssetTaxVsDefferedDDL" [value]="workout.VALUE" [selected]="workout.VALUE===otP.taxVsDefferedID">
              {{workout.TEXT}}
            </option>
          </select>
        </td> -->
        <td>
          <select class="form-control custom-select f-14" (change)="onChangeOtherRetireTypeDDL_Primary($event.target.value, i)">
            <option *ngFor="let workout of otherRetAssetTypeDDL_Primary" [value]="workout.VALUE" [selected]="workout.VALUE===otP.assetTypeID">
              {{workout.TEXT}}
            </option>
          </select>
        </td>
        <td>
          <input type="text" class="form-control" [(ngModel)]="otP.company" name="companyOTP{{i}}">
        </td>
        <td>
          <div _ngcontent-c9="" class="input-group">
            <span _ngcontent-c9="" class="input-group-addon">$</span>
            <!-- appDollarplaceholder -->
            <input appDollarplaceholder type="text" class="form-control round-0" [(ngModel)]="otP.amount" name="amountOTP{{i}}">
          </div>
        </td>
        <td>
          <!-- <input matInput [matDatepicker]="picker1" [max]="maxDate" placeholder="mm/dd/yyyy" [(ngModel)]="otP.valueAsOf" name="valueAsOfOTP{{i}}"
            [value]="otP.valueAsOf" class="form-control">
          <mat-datepicker-toggle [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1 startView="year" [startAt]="startDate"></mat-datepicker> -->
          <ng-datepicker [(ngModel)]="otP.valueAsOf" name="valueAsOfOTP{{i}}" [options]="options"></ng-datepicker>
        </td>
        <td>
          <div _ngcontent-c9="" class="input-group">
            <span _ngcontent-c9="" class="input-group-addon">$</span>
            <!-- appDollarplaceholder -->
            <input appDollarplaceholder type="text" class="form-control round-0" [(ngModel)]="otP.monthlyContribution" name="monthlyContributionOTP{{i}}">
          </div>
        </td>
        <td>
          <input type="text" class="form-control round-0" [(ngModel)]="otP.empContribution" name="empContributionOTP{{i}}">
        </td>
        <td class="text-center" width="20">
          <a *ngIf="otP.isActive != 'false'" class="btn btn-danger btn-sm text-white" (click)="removeOtherRetRow_Primary(i)">
            <i class="zmdi zmdi-delete"></i>
          </a>
          <a *ngIf="otP.isActive == 'false'" class="btn btn-success btn-sm text-white" (click)="addDeletedOtherRetRow_Primary(i)">
            <i class="zmdi zmdi-add">Undo</i>
          </a>
        </td>
      </tr>
    </table>
    <div class="text-center">
      <a class="btn btn-secondary dash-border mt-3" (click)="addOtherRetire_Primary()">
        <i class="zmdi zmdi-plus-circle-o mr-2"></i> Add More</a>
      <button class="btn btn-dark px-5 btn-submit mt-3" type="submit">Save</button>
    </div>
  </form>
  <!-- </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </ngb-tabset> -->



</div>
<!-- <div class="modal-footer">
  <button type="button" class="btn btn-outline-dark btn-success" (click)="confirmModal()">Confirm</button>
</div> -->