<div class="modal-header">
  <h4 class="modal-title text-center w-100">Add Other Income</h4>
  <button type="button" class="close" aria-label="Close"  (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body px-4">

  <form #monthlyIncomeModalForm="ngForm" (ngSubmit)="monthlyIncomeModalForm.form.valid&&addOtherIncome();" novalidate>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Gross monthly income</label>
        <input type="text" class="form-control" [restrictNumeric] [(ngModel)]="otherincomeModal.grossMonthlyIncome" name="grossMonthlyIncome">
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Start Date</label>
            <div class="input-group">
              <input class="form-control rounded-0" name="dpa" placeholder="mm/dd/yyyy" [(ngModel)]="otherincomeModal.startDate" ngbDatepicker #startD="ngbDatepicker"
               (click)="startD.toggle()">
              <span class="input-group-addon" (click)="startD.toggle()">
                <i class="zmdi zmdi-calendar"></i>
              </span>
            </div>
          </div>	
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="">End Date</label>
            <div class="input-group">
              <input class="form-control rounded-0" name="dpa" placeholder="mm/dd/yyyy" [(ngModel)]="otherincomeModal.endDate" ngbDatepicker #endD="ngbDatepicker"
               (click)="endD.toggle()">
              <span class="input-group-addon" (click)="endD.toggle()">
                <i class="zmdi zmdi-calendar"></i>
              </span>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="row">
   
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Description</label>
        <textarea class="form-control" cols="30" rows="1" [(ngModel)]="otherincomeModal.notes" name="notes"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">COLA %	</label><i class="zmdi zmdi-info text-success mr-2" placement="right" 
        ngbTooltip="Cost Of Living Adjustments"></i>
        <input type="text" [restrictNumeric] class="form-control" [(ngModel)]="otherincomeModal.cola" name="cola">
      </div>
    </div>
  
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Monthly Take-home pay</label>
        <input type="text" class="form-control" [(ngModel)]="otherincomeModal.homePay" name="homePay">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Withholding Allowances</label>
        <input type="text" [restrictNumeric] class="form-control" [(ngModel)]="otherincomeModal.allowances" name="allowances">
      </div>
    </div>

  </div>
  <div class="text-center my-4">
    <button class="btn btn-dark px-4" type="submit">Add Income</button>
  </div>
</form>
</div>