<div class="modal-header w-100">
  <div class="modal-title text-center w-100">
    <h4 class="m-0">Mortgage Missing Value Calculator </h4>
    <p class="f-14 m-0">Thursday, November 30, 2017</p>
    <p class="f-12 text-muted px-3">This calculator will allow you to determine the missing variable in the event only 3 of 4 variables of a conventional
      mortgage are known. Then, once you have computed the missing variable, click on the "View Amortization Schedule" button
      to create a month-by-month or year-by-year report you can print out. Note that each time you change one of the loan's
      variables you will need to recalculate before creating the Amortization Schedule.</p>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body py-4 px-5">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Client Name (optional)</label>
        <input class="form-control" type="text" [(ngModel)]="mortageValues.cName">
      </div>
    </div>
    <div class="col-md-12">
      <p>
        <span class="text-danger"> Click the variable you want to calculate </span> : Enter three known values and Click "Calculate"</p>
    </div>

  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group calculator-type {{calculatorType[0].class}}" (click)="calculatorTypeChange(1)">
        <label for="" class="text-white text-center  my-2 w-100">Initial Loan Amount</label>
        <input class="form-control rounded-0" type="text" [(ngModel)]="mortageValues.loanAmount" [disabled]="calculatorType[0].isDisabled">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group  calculator-type {{calculatorType[1].class}}" (click)="calculatorTypeChange(2)">
        <label for="" class="text-white text-center  my-2 w-100">Interest Rate</label>
        <input class="form-control rounded-0" type="text" [(ngModel)]="mortageValues.intRate" [disabled]="calculatorType[1].isDisabled">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group  calculator-type {{calculatorType[2].class}}" (click)="calculatorTypeChange(3)">
        <label for="" class="text-white text-center  my-2 w-100">Term In Months</label>
        <input class="form-control rounded-0" type="text" [(ngModel)]="mortageValues.no_of_terms" [disabled]="calculatorType[2].isDisabled">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group  calculator-type {{calculatorType[3].class}}" (click)="calculatorTypeChange(4)">
        <label for="" class="text-white text-center  my-2 w-100">Monthly Payment</label>
        <input class="form-control rounded-0" type="text" [(ngModel)]="mortageValues.monthlyPayment" [disabled]="calculatorType[3].isDisabled">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="">First Payment</label>
        <select class="form-control custom-select f-14" name="monName" [(ngModel)]="mortageValues.monName">
            <option *ngFor="let month of monthsArray" [ngValue]="month.id" [selected]="month.id==mortageValues.monName"> {{month.name}}</option>
          </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Year</label>
        <input class="form-control" type="text" [(ngModel)]="mortageValues.years">
      </div>
    </div>
  </div>
  <div class="row" *ngIf="resultShow">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 text-right">
            <label for="">Current Balance as {{mortageValues.currentDate}}</label>
          </div>
          <div class="col-md-6">
            <p>: ${{mortageValues.currentBalance}}</p>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="modal-footer justify-content-center">
  <button class="btn btn-secondary btn-sm px-4 py-2" (click)="getResult()"> Calculate</button>
</div>

<!-- <div class="text-center d-none">
  <p class="link cursor-p f-16 text-success" (click)="fullWidthModal(amortization_schedule)" (click)="d('Cross click')">View Amortization Schedule</p>
</div>  -->
<div class="m-4 f-12 text-muted">
  <p class="text-muted">
    The above results are based on conventional fixed-rate loans only. The figures calculated do not include any closing costs,
    taxes and/or insurance premiums built into the loan. Monthly payments to a lender may be higher to reflect these costs.
    In this calculation, the original amount of the loan is paid off over the life of the loan, in other words, the principal
    is amortized and under a fixed-rate mortgage (unlike an adjustable-rate mortgage), the monthly payment will not change
    over the life of the loan unless additional amounts are added for the acceleration of principal. Results are rounded and
    should not be considered an official payment schedule.</p>
</div>