<div class="modal-header">
  <div class="modal-title text-center">
    <h4 class="m-0">Credit Card Minimum Payment Calculator </h4>
    <p class="f-14 m-0">Thursday, November 30, 2017</p>
    <p class="f-12 text-muted px-3">This calculator will show you the huge amount of time and interest you will save if you start making fixed payments (level
      payments) on your credit card each month rather than just paying the minimum payment on your bill each month. Of course,
      this assumes no new charges will be added to your card (which the credit card issuer is not counting on you doing).</p>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body py-4 px-5">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Client Name (optional)</label>
        <input class="form-control" type="text" [(ngModel)]="ccModal.cName" name="cName">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Balance on your Card</label>
        <input class="form-control" type="text" [(ngModel)]="ccModal.loanAmount" name="loanAmount">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="">Annual Interest Rate</label>
        <input class="form-control" type="text" style="margin-top: 3em;" [restrictNumeric] [(ngModel)]="ccModal.intRate" name="intRate">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="">The minimum percent payment amount in
          <span>%</span>
        </label>

        <nouislider [min]="2.00" [max]="5.00" [step]="0.25" [(ngModel)]="ccModal.percentPay" [tooltips]="true" style="margin-top: 4em;"
          (ngModelChange)="onChangeSlider($event)" ></nouislider>

      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="">
          <span>$</span> The minimum percent payment amount</label>
        <nouislider [min]="10" [max]="30" [step]="5" [(ngModel)]="ccModal.cardMinPay" [tooltips]="true" style="margin-top: 4em;"
          (ngModelChange)="onChangeSliderDollar($event)" ></nouislider>
      </div>
    </div>


  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="">First Payment</label>
        <!-- <select name="" class="form-control custom-select">
        <option value="">Jan</option>
        <option value="">Feb</option>
        <option value="">Mar</option> 
      </select> -->
        <!-- <select class="form-control custom-select f-14" (change)="yearAfterDeathChanged($event.target.value)">
        <option *ngFor="let workout of lifeExpectencies" [value]="workout.VALUE" [selected]="workout.VALUE=== advisorModel.advInsurance.yearAfterDeath">{{workout.TEXT}}</option>

      </select> -->
        <select class="form-control custom-select" name="name" [(ngModel)]="ccModal.monName" #name="ngModel">
          <option *ngFor="let type of monthsArray" [ngValue]="type.id" [selected]="type.id=== ccModal.monName">
            {{type.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Year</label>
        <input class="form-control" type="text" name="years" [(ngModel)]="ccModal.years">
      </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
          <label for="">Current Balance as on Feb,{{ccModal.years}}</label>
          <input class="form-control" type="text" name="currentBalance" [(ngModel)]="ccModal.currentBalance">
        </div>
      </div>
  </div>

</div>
<div class="modal-footer justify-content-center">
  <button class="btn btn-secondary btn-sm px-4 py-2" (click)="Calculate()"> Calculate</button>
  <button class="btn btn-dark btn-sm px-4 py-2"  (click)="Reset()"> Reset</button>
</div>

<div class="col-md-12" *ngIf="ccGoModal">
  <h5 class="text-center">Summary</h5>
  <table class="table">
    <tbody>
      <tr>
        <td>
          Total Number of payments you will make
        </td>
        <td align="right">${{ccModal?.totPayments}}</td>
      </tr>
      <tr>
        <td>
          Total Number of years until your card is paid off
        </td>
        <td align="right">${{ccModal?.payOffYears}}</td>
      </tr>
      <tr>
        <td>
          Payoff Date
        </td>
        <td align="right">${{ccModal?.payoff}}</td>
      </tr>
      <tr>
        <td>
          Total Interest Charges you will pay
        </td>
        <td align="right">${{ccModal?.interestPaid}}</td>
      </tr>

    </tbody>
  </table>
  <div>If you make only the minimum payment on your monthly credit card bill each month, it will take you until {{ccModal?.payoff}}
    to pay off your balance of ${{ccModal?.interestPaid}}. That is a total of {{ccModal?.totPayments}} payments, or {{ccModal?.payOffYears}}!
    And you will have paid ${{ccModal?.interestPaid}} in total interest charges!</div>
  <div>$ Find out how you can have compound interest work for you instead of against you, contact your financial professional
    to help you possibly become debt-free and financially independent!
  </div>
</div>
<!-- <div class="text-center "> <p  class="link cursor-p f-16 text-success" (click)="fullWidthAmortization_scheduleModal(amortization_schedule)" >View Amortization Schedule</p></div> -->
<div class="m-4 f-12 text-muted">
  <p>The minimum monthly payment on credit card debt is calculated as a percentage of your current balance, or a fixed dollar
    amount, whichever is higher. However, if you just pay the minimum each month, because the next payment is based on the
    unpaid balance, the next payment drops as your balance is paid. However, you will end up paying for a long time due to
    the effect of compounding. This calculator is used to show how long it will take to pay off your debt, and how much interest
    you will pay over the life of your debt if you only make minimum monthly payments. The higher the interest rate the greater
    the effect and the longer you stay in debt. </p>
  <p>
    The assumptions in this calculator are as follows: all revolving debts are calculated using one cycle billing and payments
    are determined each month based on the percent of the average daily unpaid balance method and minimum dollar amounts
    inputted into the calculator by the user. No consideration for annual fees, late charges, over the limit charges, cash
    advance charges, or any of a number of other exorbitant charges accessed by the credit card companies are taken into
    account. The actual payoff criteria may differ somewhat for each debt as each revolving charge account has too many variables
    and differences to possibly consider in a program. It is also assumed that no additional charges are added, and you maintain
    the stated monthly payment until the card is completely paid off. Anything you attempt to do toward any creditor must
    be in accord with that specific creditor’s terms of agreement.</p>
</div>