.btn_blk{
    width:100%;
    float: left;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 0 10px 20px;
}
.anchor_one{
    float: left;
   
}
.anchor_two{
    float: right;
   
}
.btn_btm{
    float: left;
    width: 100%;
}
.animate_box{
    transition: all 1.5s ease-in-out;
    display: block;
}
.active {
    display: block;
    -webkit-transform: rotateX(180deg); /* Safari */
    transform: rotateX(180deg); /* Standard syntax */
}
.subactive{
    display: block;
    -webkit-transform: rotateX(-180deg); /* Safari */
    transform: rotateX(-180deg); /* Standard syntax */
}
.imageRot{
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg); /* Standard syntax */
}
.showMonth{
   display: block;
   -webkit-transform: rotateX(180deg); /* Safari */
   transform: rotateX(180deg); /* Standard syntax */
}
.hideMonth{
    display: none;
}
.showYear{
    display: block;
    -webkit-transform: rotateX(180deg); /* Safari */
    transform: rotateX(180deg); /* Standard syntax */
 }
 .hideYear{
     display: none;
 }