
footer{
	background: #1E1E37;
	font-size: 12px;
	padding-left: 60px;

}

footer .main-footer{
	background: #232340;
	padding-left: 60px;
	margin-left: -60px;
}

.list-menu li {
display: inline-block;
margin: 0 10px;

}
.list-menu li a{
 color: #fff;
 opacity: .5;
}
.list-menu li a:hover{
	opacity: 1;
}
