<footer>
  <div class="main-footer py-4 ">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7">
          <ul class="list-menu">
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Help</a></li>
            <li><a href="">Careers</a></li>
            <li><a href="">Press</a></li>
            <li><a href="">Legal</a></li>
          </ul>
        </div>
        <div class="col-md-5 text-right">
           <ul class="list-menu">
            <li><a href=""> <i class="zmdi zmdi-facebook f-16"></i></a></li>
            <li><a href=""> <i class="zmdi zmdi-twitter f-16"></i></a></li>
            <li><a href=""> <i class="zmdi zmdi-instagram f-16"></i></a></li>

          </ul>

        </div>
      </div>
    </div>
  </div>
<div class="container-fluid text-muted py-3">
      <div class="row">
        <div class="col-md-7">
           <p class="m-0">@Copyright 2017 Moneyedgepro.com, Inc.All rights reserved.</p>
        </div>
        <div class="col-md-5 text-right">

           <a href="" class="m-0 text-muted">www.moneyedge.com</a>

        </div>
      </div>
    </div>

</footer>
