.pt-20{
    padding-top: 30px;
}
.input-group-addon.search{
    margin-left: 0;
    width: auto;
}
.padding-left-0{
    padding-left: 0;
}
a.last-modified{
    float: left;
   
    .zmdi.zmdi-long-arrow-up,.zmdi.zmdi-long-arrow-down {
       
        padding-left: 13px;
    }
}


