<div class="mb-auto">
  <div class="header fixed-top">
    <app-header></app-header>
    <div class="status-bar py-2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-6 ">
          <div class="logo-space"> <h5 class="mb-0 mt-1">Client List</h5>   </div>
        </div>

          <div class="col-md-6 col-sm-6 text-right">
           <a (click)="newClient()" class="btn btn-outline-secondary mr-2">NEW CLIENT</a>
        </div>


        </div>
      </div>
    </div>
  </div>
   
<div class="page-container mb-auto pb-2">
  <div class="container">
    <div class="d-flex my-1">
      <div class=" col-md-2 padding-left-0">
        <!-- <a (click)="searchClient()" class="text-gray-dark align-middle"><i class="zmdi zmdi-search f-20"></i></a> -->
        <div class="input-group">
            <input class="form-control"
                   placeholder="Search here..." name="Client" [(ngModel)]="clientSerachText">
            <a class="input-group-addon search"(click)="searchClient(clientSerachText)" ><i class="fa fa-search"></i></a>
          </div>
        <!-- <span class="mx-3">|</span> -->
      </div>
      <div class="col-md-2 d-flex align-items-center">
        <a (click)="sortedBasedSearch(SortColumnDateValue)"  class="text-gray-dark last-modified cursor-p">Last modified on
          <i  *ngIf="ascending" class="zmdi zmdi-long-arrow-up font-weight-bold"></i>
          
          <i  *ngIf="!ascending" class="zmdi zmdi-long-arrow-down font-weight-bold"></i>
          
        </a>
      </div>
      <div class="mx-2 col-md-2  d-flex align-items-center">
        <select class="form-control custom-select f-14 fw100 w-100">
          <option value="">Advisor</option>
          <option value="">Advisor</option>
          <option value="">Advisor</option>
        </select>
      </div>
      <div class="mx-2 col-md-2  d-flex align-items-center">
          <select  class="form-control custom-select  f-14 w-100" placeholder="Select Status"
          (ngModelChange)="statusChanged($event)">
                       <option selected>Select Status</option>
                          <option *ngFor="let status of clientStatus" [ngValue]="status.VALUE">
                           {{status.TEXT}}
                          </option>
          </select>  
      </div>
    </div>
  </div>
  <hr class="mt-1">


<div class="container">

 <!-- <div class="loader" *ngIf="loader"><img src="assets/img/loader.gif"></div> -->
<table class="table list-table table-bordered table-striped table-hover "  *ngIf="tableShow">     
  <thead>
  <tr>
      <td> <input type="checkbox"></td>
      <td><div class="font-weight-bold">NAME </div> </td>
      <td><div class="font-weight-bold">EMAIL </div> </td>
      <td><div class="font-weight-bold">ADVISOR </div> </td>
      <td><div class="font-weight-bold">STATUS </div> </td>
      <td><div class="font-weight-bold">ACTION </div> </td>
  </tr>
</thead> 

  <tr *ngFor="let client of clientListData" (click)="clientBoard(client.clientId,client.firstName,client.lastName)">
    <td>
       <input type="checkbox"  data-md-icheck name="checkboxValue" (change)="addprop($event,college)" 
       [(ngModel)]="client.checkboxValue" /> 
      </td>
     <td><a class="link" (click)="clientBoard(client.clientId,client.firstName,client.lastName)">{{client.firstName}} {{client.lastName}}</a></td>
    <td>{{client.emailPrimary}} </td>
    <td>
        {{client.advisorFirstName}} 
    </td>
    <td>
      {{client.isActive}}
    </td>
    <td>
        <a class="action-btn mr-2 cursor-p" (click)="historyModal(client.clientId);"><i class="zmdi zmdi-time-restore"></i></a>
        
        <a class="action-btn mr-2 cursor-p" (click)="open(activity);"><i class="zmdi zmdi-graphic-eq"></i></a>
        <a class="action-btn mr-2 cursor-p" (click)="editClient(client.clientId);"><i class="zmdi zmdi-settings"></i></a>
    </td>
  </tr>
       
 </table>
 <div class="d-flex justify-content-center">
 <ngb-pagination [collectionSize]="sizeOfTable" [(page)]="page" [pageSize]="5" aria-label="Default pagination"
  (pageChange)="paginatedSearch(page)"></ngb-pagination>
 </div>
 

</div>
</div>
</div>

<ng-template #history let-c="close" let-d="dismiss">
<div class="modal-header">
  <h5 class="modal-title">Steven Smith - Report History</h5>
  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="scroler-vertical" style="max-height: 400px;">
    <table class="table table-hover">
      <tr>
        <td class="text-muted border-0">Report Date</td>
        <td class="text-muted border-0">Report Name</td>
        <td class="text-muted border-0" align="center">Action</td>
      </tr>
      <tr>
        <td>July 2017</td>
        <td>Sample Report</td>
        <td align="center">
          <span class="badge badge-pill badge-info cursor-p hover">Edit</span>
          <span class="badge badge-pill badge-danger cursor-p hover"><i class="zmdi zmdi-close"></i></span>
        </td>
      </tr>
      <tr>
        <td>July 2017</td>
        <td>Sample Report</td>
        <td align="center">
          <span class="badge badge-pill badge-info cursor-p hover">Edit</span>
          <span class="badge badge-pill badge-danger cursor-p hover"><i class="zmdi zmdi-close"></i></span>
        </td>
      </tr>
      <tr>
        <td>July 2017</td>
        <td>Sample Report</td>
        <td align="center">
          <span class="badge badge-pill badge-info cursor-p hover">Edit</span>
          <span class="badge badge-pill badge-danger cursor-p hover"><i class="zmdi zmdi-close"></i></span>
        </td>
      </tr>
      <tr>
        <td>July 2017</td>
        <td>Sample Report</td>
        <td align="center">
          <span class="badge badge-pill badge-info cursor-p hover">Edit</span>
          <span class="badge badge-pill badge-danger cursor-p hover"><i class="zmdi zmdi-close"></i></span>
        </td>
      </tr>
      
      <tr>
        <td>July 2017</td>
        <td>Sample Report</td>
        <td align="center">
          <span class="badge badge-pill badge-info cursor-p hover">Edit</span>
          <span class="badge badge-pill badge-danger cursor-p hover"><i class="zmdi zmdi-close"></i></span>
        </td>
      </tr>
    </table>
  </div>
</div>
</ng-template>


<ng-template #activity let-c="close" let-d="dismiss">
<div class="modal-header">
  <h5 class="modal-title">Steven Smith - Activity</h5>
  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="scroler-vertical" style="max-height: 400px;">
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis nesciunt eligendi et reprehenderit est, atque non commodi provident amet consequatur quis doloremque temporibus ipsa consectetur blanditiis illo nostrum! Ea, magni?
  </div>
</div>
</ng-template>


<ng-template #access_settings let-c="close" let-d="dismiss">
<div class="modal-header">
  <h5 class="modal-title">Access Settings</h5>
  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  
<form action="">
    <div class="row">
      <div class="col-md-6">
        <label for="" class="font-weight-bold mt-2">Report Type</label>
      </div>
      <div class="col-md-6">
        <select name="" class="form-control custom-select">
          <option value="">MoneyEdge Advanced</option>
          <option value="">MoneyEdge Advanced</option>
          <option value="">MoneyEdge Advanced</option>
          <option value="">MoneyEdge Advanced</option>
        </select>
      </div>
    </div>
    <hr class="mt-2">


<div class="row my-2">
  <div class="col">
    
    <label for="" class="font-weight-bold mt-2">Personal Information</label>
  </div>

<div class="col d-flex align-items-center justify-content-center">      
      <label class="mr-4 mb-0"><input type="checkbox" name="checkbox" value="value"> Read</label>
      <label class="mb-0"><input type="checkbox" name="checkbox" value="value"> Edit</label>
    </div>

</div>
<div class="dash-border-bottom"></div>
<div class="row my-2">
  <div class="col">
    
    <label for="" class="font-weight-bold mt-2">Income</label>
  </div>
<div class="col d-flex align-items-center justify-content-center">      
      <label class="mr-4 mb-0"><input type="checkbox" name="checkbox" value="value"> Read</label>
      <label class="mb-0"><input type="checkbox" name="checkbox" value="value"> Edit</label>
    </div>
</div>

<div class="dash-border-bottom"></div>
<div class="row my-2">
  <div class="col">
    
    <label for="" class="font-weight-bold mt-2">Assets</label>
  </div>
  <div class="col d-flex align-items-center justify-content-center">      
      <label class="mr-4 mb-0"><input type="checkbox" name="checkbox" value="value"> Read</label>
      <label class="mb-0"><input type="checkbox" name="checkbox" value="value"> Edit</label>
    </div>
</div>
<div class="dash-border-bottom"></div>
<div class="row my-2">
  <div class="col">
    
    <label for="" class="font-weight-bold mt-2">Education</label>
  </div>
  <div class="col d-flex align-items-center justify-content-center">      
      <label class="mr-4 mb-0"><input type="checkbox" name="checkbox" value="value"> Read</label>
      <label class="mb-0"><input type="checkbox" name="checkbox" value="value"> Edit</label>
    </div>
</div>

<div class="dash-border-bottom"></div>
<div class="row my-2">
  <div class="col">    
    <label for="" class="font-weight-bold mt-2">Debt</label>
  </div>
  <div class="col d-flex align-items-center justify-content-center">      
      <label class="mr-4 mb-0"><input type="checkbox" name="checkbox" value="value"> Read</label>
      <label class="mb-0"><input type="checkbox" name="checkbox" value="value"> Edit</label>
    </div>
</div>

<div class="dash-border-bottom"></div>
<div class="row my-2">
  <div class="col">
    
    <label for="" class="font-weight-bold mt-2">Insurance </label>
  </div>
  <div class="col d-flex align-items-center justify-content-center">      
      <label class="mr-4 mb-0"><input type="checkbox" name="checkbox" value="value"> Read</label>
      <label class="mb-0"><input type="checkbox" name="checkbox" value="value"> Edit</label>
    </div>
</div>
<hr>
<div class=" my-4 text-center">
  <a class="btn  px-4 btn-success text-white">SAVE</a>
</div>
  </form>

</div>
</ng-template>






