
 
<div class="login-wrap card m-auto p-4 ">
  <div class="text-center">
    <a routerLink=""><img src="assets/img/money-edge-logo.png" width="125" alt=""></a>
  </div>
  <h4 class="text-center font-weight-bold my-4">REGISTER</h4>
  <form #signUpForm="ngForm" (ngSubmit)="signUpForm.form.valid&&register()" novalidate>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <!-- <input type="text" class="form-control m-wrap" placeholder="First Name"> -->
          <input type="text" class="form-control m-wrap" placeholder="First Name" name="firstname" [(ngModel)]="signUpModel.firstname"
          #firstname="ngModel" pattern="^[a-zA-Z]+$" required>
          <small *ngIf="!firstname.valid && firstname.errors && signUpForm.submitted" class="error_message">
              <div [hidden]="!firstname.errors.required">
                First Name is required
              </div>
              <div [hidden]="!firstname.errors.pattern">
                Number, space, special characters not allowed
              </div>
          </small>
        </div>
        <div class="col-md-6">
          <!-- <input type="text" class="form-control m-wrap" placeholder="Last Name"> -->
          <input type="text" class="form-control m-wrap" placeholder="Last Name" name="lastname" [(ngModel)]="signUpModel.lastname"
          #lastname="ngModel" pattern="^[a-zA-Z]+$" required>
          <small *ngIf="!lastname.valid && lastname.errors && signUpForm.submitted" class="error_message">
              <div [hidden]="!lastname.errors.required">
                Last Name is required
              </div>
              <div [hidden]="!lastname.errors.pattern">
                Number, space, special characters not allowed
              </div>
          </small>
        </div>
    </div>
    </div>
    <div class="form-group">
      <!-- <input type="text" class="form-control m-wrap" placeholder="Username"> -->


      <input type="text" class="form-control m-wrap" placeholder="Username" name="fname" (ngModelChange)="displayName()" [(ngModel)]="signUpModel.fname" #fname="ngModel" pattern="^[a-zA-Z]+$" required>
      <small *ngIf="!fname.valid && fname.errors && signUpForm.submitted" class="error_message">
        <div [hidden]="!fname.errors.required">
          Username is required
        </div>
        <div [hidden]="!fname.errors.pattern">
          Number, space, special characters not allowed
        </div>
      
      </small>
      <small [hidden]="!userNameExist"  class="error_message">
        Username not available
    </small>
    </div>
    <div class="form-group">
      <!-- <input type="text" class="form-control m-wrap" placeholder="Email"> -->
      <!-- Email -->
      <input type="email"  class="form-control m-wrap" placeholder="Email Id" name="email"  (ngModelChange)="checkEmail()" 
      [(ngModel)]="signUpModel.email" #email="ngModel"
      pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
      <small *ngIf="!email.valid && email.errors && signUpForm.submitted" class="error_message">
        <div [hidden]="!email.errors.required">
          Email is required
        </div>
        <div [hidden]="!email.errors.pattern">
          Enter valid email
        </div>
      </small>
      <small [hidden]="!emailIdExist"  class="error_message">
        Email id not available
    </small>
    </div>
    <div class="form-group">

         <input type="password" class="form-control m-wrap" placeholder="Password" name="password"
         [(ngModel)]="signUpModel.password" required validateEqual="confirmPassword" #password="ngModel" reverse="true">

          <small [hidden]="password.valid || (password.pristine && !signUpForm.submitted)"  class="error_message">
              Password is required
          </small>
          <!-- <small [hidden]="!this.errored_msg">
            {{errored_msg}}
          </small> -->
   
    </div>
    <div class="form-group">
      <input type="password" class="form-control m-wrap" placeholder="Confirm Password"  name="confirmPassword"
      [(ngModel)]="signUpModel.confirmPassword" required validateEqual="password" #confirmPassword="ngModel">

       <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !signUpForm.submitted)"  class="error_message">
          Password mismatch
      </small>
      
    </div>

    <div class="form-group mb-1">
      <!-- <a href="advisor-settings.html" class="btn w-100 btn-primary2">SIGN UP</a> -->
      <button type="submit" class="btn w-100 btn-primary2 py-2">SIGN UP</button>

    </div>
     <div class="f-10 text-muted text-center my-2">By clicking ‘SignUp’ , you are agree to Terms of Service & Privacy Policy</div>

    <hr>
    <div class="d-flex justify-content-between align-items-center">
      <div>Existing Customer?</div>
      <a routerLink="/app-login" class="btn btn-secondary btn-sm px-3 py-2"> LOGIN</a>
    </div>
  </form>
</div>
 



