<div class="mb-auto">
    <div class="header fixed-top">
      <app-header></app-header>
      <div class="status-bar py-2">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-sm-6 ">
              <div class="logo-space">
                <h5 class="mb-0 mt-1 d-inline-block f-20">
                  <span class="uppercase">{{clientName}}</span>
                   <span class="f-14">(active)</span></h5>
                <div class="ml-4 d-inline-block">
                  <i class="zmdi zmdi-info text-muted"></i> <span class="text-muted">  Report Date:</span> August 24 2017
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6 text-right">
              <div class="btn-group">
                <a  class="cursor-p dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Menu
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li> <a href="global-settings.html">Client Settings</a></li>
                  <li><a href="">Block</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- <app-side-menu></app-side-menu> -->
<div class="side-menu">
  <ul class="side-menu-list">

    <li>
      <a (click)="activateClientDashboard()" [class.active]="dashboardCls"><i class="zmdi zmdi-view-dashboard"></i> <span class="m-content"> 
        Dashboard </span>
       </a>
  </li>

  <li><a (click)="activatePersonalInfo()" [class.active]="personalCls"><i class="zmdi zmdi-info"></i> <span class="m-content"> Personal Information </span> </a>
  </li>
  <li><a (click)="activateIncome()"  [class.active]="incomeCls"><i class="zmdi zmdi-money-box"></i> <span class="m-content">Income  </span></a>
  </li>
  
  <li><a (click)="activateAsset()"  [class.active]="activateCls"><i class="zmdi zmdi-home"></i> <span class="m-content"> Asset  </span></a>
  </li>
  <li><a (click)="activateEducation()"  [class.active]="educationCls"><i class="zmdi zmdi-graduation-cap"></i> <span class="m-content"> Education  </span></a>
  </li>
  <li><a (click)="activateDebt()"  [class.active]="debtCls"><i class="zmdi zmdi-balance-wallet"></i> <span class="m-content"> Debt  </span></a>
  </li>
  <li><a (click)="activateInsurance()" [class.active]="insuranceCls"><i class="zmdi zmdi-accounts-alt"></i> <span class="m-content"> Insurance  </span></a>
  </li>
  <li><a (click)="activateExpense()"  [class.active]="expenseCls"><i class="zmdi zmdi-shopping-cart"></i> <span class="m-content"> Expenses  </span></a>
  </li>
  <li><a (click)="activateEmergencyFund()" [class.active]="emergencyFund"><i class="zmdi zmdi-money"></i> <span class="m-content"> Emergency Fund  </span></a>
  </li>
  <li><a (click)="activateProtectionFund()"  [class.active]="protectionfundCls"><i class="zmdi zmdi-shield-security"></i> <span class="m-content"> Protection Fund  </span></a>
  </li>
  <li><a (click)="activateRetirement()"  [class.active]="retirementCls"><i class="zmdi zmdi-account"></i> <span class="m-content"> Retirement  </span></a>
  </li>

  <li><a [routerLink]="['/archived-reports']"><i class="zmdi zmdi-folder"></i> <span class="m-content"> Archived Reports </span> </a>
  </li>
  </ul>
  </div>

<div class="d-flex align-content-around flex-column h-100">
  <app-dashboard *ngIf="dashboardCls"></app-dashboard>
  <app-personal-information  *ngIf="personalCls"></app-personal-information>
  <app-income-tab *ngIf="incomeCls"></app-income-tab>
  <app-asset-tab *ngIf="activateCls"></app-asset-tab>
  <app-education-tab *ngIf="educationCls"></app-education-tab>
  <app-debt-tab *ngIf="debtCls"></app-debt-tab>
  <app-insurance-tab *ngIf="insuranceCls"></app-insurance-tab>
  <app-expenses-tab *ngIf="expenseCls"></app-expenses-tab>
  <app-emergency-fund-tab *ngIf="emergencyFund"></app-emergency-fund-tab>
  <app-protection-fund-tab *ngIf="protectionfundCls"></app-protection-fund-tab>
  <app-retirement-fund-tab *ngIf="retirementCls"></app-retirement-fund-tab>
</div>

<app-action-points-page></app-action-points-page>