<div class="mb-auto">
  <div class="header fixed-top">   
    
    <app-header></app-header>	
    <div class="status-bar py-2">
      <div class="container-fluid">
        <div class="logo-space">
          <div class="row">
            <div class="col-md-6">
              <h5 class="mb-0 mt-1">Home</h5>
            </div>
             
          </div>
        </div>
      </div>
    </div>
  </div>
  
<div class="page-container mb-auto py-2">
  <div class="container">
<div class="custom-tab-container">
<ngb-tabset>
<ngb-tab>
<ng-template ngbTabTitle>
Advisor & Client
</ng-template>
<ng-template ngbTabContent>

<div class="row my-4">
	<div class="col">
		<div class="border-danger p-2 rounded box-container d-flex  justify-content-between">
			<div>
				<p class="m-0 text-muted">No. Of Advisors</p>
				<p class="text-danger f-20">210</p>
			</div>
			<i class="zmdi zmdi-account"></i>
		</div>
	</div>
	<div class="col">
		<div class="rounded p-2 border-success box-container d-flex  justify-content-between">
			<div>
				<p class="m-0 text-muted">No. Of Active Clients</p>
				<p class="text-success f-20">210</p>
			</div>
			<i class="zmdi zmdi-accounts-alt"></i>
		</div>
	</div>
	<div class="col">
		<div class="border-warning p-2 rounded box-container d-flex  justify-content-between">
			<div>
				<p class="m-0 text-muted">No. Of Prospects Clients</p>
				<p class="text-warning f-20">210</p>
			</div>
			<i class="zmdi zmdi-accounts-outline"></i>
		</div>
	</div>
		<div class="col">
		<div class="border-primary p-2 rounded box-container d-flex  justify-content-between">
			<div>
				<p class="m-0 text-muted">No. Of Former Clients</p>
				<p class="text-primary f-20">210</p>
			</div>
			<i class="zmdi zmdi-accounts-outline"></i>
		</div>
	</div>
	
		<div class="col">
		<div class="border-dark p-2 rounded box-container d-flex  justify-content-between">
			<div>
				<p class="m-0 text-muted">No. Of Inactive Clients</p>
				<p class="text-dark f-20">210</p>
			</div>
			<i class="zmdi zmdi-accounts-outline"></i>
		</div>
	</div>

</div>
<h5 class="mt-5">last 10 Clients logged in</h5>
<div class="row mt-3">
	<div class="col-md-6">
		
		
		<div class="row mb-2 text-muted">
			<div class="col-md-6">Name </div>
			<div class="col-md-6  text-right">Date & Time </div>
		</div>
		<div class="dash-border-bottom my-3"></div>
		<div class="row mb-2">
			<div class="col-md-6">Fudd Elmer </div>
			<div class="col-md-6 text-right">11-09-2017 <span class="f-10 ml-2">08:35 Pm</span>  </div>
		</div>
		<div class="dash-border-bottom my-3"></div>
		<div class="row mb-2">
			<div class="col-md-6">Fudd Elmer </div>
			<div class="col-md-6 text-right">11-09-2017 <span class="f-10 ml-2">08:35 Pm</span>  </div>
		</div>
		<div class="dash-border-bottom my-3"></div>
		<div class="row mb-2">
			<div class="col-md-6">Fudd Elmer </div>
			<div class="col-md-6 text-right">11-09-2017 <span class="f-10 ml-2">08:35 Pm</span>  </div>
		</div>
		<div class="dash-border-bottom my-3"></div>
		<div class="row mb-2">
			<div class="col-md-6">Fudd Elmer </div>
			<div class="col-md-6 text-right">11-09-2017 <span class="f-10 ml-2">08:35 Pm</span>  </div>
		</div>
		
	</div>
	<div class="col-md-6">
		
		
		<div class="row mb-2 text-muted">
			<div class="col-md-6">Name </div>
			<div class="col-md-6  text-right">Date & Time </div>
		</div>
		<div class="dash-border-bottom my-3"></div>
		<div class="row mb-2">
			<div class="col-md-6">Fudd Elmer </div>
			<div class="col-md-6 text-right">11-09-2017 <span class="f-10 ml-2">08:35 Pm</span>  </div>
		</div>
		<div class="dash-border-bottom my-3"></div>
		<div class="row mb-2">
			<div class="col-md-6">Fudd Elmer </div>
			<div class="col-md-6 text-right">11-09-2017 <span class="f-10 ml-2">08:35 Pm</span>  </div>
		</div>
		<div class="dash-border-bottom my-3"></div>
		<div class="row mb-2">
			<div class="col-md-6">Fudd Elmer </div>
			<div class="col-md-6 text-right">11-09-2017 <span class="f-10 ml-2">08:35 Pm</span>  </div>
		</div>
		<div class="dash-border-bottom my-3"></div>
		<div class="row mb-2">
			<div class="col-md-6">Fudd Elmer </div>
			<div class="col-md-6 text-right">11-09-2017 <span class="f-10 ml-2">08:35 Pm</span>  </div>
		</div>
		
	</div>
</div>

</ng-template>
</ngb-tab>
<ngb-tab>
<ng-template ngbTabTitle>
News & Announcements
</ng-template>
<ng-template ngbTabContent>


<div class="card card-inverse my-4">
	<img class="card-img" src="assets/img/bg-img.png" alt="Card image">
	<div class="card-img-overlay d-flex justify-content-center align-items-center">
		<h2 class="card-title font-weight-bold text-white">News & Announcement</h2>
	</div>
</div>
<div class="row d-flex justify-content-center">
	
	<div class="col-md-10 text-center my-4">
		<h6 class="font-weight-bold">NEW EXPRESS REPORT PUSHED LIVE</h6>
		<p class="mb-1">We have updated the Express Report to be a non-financial planning quick version of the MoneyEdge Advanced Report. This accomplishes several issues:For those representatives who are with a broker deale..
		</p>
		<a href="" class="text-success font-weight-bold">Read More</a>
		<div class="dash-border-bottom my-3"></div>
		<h6 class="font-weight-bold">NEW LOOK & FEEL OF MONEYEDGE</h6>
		<p class="mb-1">
			The MoneyEdge software program was launched on March 8, 2005 and the software has been successfully used by over 1000 advisers since then. We decided it was time to do a “make-over” and get a more mod..
		</p>
		<a href="" class="text-success font-weight-bold">Read More</a>
		<div class="dash-border-bottom my-3"></div>
		<h6 class="font-weight-bold">ADVISER NOTES ON ASSETS AND INCOME CAN NOW APPEAR AS MOUSEOVERS </h6>
		<p class="mb-1">Notes on Details of Assets page now appear as mouseovers on Current Position Many advisers have been putting notes to themselves when adding details of Non-Retirement Investments, Cash Accounts, etc..
		</p>
		<a href="" class="text-success font-weight-bold">Read More</a>
		<div class="dash-border-bottom my-3"></div>
		<h6 class="font-weight-bold">NET WORTH NOW DISPLAYED USING SEC DEFINITION </h6>
		<p class="mb-1">Net Worth now calculated with and without primary residence Net worth is defined by the Securities and Exchange Commission (SEC) as total assets minus total liabilities excluding primary residence, ..
		</p>
		<a href="" class="text-success font-weight-bold">Read More</a>
		<div class="dash-border-bottom my-3"></div>
		<h6 class="font-weight-bold">ADDITION OF OTHER TAX SECTION </h6>
		<p class="mb-1">   For many years Property Taxes and other taxes were lumped in with payroll taxes. We have pushed live a better way of administering both payroll taxes and other taxes. Please click here to see some scr..
		</p>
		<a href="" class="text-success font-weight-bold">Read More</a>
		<div class="dash-border-bottom my-3"></div>
		<h6 class="font-weight-bold">FINANCIAL FACTS SECTION PUSHED LIVE </h6>
		<p class="mb-1">    An exciting new feature of the MoneyEdge was just pushed live. Instead of having to constantly remember the limits for this and the eligibility for this kind of retirement program, our development tea..
		</p>
		<a href="" class="text-success font-weight-bold">Read More</a>
		<div class="dash-border-bottom my-3"></div>
		<h6 class="font-weight-bold">UPGRADE OF SERVER ENVIRONMENT </h6>
		<p class="mb-1">   As part of an ongoing commitment to provide a world-class and an up-to-date server environment, MoneyEdge will be performing an infrastructure upgrade which will affect most of our services. This up..
		</p>
		<a href="" class="text-success font-weight-bold">Read More</a>
		<div class="dash-border-bottom my-3"></div>
		<h6 class="font-weight-bold">PRIVACY MODE IS HERE </h6>
		<p class="mb-1">   More and more advisers are using the program right in front of their clients where everyone is viewing the screen. As a result of this, we have implemented the ability for the adviser to hide the ..
		</p>
		<a href="" class="text-success font-weight-bold">Read More</a>
		
	</div>
</div>
</ng-template>
</ngb-tab>
<ngb-tab>
<ng-template ngbTabTitle>
Resources and Training Aids
</ng-template>
<ng-template ngbTabContent>

<div class="row my-4">
	<div class="col-md-6">
		<div class="card card-inverse">
			<img class="card-img" src="assets/img/bg-img2.png" alt="Card image">
			<div class="card-img-overlay d-flex justify-content-center align-items-center">
				<h2 class="card-title font-weight-bold text-white">Sources and Training  Aids</h2>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="border p-3">
			
			<ul>
				<li><i class="zmdi zmdi-brightness-5 text-muted f-12"></i><p class="text-success d-inline-block ml-2">Financial Facts at your fingertips</p></li>
				<li><i class="zmdi zmdi-brightness-5 text-muted f-12"></i><p class="text-success d-inline-block ml-2">Calculators at your Disposal</p></li>
				<li><i class="zmdi zmdi-brightness-5 text-muted f-12"></i><p class="text-success d-inline-block ml-2">Input Page Summary & Help Question Marks</p></li>
				<li><i class="zmdi zmdi-brightness-5 text-muted f-12"></i><p class="text-success d-inline-block ml-2">MoneyEdge Visual Options</p></li>
				<li><i class="zmdi zmdi-brightness-5 text-muted f-12"></i><p class="text-success d-inline-block ml-2">Disabling Pop-Up Blockers</p></li>
			</ul>
		</div>
	</div>
</div>
<div class="row mt-4">
	<div class="col-md-6">
		<div class="border p-3">
			
			<ul>
				<li><i class="zmdi zmdi-brightness-5 text-muted f-12"></i><p class="text-success d-inline-block ml-2">Advanced Adviser Guide</p></li>
				<li><i class="zmdi zmdi-brightness-5 text-muted f-12"></i><p class="text-success d-inline-block ml-2">Sample Verbiage with clients- word document</p></li>
				<li><i class="zmdi zmdi-brightness-5 text-muted f-12"></i><p class="text-success d-inline-block ml-2">Receipt for Financial Docs</p></li>
				<li><i class="zmdi zmdi-brightness-5 text-muted f-12"></i><p class="text-success d-inline-block ml-2">Archived Announcements</p></li>
				<li><i class="zmdi zmdi-brightness-5 text-muted f-12"></i><p class="text-success d-inline-block ml-2">Sample Express Report</p></li>
			</ul>
		</div>
	</div>
	<div class="col-md-6">
		<div class="border p-3">
			
			<ul>
				<li><i class="zmdi zmdi-brightness-5 text-muted f-12"></i><p class="text-success d-inline-block ml-2">MoneyEdge Checklist - items for your client to gather prior to your meeting</p></li>
				<li><i class="zmdi zmdi-brightness-5 text-muted f-12"></i><p class="text-success d-inline-block ml-2">Client tri-fold brochure with screen shots</p></li>
				<li><i class="zmdi zmdi-brightness-5 text-muted f-12"></i><p class="text-success d-inline-block ml-2">Advanced Input Form in Word - follows the order of the input pages</p></li>
				<li><i class="zmdi zmdi-brightness-5 text-muted f-12"></i><p class="text-success d-inline-block ml-2">Advanced Input Form in PDF format</p></li>
				<li><i class="zmdi zmdi-brightness-5 text-muted f-12"></i><p class="text-success d-inline-block ml-2">Express Input Form - PDF Fillable</p></li>
				
			</ul>
		</div>
	</div>
</div>
</ng-template>
</ngb-tab>

</ngb-tabset>


  
     
  </div>
  </div>
</div>
</div>