/*  .main{
  height: 100%;
} */


.login-container{
	background: url('../assets/img/login-bg.png') no-repeat center center;
	background-size: cover;
  background-attachment: fixed;
  height: 100%;
}




/* footer{
	background: #1E1E37;
	font-size: 12px;
	padding-left: 60px
}
 
footer .main-footer{
	background: #232340;
}
*/
.list-menu li {
display: inline-block;
margin: 0 10px;

}
.list-menu li a{
 color: #fff;
 opacity: .5;
}
.list-menu li a:hover{
	opacity: 1;
}

simple-notifications{
	position: relative;
	z-index: 9999;
}
.btn-submit:hover{
    background-color: green !important;
    color: #fff;
    font-weight: bold;
}
/* .main-body{
	display:flex;
} */
.url_not_found{
    background: url(/assets/img/login-bg.png) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: calc(100vh - 120px);
    width: 100%;
}









