<!--The content below is only a placeholder and can be replaced.-->
<div class="APP-ROOT main">
  	<simple-notifications [options]="options"></simple-notifications>
    <ng2-slim-loading-bar [color]="'#459fba'" [height]="'4px'"></ng2-slim-loading-bar>
    <router-outlet></router-outlet>
    
</div> 
<div  *ngIf="this.storeService.getObject('token_cleared')" class="url_not_found">

 No URL Found
</div>
<app-footer></app-footer>
