<div class="modal-header w-100">
  <div class="modal-title text-center w-100">
    <h4 class="m-0">Total Mortgage Payment Calculator (PITI) </h4>
    <p class="f-14 m-0">Thursday, November 30, 2017</p>
    <p class="f-12 text-muted px-3">This calculator will compute a mortgage's monthly payment amount based on the principal amount borrowed, the length of
      the loan and the annual interest rate. This calculator will also compute your total mortgage payment which will include
      your property tax, property insurance and PMI payments. Then, once you have computed the monthly payment, click on
      the "Create Amortization Schedule" button to create a report you can print out. </p>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body py-4 px-5">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Client Name (optional)</label>
        <input class="form-control" type="text" [(ngModel)]="mortagePayment.cName">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Initial Loan Amount</label>
        <input class="form-control" type="text" [(ngModel)]="mortagePayment.loanAmount">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Annual Interest Rate</label>
        <input class="form-control" type="text" [(ngModel)]="mortagePayment.intRate">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Mortgage Term ( In Months)</label>
        <input class="form-control" type="text" [(ngModel)]="mortagePayment.no_of_terms">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Annual Property Taxes </label>
        <input class="form-control" type="text" [(ngModel)]="mortagePayment.propertyTax">
        <p class="m-0 link f-12">Property Tax Burdens by State</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="">Annual Homeowner's Insurance</label>
        <input class="form-control" type="text" [(ngModel)]="mortagePayment.homeInsurance">
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <label for="">Monthly PMI (Private Mortgage Insurance)</label>
        <input class="form-control" type="text" [(ngModel)]="mortagePayment.monthlyPMI">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="">First Payment</label>
        <select class="form-control custom-select f-14" name="monName" [(ngModel)]="mortagePayment.monName">
          <option *ngFor="let month of monthsArray" [ngValue]="month.id" [selected]="month.id==mortagePayment.monName"> {{month.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Year</label>
        <input class="form-control" type="text" [(ngModel)]="mortagePayment.years">
      </div>
    </div>
  </div>
  <div class="row" *ngIf="resultShow">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6 text-right">
          <label for="">Monthly Principal & Interest Payment</label>
        </div>
        <div class="col-md-6">
          <p>: ${{mortagePayment.prinicipal_Interest_Pay}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right">
          <label for="">Monthly Taxes, Insurance & PMI Payment</label>
        </div>
        <div class="col-md-6">
          <p>: ${{mortagePayment.monthly_Tax_Insurance_PMIPay}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right">
          <label for="">Total Monthly Mortgage Payment (PITI)</label>
        </div>
        <div class="col-md-6">
          <p>: ${{mortagePayment.total_Monthly_MortagePay}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer justify-content-center">
  <button class="btn btn-secondary btn-sm px-4 py-2" (click)="getResult()"> Calculate</button>
</div>

<!-- <div class="text-center ">
  <p class="link cursor-p f-16 text-success" (click)="fullWidthModal(amortization_schedule)" (click)="dismiss()">View Amortization Schedule</p>
</div> -->

<div class="m-4 f-12 text-muted">
  <p class="text-muted">
    The above results are based on conventional fixed-rate loans only. In this calculation, the original amount of the loan is
    paid off over the life of the loan, in other words, the principal is amortized and under a fixed-rate mortgage (unlike
    an adjustable-rate mortgage), the monthly payment will not change over the life of the loan unless additional amounts
    are added for the acceleration of principal. Results are rounded and should not be considered an official payment schedule.</p>
</div>