<div class="mb-auto">
	<div class="header fixed-top">

		<app-header></app-header>
		<div class="status-bar py-2">
			<div class="container-fluid">
				<div class="logo-space">
					<div class="row">
						<div class="col-md-6">
							<h5 class="mb-0 mt-1">Support</h5>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-container mb-auto py-2">
		<form #contactForm="ngForm" (ngSubmit)="contactForm.form.valid&&submit()" novalidate>

			<div class="container">
				<div class="row my-4">
					<div class="col-md-6">
						<h3 class="mb-4">Contact Us</h3>
						<p class="text-muted">Thank you for your interest in MoneyEdge. Please fill out the information below and we will be happy to assist you.
							*Denotes a required field.</p>


						<div class="form-group">
							<label for="">Your Name <i class="fa fa-asterisk text-danger"></i></label>
							<!-- <input type="text" class="form-control"> -->
							<input type="text" class="form-control" placeholder="Your Name" name="name" [(ngModel)]="contactModel.name" #name="ngModel"
							 pattern="^[a-zA-Z ]+$" [attr.maxLength]="25" required>
							<small *ngIf="!name.valid && name.errors && contactForm.submitted" class="error_message">
								<div [hidden]="!name.errors.required">
									Name is required
								</div>
								<div [hidden]="!name.errors.pattern">
									Number, space, special characters not allowed
								</div>

							</small>

						</div>

						<div class="form-group">
							<label for="">Your Email <i class="fa fa-asterisk text-danger"></i></label>
							<input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="contactModel.email" #email="ngModel"
							 pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
							<small *ngIf="!email.valid && email.errors && contactForm.submitted" class="error_message">
								<div [hidden]="!email.errors.required">
									Email is required
								</div>
								<div [hidden]="!email.errors.pattern">
									Enter valid email
								</div>
							</small>
						</div>

						<div class="form-group">
							<label for="">Your Phone <i class="fa fa-asterisk text-danger"></i></label>
							<input type="text" [restrictNumeric] [attr.maxLength]="mobileNumberLength" class="form-control" [(ngModel)]="contactModel.phone"
							 name="phone" #phone="ngModel" (paste)="onPaste($event)" required>
							<small *ngIf="!phone.valid && phone.errors && contactForm.submitted" class="error_message">
								<div [hidden]="!phone.errors.required">
									Phone Number is required
								</div>
							</small>
						</div>

						<div class="form-group">
							<label for="">State</label>
							<select class="form-control custom-select" placeholder="Select state" [ngModel]="contactModel.state" (ngModelChange)="StateChanged($event)"
							 name="state" #state="ngModel">
							
								<option *ngFor="let state of states" [ngValue]="state.VALUE" [selected]="state.VALUE==selectedState.VALUE">
									{{state.TEXT}}
								</option>
							</select>
							<!-- <select class="form-control custom-select" (change)="stateChanged($event.target.value)">
								<option *ngFor="let workout of states" [value]="workout.VALUE" [selected]="workout.VALUE=== advisorModel.advContact.state">{{workout.TEXT}}</option>
							  </select> -->
						</div>
						<div class="form-group">
							<label for="">Your Company</label>
							<input type="text" class="form-control" [(ngModel)]="contactModel.company" name="company" #company="ngModel">
						</div>

						<div class="form-group">
							<label for="">How did you hear about us?</label>
							<select class="form-control custom-select" [ngModel]="contactModel.findUs" (ngModelChange)="statefindUs($event)" name="findUs"
							 #findUs="ngModel">
								<option selected> - select -</option>
								<option *ngFor="let findus of findUsData" [ngValue]="findus.VALUE">
									{{findus.TEXT}}
								</option>
							</select>
						</div>

						<p>
							<span class="font-weight-bold">Note:</span>if you were referred by someone, please add their name in the Message/Comments box so can thank them.
						</p>

						<div class="form-group">
							<label for="">Subject (Main area of interest)</label>
							<input type="text" class="form-control" [(ngModel)]="contactModel.subject" name="subject" #subject="ngModel">
						</div>


						<div class="form-group">
							<label for="">Message/Comments</label>
							<textarea rows="2" class="form-control" [(ngModel)]="contactModel.message" name="message" #message="ngModel"></textarea>
						</div>


						<div class="d-flex justify-content-between align-items-center">
							<div>Unauthorized MoneyEdge charges?
								<a href="">Click here</a>
							</div>
							<div>
								<button type="submit" class="btn btn-primary px-4">Send</button>
							</div>
						</div>

					</div>
					<div class="col-md-4">

						<div class="card p-3">
							<h5>By Mailing Address</h5>
							<p class="text-muted mb-4">
								MoneyEdge, Inc
								<br> P.O. Box 203246
								<br> Austin, Texas 78720</p>


							<h5>By Physical Address</h5>
							<p class="text-muted mb-4">
								MoneyEdge, Inc
								<br> 11917 Oak Knoll Dr, Suite C
								<br> Austin, Texas 78759</p>

							<h5>By E-Mail</h5>
							<p class="text-muted mb-4">
								info@moneyedgepro.com
							</p>

							<h5>By Telephone</h5>
							<p class="text-muted mb-4">

								Toll-Free: 1-888-817-2848
								<br> By Fax: 1-512-918-1902
							</p>




						</div>

					</div>
				</div>
			</div>
		</form>
	</div>
</div>