<div class="modal-body px-4">
	<button type="button" class="close" aria-label="Close" (click)="closeModal()">
		<span aria-hidden="true">&times;</span>
	</button>
	<div class="card-block">
		<div class="modal-header">
			<div class="modal-title text-center w-100">
				<h4 class="m-0">The Early Investor vs. The Early Spender</h4>
				<p class="f-14 m-0">{{currentDate|date:'EEEE, MMMM dd, yyyy'}}</p>
				<p class="f-16 m-0">Which strategy would be better for you or your family?</p>
			</div>
		</div>
		<div class="modal-body p-4">
			<div class="row text-center">
				<div class="col-md-6">
					<h6 class="font-weight-bold">The Early Investor </h6>
					<p>The Early Investor starts investing now, invests for the next 10 years and then never invests again.</p>
				</div>
				<div class="col-md-6">
					<h6 class="font-weight-bold">The Early Spender</h6>
					<p>The Early Spender waits for 10 years to start investing then invests every year thereafter.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="">Client Name (optional)</label>
						<input class="form-control" [(ngModel)]="EarlyInvestor.name" [attr.maxLength]="50" type="text">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="">Current Age (optional)</label>
						<input class="form-control" type="text" [restrictNumeric] [restrictmaxvalue]="100" [(ngModel)]="EarlyInvestor.currentAge">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="">Annual Investment</label>
						<input class="form-control" type="text" app-restrict-input="float" [restrictNumeric] [(ngModel)]="EarlyInvestor.anualInvestment">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for=""> Assumed Annual Rate of Return</label>
						<input class="form-control" type="text" app-restrict-input="float" [(ngModel)]="EarlyInvestor.rateOfreturn" [restrictmaxvalue]="100">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="">Years to Display</label>
						<input class="form-control" [restrictNumeric] [restrictmaxvalue]="100" [(ngModel)]="EarlyInvestor.endYear" type="text">
					</div>
				</div>
				<div class="col-md-6 d-flex align-items-center">
					<div class="row w-100 mt-1">
						<div class="col"> Display Graphs </div>
						<div class="col">
							<mat-radio-group class="example-radio-group" [(ngModel)]="displayGraph" (ngModelChange)="GraphDisplayChange()">
								<mat-radio-button value="true">Yes</mat-radio-button>
								<mat-radio-button value="false">No</mat-radio-button>
							</mat-radio-group>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer justify-content-center">
			<button class="btn btn-submit btn-secondary btn-sm px-4 py-2" (click)="getResult()"> Go</button>
			<button class="btn btn-dark btn-sm px-4 py-2" (click)="getDefaultValues()"> Reset</button>
		</div>
		<div class="row" *ngIf="showChart">
			<div class="align-center">
				<chart [options]="investedChart">
				</chart>
			</div>
			<div class="align-center">
				<chart [options]="accumulatedChart">
				</chart>
			</div>

		</div>
		<table class="table" *ngIf="EarlyInvestor.Details!==null && EarlyInvestor.Details.length>0">
			<tr class="font-weight-bold">
				<td class="text-muted">Year</td>
				<td class="text-muted" *ngIf="EarlyInvestor.Details[0].age!==null">Age</td>
				<td class="text-muted">Annual Investment</td>
				<td class="text-muted">Accumulation End of Year</td>
				<td class="text-muted">Annual Investment</td>
				<td class="text-muted">Accumulation End of Year</td>
				<td class="text-muted">The Early Investor Ahead by</td>
			</tr>
			<tr *ngFor="let Investor of EarlyInvestor.Details;">
				<td class="text-muted">{{Investor.year}} </td>
				<td class="text-muted" *ngIf="Investor.age!==null">{{Investor.age}}</td>
				<td class="text-muted">${{Investor.anualInvestmentA|number:'1.2-2'}}</td>
				<td class="text-muted">${{Investor.accumalationA|number:'1.2-2'}}</td>
				<td class="text-muted">${{Investor.anualInvestmentB|number:'1.2-2'}}</td>
				<td class="text-muted">${{Investor.accumalationB|number:'1.2-2'}}</td>
				<td class="text-muted">${{Investor.earlyInvestor|number:'1.2-2'}}</td>
			</tr>
			<tr class="font-weight-bold">
				<td class="text-muted">Total</td>
				<td class="text-muted" *ngIf="EarlyInvestor.Details[0].age!==null"></td>
				<td class="text-muted">${{EarlyInvestor.totalAnualInvestmentA|number:'1.2-2'}} </td>
				<td class="text-muted"></td>
				<td class="text-muted">${{EarlyInvestor.totalAnualInvestmentB|number:'1.2-2'}}</td>
				<td class="text-muted"></td>
				<td class="text-muted"></td>
			</tr>
		</table>
		<p class="f-12 text-muted px-3"> The above results are hypothetical only and do not represent any particular investment, savings vehicle or expected return
			and cannot be guaranteed. There can be no assurance that the results as illustrated in this hypothetical scenario can
			or will be achieved. The calculations do not take into account inflation or taxation, both of which will reduce future
			values. This is neither an offer to sell nor a solicitation to buy. Registered products, including mutual funds, are sold
			by prospectus. For complete information you are encouraged to request a prospectus from a properly licensed registered
			representative. The prospectus discusses fees and charges of particular securities. Please read it carefully before investing
			any money. This hypothetical illustration is for illustration purposes only.</p>
	</div>
</div>