ul {
    list-style-type: none;
    height: 40px;
  }


:host /deep/ .index-column,
:host /deep/ .index-column-header {
    text-align: right;
}

:host /deep/ .data-table .data-table-row.selected {
    background-color: #E4EDF9;
}
.datatable-row-center.datatable-row-group{
    background:#f5f5f5;
}
.fixed-header{
    padding-top: 0 !important;
}
.table td{
    width:150px;
}
.table_list li{
    display:flex;  
  list-style:none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  padding: .9rem 1.2rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
  vertical-align: bottom;
  font-size: 12px;
  font-weight: 500;
  position: relative;
  display: inline-block;
  width: 150px;
}