<div class="page-content">
	<div class="row text-center" *ngIf="!showTables">
		<p style="text-align:center;">No Educational Information Found</p>
	</div>
	<div class="row" *ngIf="showTables">
		<div class="col-md-12">
			<h5>Education</h5>

			<table class="table">
				<tr>
					<td class="text-muted">Child</td>
					<td class="text-muted">C.Age</td>
					<td class="text-muted">Start Date / Age </td>
					<td class="text-muted">Y.@ School</td>
					<td class="text-muted">
						<div>
							<ng-template #popContent1>
								<div class="f-12">
									<p>The Possible School can be selected by:</p>
									<p>Clicking on either "Average Public", "Average Private" or "Average Ivy League"
										<br> Clicking on one of the "Adviser Pre-Set Favorites" if the financial adviser set up pre-set schools in their Global
										Settings to allow for the quick selection of schools frequented in your area.
										<br> Clicking on "Select College". A pop-up search box will appear to allow a search by either the school name or the
										state/province. </p>
								</div>
							</ng-template>
							<i class="zmdi zmdi-info text-success ml-2" triggers="mouseenter:mouseleave" placement="left" [ngbPopover]="popContent1"
							 container="body"></i>
							Poss. School
						</div>
					</td>

					<td class="text-muted">
						<div>
							<ng-template #popContent2>
								<div class="f-12">
									<p> Once a School or average cost is selected:</p>

									<p class="mb-1">● The Total Annual Cost is based upon published data, see the Education Output page disclosures for the date of
										the data used which can vary depending upon the report date </p>
									<p class="mb-1">● The Total Annual Cost includes tuition, fees, books and, where applicable, room and board. </p>
									<p class="mb-1">● The Total Annual Cost may be zero if there is no cost to the student (the military academies, etc.) or if no data
										is available for that school</p>
									<p class="mb-1">● The Total Annual Cost may be manually overridden if desired</p>

								</div>
							</ng-template>
							<i class="zmdi zmdi-info text-success ml-2" triggers="mouseenter:mouseleave" placement="left" [ngbPopover]="popContent2"
							 container="body"></i>
							Today's A.Cost
						</div>
					</td>
					<td class="text-muted">
						<div>
							<ng-template #popContent3>
								<div class="f-12">
									<p>
										The Current Savings total value can simply be entered here along with the total monthly savings or you can click on the “Add
										Details” link to itemize all education accounts of different types. This will lead to a more detailed report on
										the education output report. Types of education accounts include:</p>

									<p class="mb-1">● 529 Savings plans</p>
									<p class="mb-1">● 529 Pre-paid tuition plans </p>
									<p class="mb-1">● Coverdell Education-IRA plans</p>
									<p class="mb-1">● Uniform Gifts to Minor Accounts (UGMA) </p>
									<p class="mb-1">● Uniform Transfer to Minor Accounts (UGMA) </p>
									<p class="mb-1">● Savings Accounts</p>
									<p class="mb-1">● Savings Bonds</p>
									<p class="mb-1">● Individual Stocks</p>
									<p class="mb-1">● Any assets earmarked for education </p>

								</div>
							</ng-template>
							<i class="zmdi zmdi-info text-success ml-2" triggers="mouseenter:mouseleave" placement="bottom" [ngbPopover]="popContent3"
							 container="body"></i>
							C.Savings
						</div>
					</td>
					<td class="text-muted">M.savings</td>
					<td class="text-muted">
						<div>
							<ng-template #popContent4>
								<div class="f-12">
									<p>% of Cost Parents Pay is the percentage of the educational costs the parents have advised they are planning to pay
										out of pocket or through education planning. The remaining costs would be made up by scholarships or other sources.
									</p>
								</div>
							</ng-template>
							<i class="zmdi zmdi-info text-success ml-2" triggers="mouseenter:mouseleave" placement="left" [ngbPopover]="popContent4"
							 container="body"></i>
							% Cost to parent
						</div>
					</td>
					<td class="text-muted"> </td>
				</tr>
				<tr class="font-weight-bold" *ngFor="let education of EducationInfoModel;let i=index;">
					<td>{{EducationInfoModel[i].fName}} </td>
					<td> {{EducationInfoModel[i].age}}</td>

					<td colspan="7">
						<table>
							<tr *ngFor="let education of EducationInfoModel[i].EducationDetails;let ind=index;">

								<td class="d-flex">
									<select class="custom-select border-0 f-12 h-auto py-0 pl-0 mb-1" (change)="chooseOption($event.target.value,i,ind)" #selection>
										<option *ngFor="let dateOrAge of dateOrAgemodel;let in=index;" [value]="dateOrAgemodel[in].id" [selected]="dateOrAgemodel[in].id=== education.startDateType">{{ dateOrAge.name }}</option>
									</select>
									<div class="m-0 datepicker-container" *ngIf="education.startDateType==2">
										<ng-datepicker [(ngModel)]="education.startDate" name="education[ind].startDate" [options]="options"></ng-datepicker>

									</div>
									<p class="m-0" *ngIf="education.startDateType==1">
										<input type="text" [(ngModel)]="education.collegeStartAge" name="education[ind].collegeStartAge" placeholder="Start Age"
										 class="form-control " [restrictNumeric]/> </p>
								</td>
								<td>

									<input type="text" [(ngModel)]="education.yearAtSchool" name="education[ind].yearAtSchool" class="form-control">

								</td>
								<td>
									<div class="mt-2">
										<a href="javascript:;" (click)="getSchoollist(i,ind)" class="d-flex align-items-center">
											<span class="text-dark mr-1 text-truncate">{{education.collegename}}</span>
											<i class="zmdi zmdi-swap"></i>
										</a>

									</div>
								</td>
								<td>
									<div class="d-flex align-items-center">
										<div class="input-group">
											<span class="input-group-addon">$</span>
											<input type="text" class="form-control text-center" *ngIf="education?.totalAnualCost" [(ngModel)]="education.totalAnualCost"
											 name="education[ind].totalAnualCost" style="width: 65px;">
										</div>
									</div>
								</td>
								<td>
									<div class="mt-2">
										<a href="javascript:;" class="d-flex  align-items-center" (click)="editCurrentSavings(education.educationID)">
											<span class="text-dark mr-1">${{education.totalCurrentSavings}}</span>
											<i class="zmdi zmdi-swap"></i>
										</a>

									</div>
								</td>
								<td>
									<div class="d-flex align-items-center">
										<div class="input-group">
											<span class="input-group-addon">$</span>
											<input type="text" class="form-control text-center" name="education[ind].monthlySavings" [(ngModel)]="education.monthlySavings"
											 style="width: 65px;">
										</div>
									</div>


								</td>
								<td>
									<div class="d-flex align-items-center">
										<input type="text" class="form-control w-50" name="education[ind].parentPayRate" [(ngModel)]="education.parentPayRate">

									</div>
								</td>

								<td>
									<a class="text-success" (click)="Go()">GO</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>

			</table>
			<div class="text-center mb-3">
				<a href="javascript:;" class="btn btn-success px-5" (click)="UpdateEducation()">Save</a>
			</div>
			<p class="f-12 text-muted ">C.Age = Current Age; Y.@School = Year at school; Poss.School = Possible School; Todays A. Cost = Today's Annual Cost;
				C.Savings = Current Savings; M.Saving = Monthly Savings</p>

			<div class="mb-5"></div>
			<h5>Savings Required </h5>
			<table class="table">

				<tr>
					<td class="text-muted">Student

					</td>
					<td class="text-muted"> Time to
						<br> Start Date</td>
					<td class="text-muted"> Total Cost
						<br> (Today's $)</td>
					<td class="text-muted"> Total Cost
						<br> (Future $)</td>
					<td class="text-muted">
						<ng-template #popContent8>
							<div class="f-12">
								<p>
									The Assumed Return represents the growth of both current and future education funds prior to the first year of education
									and during the education years. They are hypothetical only and do not represent any particular savings vehicle.

								</p>

							</div>
						</ng-template>
						<i class="zmdi zmdi-info text-success ml-2" triggers="mouseenter:mouseleave" placement="left" [ngbPopover]="popContent8"
						 container="body"></i>
						Return %
					</td>
					<td class="text-muted">

						<ng-template #popContent7>
							<div class="f-12">
								<p>
									The Projected Current Savings (Future $) displays what the Current Plans (the existing lump sum and monthly contributions,
									if continued) would grow to by the time the student starts school. This value is based on the assumed return to
									the left and does not consider the effect of any taxes owed.

								</p>

							</div>
						</ng-template>
						<i class="zmdi zmdi-info text-success ml-2" triggers="mouseenter:mouseleave" placement="left" [ngbPopover]="popContent7"
						 container="body"></i>
						Current savings
						<br> (Future $)

					</td>
					<td class="text-muted">

						<ng-template #popContent6>
							<div class="f-12">
								<p>
									The Lump Sum Required (Today’s $) represents the additional lump sum required be added to the current plan and invested at
									the assumed return to fully fund the Total Cost (Future $) of Education for this student.

								</p>
								<p>
									Note: Either the Additional Lump Sum OR the Additional Monthly Savings are required, not both
								</p>
							</div>
						</ng-template>
						<i class="zmdi zmdi-info text-success ml-2" triggers="mouseenter:mouseleave" placement="left" [ngbPopover]="popContent6"
						 container="body"></i>
						Lump Sum
						<br> (Today's $)
					</td>
					<td class="text-muted">

						<ng-template #popContent5>
							<div class="f-12">
								<p>
									The Additional Monthly Savings Required (Today's $) represents the additional monthly savings required to be added every
									month, until the start of school, to the current plan and invested at the assumed return to fully fund the Total
									Cost (Future $) of Education for this student.</p>
								<p>
									Note: Either the Additional Lump Sum OR the Additional Monthly Savings are required, not both
								</p>
							</div>
						</ng-template>
						<i class="zmdi zmdi-info text-success ml-2" triggers="mouseenter:mouseleave" placement="left" [ngbPopover]="popContent5"
						 container="body"></i>
						Additional Monthly
						<br>savings (Today's $)
					</td>
				</tr>
				<tr class="font-weight-bold" *ngFor="let savingreq  of savingsRequiredModel;let i=index;">
					<td>{{savingreq.name}}</td>
					<td colspan="7">
						<table class="table">
							<tr *ngFor="let savings of savingsRequiredModel[i].savingsRequiredDetails">
								<td>
									<p class="m-0">{{savings.timeToStartYear}}Years</p>
									<p class="m-0">{{savings.timeToStartMonth}} Months</p>
								</td>
								<td>$ {{savings.totalCostToday}}</td>
								<td>$ {{savings.totalCostFuture}} </td>
								<td>
									$
									<input type="text" class="border border-right-0 border-top-0 border-left-0 fw50 text-center 
										font-weight-bold f-16 bg-none" name="savings.returnRate" app-restrict-input="float" [(ngModel)]="savings.returnRate">
								</td>
								<td>${{savings.currentSavings}}</td>
								<td>${{savings.lumpSum}}</td>
								<td>${{savings.additionalMonthlySavings}}</td>

							</tr>
						</table>
					</td>



				</tr>
				<tr class="font-weight-bold bg-faded">
					<!-- <td colspan="8"> </td> -->
					<td> </td>
					<td colspan="5" class="text-center">
						Rate Of Return
					</td>
					<td colspan="2" class="align-middle">
						Grand Total
					</td>

				</tr>
				<tr class="font-weight-bold bg-gray" *ngFor="let total of savingsRequiredGrandTotalModal;let ind=index;">
					<td> </td>
					<td colspan="5" class="text-center">
						<div>
							@
							<input type="text" class="border border-right-0 border-top-0 border-left-0 fw50 text-center 
							 font-weight-bold f-16 bg-none" name="third_rate" [(ngModel)]="total.returnRate" app-restrict-input="float"> %
							<a href="javascript:;" class="text-success ml-3 f-16" (click)="Go(total.returnRate)">GO</a>
						</div>
					</td>
					<td class="align-middle">{{total.lumpSum}}</td>
					<td class="align-middle">{{total.additionalMonthlySavings}}</td>
				</tr>
			</table>

			<div class="text-center">
				<a href="javascript:;" class="btn btn-secondary dash-border p-3  mt-3"> Types of Accounts available for Education Planning</a>
			</div>
			<div class="text-center my-5 ">
				<p class="f-16">
					<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i>
					The School Start Dates above are in the same month as the Report Date so the Lump Sum
					<br> Required and the Additional Monthly Savings Required are the same amount. </p>
			</div>
			<div class="row text-muted">
				<div class="col-6 mb-2">
					<p>The hypothentical numbers used above assume a 7% educational inflation rate. Speak with your Adviser if you want to
						see your Education Coast Projections using a different assumption for inflation </p>
				</div>
				<div class="col-6  mb-2">
					A good education allows for an extra edge to compete in today's world and planning properly for education can be crucial
					, if proper planning is not executed in advance, other areas of long-term asset accumulation may be adversely affected
					in the future.
				</div>
				<div class="col-6  mb-2">
					There are several education vehicles available today to choose from along with the opportunities for scholarships and financial
					aid. Consult your financial adviser to help you find the right options for you.
				</div>
				<div class="col-6  mb-2">
					Based upon the Report Date of 06/26/2014, the current annual cost figures displayed are from information published for the
					2013-2014 school year and includes tution, fees, books and board where applicable.
				</div>

			</div>

		</div>

	</div>
</div>