<div class="modal-header w-100">
  <div class="modal-title text-center w-100">
    <h4 class="m-0">Mortgage Principal & Interest Calculator </h4>
    <p class="f-14 m-0">Thursday, November 30, 2017</p>
    <p class="f-12 text-muted px-3">This calculator will quickly help you to determine the Principal & Interest Payment of a Loan. </p>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body py-4 px-5">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Client Name (optional)</label>
        <input class="form-control" type="text" [(ngModel)]="mortageIntrest.cName">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Initial Loan Amount</label>
        <input class="form-control" type="text" [(ngModel)]="mortageIntrest.loanAmount">
      </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
          <label for="">Interest Rate</label>
          <input class="form-control" type="text" [(ngModel)]="mortageIntrest.intRate">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="">Term In Months</label>
          <input class="form-control" type="text" [(ngModel)]="mortageIntrest.no_of_terms">
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="">First Payment</label>
        <select class="form-control custom-select f-14" name="monName" [(ngModel)]="mortageIntrest.monName">
            <option *ngFor="let month of monthsArray" [ngValue]="month.id" [selected]="month.id==mortageIntrest.monName"> {{month.name}}</option>
          </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Year</label>
        <input class="form-control" type="text" [(ngModel)]="mortageIntrest.years">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="">Principal & Interest Payment</label>
        <input class="form-control" type="text" [(ngModel)]="mortageIntrest.prinicipal_Interest_Pay">
      </div>
    </div>
  </div>
  <p class="text-center" *ngIf="currentBalanceShow">Current Balance as on {{mortageIntrest.payoff}}	:	${{mortageIntrest.currentBalance}}</p>
</div>
<div class="modal-footer justify-content-center">
  <button class="btn btn-secondary btn-sm px-4 py-2" (click)="getResult()"> Calculate</button>
</div>
<!-- <div class="text-center ">
  <p class="link cursor-p f-16 text-success" (click)="fullWidthModal(amortization_schedule)" (click)="dismiss()">View Amortization Schedule</p>
</div> -->

<div class="m-4 f-12 text-muted">
  <p class="text-muted">
    The above results are based on conventional fixed-rate loans only. The figures calculated do not include any closing costs,
    taxes and/or insurance premiums built into the loan. Monthly payments to a lender may be higher to reflect these costs.
    In this calculation, the original amount of the loan is paid off over the life of the loan, in other words, the principal
    is amortized and under a fixed-rate mortgage (unlike an adjustable-rate mortgage), the monthly payment will not change
    over the life of the loan unless additional amounts are added for the acceleration of principal. Results are rounded and
    should not be considered an official payment schedule.</p>
</div>