<div class="page-content">

  <div class="row">
    <div class="col-md-12">
      <h5 class="f-20">Personal Information </h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt sint sit facilis ducimus, illum quis ex quae voluptatem
        nam asperiores sunt ut amet modi, totam sequi cupiditate mollitia! Quam, nulla. Lorem ipsum dolor sit amet, consectetur
        adipisicing elit. Nesciunt sint sit facilis ducimus, illum quis ex quae voluptatem nam asperiores </p>
      <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <div class=" d-flex justify-content-between align-items-center ">
              <span class="font-weight-bold text-dark">Primary Details</span>
              <span>
                <i class="zmdi zmdi-caret-down f-26 text-dark"></i>
              </span>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <form #primaryDetailsForm="ngForm" (ngSubmit)="primaryDetailsForm.form.valid&&primaryDetails()" novalidate>
              <div class="card-block">
                <div class="row">
                  <div class="col-md-4">
                    <label for="">First Name</label>
                    <div class="input-group">
                      <input type="text" class="form-control rounded-0" placeholder="First Name" name="firstName" [(ngModel)]="primaryDetailsModel.firstName"
                        #firstName="ngModel" pattern="^[a-zA-Z]+$" required>


                    </div>

                    <small *ngIf="!firstName.valid && firstName.errors && primaryDetailsForm.submitted" class="error_message">
                      <div [hidden]="!firstName.errors.required">
                        First Name is required
                      </div>
                      <div [hidden]="!firstName.errors.pattern">
                        Number, space, special characters not allowed
                      </div>
                    </small>

                  </div>
                  <div class="col-md-4">
                    <label for="">Middle Name</label>
                    <div class="input-group">
                      <input type="text" class="form-control " placeholder="Middle Name" name="midName" [(ngModel)]="primaryDetailsModel.midName"
                        #midName="ngModel">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label for="">Last Name</label>
                    <div class="input-group">
                      <input type="text" class="form-control rounded-0" placeholder="Last Name" name="lastName" [(ngModel)]="primaryDetailsModel.lastName"
                        #lastName="ngModel" pattern="^[a-zA-Z]+$" required>

                    </div>
                    <small *ngIf="!lastName.valid && lastName.errors && primaryDetailsForm.submitted" class="error_message">
                      <div [hidden]="!lastName.errors.required">
                        Last Name is required
                      </div>
                      <div [hidden]="!lastName.errors.pattern">
                        Number, space, special characters not allowed
                      </div>
                    </small>

                  </div>
                </div>

                <div class="row mt-3">
                  <div class="col-md-4">
                    <label for="">Date of Birth</label>
                    <div class="input-group datepicker-container">
                      <ng-datepicker [(ngModel)]="primaryDetailsModel.birthDate" name="birthDate" [options]="options" (ngModelChange)="CalculateAge($event)"></ng-datepicker>

                    </div>

                  </div>
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-5">
                        <label for="">Age</label>
                        <div class="input-group">
                          <input class="form-control " [restrictNumeric] type="text" name="Age" [(ngModel)]="primaryDetailsModel.Age" #Age="ngModel"
                            readonly>
                        </div>
                      </div>
                      <div class="col-md-7">
                        <label for="">Gender</label>
                        <div class="input-group">
                          <select name="gender" class="custom-select f-14 form-control" [(ngModel)]="primaryDetailsModel.isMale">
                            <option value="false">Female</option>
                            <option value="true">Male</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 d-flex align-items-end">
                    <label>
                      <input type="checkbox" [(ngModel)]="primaryDetailsModel.inclEducPage" name="inclEducPage" [checked]="primaryDetailsModel.inclEducPage"> Include on education page</label>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-4">
                    <ng-template #popContent>The
                      <strong> Desired Retirement Age</strong> is a required field in order to run the report. This value can be different
                      for the primary and the spouse and can also be changed on the retirement output pages to see what effect
                      retiring early or later has on retirement assets.</ng-template>

                    <label for="">Desired Retirement Age
                      <i class="zmdi zmdi-info text-success ml-2" triggers="mouseenter:mouseleave" [ngbPopover]="popContent" container="body"></i>
                    </label>
                    <div class="input-group w-50">
                      <input class="form-control " [restrictNumeric] [attr.maxLength]="3" type="text" name="retirementAge" [(ngModel)]="primaryDetailsModel.retirementAge"
                        #retirementAge="ngModel" max="150">

                    </div>

                  </div>
                  <div class="col-md-4">

                    <label for="">Life Expectancy</label>
                    <div class="input-group w-50">
                      <input class="form-control " [restrictNumeric] [restrictNumeric] [attr.maxLength]="3" type="text" name="lifeExpectancy" [(ngModel)]="primaryDetailsModel.lifeExpectancy"
                        #lifeExpectancy="ngModel">
                    </div>
                  </div>
                  <div class="col-md-4">

                    <label for="">Email ID</label>
                    <div class="input-group">
                      <input type="email" class="form-control " placeholder="Email Id" name="emailID" [(ngModel)]="primaryDetailsModel.emailID"
                        #emailID="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                      <small *ngIf="!emailID.valid && emailID.errors && primaryDetailsForm.submitted" class="error_message">
                        <div [hidden]="!emailID.errors.required">
                          Email is required
                        </div>
                        <div [hidden]="!emailID.errors.pattern">
                          Enter valid email
                        </div>
                      </small>
                    </div>
                  </div>

                </div>
                <div class="text-center mt-4">
                  <button class="btn btn-dark px-5 btn-submit" type="submit">Save</button>
                </div>

              </div>
            </form>
          </ng-template>
        </ngb-panel>


        <ngb-panel>
          <form #primaryContactForm="ngForm" novalidate>

            <ng-template ngbPanelTitle>

              <div class=" d-flex justify-content-between align-items-center ">
                <span class="font-weight-bold text-dark">Primary Contact Details</span>
                <span>
                  <i class="zmdi zmdi-caret-down f-26 text-dark"></i>
                </span>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="card-block">
                <div class="row">
                  <div class="col-md-4">
                    <label for="">Land Phone</label>
                    <div class="input-group">
                      <input type="text" [restrictNumeric] [attr.maxLength]="mobileNumberLength" class="form-control " [(ngModel)]="primaryContactsModel.homePhone"
                        name="homePhone" #homePhone="ngModel">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label for="">Mobile Phone</label>
                    <div class="input-group">
                      <input type="text" [restrictNumeric] [attr.maxLength]="mobileNumberLength" class="form-control " [(ngModel)]="primaryContactsModel.mobilePhone"
                        name="mobilePhone" #mobilePhone="ngModel">
                    </div>
                  </div>

                </div>
                <div class="row mt-3 ">
                  <div class="col-md-4">
                    <label for="">Address</label>
                    <div class="input-group">
                      <input class="form-control " type="text" placeholder="Address line 1" [(ngModel)]="primaryContactsModel.addressL1" name="addressL1"
                        #addressL1="ngModel">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label for="" class="mt-3"></label>
                    <div class="input-group">
                      <input class="form-control  " value="" type="text" placeholder="Address line 2" [(ngModel)]="primaryContactsModel.addressL2"
                        name="addressL2" #addressL2="ngModel">
                    </div>
                  </div>

                </div>
                <div class="row mt-3 ">

                  <div class="col-md-4">
                    <label for="">City</label>
                    <div class="input-group">
                      <input class="form-control " type="text" [(ngModel)]="primaryContactsModel.city" name="city" #city="ngModel">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label for="">State</label>
                    <div class="input-group">
                      <!-- <input class="form-control  " value="" type="text"> -->
                      <select class="form-control  custom-select" placeholder="Select state" [ngModel]="primaryContactsModel.state" (ngModelChange)="globalStateChanged($event)"
                        name="state" #state="ngModel">
                        <option *ngFor="let state of states" [ngValue]="state.VALUE" [selected]="state.VALUE===primaryContactsModel.state">
                          {{state.TEXT}}
                        </option>

                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label for="">Zip code</label>
                    <div class="input-group">
                      <input type="text" class="form-control " placeholder="Branch Zip code" [restrictNumeric] name="zip" [(ngModel)]="primaryContactsModel.zip"
                        [attr.maxLength]="zipCodeLength">
                    </div>
                  </div>
                </div>
                <div class="text-center mt-4">
                  <button class="btn btn-dark px-5 btn-submit" (click)="primaryContacts()">Save</button>
                </div>
              </div>
            </ng-template>
          </form>
        </ngb-panel>

        <ngb-panel>
          <ng-template ngbPanelTitle>
            <div class=" d-flex justify-content-between align-items-center ">
              <span class="font-weight-bold text-dark">Primary Employment Details</span>
              <span>
                <i class="zmdi zmdi-caret-down f-26 text-dark"></i>
              </span>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <form #primaryEmploymentForm="ngForm" (ngSubmit)="primaryEmploymentForm.form.valid&&primaryEmploymentDetails()" novalidate>

              <div class="card-block">
                <div class="row">
                  <div class="col-md-4">
                    <label for="">Occupation</label>
                    <div class="input-group">
                      <input type="text" class="form-control " [(ngModel)]="primaryEmployeeModel.ocuupation" name="ocuupation" #ocuupation="ngModel">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label for="">Employer</label>
                    <div class="input-group">
                      <input type="text" class="form-control " [(ngModel)]="primaryEmployeeModel.employer" name="employer" #employer="ngModel">
                    </div>
                  </div>

                </div>
                <div class="row mt-3 ">
                  <div class="col-md-4">
                    <label for="">Year in Occupation</label>
                    <div class="input-group w-50">
                      <input type="text" class="form-control " [restrictNumeric] [attr.maxLength]="3" [(ngModel)]="primaryEmployeeModel.yearInocuupation"
                        name="yearInocuupation" #yearInocuupation="ngModel">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label for="" class="">Year at Employer</label>
                    <div class="input-group w-50">
                      <input type="text" class="form-control " [restrictNumeric] [attr.maxLength]="3" [(ngModel)]="primaryEmployeeModel.yearAtEmployer"
                        name="yearAtEmployer" #yearAtEmployer="ngModel">
                    </div>
                  </div>

                </div>
                <div class="row mt-3 ">
                  <div class="col-md-4">
                    <label for="">Work Address</label>
                    <div class="input-group">
                      <input class="form-control " value="" type="text" placeholder="Address line 1" [(ngModel)]="primaryEmployeeModel.addressL1"
                        name="addressL1" #addressL1="ngModel">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label for="" class="mt-3"></label>
                    <div class="input-group">
                      <input class="form-control  " value="" type="text" placeholder="Address line 2" [(ngModel)]="primaryEmployeeModel.addressL2"
                        name="addressL2" #addressL2="ngModel">
                    </div>
                  </div>

                </div>
                <div class="row mt-3 ">

                  <div class="col-md-4">
                    <label for="">City</label>
                    <div class="input-group">
                      <input class="form-control  " value="" type="text" placeholder="City" [(ngModel)]="primaryEmployeeModel.city" name="city"
                        #city="ngModel">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label for="">State</label>
                    <div class="input-group">

                      <select class="form-control rounded-0 custom-select" name="defaultstate" [ngModel]="primaryEmployeeModel.state" (change)="StateChanged($event.target.value)"
                        #defaultstate="ngModel">
                        <option *ngFor="let workout of states" [value]="workout.VALUE" [selected]="workout.VALUE===primaryContactsModel.state">{{workout.TEXT}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label for="">Zip code</label>
                    <div class="input-group">
                      <input class="form-control  " value="" type="text" placeholder="" [(ngModel)]="primaryEmployeeModel.zip" [restrictNumeric]
                        name="zip" #zip="ngModel" [attr.maxLength]="zipCodeLength">
                    </div>
                  </div>
                </div>
                <div class="text-center mt-4">
                  <button class="btn btn-dark px-5 btn-submit" type="submit">Save</button>
                </div>
              </div>
            </form>
          </ng-template>
        </ngb-panel>

        <ngb-panel>
          <ng-template ngbPanelTitle>
            <div class=" d-flex justify-content-between align-items-center ">
              <span class="font-weight-bold text-dark">Spouse Details</span>
              <span>
                <i class="zmdi zmdi-caret-down f-26 text-dark"></i>
              </span>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <form #spouseDetailsForm="ngForm" (ngSubmit)="spouseDetailsForm.form.valid&&spouseDetails()" novalidate>

              <div class="card-block">
                <div class="row">
                  <div class="col-md-4">
                    <label for="">First Name</label>
                    <div class="input-group">
                      <input type="text" class="form-control " placeholder="First Name" name="firstName" [(ngModel)]="spouseDetailsModel.firstName"
                        #firstName="ngModel">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label for="">Middle Name</label>
                    <div class="input-group">
                      <input type="text" class="form-control " placeholder="Middle Name" name="midName" [(ngModel)]="spouseDetailsModel.midName"
                        #midName="ngModel">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label for="">Last Name</label>
                    <div class="input-group">
                      <input type="text" class="form-control " placeholder="Last Name" name="lastName" [(ngModel)]="spouseDetailsModel.lastName"
                        #lastName="ngModel">
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-4">
                    <label for="">Date of Birth</label>
                    <div class="input-group datepicker-container">
                      <ng-datepicker [(ngModel)]="spouseDetailsModel.birthDate" name="birthDate" [options]="options" (ngModelChange)="CalculateSpouseAge($event)"></ng-datepicker>

                    </div>

                  </div>
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-5">
                        <label for="">Age</label>
                        <div class="input-group">
                          <input type="text" class="form-control rounded-0" [restrictNumeric] placeholder="Age" name="Age" [(ngModel)]="spouseDetailsModel.Age"
                            #Age="ngModel" readonly>
                        </div>
                      </div>
                      <div class="col-md-7">
                        <label for="">Gender</label>
                        <div class="input-group">
                          <select name="gender" class="custom-select f-14 form-control" [(ngModel)]="spouseDetailsModel.isMale">
                            <option value="false">Female</option>
                            <option value="true">Male</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 d-flex align-items-end">
                    <label>
                      <input type="checkbox" [(ngModel)]="spouseDetailsModel.inclEducPage" name="inclEducPage" [checked]="spouseDetailsModel.inclEducPage"> Include on education page
                    </label>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-4">

                    <label for="">Desired Retirement Age</label>
                    <div class="input-group w-50">
                      <input type="text" class="form-control " placeholder="Last Name" name="retirementAge" [(ngModel)]="spouseDetailsModel.retirementAge"
                        #retirementAge="ngModel" [restrictNumeric] [attr.maxLength]="3">
                    </div>

                  </div>
                  <div class="col-md-4">

                    <label for="">Life Expectancy</label>
                    <div class="input-group w-50">
                      <input type="text" class="form-control " placeholder="Last Name" name="lifeExpectancy" [(ngModel)]="spouseDetailsModel.lifeExpectancy"
                        #lifeExpectancy="ngModel" [restrictNumeric] [attr.maxLength]="3">
                    </div>
                  </div>
                  <div class="col-md-4">

                    <label for="">Email ID</label>
                    <div class="input-group">
                      <input type="email" class="form-control " placeholder="Email Id" name="emailID" [(ngModel)]="spouseDetailsModel.emailID"
                        #emailID="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                      <small *ngIf="!emailID.valid && emailID.errors && spouseDetailsForm.submitted" class="error_message">
                        <div [hidden]="!emailID.errors.required">
                          Email is required
                        </div>
                        <div [hidden]="!emailID.errors.pattern">
                          Enter valid email
                        </div>
                      </small>
                    </div>
                  </div>

                </div>
                <div class="text-center mt-4">
                  <button class="btn btn-dark px-5 btn-submit" type="submit">Save</button>
                </div>

              </div>
            </form>
          </ng-template>
        </ngb-panel>

        <ngb-panel>
          <ng-template ngbPanelTitle>
            <div class=" d-flex justify-content-between align-items-center ">
              <span class="font-weight-bold text-dark">Spouse Employment Details</span>
              <span>
                <i class="zmdi zmdi-caret-down f-26 text-dark"></i>
              </span>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <form #spouseEmployeDetailsForm="ngForm" (ngSubmit)="spouseEmployeDetailsForm.form.valid&&spouseEmployeDetails()" novalidate>

              <div class="card-block">
                <div class="row">
                  <div class="col-md-4">
                    <label for="">Occupation</label>
                    <div class="input-group">
                      <input type="text" class="form-control " [(ngModel)]="spouseEmployeDetailsModel.ocuupation" name="ocuupation" #ocuupation="ngModel">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label for="">Employer</label>
                    <div class="input-group">
                      <input type="text" class="form-control " [(ngModel)]="spouseEmployeDetailsModel.employer" name="ocuupation" #ocuupation="ngModel">
                    </div>
                  </div>

                </div>
                <div class="row mt-3 ">
                  <div class="col-md-4">
                    <label for="">Year in Occupation</label>
                    <div class="input-group w-50">
                      <input type="text" class="form-control " [restrictNumeric] [attr.maxLength]="3" [(ngModel)]="spouseEmployeDetailsModel.yearInocuupation"
                        name="yearInocuupation" #yearInocuupation="ngModel"> </div>
                  </div>
                  <div class="col-md-4">
                    <label for="" class="">Year at Employer</label>
                    <div class="input-group w-50">
                      <input type="text" class="form-control " [restrictNumeric] [attr.maxLength]="3" [(ngModel)]="spouseEmployeDetailsModel.yearAtEmployer"
                        name="yearAtEmployer" #yearAtEmployer="ngModel"> </div>
                  </div>

                </div>
                <div class="row mt-3 ">
                  <div class="col-md-4">
                    <label for="">Work Address</label>
                    <div class="input-group">
                      <input class="form-control " value="" type="text" placeholder="Address line 1" [(ngModel)]="spouseEmployeDetailsModel.addressL1"
                        name="addressL1" #addressL1="ngModel"> </div>
                  </div>
                  <div class="col-md-4">
                    <label for="" class="mt-3"></label>
                    <div class="input-group">
                      <input class="form-control  " value="" type="text" placeholder="Address line 2" [(ngModel)]="spouseEmployeDetailsModel.addressL2"
                        name="addressL2" #addressL2="ngModel"> </div>
                  </div>

                </div>
                <div class="row mt-3 ">

                  <div class="col-md-4">
                    <label for="">City</label>
                    <div class="input-group">
                      <input class="form-control " type="text" [(ngModel)]="spouseEmployeDetailsModel.city" name="city" #city="ngModel"> </div>
                  </div>
                  <div class="col-md-4">
                    <label for="">State</label>

                    <div class="input-group">

                      <select class="form-control rounded-0 custom-select" name="defaultstate" [ngModel]="spouseEmployeDetailsModel.state" (change)="StateChangedforSpouseEmployee($event.target.value)"
                        #defaultstate="ngModel">
                        <option *ngFor="let workout of states" [value]="workout.VALUE" [selected]="workout.VALUE===spouseEmployeDetailsModel.state">{{workout.TEXT}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label for="">Zip code</label>
                    <div class="input-group">
                      <input class="form-control  " value="" type="text" placeholder="" [(ngModel)]="spouseEmployeDetailsModel.zip" [restrictNumeric]
                        name="zip" #zip="ngModel" [attr.maxLength]="zipCodeLength">
                    </div>
                  </div>
                </div>
                <div class="text-center mt-4">
                  <button class="btn btn-dark px-5 btn-submit" type="submit">Save</button>
                </div>
              </div>
            </form>
          </ng-template>
        </ngb-panel>

        <ngb-panel>
          <ng-template ngbPanelTitle>
            <div class=" d-flex justify-content-between align-items-center ">
              <span class="font-weight-bold text-dark">Children</span>
              <span>
                <i class="zmdi zmdi-caret-down f-26 text-dark"></i>
              </span>
            </div>
          </ng-template>
          <ng-template ngbPanelContent>
            <ol class="repeating_loop p-0">
              <form #childDetailsForm="ngForm" (ngSubmit)="childDetailsForm.form.valid&&saveWholeChildren()" novalidate>
                <div class="card-block p-0">
                  <div class="table-scroll mb-2">
                    <table class="table custom-table">
                      <thead>
                        <tr>
                          <td>First Name</td>
                          <td>
                            Middle Name</td>
                          <td>Last Name</td>
                          <td>Date of Birth </td>
                          <td width="40">Current Age(as of report date) </td>
                          <!-- <td>SSN </td> -->
                          <td>Gender</td>
                          <td>Live in household</td>
                          <td>Include on education page</td>
                          <td></td>
                        </tr>
                      </thead>
                      <tr *ngFor="let income of childModel;let i=index;">
                        <td>
                          <input class="form-control" type="text" [(ngModel)]="childModel[i].fName" [ngModelOptions]="{standalone: true}" name="fName-{{i}}"
                            required>

                        </td>
                        <td>
                          <input class="form-control" type="text" [(ngModel)]="childModel[i].midName" [ngModelOptions]="{standalone: true}" name="midName-{{i}}">
                        </td>
                        <td>

                          <input class="form-control" type="text" [(ngModel)]="childModel[i].Lname" [ngModelOptions]="{standalone: true}"
                           name="Lname-{{i}}">
                        </td>

                        <td>
                          <div class="datepicker-container">
                            <ng-datepicker [(ngModel)]="childModel[i].dob"[ngModelOptions]="{standalone: true}"
                             name="dob-{{i}}"
                             [options]="options" (ngModelChange)="CalculateChildAge($event,i)"></ng-datepicker>

                          </div>

                        </td>
                        <td>
                          <input class="form-control rounded-0" type="text" [(ngModel)]="childModel[i].age" [restrictNumeric] [ngModelOptions]="{standalone: true}"
                            name="age-{{i}}" readonly>
                        </td>
                        <td>
                          <select name="gender" class="custom-select f-14 form-control" [(ngModel)]="childModel[i].isMale" name="isMale-{{i}}">
                            <option [value]="false">Female</option>
                            <option [value]="true">Male</option>
                          </select>
                        </td>
                        <td class="text-center" width="20">
                          <input type="checkbox" class="mt-2" [(ngModel)]="childModel[i].inHouseHold" name="inHouseHold-{{i}}" [checked]="childModel[i].inHouseHold">

                        </td>
                        <td class="text-center" width="20">
                          <input type="checkbox" class="mt-2" [(ngModel)]="childModel[i].includeEduPage" name="includeEduPage-{{i}}" [checked]="childModel[i].includeEduPage">
                        </td>
                        <td class="text-center" width="20">
                          <a class="btn btn-danger btn-sm text-white" (click)="removeChild(childModel[i],i)">
                            <i class="zmdi zmdi-delete"></i>
                          </a>
                        </td>
                      </tr>

                    </table>


                  </div>
                </div>
                <div class="text-center">

                  <a (click)="addChild(child)" class="btn btn-secondary dash-border btn-lg">
                    <i class="zmdi zmdi-plus-circle-o mr-3"></i>
                    Add Child</a>
                </div>
                <hr>
                <div class="text-center mt-4">
                  <button class="btn btn-dark px-5 btn-submit" type="submit">Save</button>
                </div>

              </form>
            </ol>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</div>