.repeating_loop{
    width:100%;
    float: left;
}
.btn-submit:hover{
    background-color: green !important;
    color: #fff;
    font-weight: bold;
}


.mat-icon-button {
 
	height: 34px;
	 
}
.ngx-datepicker-container[_ngcontent-c17] .ngx-datepicker-calendar-container[_ngcontent-c17]{
    z-index: 999;
  }