<div class="page-content">
	<div class="row">
		<div class="col-md-12">
			<h5>Retirement</h5>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam magnam molestiae rerum voluptas, harum voluptatem dolorem nobis culpa veniam iure. Earum fugiat optio eius facilis consequuntur et consequatur, eum quisquam.
			</p>
	
<div class="custom-tab-container">
	<ngb-tabset>
	
	<ngb-tab>
	<ng-template ngbTabTitle>
	Retirement Income Projection
	</ng-template>
	<ng-template ngbTabContent>
	<div class="f-16 mb-4">
		Monthly Retirement Need (Today’s $)<input class="border border-right-0 border-top-0 border-left-0 fw50 text-center font-weight-bold f-16" value="" type="text"> <a href="javascript:;" class="text-success ml-3">GO</a>
	</div>
	<p class="mb-1 f-14">Desired Retirement Age</p>
	<div class="mb-4">
		Anton’s : <input class="border border-right-0 border-top-0 border-left-0 fw50 text-center font-weight-bold f-16" value="" type="text">Jane’s : <input class="border border-right-0 border-top-0 border-left-0 fw50 text-center font-weight-bold f-16" value="" type="text"> <a href="javascript:;" class="text-success ml-3">GO</a>
	</div>
	<div class="my-2">
		<span> Years until Retirement : <span class="font-weight-bold ml-2">15</span> (Anton) <span class="font-weight-bold ml-2">15</span> (Jane)</span>
		<span class="ml-3"> Years in Retirement : <span class="font-weight-bold  ml-2">15</span> (Anton) <span class="font-weight-bold ml-2">15</span> (Jane)</span>
	</div>
	<div class="dash-border-bottom my-4"></div>
<div class="row">
	<div class="col-md-8">
	<div class="d-flex align-items-center mb-4">
		<span class="mr-2">Inflation Rate</span> <input  type="range"> <input class="border text-center font-weight-bold p-2 fw50 ml-2" value="" type="text">
		<a href="javascript:;" class="btn btn-secondary dash-border ml-auto"> Inflation Chart</a>
	</div>
	<div class="d-flex align-items-center mb-4">
		<span class="mr-2">Pre-Retirement Return</span> <input  type="range"> <input class="border text-center font-weight-bold p-2 fw50 ml-2" value="" type="text">
		<a href="javascript:;" class="btn btn-secondary dash-border ml-auto"> Return Chart</a>
	</div>
	<div class="d-flex align-items-center mb-4">
		<span class="mr-2">Retirement Return</span> <input  type="range"> <input class="border text-center font-weight-bold p-2 fw50 ml-2" value="" type="text">
		<a href="javascript:;" class="btn btn-secondary dash-border ml-auto"> Return Chart</a>
	</div>
	<div class="d-flex align-items-center mb-4">
		<span class="mr-2">Retirement Tax Rate</span> <input  type="range"> <input class="border text-center font-weight-bold p-2 fw50 ml-2" value="" type="text">
	</div>

</div>
</div>
	<div class="dash-border-bottom my-4"></div>
	<p> Monthly Retirement Need(Future $) <span class="font-weight-bold ml-3">$5000</span></p>
	<p> Annual Retirement Need(Future $) <span class="font-weight-bold ml-3">$5000</span></p>
	<div class="d-flex justify-content-around my-5">
		<a href="javascript:;" class="btn btn-secondary dash-border mx-3"> Marginal Tax Rate Table</a>
		<a href="javascript:;" class="btn btn-secondary dash-border mx-3"> Retirement Plan limits</a>
		<a href="javascript:;" class="btn btn-secondary dash-border mx-3"> Early Investor vs. Early Spender</a>
	</div>
	<h5>Your Currently Retirement Summary</h5>
	<hr>
	<table class="table">
		<tbody><tr>
			<td class="text-muted"> </td>
			<td class="text-muted">Plan Balance</td>
			<td class="text-muted">Personal Contribution</td>
			<td class="text-muted">Employer Contribution </td>
			<td class="text-muted"> </td>
		</tr>
		<tr class="font-weight-bold">
			<td>Anton <i class="zmdi zmdi-chevron-down align-text-bottom f-16 ml-2"></i> </td>
			<td> $54153 </td>
			<td> $54153 </td>
			<td> $0</td>
			<td> </td>
		</tr>
		<tr class="font-weight-bold">
			<td><div class="mt-2">What if Added </div> </td>
			<td> $<input class="border text-center font-weight-bold p-2 fw50 ml-2" value="" type="text"> </td>
			<td> $<input class="border text-center font-weight-bold p-2 fw50 ml-2" value="" type="text"> </td>
			<td> $<input class="border text-center font-weight-bold p-2 fw50 ml-2" value="" type="text"> </td>
			<td> <div class="mt-2"><label> <input type="checkbox"> Taxable</label> <a href="javascript:;" class="text-success ml-3">GO</a></div></td>
		</tr>
		
		<tr class="font-weight-bold f-16">
			<td> Total</td>
			<td> $54153 </td>
			<td> $54/ Month </td>
			<td> $0 / Month</td>
			<td> </td>
		</tr>
	</tbody>
</table>
<h5 class="mt-5">Retirement Projection Chart</h5>
<hr>

</ng-template>
</ngb-tab>
<ngb-tab>
<ng-template ngbTabTitle>
Additional Investment Needed
</ng-template>
<ng-template ngbTabContent>

<h6 class="my-4 font-weight-bold">At retirement, your accounts will grow to...</h6>
<table class="table">
	<tbody>
		<tr>
			<td class="text-muted"></td>
			<td class="text-muted"></td>
			<td class="text-muted">Surplus/Shortfall</td>
		</tr>
		<tr class="font-weight-bold">
			<td class="text-muted">@3% </td>
			<td class="text-muted">$ 35665 </td>
			<td class="text-muted">$ 35665 </td>
		</tr>
		<tr class="font-weight-bold">
			<td class="text-muted">@6% </td>
			<td class="text-muted">$ 35665 </td>
			<td class="text-muted">$ 35665 </td>
		</tr>
		<tr class="font-weight-bold">
			<td class="text-muted">@ <input class="border border-right-0 border-top-0 border-left-0 fw50 text-center font-weight-bold f-16" value="" type="text"> % <a href="javascript:;" class="text-success ml-3">GO</a></td>
			<td class="text-muted">$ 35665 </td>
			<td class="text-muted">$ 35665 </td>
		</tr>
	</tbody>
</table>
<h6 class="my-4 font-weight-bold">In order to reach your Financial Independence Number of $ 1,506,841 by retirement, you need to invest an additional...</h6>
<table class="table">
	<tbody>
		<tr>
			<td class="text-muted"></td>
			<td class="text-muted">Lump Sum</td>
			<td class="text-muted">Monthly</td>
		</tr>
		<tr class="font-weight-bold">
			<td class="text-muted">@3% </td>
			<td class="text-muted">$ 35665 </td>
			<td class="text-muted">$ 356 per month </td>
		</tr>
		<tr class="font-weight-bold">
			<td class="text-muted">@3% </td>
			<td class="text-muted">$ 35665 </td>
			<td class="text-muted">$ 356 per month </td>
		</tr>
		<tr class="font-weight-bold">
			<td class="text-muted">@3% </td>
			<td class="text-muted">$ 35665 </td>
			<td class="text-muted">$ 356 per month </td>
		</tr>
		
		
	</tbody>
</table>
<p class="f-12 text-muted">Note: Shortfall may be occuring since the Financial Independence Number only considers your investments and not any additional retirement sources.</p>


</ng-template>
</ngb-tab>

</ngb-tabset>
</div>
			
 
		
	</div>
</div>
</div>