<div class="mb-auto">
	<div class="header fixed-top">

		<app-header></app-header>
		<div class="status-bar py-2">
			<div class="container-fluid">
				<div class="logo-space">
					<div class="row">
						<div class="col-md-6">
							<h5 class="mb-0 mt-1">Calculator</h5>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-container mb-auto py-2">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="border icon-box rounded-circle d-flex justify-content-center align-items-center mb-2">
						<img src="assets/img/1.png" alt="">
					</div>
					<h5>Savings & Investing</h5>
					<div class="mt-4">
						<p class="link" (click)="openComponentCalc()">
							<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i>Compound Interest Calculator</p>
						<p>
							<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i>
							<a class="link" href="https://tools.finra.org/savings_calculator/" target="_blank">Savings Calculator</a>
						</p>
						<p>
							<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i>
							<a class="link" href="https://tools.finra.org/accrued_interest/" target="_blank">Bond Accrued Interest Calculator</a>
						</p>
						<p class="link" (click)="openEarly_investor()">
							<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i>Early Investor vs. Early Spender</p>
					</div>
				</div>

				<div class="col-md-4">
					<div class="border icon-box rounded-circle d-flex justify-content-center align-items-center mb-2">
						<img src="assets/img/2.png" alt="">
					</div>
					<h5>Retirement</h5>
					<div class="mt-4">
						<p class="link" (click)="xltaxableModal()">
							<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i>Taxable vs. Tax-Deferred vs. Tax-Free </p>
						<p>
							<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i>
							<a class="link" href="https://tools.finra.org/retirement_calculator/" target="_blank">Retirement Calculator</a>
						</p>
						<p>
							<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i>
							<a class="link" href="https://tools.finra.org/rmd/" target="_blank">Required Minimum Distribution</a>
						</p>
						<p>
							<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i>
							<a class="link" href="https://www.ssa.gov/planners/benefitcalculators.html" target="_blank">Social Security Calculators</a>
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="border icon-box rounded-circle d-flex justify-content-center align-items-center mb-2">
						<img src="assets/img/3.png" alt="">
					</div>
					<h5>College</h5>
					<div class="mt-4">
						<p>
							<a href="https://tools.finra.org/college_savings/" target="_blank">
								<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i> College Savings Calculator</a>
						</p>
						<p class="link" (click)="openCurrent_college_costs()">
							<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i> Current College Costs</p>
						<p>
							<a href="http://www.back2college.com/gpa.htm" target="_blank">
								<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i> GPA Calculator</a>
						</p>
					</div>

				</div>

			</div>


			<div class="row mt-4">
				<div class="col-md-4">
					<div class="border icon-box rounded-circle d-flex justify-content-center align-items-center mb-2">
						<img src="assets/img/4.png" alt="">
					</div>
					<h5>Insurance Calculators</h5>
					<div class="mt-4">
						<p class="link" (click)="xlModallife_insurance_needs()">
							<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i>Life Insurance Needs (the DIME) </p>
						<p>
							<a href="https://www.ssa.gov/OACT/population/longevity.html" target="_blank">
								<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i>Life Expectancy</a>
						</p>
						<p>
							<a href="https://www.lifehappens.org/insurance-overview/disability-insurance/calculate-your-needs/" target="_blank">
								<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i>Disability Needs </a>
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="border icon-box rounded-circle d-flex justify-content-center align-items-center mb-2">
						<img src="assets/img/5.png" alt="">
					</div>
					<h5>Debt Calculators</h5>
					<div class="mt-4">
						<p class="link" (click)="credit_card_minimumxlModal()">
							<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i> Credit Card Minimum Payment Calculator </p>
						<p>
							<a href="https://tools.finra.org/loan/" target="_blank">
								<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i> Fixed Loan Calculator </a>
						</p>
						<p class="link" (click)="xlfixed_minimum_paymentModal()">
							<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i> Fixed vs. Minimum Payment Calculator </p>
						<p class="link" (click)="xlvehicle_loan_paymentModal()">
							<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i> Vehicle Loan Payment </p>

					</div>
				</div>
				<div class="col-md-4">
					<div class="border icon-box rounded-circle d-flex justify-content-center align-items-center mb-2">
						<img src="assets/img/6.png" alt="">
					</div>
					<h5>Mortgage Calculators</h5>
					<div class="mt-4">
						<p class="link" (click)="xlmortgage_principal_interestModal()">
							<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i> Mortgage Principal & Interest Calculator </p>
						<p class="link" (click)="xltotal_mortgage_paymentModal()">
							<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i> Total Mortgage Payment Calculator (PITI) </p>
						<p class="link" (click)="xlmortgage_missing_valueModal()">
							<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i>Mortgage Missing Value Calculator </p>
						<p>
							<a href="http://money.cnn.com/calculator/real_estate/home-afford/" target="_blank">
								<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i>How much house can you afford?</a>
						</p>

					</div>
				</div>
			</div>


			<div class="row mt-4">
				<div class="col-md-4">
					<div class="border icon-box rounded-circle d-flex justify-content-center align-items-center mb-2">
						<img src="assets/img/7.png" alt="">
					</div>
					<h5>Miscellaneous</h5>
					<div class="mt-4">
						<p class="link" (click)="xlgoals_dreams_calculatorModal()">
							<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i>Goals and Dreams Calculator </p>
						<p>
							<a href="http://money.cnn.com/calculator/pf/millionaire/" target="_blank">
								<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i>When will I be a millionaire?
							</a>
						</p>
						<p>
							<a href="https://www.salary.com/category/salary/" target="_blank">
								<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i>What should my salary be?
							</a>
						</p>
						<p>
							<a href="http://money.cnn.com/calculator/pf/income-rank/" target="_blank">
								<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i>What percentile is your household income?
							</a>
						</p>
						<p>
							<a href="http://money.cnn.com/calculator/pf/cost-of-living/" target="_blank">
								<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i>Cost of living around the country
							</a>
						</p>

					</div>
				</div>
				<div class="col-md-4">
					<div class="border icon-box rounded-circle d-flex justify-content-center align-items-center mb-2">
						<img src="assets/img/8.png" alt="">
					</div>
					<h5>Personal Finance </h5>
					<div class="mt-4">
						<p>
							<a href="https://www.everydollar.com/app/sign-up/daveramsey" target="_blank">
								<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i>How much am I spending?
							</a>

						</p>
						<p>
							<a href="https://www.moneyunder30.com/emergency-fund-calculator" target="_blank">
								<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i>How much do I need for emergencies?
							</a>
						</p>
						<p>
							<a href="http://money.cnn.com/tools/financialhealth/" target="_blank">
								<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i>How healthy are my finances?
							</a>
						</p>
						<p>
							<a href="http://money.cnn.com/interactive/pf/cost-of-children/" target="_blank">
								<i class="zmdi zmdi-brightness-5 text-muted mr-2"></i>
								How much will it cost to raise your child?
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<!-- <ng-template #taxable let-c="close" let-d="dismiss">
	<div class="modal-header">
		<div class="modal-title text-center w-100">
			<h4 class="m-0"> Taxable vs. Tax-Deferred vs. Tax-Free Investments Calculator</h4>
			<p class="f-14 m-0">Thursday, November 30, 2017</p>
		</div>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body p-4">

		<p class="text-muted">Many investments are taxed differently. In retirement planning, it is important to know the difference. Here is a quick
			summary:
		</p>

		<p class="mb-1 d-flex ">
			<i class="zmdi zmdi-brightness-5 text-muted mr-2 mt-1 align-middle"></i>
			<span> A voluntary account will be taxed each year on interest, dividends, and/or capital gains, and while tax rates may be lower
				than ordinary income taxes, it is important to know you will pay taxes on these each year even if the investment loses
				money. </span>
		</p>

		<p class="mb-1 d-flex ">
			<i class="zmdi zmdi-brightness-5 text-muted mr-2 mt-1 align-middle"></i>
			<span> A Traditional IRA, SEP-IRA, SIMPLE-IRA, 401-k 403-b, annuities, and several other types of accounts are taxed-deferred
				or taxed when you take money out of the account.</span>
		</p>
		<p class="mb-1 d-flex ">
			<i class="zmdi zmdi-brightness-5 text-muted mr-2 mt-1 align-middle"></i>
			<span>A Roth-IRA or Roth 401k is funded with after tax dollars but the earnings accrue tax-free and are not taxed when you withdraw
				the money.</span>
		</p>


		<p>In short-term planning, many investors use bonds but it is important to note that some bonds may be taxed federally only,
			some may be taxed at the state level only (federally tax-exempt), while some may be taxed at both the state and federal
			level.
		</p>
		<p>
			This calculator is not designed to apply to every situation but instead provides a quick glimpse into how investment returns
			can be affected by taxes.
		</p>



		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="">Client Name (optional)</label>
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="">Current Age (optional)</label>
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="">Initial Starting Investment</label>
					<input class="form-control" type="text">
				</div>
			</div>


		</div>


		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="">Annual Contributions</label>
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="">Number of Years</label>
					<input class="form-control" type="text">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="">Federal tax rate</label>
					<select class="form-control custom-select">
						<option value="">option</option>
						<option value="">option</option>
						<option value="">option</option>
					</select>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for=""> Federal Tax Rate</label>
					<a href="" class="float-right">Marginal Tax Rate Table</a>
					<select class="form-control custom-select">
						<option value="">option</option>
						<option value="">option</option>
						<option value="">option</option>
					</select>
				</div>
			</div>
			<div class="col-md-4 d-flex align-items-center">
				<div class="form-group m-0">
					<label class="mr-3 mb-0">Federal Tax Rate:</label>
					<span class="font-weight-bold">N/A</span>
				</div>
			</div>

		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="">State Tax Rate</label>
					<div class="input-group col-sm-6 col-md-8 col-lg-6 col-xl-4 p-0 mr-4">
						<input class="form-control rounded-0" type="text">
						<span class="input-group-addon bg-none border-0 f-18">%</span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for=""> State Tax Rate</label>
					<a href="" class="float-right"> State Income Tax Rates</a>
					<div class="input-group col-sm-6 col-md-8 col-lg-6 col-xl-4 p-0 mr-4">
						<input class="form-control rounded-0" type="text">
						<span class="input-group-addon bg-none border-0 f-18">%</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 d-flex align-items-center">
				<div class="form-group m-0">
					<label class="mr-3 mb-0">State Tax Rate:</label>
					<span class="font-weight-bold">N/A</span>
				</div>
			</div>

		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="">Local/Other Tax Rate</label>
					<div class="input-group col-sm-6 col-md-8 col-lg-6 col-xl-4 p-0 mr-4">
						<input class="form-control rounded-0" type="text">
						<span class="input-group-addon bg-none border-0 f-18">%</span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for=""> Local/Other Tax Rate</label>
					<div class="input-group col-sm-6 col-md-8 col-lg-6 col-xl-4 p-0 mr-4">
						<input class="form-control rounded-0" type="text">
						<span class="input-group-addon bg-none border-0 f-18">%</span>
					</div>
				</div>
			</div>
			<div class="col-md-4 d-flex align-items-center">
				<div class="form-group m-0">
					<label class="mr-3 mb-0">Local/Other Tax Rate:</label>
					<span class="font-weight-bold">N/A</span>
				</div>
			</div>

		</div>
		<div class="modal-footer justify-content-center pb-0">
			<button class="btn btn-secondary btn-sm px-4 py-2"> Go</button>
			<button class="btn btn-dark btn-sm px-4 py-2"> Reset</button>
		</div>
	</div>


	<p class="f-12 text-muted px-3">Any rate of return entered into the calculator to project future values should be a reasonable average return for the period.
		Rates of return will vary over time, and generally the higher the rate of return the higher the degree of risk.
		<br> The information provided here is to assist you in planning for your future. The accuracy of this calculator and its applicability
		to your circumstances is not guaranteed. Any analysis is a result of the information you have provided. Material discussed
		is meant for general illustration and/or informational purposes only and it is not to be construed as tax, legal, or investment
		advice. Although the information has been gathered from sources believed to be reliable, please note that individual situations
		can vary. Therefore, the information should be relied upon when coordinated with individual advice from qualified professionals.</p>



	</ng-template> -->





<!-- <ng-template #early_investor let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="modal-title text-center w-100"> 
    	<h4 class="m-0">The Early Investor vs. The Early Spender</h4> 	
    	<p class="f-14">Thursday, November 30, 2017</p>   
    	<p class="f-16 m-0">Which strategy would be better for you or your family?</p> 	 
    </div>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body p-4">
	
	<div class="row text-center">
		<div class="col-md-6">
			<h6 class="font-weight-bold">The Early Investor </h6>
			<p>The Early Investor starts investing now, invests for the next 10 years and then never invests again.</p>
		</div>
		<div class="col-md-6">
			 <h6 class="font-weight-bold">The Early Spender</h6>
			 <p>The Early Spender waits for 10 years to start investing then invests every year thereafter.</p>
		</div>
	</div>	

	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="">Client Name (optional)</label>
				<input class="form-control" type="text">
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for="">Current Age (optional)</label>
				<input class="form-control" type="text">
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="">Annual Investment</label>
				<input class="form-control" type="text">
			</div>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<label for=""> 	Assumed Annual Rate of Return</label>
				<input class="form-control" type="text">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="form-group">
				<label for="">Years to Display</label>
				<input class="form-control" type="text">
			</div>
		</div>
		<div class="col-md-6 d-flex align-items-center">
			<div class="row w-100 mt-1">
				<div class="col"> Display Graphs </div>
				<div class="col">
					<label class="mr-3"><input  type="radio">Yes</label>
					<label><input  type="radio">No</label>
				</div>
			</div>
		</div>
	</div>
	
</div>
<div class="modal-footer justify-content-center">
	<button class="btn btn-secondary btn-sm px-4 py-2"> Go</button> 
	<button class="btn btn-dark btn-sm px-4 py-2"> Reset</button> 
</div>

<p class="f-12 text-muted px-3"> The above results are hypothetical only and do not represent any particular investment, savings vehicle or expected return and cannot be guaranteed. There can be no assurance that the results as illustrated in this hypothetical scenario can or will be achieved. The calculations do not take into account inflation or taxation, both of which will reduce future values. This is neither an offer to sell nor a solicitation to buy. Registered products, including mutual funds, are sold by prospectus. For complete information you are encouraged to request a prospectus from a properly licensed registered representative. The prospectus discusses fees and charges of particular securities. Please read it carefully before investing any money. This hypothetical illustration is for illustration purposes only.</p>
 
</ng-template> -->



<!-- <ng-template #current_college_costs let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="modal-title text-center w-100"> 
    	<h4 class="m-0">Current College Costs</h4> 	
    	<p class="f-14">Thursday, November 30, 2017</p>   
    	<p class="f-16 m-0">This search tool will help parent's plan for a child's college expenses. The data will show:</p> 	 
    </div>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body p-4">
	
	<p class="mb-1 d-flex "><i class="zmdi zmdi-brightness-5 text-muted mr-2 mt-1 align-middle"></i> <span> Current 2013-2014 annual costs for individual colleges and universities (based on information from Peterson's*)   </span></p> 	
	<p class="mb-1 d-flex "><i class="zmdi zmdi-brightness-5 text-muted mr-2 mt-1 align-middle"></i> <span> The breakdown of annual costs for in-state and out-of-state tuition, fees, room and board.   </span></p> 	
	<p class="mb-1 d-flex "><i class="zmdi zmdi-brightness-5 text-muted mr-2 mt-1 align-middle"></i> <span>Annual costs of the colleges within the same state   </span></p> 	

   
	<div class="row mt-3 mb-3">
		<div class="col-md-4">
			<div class="form-group">
				<label for="">Search College: </label>
				<input class="form-control" type="text">
			</div>
		</div>
		<div class="col-md-4">
			<div class="form-group">
				<label for="">Select State or province: </label>
				<select name="" class="form-control custom-select">
					<option value="">option </option>
					<option value="">option </option>
					<option value="">option </option>
				</select>
			</div>
		</div>
		<div class="col-md-12 d-flex align-items-center">
			
			<div  class="mr-3 mb-0">Select residency status: </div>
			<div>
				<label class="mr-3 mb-0"><input  type="radio" name="1"> In-state student</label>
				<label class="mr-3 mb-0"><input  type="radio" name="1"> Out-of-state student</label>
				<label class="mr-3 mb-0"><input  type="radio" name="1"> Both</label>
			</div>		
			
		</div>
	</div>	
<div class="modal-footer justify-content-center">
	<button class="btn btn-success btn-sm px-4 py-2">Submit</button> 
</div>

</div>

<div class="scroler-vertical" style="max-height: 400px;">
    <table class="table table-hover">
    	<thead>
      <tr>
        <td class="text-muted border-0"> National Average</td>
        <td class="text-muted border-0">In-State Total</td>
        <td class="text-muted border-0">In-State Tuition </td>
        <td class="text-muted border-0">Out-of-State Total </td>
        <td class="text-muted border-0">Out-of-State Tuition </td>
        <td class="text-muted border-0">Fees </td>
        <td class="text-muted border-0">Room & Board</td>         
 
      </tr>
  </thead>
      <tr>
        <td>2013-2014 National Average Public School </td>
        <td>$13,285  </td>
        <td>$13,285  </td>
        <td>$13,285  </td>
        <td>$13,285  </td>
        <td>$13,285  </td>
        <td>$13,285  </td>       
        
      </tr>
           <tr>
        <td>2013-2014 National Average Public School </td>
        <td>$13,285  </td>
        <td>$13,285  </td>
        <td>$13,285  </td>
        <td>$13,285  </td>
        <td>$13,285  </td>
        <td>$13,285  </td>       
        
      </tr>
       
    </table>
  </div>

  <div class="modal-footer justify-content-center">
	<button class="btn btn-outline-secondary dash-border btn-sm px-4 py-2"> Click here to generate entire table</button> 
</div>

<p class="mx-3">* Current annual college cost figures are obtained from Peterson's. The college costs may include tuition, fees, and room and board expenses as reported by Peterson's, part of the Thomson Corporation.</p>
 
<p class="f-12 text-muted px-3">This information was obtained by sources believed to be reliable but cannot be guaranteed. It is for independent use and is not intended or written to be used, and cannot be used, to avoid penalties imposed under the Internal Revenue Code or for any legal or investment advice. It is not to be used as part of the solicitation or sales process or to promote any product or service. Anyone to whom this material is promoted, marketed, or recommended should consult with their own professional tax adviser, legal representative, or financial adviser regarding their own particular situation.</p>
 
</ng-template> -->







<!-- <ng-template #life_insurance_needs let-c="close" let-d="dismiss">
	<div class="modal-header">
		<div class="modal-title text-center w-100">
			<h4 class="m-0">Life Insurance Needs - DIME Calculator</h4>
			<p class="f-14">Thursday, November 30, 2017</p>
		</div>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body p-4">
		<p class="f-16 mb-2 font-weight-bold text-center">How do I determine how much Life Insurance I need? </p>
		<p class="text-muted f-12 text-center">
			A basic financial foundation starts with planning to meet the financial needs of survivors in the event of an untimely death
			of the breadwinner (s). Should this unfortunate calamity occur, few people are found to prepare properly. A key step in
			this planning process usually requires the purchase of life insurance to continue the lifestyle your family has become
			accustomed to since few people have adequate savings set aside to make this happen.
		</p>
		<p class="f-16">Your greatest asset is your ability to earn income!
			<br> A simple formula to illustrate your life insurance needs is the DIME : </p>
		<div>
			<p class="d-flex align-items-center">
				<span class="font-weight-bold mr-3 f-16">D</span>The amount of money needed to pay off outstanding debts and final expenses</p>

			<p class="d-flex align-items-center">
				<span class="font-weight-bold mr-4 f-16">I</span>The lump sum needed upon death, once invested, that is projected to provide the designated monthly income for
				the period of time you designated at the specified inflation rate and return on investment.</p>
			<p class="d-flex align-items-center">
				<span class="font-weight-bold mr-3 f-16">M</span>The lump sum needed to pay off your mortgage should you choose to do that.</p>
			<p class="d-flex align-items-center">
				<span class="font-weight-bold mr-4 f-16">E</span>The lump sum needed to provide for college education of the children.</p>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="">Primary Breadwinner Name (optional)</label>
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for=""> Current Age (optional)</label>
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-4 ">
				<div class="mt-4 pt-2">
					<label class="mr-3">
						<input type="radio" name="1"> Spouse</label>
					<label>
						<input type="radio" name="1"> No Spouse</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="">Spouse Name (optional)</label>
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for=""> Spouse Age (optional) </label>
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-4 ">
				<div class="form-group">
					<label for="">Number of children under 18 (optional)</label>

					<select class="form-control custom-select">
						<option value="">1</option>
						<option value="">2</option>
						<option value="">3</option>
						<option value="">4</option>
						<option value="">5</option>
						<option value="">6</option>
					</select>
					<p class="text-muted m-0"> (for education needs)</p>
				</div>
			</div>
		</div>
		<div class="text-center">
			<button class="btn btn-dark px-5">Go</button>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-1 d-flex align-items-center">
				<span class="font-weight-bold f-16">D</span>
			</div>
			<div class="col-md-4 dash-border-left">
				<div class="form-group">
					<label for="">Debts (not including mortgage)</label>
					<i class="zmdi zmdi-info text-success ml-2"></i>
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="">Death (Final Expenses)</label>
					<i class="zmdi zmdi-info text-success ml-2"></i>
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-4 d-flex align-items-center">
				<div class="form-group mb-0 mt-2">
					<label>
						<input type="checkbox"> Include in Life Insurance Needs?</label>
				</div>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-md-1 d-flex align-items-center">
				<span class="font-weight-bold f-16">I</span>
			</div>
			<div class="col-md-7 dash-border-left">
				<div class="form-group">
					<label for=""> Primary monthly income needed</label>
					<i class="zmdi zmdi-info text-success ml-2"></i>
					<div class="row">
						<div class="col-5">
							<div class="form-group m-0">
								<input class="form-control" type="text">
							</div>
						</div>
						<div class="col-1 text-center d-flex align-items-center">
							<span class="">For</span>
						</div>
						<div class="col-5">
							<div class="form-group m-0">
								<input class="form-control" type="text">
							</div>
						</div>
						<div class="col-1 d-flex align-items-center">
							<span class="">Year</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for=""> Spouse monthly income needed</label>
					<i class="zmdi zmdi-info text-success ml-2"></i>
					<div class="row">
						<div class="col-5">
							<div class="form-group m-0">
								<input class="form-control" type="text">
							</div>
						</div>
						<div class="col-1 text-center d-flex align-items-center">
							<span class="">For</span>
						</div>
						<div class="col-5">
							<div class="form-group m-0">
								<input class="form-control" type="text">
							</div>
						</div>
						<div class="col-1 d-flex align-items-center">
							<span class="">Year</span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-4 d-flex align-items-center">
				<div class="form-group mb-0 mt-2">
					<label>
						<input type="checkbox"> Include in Life Insurance Needs?</label>
				</div>
			</div>
		</div>
		<div class="my-4 text-center">
			View income projection at
			<input class="border border-right-0 border-top-0 border-left-0 fw50 text-center font-weight-bold f-16"
			 value="" type="text">% inflation
			<i class="zmdi zmdi-info text-success ml-2"></i> and
			<input class="border border-right-0 border-top-0 border-left-0 fw50 text-center font-weight-bold f-16" value=""
			 type="text">% return on investments
			<i class="zmdi zmdi-info text-success ml-2"></i>
		</div>
		<div class="row">
			<div class="col-md-1 d-flex align-items-center justify-content-center">
				<span class="font-weight-bold f-16">M</span>
			</div>
			<div class="col-md-4 dash-border-left">
				<div class="form-group">
					<label for="">Mortgage Balance (s)</label>
					<i class="zmdi zmdi-info text-success ml-2"></i>
					<input class="form-control" type="text">
				</div>
			</div>

			<div class="col-md-4 d-flex align-items-center">
				<div class="form-group mb-0 mt-2">
					<label>
						<input type="checkbox"> Include in Life Insurance Needs?</label>
				</div>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-md-1 d-flex align-items-center justify-content-center ">
				<span class="font-weight-bold f-16">E</span>
			</div>
			<div class="col-md-4 dash-border-left">
				<div class="form-group">
					<label for=""> Education Needs</label>
					<i class="zmdi zmdi-info text-success ml-2"></i>
					<input class="form-control" type="text">
				</div>
			</div>

			<div class="col-md-4 d-flex align-items-center">
				<div class="form-group mb-0 mt-2">
					<label>
						<input type="checkbox"> Include in Life Insurance Needs?</label>
				</div>
			</div>
		</div>
		<div class="text-center my-4">
			<button class="btn btn-dark px-5 mr-3">Go</button>
			<button class="btn btn-outline-secondary px-5">Reset</button>
		</div>
		<div class="row mt-5">
			<div class="col-md-6">
				<h5 class="text-center">Primary's Protection Need</h5>
				<table class="table">
					<tbody>
						<tr>
							<td>
								<span class="font-weight-bold f-16">D</span>ebt/Death Expenses
								<i class="zmdi zmdi-info text-success ml-2"></i>
							</td>
							<td align="right">$450000</td>
						</tr>
						<tr>
							<td>
								<span class="font-weight-bold f-16">I</span>ncome Replacement
								<i class="zmdi zmdi-info text-success ml-2"></i>
							</td>
							<td align="right">$450000</td>
						</tr>
						<tr>
							<td>
								<span class="font-weight-bold f-16">M</span>ortgage
								<i class="zmdi zmdi-info text-success ml-2"></i>
							</td>
							<td align="right">$450000</td>
						</tr>
						<tr>
							<td>
								<span class="font-weight-bold f-16">E</span>ducation
								<i class="zmdi zmdi-info text-success ml-2"></i>
							</td>
							<td align="right">$450000</td>
						</tr>
					</tbody>
				</table>

				<div class="border p-3 mt-4 d-flex justify-content-between">
					<div>Total Need:</div>
					<div class="font-weight-bold">$ 20000</div>
				</div>
			</div>
			<div class="col-md-6">
				<h5 class="text-center">Spouse's Protection Need</h5>
				<table class="table">
					<tbody>
						<tr>
							<td>
								<span class="font-weight-bold f-16">D</span>ebt/Death Expenses
								<i class="zmdi zmdi-info text-success ml-2"></i>
							</td>
							<td align="right">$450000</td>
						</tr>
						<tr>
							<td>
								<span class="font-weight-bold f-16">I</span> ncome Replacement
								<i class="zmdi zmdi-info text-success ml-2"></i>
							</td>
							<td align="right">$450000</td>
						</tr>
						<tr>
							<td>
								<span class="font-weight-bold f-16">M</span>ortgage
								<i class="zmdi zmdi-info text-success ml-2"></i>
							</td>
							<td align="right">$450000</td>
						</tr>
						<tr>
							<td>
								<span class="font-weight-bold f-16">E</span>ducation
								<i class="zmdi zmdi-info text-success ml-2"></i>
							</td>
							<td align="right">$450000</td>
						</tr>

					</tbody>
				</table>
				<div class="border p-3 mt-4 d-flex justify-content-between">
					<div>Total Need:</div>
					<div class="font-weight-bold">$ 20000</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="text-muted f-12 text-center">
			<p>The above results should only be viewed as an estimate of your life insurance needs.</p>
			<p>
				Life insurance typically provides one of the most cost-effective methods of generating cash and income and adequate life
				insurance is a vital component of a family's financial game plan. Unfortunately, many people have only a fraction of
				the amount they need to fully cover their family.
			</p>
			<p>
				In addition, many families improperly cover children. If your children do not add income to the household, they generally
				need a smaller amount of coverage than the breadwinners, in most cases only enough to cover final expenses. This may
				often be accomplished by adding a child rider onto the policy of one of the breadwinners and usually has a guaranteed
				insurability option that allows conversion to an individual policy at a later age.
			</p>
			<p>
				Check with your insurance professional to determine the type of program that is right for you and your family.
			</p>
		</div>
	</div>
</ng-template> -->





<!-- <ng-template #credit_card_minimum let-c="close" let-d="dismiss">
	<div class="modal-header">
		<div class="modal-title text-center">
			<h4 class="m-0">Credit Card Minimum Payment Calculator </h4>
			<p class="f-14 m-0">Thursday, November 30, 2017</p>
			<p class="f-12 text-muted px-3">This calculator will show you the huge amount of time and interest you will save if you start making fixed payments (level
				payments) on your credit card each month rather than just paying the minimum payment on your bill each month. Of course,
				this assumes no new charges will be added to your card (which the credit card issuer is not counting on you doing).</p>
		</div>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body py-4 px-5">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="">Client Name (optional)</label>
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="">Balance on your Card</label>
					<input class="form-control" type="text">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="">Annual Interest Rate</label>
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="">The minimum percent payment amount</label>
					<select name="" class="form-control custom-select">
						<option value="">2.00%</option>
						<option value="">5.00%</option>
						<option value="">6.00%</option>
						<option value="">4.00%</option>
					</select>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="">The minimum percent payment amount</label>
					<select name="" class="form-control custom-select">
						<option value="">$15.0 </option>
						<option value="">$25.0 </option>
						<option value="">$35.0 </option>
						<option value="">$50.0 </option>
					</select>
				</div>
			</div>


		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<label for="">First Payment</label>
					<select name="" class="form-control custom-select">
						<option value="">Jan</option>
						<option value="">Feb</option>
						<option value="">Mar</option>
					</select>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="">Year</label>
					<input class="form-control" type="text">
				</div>
			</div>

		</div>

	</div>
	<div class="modal-footer justify-content-center">
		<button class="btn btn-secondary btn-sm px-4 py-2"> Calculate</button>
		<button class="btn btn-dark btn-sm px-4 py-2"> Reset</button>
	</div>
	<div class="text-center ">
		<p class="link cursor-p f-16 text-success" (click)="fullWidthModal(amortization_schedule)" (click)="d('Cross click')">View Amortization Schedule</p>
	</div>
	<div class="m-4 f-12 text-muted">
		<p>The minimum monthly payment on credit card debt is calculated as a percentage of your current balance, or a fixed dollar
			amount, whichever is higher. However, if you just pay the minimum each month, because the next payment is based on the
			unpaid balance, the next payment drops as your balance is paid. However, you will end up paying for a long time due to
			the effect of compounding. This calculator is used to show how long it will take to pay off your debt, and how much interest
			you will pay over the life of your debt if you only make minimum monthly payments. The higher the interest rate the greater
			the effect and the longer you stay in debt. </p>
		<p>
			The assumptions in this calculator are as follows: all revolving debts are calculated using one cycle billing and payments
			are determined each month based on the percent of the average daily unpaid balance method and minimum dollar amounts inputted
			into the calculator by the user. No consideration for annual fees, late charges, over the limit charges, cash advance
			charges, or any of a number of other exorbitant charges accessed by the credit card companies are taken into account.
			The actual payoff criteria may differ somewhat for each debt as each revolving charge account has too many variables and
			differences to possibly consider in a program. It is also assumed that no additional charges are added, and you maintain
			the stated monthly payment until the card is completely paid off. Anything you attempt to do toward any creditor must
			be in accord with that specific creditor’s terms of agreement.</p>
	</div>
</ng-template> -->




<!-- <ng-template #amortization_schedule let-c="close" let-d="dismiss">
	<div class="modal-header">
		<div class="modal-title text-center w-100">
			<h4 class="m-0">Credit Card Minimum Payment Calculator </h4>
			<p class="f-14 m-0">Thursday, November 30, 2017</p>
		</div>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body py-4 px-5">
		<p>This calculator will show you the huge amount of time and interest you will save if you start making fixed payments (level
			payments) on your credit card each month rather than just paying the minimum payment on your bill each month. Of course,
			this assumes no new charges will be added to your card (which the credit card issuer is not counting on you doing). </p>

		<div class="row">
			<div class="col-md-6">
				<table>
					<tr>
						<td class="p-2">Client Name</td>
						<td class="p-2">:</td>
					</tr>
					<tr>
						<td class="p-2">Interest Rate</td>
						<td class="p-2">: 18.00%</td>
					</tr>
					<tr>
						<td class="p-2 font-weight-bold">Min. % Payment Amount</td>
						<td class="p-2">: 2.00% of unpaid balance </td>
					</tr>
					<tr>
						<td class="p-2 font-weight-bold">Min. Dollar Payment Amount</td>
						<td class="p-2">: $15.00 per month</td>
					</tr>
					<tr>
						<td class="p-2">First Payment</td>
						<td class="p-2">: Dec, 2017</td>
					</tr>
					<tr>
						<td class="p-2">Current Balance as on Dec, 2017 : $10,000.00</td>
						<td class="p-2"> </td>
					</tr>
				</table>
			</div>
			<div class="col-md-6">
				<p class="f-16">Pre-Payment Options - </p>
				<div class="row">
					<div class="col-md-6">
						<label class="mt-1">
							<input type="checkbox" class="mr-2">One Time Pre-Payment</label>
					</div>
					<div class="col-md-6  d-flex">
						<input type="text" class="form-control w-50" value="$0.00">
						<button class="btn btn-dark ml-2">Go</button>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-md-6">
						<label class="mt-1">
							<input type="checkbox" class="mr-2">All Payments</label>
					</div>
					<div class="col-md-6 d-flex">
						<input type="text" class="form-control w-50" value="$0.00">
						<button class="btn btn-dark ml-2">Go</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row my-3">
			<div class="col-md-6">
				<div class="">
					<p class="f-16"> Minimum Payment Only - </p>
					<label>
						<input type="radio" class="mr-2">higher of 2.00% of unpaid balance or $15.00 per month</label>
				</div>
			</div>
			<div class="col-md-6">
				<div class="">
					<p class="f-16"> Fixed Payment based on initial minimum payment </p>
					<label>
						<input type="radio" class="mr-2">Keep payment level at current card minimum of $200.00</label>
				</div>
			</div>
		</div>



		<div class="text-center">
			<a href="" class="btn btn-success">View Monthly Chart</a>
		</div>
		<hr>
		<h4 class="text-center my-4">
			Amortization Payment Summary
		</h4>
		<hr>

		<div class="row">
			<div class="col"># of Payments : 610</div>
			<div class="col">Payoff Date : Sep,2068 </div>
			<div class="col">Total Payments : $38,396.66 </div>
			<div class="col">Total Additional : $0.00 </div>
			<div class="col">Total Interest : $28,396.66 </div>
		</div>
		<hr>
		<div class="row my-2">
			<div class="col">Starting Balance : $10,000.00 </div>
			<div class="col text-right">Initial Principal & Interest Payment : $200.00 (per month) </div>
		</div>

		<table class="table table-hover">
			<thead>
				<tr>
					<td>Year</td>
					<td>Period</td>
					<td>Total Principal</td>
					<td>Total Interest </td>
					<td>Total Payment</td>
					<td>Pre-Payment</td>
					<td>Balance</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1. </td>
					<td>Dec - Dec, 2017 </td>
					<td>$50.00 </td>
					<td>$50.00 </td>
					<td>$50.00 </td>
					<td>$50.00 </td>
					<td>$50.00 </td>
				</tr>
				<tr>
					<td>1. </td>
					<td>Dec - Dec, 2017 </td>
					<td>$50.00 </td>
					<td>$50.00 </td>
					<td>$50.00 </td>
					<td>$50.00 </td>
					<td>$50.00 </td>
				</tr>
				<tr>
					<td>1. </td>
					<td>Dec - Dec, 2017 </td>
					<td>$50.00 </td>
					<td>$50.00 </td>
					<td>$50.00 </td>
					<td>$50.00 </td>
					<td>$50.00 </td>
				</tr>
				<tr>
					<td>1. </td>
					<td>Dec - Dec, 2017 </td>
					<td>$50.00 </td>
					<td>$50.00 </td>
					<td>$50.00 </td>
					<td>$50.00 </td>
					<td>$50.00 </td>
				</tr>
				<tr>
					<td>1. </td>
					<td>Dec - Dec, 2017 </td>
					<td>$50.00 </td>
					<td>$50.00 </td>
					<td>$50.00 </td>
					<td>$50.00 </td>
					<td>$50.00 </td>
				</tr>
				<tr>
					<td>1. </td>
					<td>Dec - Dec, 2017 </td>
					<td>$50.00 </td>
					<td>$50.00 </td>
					<td>$50.00 </td>
					<td>$50.00 </td>
					<td>$50.00 </td>
				</tr>

			</tbody>
		</table>

		<hr>
		<p class="text-muted">The minimum monthly payment on credit card debt is calculated as a percentage of your current balance, or a fixed dollar
			amount, whichever is higher. However, if you just pay the minimum each month, because the next payment is based on the
			unpaid balance, the next payment drops as your balance is paid. However, you will end up paying for a long time due to
			the effect of compounding. This calculator is used to show how long it will take to pay off your debt, and how much interest
			you will pay over the life of your debt if you only make minimum monthly payments. The higher the interest rate the greater
			the effect and the longer you stay in debt.</p>
		<p class="text-muted">
			The assumptions in this calculator are as follows: all revolving debts are calculated using one cycle billing and payments
			are determined each month based on the percent of the average daily unpaid balance method and minimum dollar amounts inputted
			into the calculator by the user. No consideration for annual fees, late charges, over the limit charges, cash advance
			charges, or any of a number of other exorbitant charges accessed by the credit card companies are taken into account.
			The actual payoff criteria may differ somewhat for each debt as each revolving charge account has too many variables and
			differences to possibly consider in a program. It is also assumed that no additional charges are added, and you maintain
			the stated monthly payment until the card is completely paid off. Anything you attempt to do toward any creditor must
			be in accord with that specific creditor’s terms of agreement.
		</p>
	</div>
</ng-template> -->




<!-- <ng-template #fixed_minimum_payment let-c="close" let-d="dismiss">
	<div class="modal-header">
		<div class="modal-title text-center">
			<h4 class="m-0">Fixed vs Minimum Payment Calculator</h4>
			<p class="f-14 m-0">Thursday, November 30, 2017</p>
			<p class="f-12 text-muted px-3">This calculator will show you the huge amount of time and interest you will save if you start making fixed payments (level
				payments) on your credit card each month rather than just paying the minimum payment on your bill each month. Of course,
				this assumes no new charges will be added to your card (which the credit card issuer is not counting on you doing).</p>
		</div>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body py-4 px-5">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="">Client Name (optional)</label>
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="">Balance on your Card</label>
					<input class="form-control" type="text">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="">Annual Interest Rate</label>
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="">The minimum percent payment amount</label>
					<select name="" class="form-control custom-select">
						<option value="">2.00%</option>
						<option value="">5.00%</option>
						<option value="">6.00%</option>
						<option value="">4.00%</option>
					</select>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="">The minimum percent payment amount</label>
					<select name="" class="form-control custom-select">
						<option value="">$15.0 </option>
						<option value="">$25.0 </option>
						<option value="">$35.0 </option>
						<option value="">$50.0 </option>
					</select>
				</div>
			</div>


		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<label for="">First Payment</label>
					<select name="" class="form-control custom-select">
						<option value="">Jan</option>
						<option value="">Feb</option>
						<option value="">Mar</option>
					</select>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="">Year</label>
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="">A fixed dollar payment you could commit to each month</label>
					<input class="form-control" type="text">
				</div>
			</div>
		</div>


	</div>
	<div class="modal-footer justify-content-center">
		<button class="btn btn-secondary btn-sm px-4 py-2"> Calculate</button>
		<button class="btn btn-dark btn-sm px-4 py-2"> Reset</button>
	</div>
	<div class="text-center ">
		<p class="link cursor-p f-16 text-success" (click)="fullWidthModal(amortization_schedule)" (click)="d('Cross click')">View Amortization Schedule</p>
	</div>
	<div class="m-4 f-12 text-muted">
		<p>The minimum monthly payment on credit card debt is calculated as a percentage of your current balance, or a fixed dollar
			amount, whichever is higher. However, if you just pay the minimum each month, because the next payment is based on the
			unpaid balance, the next payment drops as your balance is paid. However, you will end up paying for a long time due to
			the effect of compounding. This calculator is used to show how long it will take to pay off your debt, and how much interest
			you will pay over the life of your debt if you only make minimum monthly payments. The higher the interest rate the greater
			the effect and the longer you stay in debt. </p>
		<p>
			The assumptions in this calculator are as follows: all revolving debts are calculated using one cycle billing and payments
			are determined each month based on the percent of the average daily unpaid balance method and minimum dollar amounts inputted
			into the calculator by the user. No consideration for annual fees, late charges, over the limit charges, cash advance
			charges, or any of a number of other exorbitant charges accessed by the credit card companies are taken into account.
			The actual payoff criteria may differ somewhat for each debt as each revolving charge account has too many variables and
			differences to possibly consider in a program. It is also assumed that no additional charges are added, and you maintain
			the stated monthly payment until the card is completely paid off. Anything you attempt to do toward any creditor must
			be in accord with that specific creditor’s terms of agreement.</p>
	</div>
</ng-template> -->

<!-- <ng-template #vehicle_loan_payment let-c="close" let-d="dismiss">
	<div class="modal-header">
		<div class="modal-title text-center w-100">
			<h4 class="m-0">Vehicle Loan Payment Calculator </h4>
			<p class="f-14 m-0">Thursday, November 30, 2017</p>
			<p class="f-12 text-muted px-3">This calculator will quickly help you to determine the monthly payment of an vehicle loan.</p>
		</div>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body py-4 px-5">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="">Client Name (optional)</label>
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="">Total Purchase Price (before tax)</label>
					<input class="form-control" type="text">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="">Rebates and Cash Down</label>
					<div class="d-flex">
						<input class="form-control w-50" type="text">
						<select name="" class="form-control custom-select w-50 ml-2">
							<option value="">2.00%</option>
							<option value="">5.00%</option>
							<option value="">6.00%</option>
							<option value="">4.00%</option>
						</select>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="">Trade Allowance</label>
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="">Sales Tax Rate</label>
					<input class="form-control" type="text">
				</div>
			</div>

			<div class="col-md-4">
				<div class="form-group">
					<label for="">Interest Rate</label>
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="">Term in Months</label>
					<select name="" class="form-control custom-select">
						<option value="">12</option>
						<option value="">12</option>
						<option value="">12</option>
						<option value="">12</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<label for="">First Payment</label>
					<select name="" class="form-control custom-select">
						<option value="">Jan</option>
						<option value="">Feb</option>
						<option value="">Mar</option>
					</select>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="">Year</label>
					<input class="form-control" type="text">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="">Total Sales Tax </label>
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="">Total Balance Financed </label>
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="">Monthly Payment</label>
					<input class="form-control" type="text">
				</div>
			</div>

		</div>

	</div>
	<div class="modal-footer justify-content-center">
		<button class="btn btn-secondary btn-sm px-4 py-2"> Calculate</button>
	</div>
	<div class="text-center ">
		<p class="link cursor-p f-16 text-success" (click)="fullWidthModal(amortization_schedule)" (click)="d('Cross click')">View Amortization Schedule</p>
	</div>
	<div class="m-4 f-12 text-muted">
		<p>The above results are based on standard fixed-rate automobile loans only (also known as installment loans). The figures
			calculated do not include any closing costs, taxes and/or insurance premiums which may be built into an automobile loan.
			In this calculation, the original amount of the loan is paid off over the life of the loan, in other words, the principal
			is amortized and under a fixed-rate installment loan and the monthly payment will not change over the life of the loan
			unless additional amounts are added for the acceleration of principal. Results are rounded and should not be considered
			an official payment schedule.</p>
	</div>
</ng-template> -->


<!-- 
<ng-template #total_mortgage_payment let-c="close" let-d="dismiss">
	<div class="modal-header w-100">
		<div class="modal-title text-center w-100">
			<h4 class="m-0">Total Mortgage Payment Calculator (PITI) </h4>
			<p class="f-14 m-0">Thursday, November 30, 2017</p>
			<p class="f-12 text-muted px-3">This calculator will compute a mortgage's monthly payment amount based on the principal amount borrowed, the length of
				the loan and the annual interest rate. This calculator will also compute your total mortgage payment which will include
				your property tax, property insurance and PMI payments. Then, once you have computed the monthly payment, click on the
				"Create Amortization Schedule" button to create a report you can print out. </p>
		</div>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body py-4 px-5">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="">Client Name (optional)</label>
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="">Initial Loan Amount</label>
					<input class="form-control" type="text">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="">Annual Interest Rate</label>
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="">Mortgage Term ( In Months)</label>
					<input class="form-control" type="text">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<label for="">Annual Property Taxes </label>
					<input class="form-control" type="text">
					<p class="m-0 link f-12">Property Tax Burdens by State</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="">Annual Homeowner's Insurance</label>
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-5">
				<div class="form-group">
					<label for="">Monthly PMI (Private Mortgage Insurance)</label>
					<input class="form-control" type="text">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<label for="">First Payment</label>
					<select name="" class="form-control custom-select">
						<option value="">Jan</option>
						<option value="">Feb</option>
						<option value="">Mar</option>
					</select>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="">Year</label>
					<input class="form-control" type="text">
				</div>
			</div>

		</div>


	</div>
	<div class="modal-footer justify-content-center">
		<button class="btn btn-secondary btn-sm px-4 py-2"> Calculate</button>
	</div>
	<div class="text-center ">
		<p class="link cursor-p f-16 text-success" (click)="fullWidthModal(amortization_schedule)" (click)="d('Cross click')">View Amortization Schedule</p>
	</div>
	<div class="m-4 f-12 text-muted">
		<p class="text-muted">
			The above results are based on conventional fixed-rate loans only. In this calculation, the original amount of the loan is
			paid off over the life of the loan, in other words, the principal is amortized and under a fixed-rate mortgage (unlike
			an adjustable-rate mortgage), the monthly payment will not change over the life of the loan unless additional amounts
			are added for the acceleration of principal. Results are rounded and should not be considered an official payment schedule.</p>
	</div>
</ng-template> -->




<!-- <ng-template #mortgage_principal_interest let-c="close" let-d="dismiss">
	<div class="modal-header w-100">
		<div class="modal-title text-center w-100">
			<h4 class="m-0">Mortgage Principal & Interest Calculator </h4>
			<p class="f-14 m-0">Thursday, November 30, 2017</p>
			<p class="f-12 text-muted px-3">This calculator will quickly help you to determine the Principal & Interest Payment of a Loan. </p>
		</div>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body py-4 px-5">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="">Client Name (optional)</label>
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="">Initial Loan Amount</label>
					<input class="form-control" type="text">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="">Interest Rate</label>
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="">Term In Months</label>
					<input class="form-control" type="text">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<label for="">First Payment</label>
					<select name="" class="form-control custom-select">
						<option value="">Jan</option>
						<option value="">Feb</option>
						<option value="">Mar</option>
					</select>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="">Year</label>
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="">Principal & Interest Payment</label>
					<input class="form-control" type="text">
				</div>
			</div>
		</div>


	</div>
	<div class="modal-footer justify-content-center">
		<button class="btn btn-secondary btn-sm px-4 py-2"> Calculate</button>
	</div>
	<div class="text-center ">
		<p class="link cursor-p f-16 text-success" (click)="fullWidthModal(amortization_schedule)" (click)="d('Cross click')">View Amortization Schedule</p>
	</div>
	<div class="m-4 f-12 text-muted">
		<p class="text-muted">
			The above results are based on conventional fixed-rate loans only. The figures calculated do not include any closing costs,
			taxes and/or insurance premiums built into the loan. Monthly payments to a lender may be higher to reflect these costs.
			In this calculation, the original amount of the loan is paid off over the life of the loan, in other words, the principal
			is amortized and under a fixed-rate mortgage (unlike an adjustable-rate mortgage), the monthly payment will not change
			over the life of the loan unless additional amounts are added for the acceleration of principal. Results are rounded and
			should not be considered an official payment schedule.</p>
	</div>
</ng-template> -->





<!-- <ng-template #mortgage_missing_value let-c="close" let-d="dismiss">
	<div class="modal-header w-100">
		<div class="modal-title text-center w-100">
			<h4 class="m-0">Mortgage Missing Value Calculator </h4>
			<p class="f-14 m-0">Thursday, November 30, 2017</p>
			<p class="f-12 text-muted px-3">This calculator will allow you to determine the missing variable in the event only 3 of 4 variables of a conventional
				mortgage are known. Then, once you have computed the missing variable, click on the "View Amortization Schedule" button
				to create a month-by-month or year-by-year report you can print out. Note that each time you change one of the loan's
				variables you will need to recalculate before creating the Amortization Schedule.</p>
		</div>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body py-4 px-5">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="">Client Name (optional)</label>
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-12">
				<p>
					<span class="text-danger"> Click the variable you want to calculate </span> : Enter three known values and Click "Calculate"</p>
			</div>

		</div>

		<div class="row">
			<div class="col-md-3">
				<div class="form-group bg-success">
					<label for="" class="text-white text-center  my-2 w-100">Initial Loan Amount</label>
					<input class="form-control rounded-0" type="text" value="0.00">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group  bg-dark">
					<label for="" class="text-white text-center  my-2 w-100">Interest Rate</label>
					<input class="form-control rounded-0" type="text" value="0.00">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group  bg-dark">
					<label for="" class="text-white text-center  my-2 w-100">Term In Months</label>
					<input class="form-control rounded-0" type="text" value="0.00">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group  bg-dark">
					<label for="" class="text-white text-center  my-2 w-100">Monthly Payment</label>
					<input class="form-control rounded-0" type="text" value="0.00">
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<label for="">First Payment</label>
					<select name="" class="form-control custom-select">
						<option value="">Jan</option>
						<option value="">Feb</option>
						<option value="">Mar</option>
					</select>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="">Year</label>
					<input class="form-control" type="text">
				</div>
			</div>

		</div>


	</div>
	<div class="modal-footer justify-content-center">
		<button class="btn btn-secondary btn-sm px-4 py-2"> Calculate</button>
	</div>
	<div class="text-center ">
		<p class="link cursor-p f-16 text-success" (click)="fullWidthModal(amortization_schedule)" (click)="d('Cross click')">View Amortization Schedule</p>
	</div>
	<div class="m-4 f-12 text-muted">
		<p class="text-muted">
			The above results are based on conventional fixed-rate loans only. The figures calculated do not include any closing costs,
			taxes and/or insurance premiums built into the loan. Monthly payments to a lender may be higher to reflect these costs.
			In this calculation, the original amount of the loan is paid off over the life of the loan, in other words, the principal
			is amortized and under a fixed-rate mortgage (unlike an adjustable-rate mortgage), the monthly payment will not change
			over the life of the loan unless additional amounts are added for the acceleration of principal. Results are rounded and
			should not be considered an official payment schedule.</p>
	</div>
</ng-template> -->






<!-- <ng-template #goals_dreams_calculator let-c="close" let-d="dismiss">
	<div class="modal-header w-100">
		<div class="modal-title text-center w-100">
			<h4 class="m-0">Savings Goals and Dreams Calculator </h4>
			<p class="f-14 m-0">Thursday, November 30, 2017</p>
			<p class="f-12 text-muted px-3">
				Use this calculator to figure out how much you’ll need to set aside each month to accomplish your family’s goals and dreams.
				<br> You can enter as many goals and dreams as you wish.</p>
		</div>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body py-4 px-5">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="">Client Name (optional)</label>
					<input class="form-control" type="text">
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="">Saving for (Goal/Dream)</label>
					<textarea class="form-control"></textarea>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="">Year</label>
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for=""> Current Cost (Today's $)</label>
					<input class="form-control" type="text">
				</div>
			</div>
		</div>

		<div class=" text-right">
			<a href="javascript:;" class="btn btn-secondary dash-border">Add additional goal</a>
		</div>

		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<label for=""> Current Savings for this Goal</label>
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="">Inflation Rate</label>
					<input class="form-control" type="text">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<label class="font-weight-bold">Rate of Returns:</label>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for=""> 0-5 year</label>
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for=""> 5-10 years: </label>
					<input class="form-control" type="text">
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for=""> 10+ years:</label>
					<input class="form-control" type="text">
				</div>
			</div>


		</div>


	</div>
	<div class="modal-footer justify-content-center">
		<button class="btn btn-dark px-4 py-2"> Go</button>
	</div>

	<div class="m-4 f-12 text-muted">
		<p class="text-muted">
			The above results are hypothetical only and do not represent any investment or expected return and cannot be guaranteed.
			It does not represent the return of any particular investment or savings vehicle. There can be no assurance that the results
			as illustrated in this hypothetical scenario can or will be achieved. The calculations do not take into account inflation
			or taxation, both of which will reduce future values. This is neither an offer to sell nor a solicitation to buy. Registered
			products, including mutual funds, are sold by prospectus. For complete information you are encouraged to request a prospectus
			from a properly licensed registered representative. The prospectus discusses fees and charges of particular securities.
			Please read it carefully before investing any money. This hypothetical illustration is for illustration purposes only.</p>
	</div>
</ng-template> -->