<div class="modal-header w-100">
  <div class="modal-title text-center w-100">
    <h4 class="m-0">Savings Goals and Dreams Calculator </h4>
    <p class="f-14 m-0">Thursday, November 30, 2017</p>
    <p class="f-12 text-muted px-3">
      Use this calculator to figure out how much you’ll need to set aside each month to accomplish your family’s goals and dreams.
      <br> You can enter as many goals and dreams as you wish.</p>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body py-4 px-5">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Client Name (optional)</label>
        <input class="form-control" type="text" [(ngModel)]="savingsGoals.name">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Inflation Rate</label>
        <input class="form-control" type="text" [(ngModel)]="savingsGoals.inflationRate">
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <label class="font-weight-bold">Rate of Returns:</label>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for=""> 0-5 year</label>
            <input class="form-control" type="text" [(ngModel)]="savingsGoals.returnRate1">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for=""> 5-10 years: </label>
            <input class="form-control" type="text" [(ngModel)]="savingsGoals.returnRate2">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for=""> 10+ years:</label>
            <input class="form-control" type="text" [(ngModel)]="savingsGoals.returnRate3">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngFor="let goalModelItem of goalModel;let i=index;">
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Saving for (Goal/Dream)</label>
        <textarea class="form-control" [(ngModel)]="goalModel[i].savingName" name="savingName-{{i}}"></textarea>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for=""> Current Cost (Today's $)</label>
        <input class="form-control" type="text" [(ngModel)]="goalModel[i].currentCost" name="currentCost-{{i}}">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for=""> Current Savings for this Goal</label>
        <input class="form-control" type="text" [(ngModel)]="goalModel[i].currentSavings" name="currentSavings-{{i}}">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="">Year</label>
        <input class="form-control" type="text" [(ngModel)]="goalModel[i].years" name="years-{{i}}">
      </div>
    </div>
    <div class="col-md-1">
      <div class="form-group">
        <a href="javascript:;" class="btn btn-secondary dash-border btn-remove" (click)="removeGoal(goalModel[i],i)">
          <i class="zmdi zmdi-minus-circle-outline mr-3"></i>
        </a>
      </div>
    </div>
  </div>
  <div class=" text-right">
    <a href="javascript:;" class="btn btn-secondary dash-border" (click)="addGoal(goal)">
      <i class="zmdi zmdi-plus-circle-o mr-3"></i>
      Add additional goal</a>
  </div>
</div>
<div class="modal-footer justify-content-center">
  <button class="btn btn-dark px-4 py-2" (click)="getResult()"> Go</button>
</div>

<table class="table" *ngIf="tableShow">
  <tr>
    <td class="text-muted">Goal Description</td>
    <td class="text-muted">Current Cost(Today's $)
    </td>
    <td class="text-muted">Current Savings</td>
    <td class="text-muted">Goal Date</td>
    <td class="text-muted">Goal Cost(Future $)
    </td>
    <td class="text-muted">Current Savings(Future $)
    </td>
    <td class="text-muted">Savings Gap</td>
    <td class="text-muted">Months to Save</td>
    <td class="text-muted">Monthly Savings Needed</td>
  </tr>
  <tr *ngFor="let savingsDetails of savingsGoals.savingsDetail">
    <td>
      <label>{{savingsDetails.goalName}}</label>
    </td>
    <td>
      <label>${{savingsDetails.currentCost}}</label>
    </td>
    <td>
      <label>${{savingsDetails.currentSavings}}</label>
    </td>
    <td>
      <label>{{savingsDetails.goalDate}}</label>
    </td>
    <td>
      <label>${{savingsDetails.goalCostFuture}}</label>
    </td>
    <td>
      <label>${{savingsDetails.currentSavingsFuture}}</label>
    </td>
    <td>
      <label>${{savingsDetails.savingsGap}}</label>
    </td>
    <td>
      <label>${{savingsDetails.monthsToSave}}</label>
    </td>
    <td>
      <label>${{savingsDetails.monthlySavingsNeeded}}</label>
    </td>
  </tr>

</table>

<div class="m-4 f-12 text-muted">
  <p class="text-muted">
    The above results are hypothetical only and do not represent any investment or expected return and cannot be guaranteed.
    It does not represent the return of any particular investment or savings vehicle. There can be no assurance that the
    results as illustrated in this hypothetical scenario can or will be achieved. The calculations do not take into account
    inflation or taxation, both of which will reduce future values. This is neither an offer to sell nor a solicitation to
    buy. Registered products, including mutual funds, are sold by prospectus. For complete information you are encouraged
    to request a prospectus from a properly licensed registered representative. The prospectus discusses fees and charges
    of particular securities. Please read it carefully before investing any money. This hypothetical illustration is for
    illustration purposes only.</p>
</div>