﻿

@model CLayer.AdvisorCountModel
@{
    Layout = null;
}

<div>
    <div>
        @Html.DisplayNameFor(model=>model.activeAdvisorCnt)
    </div>
    <div>
        @Html.DisplayFor(model => model.activeAdvisorCnt)
    </div>
</div>

<div>
    <div>
        @Html.DisplayNameFor(model => model.expAdvisorCnt)
    </div>
    <div>
        @Html.DisplayFor(model => model.expAdvisorCnt)
    </div>
</div>

<div>
    <div>
        @Html.DisplayNameFor(model => model.expTrialAdvisorCnt)
    </div>
    <div>
        @Html.DisplayFor(model => model.expTrialAdvisorCnt)
    </div>
</div>

<div>
    <div>
        @Html.DisplayNameFor(model => model.activeClientCnt)
    </div>
    <div>
        @Html.DisplayFor(model => model.activeClientCnt)
    </div>
</div>
