﻿@model CLayer.EmailAlertModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Email Alert</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ea_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ea_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ea_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ea_Title)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ea_NoofDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ea_NoofDays)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.ea_BCC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ea_BCC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ea_Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ea_Content)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.createdDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modifyDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modifyDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modifyBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modifyBy)
        </dd>*@

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
