﻿@model IEnumerable<CLayer.EmailAlertModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="divAdvCnt">
    sdf
    <button onclick="ddt()">Test</button>
</div>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.ea_Code)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ea_Title)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.ea_NoofDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ea_BCC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ea_Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modifyDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modifyBy)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.ea_Code)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ea_Title)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.ea_NoofDays)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ea_BCC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ea_Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.createdDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.modifyDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.modifyBy)
                </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ea_Id }) |
                @*@Html.ActionLink("Details", "Details", new { id = item.ea_Id }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.ea_Id })
            </td>
        </tr>
    }

</table>


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript">

        $(document).ready(function () {
            alert('Hi');
            console.log('hi');
            var url = '@Url.Action("getAdvisorCounts", "EmailAlert")';
            $.get(url, function (data) {
                if (data != null && data !== undefined)
                {
                    $('#divAdvCnt').html(data);
                }
            });
        });

    </script>

}



