<div class="page-content">
	<div class="row">
		<div class="col-md-12">
			<h5>Income</h5>
			<p>Lorem ipsum dolor sit amet, consectetur Nesciunt sint sit facilis ducimus, illum quis ex quae voluptatem nam asperiores
				sunt ut amet modi, totam sequi cupiditate mollitia! Quam, nulla. Lorem ipsum dolor sit amet, consectetur Nesciunt sint
				sit facilis ducimus, illum quis ex quae voluptatem nam asperiores </p>
			<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
				<ngb-panel id="ngb-panel-0">
					<ng-template ngbPanelTitle>
						<div class=" d-flex justify-content-between align-items-center ">
							<span class="font-weight-bold text-dark">Monthly income</span>
							<span>
								<i class="zmdi zmdi-caret-down f-26 text-dark"></i>
							</span>
						</div>

					</ng-template>
					<ng-template ngbPanelContent>
						<form #monthlyIncomeForm="ngForm" (ngSubmit)="monthlyIncomeForm.form.valid&&saveMonthlyIncome()" novalidate>
							<div class="card-block p-0">
								<table class="table" *ngIf="tableShow">
									<thead>
										<tr>
											<td class="text-muted">Name</td>
											<td class="text-muted">Pay period </td>
											<td class="text-muted">
												<ng-template #popContent>
													<p class="f-12"> field is a required field - this is the MAIN employment or business income, i.e., salary, wages, commissions.</p>
												</ng-template>
												<i class="zmdi zmdi-info text-success ml-2" triggers="mouseenter:mouseleave" [ngbPopover]="popContent" container="body"></i>
												$ Income</td>

											<td class="text-muted">Payroll Taxes</td>


										</tr>
									</thead>
									<tr *ngFor="let income of monthlyIncomeData;let i=index;">
										<td>{{income.name}}</td>
										<td>

											<select class="form-control custom-select f-14" [(ngModel)]="monthlyIncomeData[i].payType" [ngModelOptions]="{standalone: true}"
											 (change)="payPeriodChanged($event.target.value)">
												<option *ngFor="let tax of PayPeriods" [value]="tax.VALUE" [selected]="tax.VALUE=== monthlyIncomeData[i].payType">{{tax.TEXT}}</option>
											</select>
										</td>
										<td>
											<input type="text" class="form-control" [(ngModel)]="monthlyIncomeData[i].payIncome" [ngModelOptions]="{standalone: true}"
											 app-restrict-input="float">
										</td>

										<td>
											<p class="mb-0 mt-1">{{income.payRollTaxes}}
												<span class="btn btn-secondary btn-sm text-success  ml-2 cursor-p">
													<i class="zmdi zmdi-edit" placement="top" ngbTooltip="edit payroll tax" (click)="editPayrollTax(income.incomeID)"></i>
												</span>
											</p>
										</td>


									</tr>

								</table>
								<div class="text-center mt-4">
									<button class="btn btn-dark px-5 btn-submit" type="submit">Save</button>
								</div>

							</div>
						</form>
					</ng-template>
				</ngb-panel>

				<ngb-panel>
					<ng-template ngbPanelTitle>
						<div class=" d-flex justify-content-between align-items-center ">
							<span class="font-weight-bold text-dark">Other current and future income</span>
							<span>
								<i class="zmdi zmdi-caret-down f-26 text-dark"></i>
							</span>
						</div>
					</ng-template>

					<ng-template ngbPanelContent>

						<form #currentAndFutureIncomeForm="ngForm" (ngSubmit)="currentAndFutureIncomeForm.form.valid&&saveWholeOtherIncome()" novalidate>

							<!-- <form #monthlyIncomeForm="ngForm" (ngSubmit)="monthlyIncomeForm.form.valid&&saveMonthlyIncome()" novalidate> -->
							<div class="card-block p-0">
								<div class="table-scroll mb-4">
									<table class="table custom-table">
										<thead>
											<tr>
												<td class="text-muted">Description </td>
												<td class="text-muted">$ Income</td>
												<td class="text-muted">Taxes</td>
												<td class="text-muted text-center">COLA %
													<i class="zmdi zmdi-info text-success ml-2" triggers="mouseenter:mouseleave" [ngbPopover]="popContent3" container="body"></i>
													<ng-template #popContent3>
														<p class="f-12">
															The Gross Monthly Income field is a required field - this is the MAIN employment or business income, i.e., salary, wages,
															commissions, etc. Make sure to adjust it for how often they get paid:
														</p>
														<p class="f-12">Monthly Paycheck: Simply enter gross income amount.</p>
														<p class="f-12"> Semi-Monthly Paycheck: (Two Checks per Calendar Month) Look on the paycheck for the gross pay, multiply by
															2 and enter to get monthly total.</p>
														<p class="f-12"> Bi-Weekly Paycheck: (paid every 2 weeks) multiply the Gross by 26, and then divide the answer by 12 to get
															a monthly amount.</p>
														<p class="f-12">Weekly Paycheck: Multiply the gross by 52 and divide the answer by 12 to get a monthly amount.</p>



													</ng-template>


												</td>
												<td class="text-muted">Start Date </td>
												<td class="text-muted">End Date </td>


											</tr>
										</thead>
										<tr *ngFor="let incomeF of futureIncome;let i=index;">
											<td>
												<input type="text" class="form-control" [(ngModel)]="futureIncome[i].notes" name="notes-{{i}}">


											</td>
											<td>
												<input class="form-control" type="text" [(ngModel)]="futureIncome[i].grossMonthlyIncome" [restrictNumeric] name="grossMonthlyIncome-{{i}}"
												 required>

											</td>
											<td>
												{{futureIncome[i].payRollTaxes}}
												<span class="btn btn-secondary btn-sm text-success ml-2 cursor-p">
													<i class="zmdi zmdi-edit" placement="top" ngbTooltip="edit payroll tax" (click)="editPayrollTax(futureIncome[i].incomeID)"></i>
												</span>
											</td>
											<td>
												<input type="text" class="form-control" [(ngModel)]="futureIncome[i].cola" name="cola-{{i}}" [restrictNumeric]>
											</td>

											<td>
												<select class="form-control custom-select f-14" [(ngModel)]="futureIncome[i].startType" [ngModelOptions]="{standalone: true}"
												 (change)="startdateDDChanged($event.target.value,i)" name="startType{{i}}">
													<option *ngFor="let tax of futureIncomeStartDateType;let in=index;" [value]="futureIncomeStartDateType[in].VALUE" [selected]="futureIncomeStartDateType[in].VALUE=== futureIncome[i].startType">{{tax.TEXT}}</option>
												</select>


												<div class="datepicker-container mt-10" *ngIf="futureIncome[i].startType==0">
													<ng-datepicker [(ngModel)]="futureIncome[i].startDate" name="startDate-{{i}}" [options]="options"></ng-datepicker>

												</div>
												<input type="text" class="form-control mt-10" *ngIf="startAge" [(ngModel)]="futureIncome[i].startAge" name="startAge-{{i}}"
												 [restrictNumeric]>

											</td>
											<td>
												<select class="form-control custom-select f-14" [(ngModel)]="futureIncome[i].endType" [ngModelOptions]="{standalone: true}"
												 (change)="enddateDDChanged($event.target.value,i)" name="endType{{i}}">
													<option *ngFor="let tax of futureIncomeendTypeDDL;let in=index;" [value]="futureIncomeendTypeDDL[in].VALUE" [selected]="futureIncomeendTypeDDL[in].VALUE=== futureIncome[i].endType">{{tax.TEXT}}</option>
												</select>
												<div class="datepicker-container mt-10" *ngIf="futureIncome[i].endType==0">
													<ng-datepicker [(ngModel)]="futureIncome[i].endDate" name="endDate-{{i}}" [options]="options"></ng-datepicker>

												</div>
												<input type="text" class="form-control mt-10" *ngIf="endAge" [(ngModel)]="futureIncome[i].endAge" name="endAge-{{i}}" [restrictNumeric]>
											</td>

											<td class="text-center" width="20">
												<a class="btn btn-secondary btn-sm text-danger" (click)="removeOtherTax(futureIncome[i],i)">
													<i class="zmdi zmdi-delete"></i>
												</a>
											</td>
										</tr>

									</table>
								</div>

							</div>




							<div class="text-center">
								<!-- <a href="javascript:;" class="btn btn-secondary dash-border btn-lg" (click)="openOtherIncomemodal()"> -->
								<a href="javascript:;" class="btn btn-secondary dash-border btn-lg" (click)="addOtherIncome()">
									<i class="zmdi zmdi-plus-circle-o mr-2"></i> Add Other Income</a>
							</div>
							<hr>
							<div class="text-center mt-4">
								<button class="btn btn-dark px-5 btn-submit" type="submit">Save</button>
							</div>

						</form>


					</ng-template>

				</ngb-panel>
				<ngb-panel>
					<ng-template ngbPanelTitle>

						<div class=" d-flex justify-content-between align-items-center ">
							<span class="font-weight-bold text-dark">Other Taxes
								<i class="zmdi zmdi-info text-success ml-2" triggers="mouseenter:mouseleave" [ngbPopover]="popContent2" placement="right"
								 container="body"></i>
								<ng-template #popContent2>
									<p class="f-12"> Any taxes not associated with payroll taxes or other income in the section below can be entered here.
										<span class="text-danger">
											Remember all entries should be monthly.</span>
									</p>
								</ng-template>
							</span>
							<span>
								<i class="zmdi zmdi-caret-down f-26 text-dark"></i>
							</span>
						</div>

					</ng-template>
					<ng-template ngbPanelContent>


						<table class="table custom-table ">
							<tr>
								<td class="text-muted">Type</td>
								<td class="text-muted">Pay period
								</td>
								<td class="text-muted">$ Amount</td>
								<td class="text-muted">Notes
								</td>
								<td class="text-muted"> </td>
								<td class="text-muted">

								</td>

							</tr>
							<tr class="font-weight-bold" *ngFor="let otherTax of getOtherTaxModal;let i=index;">
								<td>
									<p>{{otherTax.TypeName}}</p>
								</td>
								<td>
									{{otherTax.paytype}}

								</td>
								<td>{{otherTax.payingTax}}</td>
								<td>{{otherTax.note}}</td>
								<td class="text-center">
									<a class="btn btn-secondary btn-sm text-success" (click)="editOtherTax(otherTax)">
										<i class="zmdi zmdi-edit"></i>
									</a>
								</td>
								<td class="text-center">
									<a class="btn btn-secondary btn-sm text-danger" (click)="deleteOtherTax(otherTax)">
										<i class="zmdi zmdi-delete"></i>
									</a>
								</td>
							</tr>

						</table>

						<div class="text-center">
							<a href="javascript:;" class="btn btn-secondary dash-border mt-3  " (click)="addOtherTax()">
								<i class="zmdi zmdi-plus-circle-o mr-2"></i> Add Other Taxes</a>
						</div>

					</ng-template>
				</ngb-panel>
				<ngb-panel *ngIf="showGraphSection">
					<ng-template ngbPanelTitle>
						<div class=" d-flex justify-content-between align-items-center ">
							<span class="font-weight-bold text-dark">Income Projection</span>
							<span>
								<i class="zmdi zmdi-caret-down f-26 text-dark"></i>
							</span>
						</div>
					</ng-template>
					<ng-template ngbPanelContent>
						<div class="card-block">
							<div class="d-flex justify-content-center">

							</div>
							<div class="row my-3">
								<div class="col-md-4" *ngIf="incomeProjectionData?.primary">
								
									<div class="d-flex justify-content-center">
										<div class="border p-3 f-16 mb-4">
											Projection
											<input type="text" class="border border-right-0 border-top-0 border-left-0 fw50 text-center font-weight-bold f-16" placeholder="00"
											 [(ngModel)]="incomeProjectionData.primary.inflation" #projection="ngModel">% Inflation

											<a href="javascript:;" (click)="randomize(incomeProjectionData?.primary?.inflation)" class="text-success ml-3">GO</a>
										</div>
									</div>
									<chart [options]="investedChart">
										</chart>
								
													<h5 class="text-center mt-5">{{incomeProjectionData?.primary?.name}}'s Age Projected Income</h5>
													<p class="f-15 font-weight-bold text-center">GrossMonthly Income{{incomeProjectionData?.primary?.grossMonthlyIncome}} $</p>
													<p class="f-15 font-weight-bold text-center">Retirement Age {{incomeProjectionData?.primary?.retage}}</p> 


								</div>
								<div class="col-md-4 dash-border-left" *ngIf="incomeProjectionData?.spouse">
									<div class="d-flex justify-content-center">
										<div class="border p-3 f-16 mb-4">
											Projection
											<input type="text" class="border border-right-0 border-top-0 border-left-0 fw50 text-center font-weight-bold f-16" placeholder="00"
											 [(ngModel)]="incomeProjectionData.spouse.inflation" #projection="ngModel">% Inflation

											<a href="javascript:;" (click)="randomize(incomeProjectionData?.spouse?.inflation)" class="text-success ml-3">GO</a>
										</div>
									</div>
									<chart [options]="investedChartforSpouse">
										</chart>
									
													<h5 class="text-center mt-5">{{incomeProjectionData?.spouse?.name}}'s Age Projected Income</h5>
													<p class="f-15 font-weight-bold text-center">GrossMonthly Income{{incomeProjectionData?.spouse?.grossMonthlyIncome}} $</p>
													<p class="f-15 font-weight-bold text-center">Retirement Age {{incomeProjectionData?.spouse?.retage}}</p> 
								</div>
								<div class="col-md-4 dash-border-left" *ngIf="incomeProjectionData?.other">
									<div class="d-flex justify-content-center">
										<div class=" p-3 f-16 mb-4">

										</div>
									</div>
									<chart [options]="investedChartforOther">
										</chart>
									
									<h5 class="text-center mt-5">Other Income</h5>

								</div>
								<div class="text-center f-16 mt-5">
										<p class="mb-1">Your total projected Income Before Retirement</p>
										<p class="f-18 font-weight-bold">$ {{TotalIncome}}</p>
										<div class="col-md-4 centerd_pie">
											<div style="display: block">
												<canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
												 (chartClick)="chartClicked($event)"></canvas>
											</div>
										</div>
									</div>
							</div>
						</div>
					</ng-template>
					<!-- <ng-template ngbPanelContent *ngFor="let incomeP of incomeProjectionData;let i=index;">

						<div class="card-block">
							<div class="d-flex justify-content-center">

							</div>
							<div class="row my-3">
								<div class="col-md-4" *ngIf="showPrimary">
									<div class="d-flex justify-content-center">
										<div class="border p-3 f-16 mb-4">
											Projection
											<input type="text" class="border border-right-0 border-top-0 border-left-0 fw50 text-center font-weight-bold f-16" placeholder="00"
											 [(ngModel)]="incomeProjectionData[i].inflation" #projection="ngModel">% Inflation

											<a href="javascript:;" (click)="randomize(incomeProjectionData[i].inflation)" class="text-success ml-3">GO</a>
										</div>
									</div>
									<canvas *ngIf="primaryAmountData" baseChart #baseChart="base-chart" width="500" height="400" [datasets]="lineChartData" [labels]="primaryYearLabels"
									 [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
									 (chartClick)="chartClicked($event)"></canvas>
									<h5 class="text-center mt-5">{{incomeProjectionData[i]?.name}}'s Age Projected Income</h5>
									<p class="f-15 font-weight-bold text-center">GrossMonthly Income{{incomeProjectionData[i]?.grossMonthlyIncome}} $</p>
									<p class="f-15 font-weight-bold text-center">Retirement Age {{incomeProjectionData[i]?.retage}}</p>


								</div>
								<div class="col-md-4 dash-border-left" *ngIf="showSpouse">
									<div class="d-flex justify-content-center">
										<div class="border p-3 f-16 mb-4">
											Projection
											<input type="text" class="border border-right-0 border-top-0 border-left-0 fw50 text-center font-weight-bold f-16" placeholder="00"
											 [(ngModel)]="incomeProjectionData[i].inflation" #projection="ngModel">% Inflation

											<a href="javascript:;" (click)="randomize(incomeProjectionData[i].inflation)" class="text-success ml-3">GO</a>
										</div>
									</div>
									<canvas baseChart width="500" height="400" [datasets]="lineChartDataB" [labels]="spouseYearLabels" [options]="lineChartOptions"
									 [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
									 (chartClick)="chartClicked($event)"></canvas>
									<h5 class="text-center mt-5">{{spouseName}}'s Age Projected Income</h5>
									<p class="f-15 font-weight-bold text-center">GrossMonthly Income{{spouseGrossincome}} $</p>
									<p class="f-15 font-weight-bold text-center">Retirement Age {{spouseRetirementAge}}</p>
								</div>
								<div class="col-md-4 dash-border-left" *ngIf="showOther">
									<div class="d-flex justify-content-center">
										<div class=" p-3 f-16 mb-4">

										</div>
									</div>
									<canvas baseChart width="500" height="400" [datasets]="lineChartDataC" [labels]="otherYearLabels" [options]="lineChartOptions"
									 [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
									 (chartClick)="chartClicked($event)"></canvas>
									<h5 class="text-center mt-5">Other Income</h5>

								</div>
							</div>
							<div class="text-center f-16 mt-5">
								<p class="mb-1">Your total projected Income Before Retirement</p>
								<p class="f-18 font-weight-bold">$ {{TotalIncome}}</p>
								<div class="col-md-4 centerd_pie">
									<div style="display: block">
										<canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" (chartHover)="chartHovered($event)"
										 (chartClick)="chartClicked($event)"></canvas>
									</div>
								</div>
							</div>

						</div>
						<div class="mx-3">
							<hr>
						</div>
						<div class="p-3">
							<ul class="list-circle ml-3 f-16">
								<li>A lot of money will pass through your hands during your working lifetime the question is how much will you keep?
								</li>
								<li>Do you have contingency plans in the event an income stream stops due to unemployment, disability, or death? </li>
								<li>Do your plans consider the effects of inflation? </li>
								<li>Changes in the inflation growth rate will only affect the Projected Income Streams and do not effect "Other Income"
									Projections which are set on the income input page. </li>
							</ul>
						</div>

					</ng-template> -->
				</ngb-panel>
			</ngb-accordion>
			<p class="f-12 text-center text-muted mt-2">
				These calculations are based on the information you provided to your adviser and/or you inputted into the system. Please
				see the Disclosures on the Cover Page and the Disclaimers Page for important notes and assumptions.</p>

		</div>
		<div class="action-panel">
			<div class="p-2 action-content">
				<h5 class="text-center mb-3"> Action Points</h5>
				<hr>
				<p class="f-16 text-center"> New Action items</p>
				<div class="input-group mb-2">
					<input class="form-control rounded-0" value="" type="text" placeholder="Action Point">
				</div>
				<div class="input-group mb-2">
					<input class="form-control rounded-0" type="text" placeholder="Due Date">
					<span class="input-group-addon bg-none">
						<i class="zmdi zmdi-calendar"></i>
					</span>
				</div>
				<div class="input-group mb-2">

					<select name="" class="custom-select form-control f-14">
						<option value="">Suggested to</option>
						<option value="">Suggested to</option>
						<option value="">Suggested to</option>
					</select>
				</div>
				<div class="input-group mb-2">
					<select name="" class="custom-select form-control f-14">
						<option value="">Notify once per week </option>
					</select>
				</div>
				<div class="from-control mb-2">

					<textarea name="" id="" cols="30" rows="3" class="form-control rounded-0" placeholder="Comment"></textarea>
					<div class="text-center mt-3">
						<button class="btn btn-primary w-50">Save</button>
					</div>
				</div>

				<div class="tab-container mt-4">
					<ul id="myTab" class="nav nav-tabs f-16  border-0" role="tablist">
						<li class="nav-item">
							<a class="nav-link pb-0 border-0 active" data-toggle="tab" href="#tabs1" role="tab">All</a>
						</li>
						<li class="nav-item">
							<a class="nav-link pb-0  border-0" data-toggle="tab" href="#tabs2" role="tab">Due</a>
						</li>
						<li class="nav-item">
							<a class="nav-link pb-0  border-0" data-toggle="tab" href="#tabs3" role="tab">Today</a>
						</li>
						<li class="nav-item">
							<a class="nav-link pb-0  border-0" data-toggle="tab" href="#tabs4" role="tab">This Month</a>
						</li>
					</ul>
					<div id="myTabContent" class="tab-content border-0">
						<div id="tabs1" class="tab-pane fade p-3  active show" role="tabpanel">
							<div class="d-flex align-items-start mb-3">
								<div class="mr-2">
									<input type="checkbox">
								</div>
								<div>
									<p class="m-0">New action item</p>
									<p class="f-12">
										<span class="text-muted">Due date:</span> 10 Aug 2017</p>
								</div>
							</div>
							<div class="d-flex align-items-start mb-3">
								<div class="mr-2">
									<input type="checkbox">
								</div>
								<div>
									<p class="m-0">New action item</p>
									<p class="f-12">
										<span class="text-muted">Due date:</span> 10 Aug 2017</p>
								</div>
							</div>
							<div class="d-flex align-items-start mb-3">
								<div class="mr-2">
									<input type="checkbox">
								</div>
								<div>
									<p class="m-0">New action item</p>
									<p class="f-12">
										<span class="text-muted">Due date:</span> 10 Aug 2017</p>
								</div>
							</div>
							<div class="d-flex align-items-start mb-3">
								<div class="mr-2">
									<input type="checkbox">
								</div>
								<div>
									<p class="m-0">New action item</p>
									<p class="f-12">
										<span class="text-muted">Due date:</span> 10 Aug 2017</p>
								</div>
							</div>
							<div class="d-flex align-items-start mb-3">
								<div class="mr-2">
									<input type="checkbox">
								</div>
								<div>
									<p class="m-0">New action item</p>
									<p class="f-12">
										<span class="text-muted">Due date:</span> 10 Aug 2017</p>
								</div>
							</div>
							<div class="d-flex align-items-start mb-3">
								<div class="mr-2">
									<input type="checkbox">
								</div>
								<div>
									<p class="m-0">New action item</p>
									<p class="f-12">
										<span class="text-muted">Due date:</span> 10 Aug 2017</p>
								</div>
							</div>

						</div>
						<div id="tabs2" class="tab-pane fade p-3" role="tabpanel">
							<div class="d-flex align-items-start mb-3">
								<div class="mr-2">
									<input type="checkbox">
								</div>
								<div>
									<p class="m-0">New action item</p>
									<p class="f-12">
										<span class="text-muted">Due date:</span> 10 Aug 2017</p>
								</div>
							</div>
							<div class="d-flex align-items-start mb-3">
								<div class="mr-2">
									<input type="checkbox">
								</div>
								<div>
									<p class="m-0">New action item</p>
									<p class="f-12">
										<span class="text-muted">Due date:</span> 10 Aug 2017</p>
								</div>
							</div>
						</div>
						<div id="tabs3" class="tab-pane fade p-3" role="tabpanel">
							<div class="d-flex align-items-start mb-3">
								<div class="mr-2">
									<input type="checkbox">
								</div>
								<div>
									<p class="m-0">New action item</p>
									<p class="f-12">
										<span class="text-muted">Due date:</span> 10 Aug 2017</p>
								</div>
							</div>
							<div class="d-flex align-items-start mb-3">
								<div class="mr-2">
									<input type="checkbox">
								</div>
								<div>
									<p class="m-0">New action item</p>
									<p class="f-12">
										<span class="text-muted">Due date:</span> 10 Aug 2017</p>
								</div>
							</div>
							<div class="d-flex align-items-start mb-3">
								<div class="mr-2">
									<input type="checkbox">
								</div>
								<div>
									<p class="m-0">New action item</p>
									<p class="f-12">
										<span class="text-muted">Due date:</span> 10 Aug 2017</p>
								</div>
							</div>
						</div>
						<div id="tabs4" class="tab-pane fade p-3" role="tabpanel">
							<div class="d-flex align-items-start mb-3">
								<div class="mr-2">
									<input type="checkbox">
								</div>
								<div>
									<p class="m-0">New action item</p>
									<p class="f-12">
										<span class="text-muted">Due date:</span> 10 Aug 2017</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="action-point-btn">Action Points</div>
		</div>
	</div>
</div>