.custompadding{
padding:20px 100px 0 50px;
}
.centerd_pie{
    margin: 0 auto;
}
.mt-8{
    margin-top: 8px;
}
.padding-t-b{
    padding: 50px 0 40px;
}
.table-64{
    width:64%;  
}
.btn-submit:hover{
    background-color: green !important;
    color: #fff;
    font-weight: bold;
}

  .ngx-datepicker-container[_ngcontent-c21] .ngx-datepicker-calendar-container[_ngcontent-c21]{
    z-index: 999;
  }
  .mt-10{
      margin-top: 10px;
  }