﻿@model CLayer.ExpenseTypeModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Expense Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.expenseSubTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expenseSubTypeId)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.sortOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sortOrder)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.createdDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createdDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modifyDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modifyDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modifyBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modifyBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>*@

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index", new { expenseSubCatIds = Model.expenseSubTypeId })
    </div>
    }
</div>
