﻿@model IEnumerable<CLayer.ExpenseTypeModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { expenseSubTypeId = Model.FirstOrDefault().expenseSubTypeId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TypeName)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.expenseSubTypeId)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.sortOrder)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.createdDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modifyDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modifyBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isActive)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.expenseSubTypeId)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.sortOrder)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.createdDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.modifyDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.modifyBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isActive)
                </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
