<div class="page-content">
	<div class="row">
		<div class="col-md-12">
			<h5>Protection Needs</h5>
			<p>
				Your greatest asset is your ability to earn income!
				<br> A simple formula to illustrate your life insurance needs is the
				<span class="font-weight-bold">DIME:</span>
			</p>
			<div>
				<p class="d-flex align-items-center">
					<span class="font-weight-bold mr-3 f-16">D</span>The amount of money needed to pay off outstanding debts and final expenses</p>

				<p class="d-flex align-items-center">
					<span class="font-weight-bold mr-4 f-16">I</span>The lump sum needed upon death, once invested, that is projected to provide the designated monthly income for
					the period of time you designated at the specified inflation rate and return on investment.</p>
				<p class="d-flex align-items-center">
					<span class="font-weight-bold mr-3 f-16">M</span>The lump sum needed to pay off your mortgage should you choose to do that.</p>
				<p class="d-flex align-items-center">
					<span class="font-weight-bold mr-4 f-16">E</span>The lump sum needed to provide for college education of the children.</p>
			</div>
			<div class="text-center">
				<a href="javascript:;" class="btn btn-secondary btn-lg dash-border mt-3"> DIME Calculator</a>
			</div>
			<div class="border p-3 my-4 text-center dime-calc">
				View income projection at
				<input class="border border-right-0 border-top-0 border-left-0 fw50 text-center font-weight-bold f-16" [(ngModel)]="protectionNeedResult.returnRate"
				 type="text"> % inflation and
				<input class="border border-right-0 border-top-0 border-left-0 fw50 text-center font-weight-bold f-16" [(ngModel)]="protectionNeedResult.inflationRate"
				 type="text"> % return on investments
				<a href="javascript:;" class="text-success ml-3" (click)="getResult();">GO</a>
			</div>
			<div class="row" *ngIf="showProtectionNeed">
				<div [ngClass]="['col-md-6',{true:'offset-3', false:''}[personCount==1]]" *ngFor="let protectionNeedModelValue of protectionNeedResult.protectionNeedModel;let i=index;">
					<hr>
					<div class="d-flex justify-content-between mb-3">
						<h5 class="">{{protectionNeedModelValue.personName}}'s Protection Need</h5>
						<span class="text-muted">Include</span>
					</div>
					<div class="row mb-2">
						<div class="col-md-5">Debt/Death </div>
						<div class="col-md-5 font-weight-bold text-right">$ {{protectionNeedModelValue.totalDebtAndDeath}}</div>
						<div class="col-md-1 text-center">
							<a>
								<i [ngClass]="['zmdi','btn',{true:'zmdi-chevron-down', false:'zmdi-chevron-right'}[DetailShow[i].Debt]]" (click)="DetailShow[i].Debt = !DetailShow[i].Debt"></i>
							</a>
						</div>
						<div class="col-md-1 text-right">
							<input type="checkbox" [checked]=protectionNeedModelValue.eduIsInclude> </div>
					</div>
					<div *ngIf="DetailShow[i].Debt">
						<div *ngFor="let DebtDetail of protectionNeedModelValue.DebtAndDeath.DebtDetails" class="row">
							<div class="col-md-7 offset-1">{{DebtDetail.debtName}}</div>
							<div class="col-md-2 text-right">{{DebtDetail.debtValue}}</div>
						</div>
					</div>
					<div class="dash-border-bottom my-3"></div>
					<div class="row mb-2">
						<div class="col-md-5">Mortgage </div>
						<div class="col-md-5 font-weight-bold text-right btn">$ {{protectionNeedModelValue.totalMortgage}} </div>
						<div class="col-md-1 text-center">
							<a>
								<i [ngClass]="['zmdi','btn',{true:'zmdi-chevron-down', false:'zmdi-chevron-right'}[DetailShow[i].Mortgage]]" (click)="DetailShow[i].Mortgage = !DetailShow[i].Mortgage"></i>
							</a>
						</div>
						<div class="col-md-1 text-right">
							<input type="checkbox" [checked]=protectionNeedModelValue.mortgageIsInclude> </div>
					</div>
					<div *ngIf="DetailShow[i].Mortgage">
						<div *ngFor="let MortgageDetail of protectionNeedModelValue.Mortgage" class="row">
							<div class="col-md-7 offset-1">{{MortgageDetail.mortgageName}}</div>
							<div class="col-md-2 text-right">{{MortgageDetail.mortgageValue}}</div>
						</div>
					</div>
					<div class="dash-border-bottom my-3"></div>
					<div class="row mb-2">
						<div class="col-md-5">Education </div>
						<div class="col-md-5 font-weight-bold text-right btn">$ {{protectionNeedModelValue.totalEducationCost}} </div>
						<div class="col-md-1 text-center">
							<a>
								<i [ngClass]="['zmdi','btn',{true:'zmdi-chevron-down', false:'zmdi-chevron-right'}[DetailShow[i].Education]]" (click)="DetailShow[i].Education = !DetailShow[i].Education"></i>
							</a>
						</div>
						<div class="col-md-1 text-right">
							<input type="checkbox" [checked]=protectionNeedModelValue.eduIsInclude> </div>
					</div>
					<div *ngIf="DetailShow[i].Education">
						<div *ngFor="let EducationDetail of protectionNeedModelValue.EducationNeed" class="row">
							<div class="col-md-7 offset-1">{{EducationDetail.name}} ( {{EducationDetail.EducationNeedDetailsModel[0].collegeName}})</div>
							<div class="col-md-2 text-right">{{EducationDetail.EducationNeedDetailsModel[0].eduValue}}</div>
						</div>
					</div>
					<div class="dash-border-bottom my-3"></div>
					<div class="row mb-2 f-16">
						<div class="col-md-5 font-weight-bold">Total Need</div>
						<div class="col-md-7 font-weight-bold text-right ">$ {{protectionNeedModelValue.totalEducationCost}} </div>
					</div>
				</div>
			</div>
			<h5 class="mt-4">Current Protection Plan</h5>
			<table class="table mt-4">
				<tbody>
					<tr>
						<td class="text-muted">Name</td>
						<td class="text-muted">Group</td>
						<td class="text-muted">Individual</td>
						<td class="text-muted">Assets</td>
						<td class="text-muted">Shortfall/Surplus</td>

					</tr>
					<tr class="font-weight-bold" *ngFor="let protectionPlanValue of protectionNeedResult.protectionPlan" >
						<td>{{protectionPlanValue.personName}}</td>
						<td>$ {{protectionPlanValue.totalGroup}}</td>
						<td>$ {{protectionPlanValue.totalIndividual}}</td>
						<td>$ {{protectionPlanValue.totalAssets}}</td>
						<td>$ {{protectionPlanValue.Shortfall_Surplus}}</td>
					</tr>
				</tbody>
			</table>
			<div class="mb-2 mt-5">
				<p class="d-flex "  *ngFor="let StatementLine of protectionNeedResult.Statement" >
					<i class="zmdi zmdi-brightness-5 mr-2 mt-1 text-muted"></i>{{StatementLine[i]}}
				</p>
				<p>
					In the event of a premature death, there are two needs that should be considered for surviving family members: immediate
					cash needs and income replacement for a period of time. Often times, life insurance proceeds can provide one of the
					most cost-effective methods of generating cash and income to satisfy these two very important needs.</p>
				<p>
					This presentation and the material presented in it should not be construed as an offer to sell life insurance of any type.
					There are many types of life insurance products and you should consult your personal financial professional for guidance
					in choosing the right type and amount of life insurance for your specific circumstances. Life insurance policies carry
					different types of fees that are paid by the policy holders. These fees may include sales commissions, ongoing management
					fees, mortality and expense, etc. Life insurance need is generally the prevailing point of consideration when contemplating
					the purchase of life insurance. Certain life insurance policies are not available in all state jurisdictions. Each insurance
					policy involves conditions, restrictions, and limitations that may be product specific. Before purchasing any life insurance
					policy, you should thoroughly review the prospectus and other policy disclosures and discuss any questions you may have
					with your personal financial professional.
				</p>
			</div>
		</div>

	</div>
</div>