<div class="modal-body px-4">
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="card-block">
    <div class="modal-header">
      <div class="modal-title text-center w-100">
        <h4 class="m-0"> Taxable vs. Tax-Deferred vs. Tax-Free Investments Calculator</h4>
        <p class="f-14 m-0">{{currentDate|date:'EEEE, MMMM dd, yyyy'}}</p>
      </div>
    </div>
    <div class="modal-body p-4">

      <p class="text-muted">Many investments are taxed differently. In retirement planning, it is important to know the difference. Here is a quick
        summary:
      </p>

      <p class="mb-1 d-flex ">
        <i class="zmdi zmdi-brightness-5 text-muted mr-2 mt-1 align-middle"></i>
        <span> A voluntary account will be taxed each year on interest, dividends, and/or capital gains, and while tax rates may
          be lower than ordinary income taxes, it is important to know you will pay taxes on these each year even if the
          investment loses money. </span>
      </p>

      <p class="mb-1 d-flex ">
        <i class="zmdi zmdi-brightness-5 text-muted mr-2 mt-1 align-middle"></i>
        <span> A Traditional IRA, SEP-IRA, SIMPLE-IRA, 401-k 403-b, annuities, and several other types of accounts are taxed-deferred
          or taxed when you take money out of the account.</span>
      </p>
      <p class="mb-1 d-flex ">
        <i class="zmdi zmdi-brightness-5 text-muted mr-2 mt-1 align-middle"></i>
        <span>A Roth-IRA or Roth 401k is funded with after tax dollars but the earnings accrue tax-free and are not taxed when
          you withdraw the money.</span>
      </p>


      <p>In short-term planning, many investors use bonds but it is important to note that some bonds may be taxed federally
        only, some may be taxed at the state level only (federally tax-exempt), while some may be taxed at both the state
        and federal level.
      </p>
      <p>
        This calculator is not designed to apply to every situation but instead provides a quick glimpse into how investment returns
        can be affected by taxes.
      </p>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="">Client Name (optional)</label>
            <input class="form-control" [(ngModel)]="TaxInvestment.name" [attr.maxLength]="50" type="text">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="">Current Age (optional)</label>
            <input class="form-control" type="text" [restrictNumeric] [restrictmaxvalue]="100" [(ngModel)]="TaxInvestment.cAge">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="">Initial Starting Investment</label>
            <input class="form-control" type="text" app-restrict-input="float" [restrictNumeric] [(ngModel)]="TaxInvestment.amount">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="">Annual Contributions</label>
            <input class="form-control" type="text" app-restrict-input="float" [restrictNumeric] [(ngModel)]="TaxInvestment.annualInvest">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="">Number of Years</label>
            <input class="form-control" [restrictNumeric] [restrictmaxvalue]="100" [(ngModel)]="TaxInvestment.years" type="text">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <ng-template #Fullytaxable>
              <p class="f-12">A voluntary account will be taxed each year on interest, dividends, and/or capital gains, and while tax rates
                may be lower than ordinary income taxes, it is important to know you will pay taxes on these each year even
                if the investment loses money. Examples of voluntary accounts which pay dividends and/or capital gains are
                mutual funds, individual stocks, corporate bonds, government bonds, money markets, among others.</p>
            </ng-template>
            <label for="">Fully taxable Investment
              <i class="zmdi zmdi-info text-success ml-2" triggers="mouseenter:mouseleave" [ngbPopover]="Fullytaxable" container="body"></i>
            </label>
            <mat-slider style="margin-top: 0.5em;" [max]="12" [min]="1" [step]="1" (ngModelChange)="onChangetaxableSlider($event)"
              [thumb-label]=true [(ngModel)]="TaxInvestment.taxRate">
            </mat-slider>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <ng-template #TaxDefered>
              <p class="f-12">A tax deferred account is one in which the taxes on interest, dividends, and/or capital gains, are deferred
                until money is withdrawn from the account. This includes most retirement accounts such as a Traditional IRA,
                SEP-IRA, SIMPLE-IRA, 401-k, 403-b, 457, and most of Annuities. The contributions into these retirement plans
                may also represent pre-tax dollars but this calculator does not take this into account. The Future Value
                (after-tax) represented in the summary considers liquidating the Future Value in it's entirety and paying
                the taxes at that time.</p>
            </ng-template>
            <label for="">Tax-deferred Investment
              <i class="zmdi zmdi-info text-success ml-2" triggers="mouseenter:mouseleave" [ngbPopover]="TaxDefered" container="body"></i>
            </label>
 
            <mat-slider style="margin-top: 0.5em;" [max]="12" [min]="1" [step]="1" (ngModelChange)="onChangedeferredSlider($event)"
              [thumb-label]=true [(ngModel)]="TaxInvestment.defTaxRate">
            </mat-slider>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <ng-template #TaxFree>
              <p class="f-12">While Roth-IRAs and Roth 401-k plans are funded with after-tax dollars, the earnings accrue tax-free and are
                not taxed when you withdraw the money as long as you follow the guidelines established by the IRS. To see
                if you are eligible for a Roth-IRA, consult a qualified professional, inquire of your HR department to see
                if a Roth 401-k is available to you. Other tax-free investments would include municipal bond funds and certain
                tax-exempt programs. Please note that some of these programs may be taxed at the state and local level (federally
                tax exempt) while others may be partially exempt or totally exempt to all taxes. The Tax-Free part of this
                calculator assumes totally tax-free accounts and does not include any early withdrawal penalties or partially
                taxable portions.</p>
            </ng-template>
            <label for="">Tax-Free Investment
              <i class="zmdi zmdi-info text-success ml-2" triggers="mouseenter:mouseleave" [ngbPopover]="TaxFree" container="body"></i>
            </label>
            <mat-slider style="margin-top: 0.5em;" [max]="12" [min]="1" [step]="1" (ngModelChange)="onChangeFreeSlider($event)"
              [thumb-label]=true [(ngModel)]="TaxInvestment.taxFreeRate">
            </mat-slider>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <ng-template #Federaltax>
              <p class="f-12">The Rate for Federal Tax on Capital Gains and Qualified Dividends for those in the 25% marginal tax bracket
                and above is capped at 15% for both Short-term (Up to 12 months) and Long-term (12 months or more). The Top
                rate for Taxpayers in the 10% or 15% Marginal Tax Bracket is 0%.</p>
            </ng-template>
            <label for="">Federal tax rate
              <i class="zmdi zmdi-info text-success ml-2" triggers="mouseenter:mouseleave" [ngbPopover]="Federaltax" container="body"></i>
            </label>
            <mat-slider style="margin-top: 0.5em;" [max]="35" [min]="1" [step]="1" (ngModelChange)="onChangeRateSlider1($event)" 
              [thumb-label]=true [(ngModel)]="TaxInvestment.fTaxRateA">
            </mat-slider>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <ng-template #Federaltaxrate>
              <p class="f-12">Most of the tax deferred investments such as IRAs, gains on annuities, etc will be taxed at ordinary income
                tax rates when withdrawn from these plans. Use the marginal tax rate you will most probably be in upon withdrawal.
                For the marginal tax rate table, click on the link.</p>
            </ng-template>
            <label for=""> Federal Tax Rate
              <i class="zmdi zmdi-info text-success ml-2" triggers="mouseenter:mouseleave" [ngbPopover]="Federaltaxrate" container="body"></i>
            </label>
            <a class="f-12" href="#" target="_blank">Marginal Tax Rate Table</a>

            <mat-slider style="margin-top: 0.5em;" [max]="35" [min]="1" [step]="1" (ngModelChange)="onChangeRateSlider2($event)"
              [thumb-label]=true [(ngModel)]="TaxInvestment.fTaxRateB">
            </mat-slider>
          </div>
        </div>
        <div class="col-md-4 d-flex align-items-center">
          <div class="form-group m-0">
            <ng-template #Federaltaxrate3>
              <p class="f-12">The Tax-Free part of this calculator assumes totally tax-free accounts for comparison purposes and does not
                include any early withdrawal penalties or partially taxable portions.</p>
            </ng-template>
            <label class="mr-3 mb-0">Federal Tax Rate:
              <i class="zmdi zmdi-info text-success ml-2" triggers="mouseenter:mouseleave" [ngbPopover]="Federaltaxrate3" container="body"></i>
            </label>
            <span class="font-weight-bold">N/A</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <ng-template #StateTax>
              <p class="f-12">State Tax rates vary widely from 0 in 7 states to almost 10% marginal rates in others. Those states that do
                not have a State Income tax, in general, make it up with higher property taxes, user fees, and/or professional
                fees. To see a state-by-state breakdown, including Standard and Personal Exemptions, prepared by the Tax
                Foundation, click on the link below labeled "State Income Tax Rates."</p>
            </ng-template>
            <label for="">State Tax Rate
              <i class="zmdi zmdi-info text-success ml-2" triggers="mouseenter:mouseleave" [ngbPopover]="StateTax" container="body"></i>
            </label>
            <div class="input-group col-sm-6 col-md-8 col-lg-6 col-xl-4 p-0 mr-4">
              <input class="form-control rounded-0" [restrictNumeric] [restrictmaxvalue]="100" [(ngModel)]="TaxInvestment.sTaxRateA" type="text">
              <span class="input-group-addon bg-none border-0 f-18">%</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for=""> State Tax Rate </label>
            <a class="f-12 pad-left"  href="#" target="_blank">State Income Tax Rates</a>
            <div class="input-group col-sm-6 col-md-8 col-lg-6 col-xl-4 p-0 mr-4">
              <input class="form-control rounded-0" [restrictNumeric] [restrictmaxvalue]="100" [(ngModel)]="TaxInvestment.sTaxRateB" type="text">
              <span class="input-group-addon bg-none border-0 f-18">%</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex align-items-center">
          <div class="form-group m-0">
            <label class="mr-3 mb-0">State Tax Rate:</label>
            <span class="font-weight-bold">N/A</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <ng-template #LocalTax>
              <p class="f-12">Local Taxing units can consist of local government such as counties, cities, towns, and villages. In addition,
                local taxing units have been known to collect tax revenue for school districts, special districts such as
                junior colleges, hospitals, utilities, flood control, rural fire districts, and even subdivision roads and
                parks assessments. In addition, many of these taxes are accessed upon real property rather than income, in
                each case, the location of the business or residence is generally what determines the taxing authority.
              </p>
            </ng-template>
            <label for="">Local/Other Tax Rate
              <i class="zmdi zmdi-info text-success ml-2" triggers="mouseenter:mouseleave" [ngbPopover]="LocalTax" container="body"></i>
            </label>
            <div class="input-group col-sm-6 col-md-8 col-lg-6 col-xl-4 p-0 mr-4">
              <input class="form-control rounded-0" [restrictNumeric] [restrictmaxvalue]="100" [(ngModel)]="TaxInvestment.olTaxRateA" type="text">
              <span class="input-group-addon bg-none border-0 f-18">%</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for=""> Local/Other Tax Rate</label>
            <div class="input-group col-sm-6 col-md-8 col-lg-6 col-xl-4 p-0 mr-4">
              <input class="form-control rounded-0" [restrictNumeric] [restrictmaxvalue]="100" [(ngModel)]="TaxInvestment.olTaxRateB" type="text">
              <span class="input-group-addon bg-none border-0 f-18">%</span>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex align-items-center">
          <div class="form-group m-0">
            <label class="mr-3 mb-0">Local/Other Tax Rate:</label>
            <span class="font-weight-bold">N/A</span>
          </div>
        </div>

      </div>
      <div class="modal-footer justify-content-center pb-0">
        <button class="btn btn-submit btn-secondary btn-sm px-4 py-2" (click)=getResult()> Go</button>
        <button class="btn btn-dark btn-sm px-4 py-2" (click)=getDefaultValues()> Reset</button>
      </div>
    </div>
    <div *ngIf="TaxInvestment.Details!==null && TaxInvestment.Details.length>0">
      <p class="f-16 mb-2 font-weight-bold header-style">Summary</p>
      <table class="table border">
        <tr class="font-weight-bold">
          <td class="text-muted"></td>
          <td class="text-muted">Fully Taxable</td>
          <td class="text-muted">Tax-Deferred</td>
          <td class="text-muted">Tax-Free</td>
        </tr>
        <tr>
          <td class="text-muted">Investment balance</td>
          <td class="text-muted">${{TaxInvestment.amount|number:'1.2-2'}} </td>
          <td class="text-muted">${{TaxInvestment.amount|number:'1.2-2'}}</td>
          <td class="text-muted">${{TaxInvestment.amount|number:'1.2-2'}}</td>
        </tr>
        <tr>
          <td class="text-muted">Annual contributions</td>
          <td class="text-muted">${{TaxInvestment.annualInvest|number:'1.2-2'}} </td>
          <td class="text-muted">${{TaxInvestment.annualInvest|number:'1.2-2'}}</td>
          <td class="text-muted">${{TaxInvestment.annualInvest|number:'1.2-2'}}</td>
        </tr>
        <tr>
          <td class="text-muted">Number of years to project</td>
          <td class="text-muted">{{TaxInvestment.years}} </td>
          <td class="text-muted">{{TaxInvestment.years}}</td>
          <td class="text-muted">{{TaxInvestment.years}}</td>
        </tr>
        <tr>
          <td class="text-muted">Before-tax return</td>
          <td class="text-muted">{{TaxInvestment.taxRate}} </td>
          <td class="text-muted">{{TaxInvestment.defTaxRate}}</td>
          <td class="text-muted">{{TaxInvestment.taxFreeRate}}</td>
        </tr>
        <tr>
          <td class="text-muted">Federal Tax Rate</td>
          <td class="text-muted">{{TaxInvestment.fTaxRateA}} </td>
          <td class="text-muted">{{TaxInvestment.fTaxRateB}}</td>
          <td class="text-muted">N/A</td>
        </tr>
        <tr>
          <td class="text-muted">State Tax Rate</td>
          <td class="text-muted">{{TaxInvestment.sTaxRateA}} </td>
          <td class="text-muted">{{TaxInvestment.sTaxRateB}}</td>
          <td class="text-muted">N/A</td>
        </tr>
        <tr>
          <td class="text-muted">Local Tax Rate</td>
          <td class="text-muted">{{TaxInvestment.olTaxRateA}} </td>
          <td class="text-muted">{{TaxInvestment.olTaxRateB}}</td>
          <td class="text-muted">N/A</td>
        </tr>
        <tr>
          <td class="text-muted">After-tax return</td>
          <td class="text-muted">{{TaxInvestment.taxReturnRate}} </td>
          <td class="text-muted">{{TaxInvestment.defTaxReturnRate}}</td>
          <td class="text-muted">N/A</td>
        </tr>
        <tr class="font-weight-bold">
          <td class="text-muted">Future value</td>
          <td class="text-muted">${{TaxInvestment.TotalTaxable|number:'1.2-2'}} </td>
          <td class="text-muted">${{TaxInvestment.TotalTaxDeferred|number:'1.2-2'}}</td>
          <td class="text-muted">${{TaxInvestment.TotalTaxFree|number:'1.2-2'}}</td>
        </tr>
        <tr class="font-weight-bold">
          <td class="text-muted">Future value (after-tax)</td>
          <td class="text-muted">${{TaxInvestment.TotTxAfter|number:'1.2-2'}} </td>
          <td class="text-muted">${{TaxInvestment.TotDfTxAfter|number:'1.2-2'}}</td>
          <td class="text-muted">${{TaxInvestment.TotTfTxAfter|number:'1.2-2'}}</td>
        </tr>
      </table>
      <p class="f-16 mb-2 font-weight-bold header-style">Comparison of Taxable, Tax-Deferred & Tax-Free Investments</p>
      <table class="table border">
        <tr class="font-weight-bold">
          <td class="text-muted">Year</td>
          <td class="text-muted">Fully Taxable</td>
          <td class="text-muted">Tax-Deferred</td>
          <td class="text-muted">Tax-Free</td>
        </tr>
        <tr *ngFor="let tax of TaxInvestment.Details;">
          <td class="text-muted">{{tax.year}}</td>
          <td class="text-muted">${{tax.FuturevalueA|number:'1.2-2'}}</td>
          <td class="text-muted">${{tax.FuturevalueB|number:'1.2-2'}}</td>
          <td class="text-muted">${{tax.FuturevalueC|number:'1.2-2'}}</td>
        </tr>
        <tr class="font-weight-bold">
          <td class="text-muted">After-Tax</td>
          <td class="text-muted">${{TaxInvestment.TotTxAfter|number:'1.2-2'}} </td>
          <td class="text-muted">${{TaxInvestment.TotDfTxAfter|number:'1.2-2'}}</td>
          <td class="text-muted">${{TaxInvestment.TotTfTxAfter|number:'1.2-2'}}</td>
        </tr>
      </table>
    </div>

    <p class="f-12 text-muted px-3">Any rate of return entered into the calculator to project future values should be a reasonable average return for the
      period. Rates of return will vary over time, and generally the higher the rate of return the higher the degree of risk.
      <br> The information provided here is to assist you in planning for your future. The accuracy of this calculator and its
      applicability to your circumstances is not guaranteed. Any analysis is a result of the information you have provided.
      Material discussed is meant for general illustration and/or informational purposes only and it is not to be construed
      as tax, legal, or investment advice. Although the information has been gathered from sources believed to be reliable,
      please note that individual situations can vary. Therefore, the information should be relied upon when coordinated
      with individual advice from qualified professionals.</p>
  </div>
</div>