﻿@model CLayer.CouponCodeModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>CouponCode</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.cc_Code, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cc_Code, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cc_Code, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sp_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.sp_Id, new SelectList(Model.SalesPersionsList, "VALUE", "TEXT"), new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.EditorFor(model => model.sp_Id, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.sp_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cc_Details, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cc_Details, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cc_Details, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div>
        <table border="1">
            <thead>
                <tr>
                    <td>Title</td>
                    <td>
                        Initial Setup
                        Fee ($)
                    </td>
                    <td>
                        Initial Monthly
                        Fee ($)
                    </td>
                    <td>
                        Initial Period
                        (in months)
                    </td>
                    <td>
                        Renewal
                        Monthly
                        Fee ($)
                    </td>
                    <td>
                        Multiuser
                        Monthly
                        Discount ($)
                    </td>
                    <td>Commission%</td>
                </tr>
            </thead>

            <tbody>
                @if (Model.CouponCodeDetails != null && Model.CouponCodeDetails.Count() > 0)
                {
                    for (int i = 0; i < Model.CouponCodeDetails.Count(); i++)
                    {
                        <tr>
                            <td>
                                @Html.TextBoxFor(model => model.CouponCodeDetails[i].ccd_Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CouponCodeDetails[i].ccd_Title, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.CouponCodeDetails[i].ccd_initSetupFee, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CouponCodeDetails[i].ccd_initSetupFee, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.CouponCodeDetails[i].ccd_initMonthFee, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CouponCodeDetails[i].ccd_initMonthFee, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.CouponCodeDetails[i].ccd_initPeriodMonth, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CouponCodeDetails[i].ccd_initPeriodMonth, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.CouponCodeDetails[i].ccd_RenewalMonthlyFee, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CouponCodeDetails[i].ccd_RenewalMonthlyFee, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.CouponCodeDetails[i].ccd_MultiUMonthDiscount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CouponCodeDetails[i].ccd_MultiUMonthDiscount, "", new { @class = "text-danger" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.CouponCodeDetails[i].ccd_Commision, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CouponCodeDetails[i].ccd_Commision, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

