﻿@model CLayer.CouponCodeModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CouponCode</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cc_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cc_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sp_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sp_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cc_Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cc_Details)
        </dd>

    </dl>



    <div>
        <table>
            <thead>
                <tr>
                    <td>Title</td>
                    <td>
                        Initial Setup
                        Fee ($)
                    </td>
                    <td>
                        Initial Monthly
                        Fee ($)
                    </td>
                    <td>
                        Initial Period
                        (in months)
                    </td>
                    <td>
                        Renewal
                        Monthly
                        Fee ($)
                    </td>
                    <td>
                        Multiuser
                        Monthly
                        Discount ($)
                    </td>
                    <td>Commission%</td>
                </tr>
            </thead>

            <tbody>
                @if (Model.CouponCodeDetails != null && Model.CouponCodeDetails.Count() > 0)
            {
                for (int i = 0; i < Model.CouponCodeDetails.Count(); i++)
                {
                        <tr>
                            @Html.HiddenFor(model => model.CouponCodeDetails[i].ccd_Id)
                            <td>
                                @Html.DisplayFor(model => model.CouponCodeDetails[i].ccd_Title)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.CouponCodeDetails[i].ccd_initSetupFee)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.CouponCodeDetails[i].ccd_initMonthFee)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.CouponCodeDetails[i].ccd_initPeriodMonth)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.CouponCodeDetails[i].ccd_RenewalMonthlyFee)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.CouponCodeDetails[i].ccd_MultiUMonthDiscount)
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.CouponCodeDetails[i].ccd_Commision)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
