<div class="modal-header">
  <h4 class="modal-title">Delete Tax</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark btn-success" (click)="confirmModal()">Confirm</button>
</div>