<div class="modal-header">

  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="looping_cls" *ngFor="let CurretSavings of CurretSavingsDetails">
    <div class="row">
      <div class="col-md-11">
        <div class="row">
          <div class="col-md-4">
            <label for="">Type</label>

            <select class="form-control custom-select f-14" [(ngModel)]="CurretSavings.educationTypeID" (change)="educationTypeIDChanged($event.target.value,i)">
              <option *ngFor="let workout of educationTypeDDL" [value]="workout.VALUE" [selected]="workout.VALUE=== CurretSavings.educationTypeID">{{workout.TEXT}}</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="">Company</label>
            <input type="text" class="form-control" name="CurretSavingsDetails{{i}}" [(ngModel)]="CurretSavings.company">
          </div>
          <div class="col-md-2">
            <label for="">Current Value</label>
            <input type="text" class="form-control" name="Curretvalue{{i}}" app-restrict-input="float" [(ngModel)]="CurretSavings.amount">
          </div>
          <!-- <div class="col-md-2">
            <label for="">Value as of</label>
            <div class="datepicker-container">
              <ng-datepicker [(ngModel)]="CurretSavings.amountValueAsOf" name="CurretSavings.amountValueAsOf" [options]="options"></ng-datepicker>
             
            </div>
          </div> -->
        </div>

        <div class="row mt-3">
          <div class="col-md-4">
            <label for="">Monthly Contribution</label>
            <input type="text" class="form-control" name="monthly{{i}}" app-restrict-input="float" [(ngModel)]="CurretSavings.monthly">
          </div>
          <div class="col-md-5">
            <label for="">Notes</label>
            <input type="text" class="form-control" name="notes{{i}}" [(ngModel)]="CurretSavings.notes">
          </div>

        </div>
      </div>
      <div class="col-md-1 d-flex align-items-center justify-content-center  dash-border-left">
        <a href="javascript:;" class="">
          <i class="zmdi zmdi-close f-20"></i>
        </a>
      </div>
    </div>
    <div class="d-flex justify-content-end mt-4 mb-2">
      <a class="mr-auto text-success" (click)="addMore()">+ Add More</a>
      <a href="javascript:;" class="btn btn-dark px-3 mr-2" (click)="currentSavings(CurretSavings)">Save</a>
      <a href="javascript:;" class="btn btn-outline-secondary px-3" data-dismiss="modal" aria-label="Close" (click)="closeModal()">Cancel</a>
    </div>
  </div>
</div>