﻿@model CLayer.DBModel.EmailAdvisor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmailAdvisor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ea_FromEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ea_FromEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ea_Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ea_Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ea_Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ea_Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ea_Advisors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ea_Advisors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ea_SendDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ea_SendDT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ea_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
