﻿@model IEnumerable<CLayer.DBModel.EmailAdvisor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ea_FromEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ea_Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ea_Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ea_Advisors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ea_SendDT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ea_FromEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ea_Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ea_Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ea_Advisors)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ea_SendDT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ea_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.ea_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ea_Id })
        </td>
    </tr>
}

</table>
