/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import "~nouislider/distribute/nouislider.min.css";
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@include mat-core();
$primary: mat-palette($mat-lime,
500);
$accent: mat-palette($mat-lime,
500,
A200,
A400);
$warn: mat-palette($mat-red,
500);
$theme: mat-light-theme($primary,
$accent,
$warn);
@include angular-material-theme($theme);
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* latin-ext */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html,
body {
  height: 100%;
}

body,
input,
textarea {
  font-family: 'Lato', sans-serif;
  font-size: 14px!important;
  color: #232340;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a,
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body,
input,
textarea {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #232340;
}

html,
body {
  width: 100%;
  height: 100%;
}

input:required {
  box-shadow: none;
}

.form-control::placeholder,
.form-control::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}

label em,
{
  color: #D21B15;
}
.border { border: 1px solid #ddd; }
.border-danger { border: 1px solid #d9534f; }
.border-success { border: 1px solid #5cb85c; }
.border-warning { border: 1px solid #f0ad4e; }
.border-primary { border: 1px solid #f0ad4e; }
.border-dark { border: 1px solid #f0ad4e; }


.round-25 { border-radius: 25px; }
.bg-gray { background: #F1F1F1; }
.bg-cyan { background: #31B7C5; }
.bg-dark { background: #58627C; }
.h-auto { height: auto; }
.fw50 { width: 50px; }
.fw100 { width: 100px; }
.fw200 { width: 200px; }
.vh-100 { height: calc(100vh - 200px); }
.p-relative { position: relative; }
.bg-none { background: none; }
.form-control:focus { box-shadow: none !important; }
.btn { box-shadow: none !important; cursor: pointer; font-size: 14px; }
.cursor-p { cursor: pointer; }
.hide { display: none; }
.f-6 { font-size: 6px !important; }
.f-10 { font-size: 10px !important; }
.f-12 { font-size: 12px !important; }
.f-14 { font-size: 14px !important; }
.f-16 { font-size: 16px !important; }
.f-18 { font-size: 18px !important; }
.f-20 { font-size: 20px !important; }
.f-26 { font-size: 26px !important; }
.f-30 { font-size: 30px !important; }
.f-36 { font-size: 36px !important; }
.f-46 { font-size: 46px !important; }
.f-42 { font-size: 42px !important; }
.hover{
  opacity: .5;
  &:hover{
    opacity: 1;
  }
}

.main-menu li .dropdown-toggle:after {
  content: none;
}

.form-control.m-wrap {
  min-height: 42px;
}

.btn-primary2 {
  background: #28C862;
  border-color: #28C862;
  color: #fff;
}

.btn-primary2:hover {
  background: #20A34F;
  border-color: #20A34F;
  color: #fff;
}

.btn-dark {
  background: rgba(88, 98, 125, 0.76);
  border-color: rgba(88, 98, 125, 0.76);
  color: #fff;
}

.btn-dark:hover {
  background: #434C65;
  border-color: #434C65;
  color: #fff;
}

.btn-outline-secondary {
  color: #7a7a7a;
}

.btn-outline-secondary:hover {
  background: #434C65;
  border-color: #434C65;
  color: #fff;
}

.btn-secondary {
  background-color: #fff;
  border-color: #ccc;
  color: #292b2c;
  &:hover,
  &:active,
  &:focus {
    background-color: #e6e6e6!important;
    border-color: #adadad;
    color: #292b2c;
  }
}

.text-gray-dark {
    color: #292b2c;
}

.dash-border{
  border: 1px dashed #232340;
}
.dash-border-left{
  border-left: 1px dashed #999;
}
.dash-border-bottom{
  border-bottom: 1px dashed #999;
}

.rounded-circle{
  overflow: hidden;
}

app-root {
  height: 100%;
  width: 100%;
}

app-footer {
  width: 100%;
}

.main_loader_page {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  background: rgba(235, 253, 255, 0.56);
  display: flex;
  justify-content: center;
  align-items: center;
}

app-login,
app-register,
app-forgot-password,
app-forgot-pwd
{
  /* position:relative; */
  background: url(/assets/img/login-bg.png) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  min-height: calc(100vh - 120px);
  width: 100%;
   display:flex; 
}

.error_message {
  color: red;
}

.page-container {
  min-height: calc(100vh - 230px);
  margin-top: 110px;
}

.logo-space {
  margin-left: 110px;
}

.menu-bar {
  background: #009C47;
}

.status-bar {
  background: #232340;
  min-height: 51px;
  color: #d2d2d2;
}

.fixed-header {
  padding-top: 110px;
}

.main-logo {
  display: inline-block;
  position: absolute;
  top: -11px;
}

.main-menu>li {
  display: inline-block;
  margin-right: 15px;
}

.main-menu>li>a {
  color: #232340;
  opacity: .5;
  transition: all ease-in-out .3s;
}

.main-menu>li.active>a,
.main-menu>li>a:hover {
  opacity: 1;
  color: #fff;
}

.breadcrumb {
  background: none;
}

.breadcrumb-item+.breadcrumb-item:before {
  content: ">";
}

.nav-link i {
  margin-top: -5px;
  display: none;
}

.nav-link.active i {
  display: block;
}

.form-wrapper {
  width: 450px;
}

.change-img {
  background: rgba(0, 0, 0, 0.38);
  bottom: 0;
  padding: 5px 0px 20px 0;
  position: absolute;
  right: 0;
  left: 0;
  display: none;
  color: #fff !important;
  font-size: 14px !important;
  font-weight: normal;
  cursor: pointer;
}

.img-wrap:hover .change-img {
  display: block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 18px;
  margin: 0;
}

.switch input {
  display: none;
}

.slider-toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-toggle:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider-toggle {
  background-color: #009C47;
}

input:focus+.slider-toggle {
  box-shadow: 0 0 1px #009C47;
}

input:checked+.slider-toggle:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/* Rounded slider-toggles */

.slider-toggle.round {
  border-radius: 34px;
}

.slider-toggle.round:before {
  border-radius: 50%;
}

.img-wrap {
  width: 140px;
  height: 140px;
  overflow: hidden;
  border: 1px solid #fff;
  box-shadow:0 0 5px rgba(0,0,0,0.2);
  background:#eee url('/assets/img/user.png') no-repeat center center;
  background-size:cover;

}

.img-wrap img {
  min-width: 100%;
  min-height: 100%;
}

.list-table tr td:first-child {
  width: 10px;
  text-align: center;
}

.action-btn {
  color: #8A909C!important;
  font-size: 20px;
  &:hover {
  color: #009C47!important;
}
}
 


.action-panel{
  position: fixed;
  z-index: 99;
  top: 111px;
  right: -350px;
  bottom: 0;
  width: 350px;
  background: #fff;
  
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: all ease-in-out .5s;
}

.action-panel  .action-content{
  overflow-y: auto; 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.open-panel.action-panel{
  right: 0;
}

.action-point-btn{
  position: absolute;
  left: -100px;
  top: calc(50% - 27px);
  width: 155px;
  background: #009C47;
  color: #fff;
  z-index: 99;
  text-align: center;
  padding: 12px;
  transform: rotate(-90deg);
  border-radius: 5px 5px 0 0px;
}

.action-point-btn:hover{
  cursor: pointer;
  background: #037537;
}

.side-menu {
    background: #F2F2F2;
    box-shadow:0 0 6px rgba(0, 0, 0, 0.3);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 108px;
    width: 70px;
    z-index: 1;
    overflow-x: auto; 
}
.side-menu:hover{
  width: 250px;
  z-index: 999;
}
 .side-menu-list  li a .m-content{
  display: none;
}
   
.side-menu:hover  .m-content{
  display: inline-block;
}

.side-menu .side-menu-list li a.active,
.side-menu .side-menu-list li a.active:hover
 {
    background:#009C47;
    color: #fff;
}
.side-menu .side-menu-list li a:hover
{
  background: rgba(35, 35, 64, 0.08);
  cursor: pointer;

}
.side-menu .side-menu-list li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    color: #333;
    display: block;
    padding: 10px 10px 10px 20px;
}

.side-menu .side-menu-list li a i.zmdi {
    background: #fff;
    border: 1px solid #58627c;
    border-radius: 50%;
    color: #58627c;
    font-size: 17px;
    height: 30px;
    line-height: 1.6;
    margin-right: 10px;
    text-align: center;
    width: 30px;
}

.page-content {    
    margin: 94px 0 0px 70px;
     min-height:100vh; 
    padding: 20px;
    position: relative;    
}
/* 
.side-menu {
  background: #F2F2F2;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.21);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 110px;
  width: 250px;
  z-index: 1;
  overflow-x: auto;
}

.side-menu .side-menu-list li a.active,
.side-menu .side-menu-list li a.active:hover {
  background: #009C47;
  color: #fff;
}

.side-menu .side-menu-list li a:hover {
  background: rgba(35, 35, 64, 0.08);
}

.side-menu .side-menu-list li a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  color: #333;
  display: block;
  padding: 10px 10px 10px 20px;
}

.side-menu .side-menu-list li a i.zmdi {
  background: #fff;
  border: 1px solid #58627c;
  border-radius: 50%;
  color: #58627c;
  font-size: 17px;
  height: 30px;
  line-height: 1.6;
  margin-right: 10px;
  text-align: center;
  width: 30px;
}

.page-content {
  margin: 0 0 0px 250px;
 
  padding: 20px;
  position: relative;
} */

/* .app-page footer {
  padding-left: 250px;
} */

ul.dropdown-menu {
  /* min-width: 200px; */
  padding: 0;
  overflow: hidden;
}

ul.dropdown-menu>li>a {
  color: #333;
  display: block;
  font-size: 14px;
  padding: 8px 18px;
}

ul.dropdown-menu>li>a:hover {
  background: #E2E2E4;
}

.main_loader_page{
  background:transparent;
}

ul.list-circle {
  list-style: circle;
}

ul.list-circle li {
  margin-bottom: 5px;
}

.custom-tab-container .tab-content {
  border: 1px solid #ddd;
  border-top: none;
  padding: 25px;
}

.custom-tab-container .tab-content .tab-content {



  border: none;
  padding: 0px;
}


.custom-tab-container .nav-tabs .nav-item .nav-link.active:after {
  background: #009c47;
  bottom: -4px;
  content: "";
  height: 3px;
  left: 20%;
  position: absolute;
  right: 20%;
}

.custom-tab-container .tab-content .nav-tabs>.nav-item>.nav-link.active:after {
  content: none;
}

.custom-tab-container .tab-content .nav-tabs .nav-item .nav-link,
.custom-tab-container .tab-content .nav-tabs {
  border: none
}

.custom-tab-container .nav-tabs .nav-link {
  position: relative;
  color: #999;
}

.custom-tab-container .nav-tabs .nav-item .nav-link.active {
  color: #333;
}

.card-block{
  padding: 1.25rem;

}
.card-header{
  background: none;
}
.card-header.active .zmdi-caret-down{
	transform: rotate(180deg);
}




.table-wrapper{
  overflow-x: auto;
}
.table-wrapper table{
max-width: none;
}
.table-wrapper table td{
min-width: 180px;
}

/* ///////////////////// */

.btn-white {
  color: #333;
  background-color: #fff;
  border-color: #fff;
   &:hover {
    color: #fff;
    background-color:#449d44;
    border-color:#449d44;
  }
}
.box-container{
  min-height: 108px;

i{
  opacity: .1;
  font-size: 5em;
}
}

.dashboard-menu {
  .nav.nav-tabs {
    border: none;

    li {
      display: inline-block;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
      border-radius: 5px;
      margin: 0.5%;
      padding: 15px;
      width: 13%;

      &:hover {
        cursor: pointer;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
      }
      &:hover .sp-icon{
        background-position:0 -59px;
       
      }
      a{
        color: #333;        
      }

    }
    
    .nav-link {
      border: none;
      text-align: center;
    }

  }

}
.table-scroll{
  max-width:100%;
  overflow-x: auto;
}

 
 


.sp-icon{
  display: inline-block;
  height: 60px;
    width: 70px;
  background: url('/assets/img/sprite.png') no-repeat left top;
}


.sp-icon.invt{   
  background-position:-92px 0px;
}
.dashboard-menu .nav.nav-tabs  li:hover .sp-icon.invt{   
  background-position:-92px -59px;
}

.sp-icon.lab{   
  background-position:-271px 0px;
}
.dashboard-menu .nav.nav-tabs li:hover  .sp-icon.lab{   
  background-position:-271px -59px;
}

.sp-icon.edu{   
  background-position:-176px 0px;
}
.dashboard-menu .nav.nav-tabs li:hover .sp-icon.edu{   
  background-position:-176px -59px;
}

.sp-icon.prot{   
  background-position:-353px 0px;
}
.dashboard-menu .nav.nav-tabs li:hover .sp-icon.prot{   
  background-position:-353px -59px;
}


.sp-icon.emerg{   
  background-position:-445px 0px;
}
.dashboard-menu .nav.nav-tabs li:hover .sp-icon.emerg{    
  background-position:-445px -59px;
}

.sp-icon.inc{   
  background-position:-526px 0px;
}
.dashboard-menu .nav.nav-tabs li:hover .sp-icon.inc{    
  background-position:-526px -59px;
}

 .scroler-vertical{
   overflow-y: auto;
 }
.icon-box{
  width: 150px;
  height: 150px;
}

.link {
  color: #232340!important;
  &:hover {
    color: #009C47!important;
    cursor: pointer;
  }

}

.btn{
  &.disabled,&:disabled{
    cursor:not-allowed
    } 
  } 

.card-body {
  padding: 1.25rem;
}

 select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem);
  font-size:14px;
  /* border-radius: 0; */
}
/*
select.form-control option
{ font-size:14px;}
 */
.popover {
  padding: 20px;
  max-width: 550px;
}
 .pagelink:hover{
  color: #28C862!important;
 }
.custom-table {
  tr {
    td {
      min-width:150px;
    }

  }

}

.input-group.custom_material {
  .mat-icon-button {
    width: 34px !important;
    height: 34px !important;
    line-height: 33px !important;
    .mat-icon {
      height: 18px !important;
    }
  }
}

.text-dark {
  color: #343a40 !important;
}
.custom-tab-sm .tab-content{
padding:10px;
}




@media (min-width: 992px) {
  .modal-xl .modal-dialog{
    max-width: 960px;
  }
  .modal-full-width .modal-dialog{
    max-width: 98%;
  }
}
 
@media only screen and (max-width: 768px) {


 .side-menu-list  li a .m-content{
  display: none;
}
 .side-menu{
  width: 70px;
}
.page-content {  
  margin-left: 70px;
}
    
}
.mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
}

.mat-slider-thumb {
  transform: scale(0) !important;
}

.mat-slider-thumb-label-text {
  opacity: 1 !important;
}
.btn-submit:hover{
  background-color: green !important;
  color: #fff;
  font-weight: bold;
}
.custom_material .mat-form-field{
  width: 100%;
}
.custom_material .mat-form-field-flex{
  border: 1px solid rgba(0,0,0,.15);
  padding: .5rem .75rem;
}
.custom_material .mat-form-field-underline{
  background-color: transparent;
}
.custom_material .mat-datepicker-toggle{
  border: 1px solid rgba(0,0,0,.15);
  margin-top: -1px;

}
// .custom_material .mat-form-field-infix{
//   border-top: none;
// }
.fa.fa-asterisk.text-danger{
  font-size: 7px;
  margin-left: 3px;
}
.ngx-datepicker-container[_ngcontent-c17] .ngx-datepicker-calendar-container[_ngcontent-c17]{
  z-index: 999;
}
.ngx-datepicker-container .ngx-datepicker-calendar-container{
  z-index: 999 !important;
}
.example-radio-button .mat-radio-label{
  white-space: unset;
}


.ngx-datepicker-container[_ngcontent-c17] .ngx-datepicker-input[_ngcontent-c17] {
  padding: .375rem .75rem;
  font-size: 14px;
  width: auto!important;
  max-width:100%;
  min-height:35px;
  border-radius: .25rem;
  border: 1px solid #ced4da;
}


.page-item {
  .page-link {
    color: #009C47;
  }

  &.active {
    .page-link {
      background-color: #009C47;
      border-color: #009C47;
    }

  }

}
.ngx-datepicker-container[_ngcontent-c18] .ngx-datepicker-input[_ngcontent-c18]{
  width:100% !important;
}
.custom_accordion .card{
  flex: 0 0 50%;
    max-width: 65.8%;
}
input[type="checkbox"]{
  cursor: default;
}
input[type="checkbox"]:hover{
  cursor: pointer;
}
.noUi-active{
  box-shadow: none !important;
}
.noUi-horizontal{
  height:1px;
}
.noUi-handle:after, .noUi-handle:before{
  width:0;
}
.highcharts-credits{
  display: none !important;
}
// .highcharts-container,svg{
//   width:auto !important;
// }
.mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb, .mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb-label{
  background-color: #cddc39 !important;
}
.mat-slider-min-value.mat-slider-thumb-label-showing.cdk-focused.mat-slider-thumb-label{
  background-color: #cddc39 !important;
}
.mat-slider-horizontal .mat-slider-thumb-label{
  top: -33px !important;
}
.mat-slider-thumb-label-text{
  font-size: 10px !important;
}
.mat-slider-thumb-label{
  width: 25px !important;
  height: 25px !important;
}
.custom_acc .card{
  flex: 0 0 50%;
    max-width: 42.8%;
    border-bottom: 1px dashed #999;
    border-width: 0px 0px 1px 0px;
}
.custom_acc .card-header{
  border-bottom: 0;
}
