﻿@model IEnumerable<CLayer.InsuranceTypeModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.insuranceTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderNum)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.createdDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modifyDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modifyBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.insuranceTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.orderNum)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.createdDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modifyDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modifyBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isActive)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.insuranceTypeID }) |
                @Html.ActionLink("Details", "Details", new { id = item.insuranceTypeID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.insuranceTypeID })
            </td>
        </tr>
    }

</table>
