<div class="login-wrap card m-auto p-4">
  <div class="text-center">
    <a routerLink="">
      <img src="assets/img/money-edge-logo.png" width="125" alt="">
    </a>
  </div>
  <h4 class="text-center font-weight-bold my-4">FORGOT PASSWORD</h4>
  <form #forgotForm="ngForm" (ngSubmit)="forgotForm.form.valid&&forgot()" novalidate>

    <div class="form-group">

      <input type="email" class="form-control m-wrap" placeholder="Email Id" name="email" [(ngModel)]="forgotPwdModel.email" #email="ngModel"
        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
      <small *ngIf="!email.valid && email.errors && forgotForm.submitted" class="error_message">
        <div [hidden]="!email.errors.required">
          Email is required
        </div>
        <div [hidden]="!email.errors.pattern">
          Enter valid email
        </div>
      </small>
    </div>

    <div class="form-group mb-1">
      <button type="submit" class="btn w-100 btn-primary2 py-2">SUBMIT</button>
    </div>

    <div class="row">
      <div class="col-md-6">
        <a routerLink="" class="text-muted pagelink">
          <i class="zmdi zmdi-chevron-left f-18 align-bottom"></i> Back</a>
      </div>

    </div>


  </form>
</div>