


  <div class="modal-header">
      <div class="modal-title text-center"> 
        <h4 class="m-0">Edit Payroll Tax </h4>	
      </div>
      <button type="button" class="close" aria-label="Close"  (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <div class="modal-body p-4">
      <table class="table table-bordered table-striped table-hover text-center">      
          <thead>
            <tr>
              <td align="left">
                <div class="font-weight-bold"> Type</div>
              </td>
              <td>
                  <div class="font-weight-bold">Pay Period </div>
                </td>
              <td>
                <div class="font-weight-bold">Amount </div>
              </td>
              <td>
                <div class="font-weight-bold">Notes </div>
              </td>
              <td width="10">
              </td>
              <td width="10">
              </td>
              <td width="10"></td>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let payTax of payTaxmodal">
              <td>
                  <!-- <select  id="tax" class="form-control custom-select f-14"  name="tax" [(ngModel)]="tax.VALUE" #tax="ngModel">
                      <option *ngFor="let tax of PayrollTaxes" [ngValue]="tax.VALUE"> {{tax.TEXT}}</option>
                  </select> -->
                  <select class="form-control custom-select f-14" (change)="taxChanged($event.target.value)" >
                      <option *ngFor="let tax of PayrollTaxes" [value]="tax.VALUE"
                      [selected]="tax.VALUE=== payTax.taxTypeID">{{tax.TEXT}}</option>
                    </select>
              </td>
              <td>
                <select class="form-control custom-select f-14" [(ngModel)]="payTax.paytype" [ngModelOptions]="{standalone: true}"
											 (change)="payPeriodChanged($event.target.value)">
												<option *ngFor="let tax of PayPeriods" [value]="tax.VALUE" [selected]="tax.VALUE=== payTax.paytype">{{tax.TEXT}}</option>
											</select>
                  <!-- <select class="form-control custom-select f-14">
                      <option>--Select--</option>
                      <option>--Monthly--</option>
                    </select> -->
              </td>
              <td>

                  <div class="input-group">
                   
                      <input type="text" class="form-control rounded-0" placeholder="amount" name="payingTax" 
                      [(ngModel)]="payTax.payingTax" #payingTax="ngModel">  
                      <span _ngcontent-c19="" class="input-group-addon bg-none border-0 f-18">$</span>
                    </div>
                  <!-- <span>$</span> <input type="text" class="form-control rounded-0" placeholder="amount" name="amount" 
                  [(ngModel)]="payTaxmodal.amount" #amount="ngModel">   -->
              </td> 
              <td>
                  <textarea [(ngModel)]='payTax.note'>
                  </textarea>
              </td> 
              <td>
                  <label class="mr-4 mb-0">
                      
                  <input type="checkbox" [(ngModel)]="payTax.isMouseHover" name="isMouseHover">
                  Show in Mouseover</label>
              </td> 
            <td> 
                <a (click)="remove(payTax)" class="btn btn-danger">x</a></td>

              
                <td>  <button class="btn btn-secondary btn-sm px-4 py-2 btn-submit" (click)="saveTaxDetails(payTax)">Save</button> </td>
          </tr>
          </tbody> 
         </table> 
    
  </div>
  <div class="modal-footer justify-content-center">
    <button class="btn btn-secondary btn-sm px-4 py-2 btn-submit" (click)="addMore()">Add More</button> 
    
    <!-- <button class="btn btn-secondary btn-sm px-4 py-2 " (click)="closeModal()">Hide Details</button>  -->
    
  </div>
  