<div class="modal-body px-4">
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
  <form #spouseInsuranceDetails="ngForm" (ngSubmit)="spouseInsuranceDetails.form.valid&&spouseInsDetails()" novalidate>
    <div class="card-block">
      <ng-template #popContent>
        <p class="f-12">Answering “Yes” or “No” on the Debt, College and Mortgage questions dictates whether or not these categories will
          be included or grayed out on the Protection Needs (DIME) page. If you check ‘Yes’ to set money aside to pay your
          debts, for instance, the values for fixed and revolving debt will appear in normal black print and be added into
          the total for life insurance need. If you check ‘No,” the values will still appear but the numbers will not be
          added into the total need.
        </p>
      </ng-template>
      <p class="font-weight-bold">In the event of your untimely death: In the event of your Untimely death:
        <i class="zmdi zmdi-info text-success ml-2" triggers="mouseenter:mouseleave" [ngbPopover]="popContent" container="body" placement="right"></i>
      </p>
      <div class="d-flex">
        <ng-template #popContentDept>
          <p class="f-12">
            <strong>Debts</strong> would include the current balances (payoff) of all fixed and revolving debts entered on the debt
            input page but not mortgages, which is included in the checkbox below. Fixed and Revolving debts would include
            automobile loan balances, student loans, furniture loans, installment loans, and all credit card balances. Check
            the box if you want to include these balances in overall life insurance needs.
          </p>
        </ng-template>
        <p class="mt-2">
          <i class="zmdi zmdi-brightness-5 mr-2 text-muted mt-1"></i>Do you want money set aside to pay your debts?</p>
        <select name="payDept" class="custom-select ml-2" [(ngModel)]="spouseDetails.payDept">
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
        <i class="zmdi zmdi-info text-success ml-2" triggers="mouseenter:mouseleave" [ngbPopover]="popContentDept" container="body"
          placement="right"></i>
      </div>
      <div class="d-flex">
        <ng-template #popContentmortgage>
          <p class="f-12">Check this question ‘Yes’ if you want money set aside upon your untimely death to pay any outstanding
            <strong>mortgage</strong> loans entered on the debt input page.
          </p>
        </ng-template>
        <p class="mt-2">
          <i class="zmdi zmdi-brightness-5 mr-2 text-muted mt-1"></i>Do you want money set aside to pay your mortgage?</p>
        <select name="payMortage" class="custom-select ml-2" [(ngModel)]="spouseDetails.payMortage">
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
        <i class="zmdi zmdi-info text-success ml-2" triggers="mouseenter:mouseleave" [ngbPopover]="popContentmortgage" container="body"></i>
      </div>
      <div class="d-flex">
        <ng-template #popContentChildren>
          <p class="f-12">Check this question ‘Yes’ if you want money set aside upon your untimely death to pay for college expenses for
            any child entered on the education input page.
          </p>
        </ng-template>
        <p class="mt-2">
          <i class="zmdi zmdi-brightness-5 mr-2 text-muted mt-1"></i>Do you want money set aside to send your children to college?</p>
        <select name="payCollege" class="custom-select ml-2" [(ngModel)]="spouseDetails.payCollege">
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
        <i class="zmdi zmdi-info text-success ml-2" triggers="mouseenter:mouseleave" [ngbPopover]="popContentChildren" container="body"></i>
      </div>
      <div class="d-flex">
        <ng-template #popContentFinalExpenses>
          <p class="f-12">
            <strong>Final Expenses</strong> include all the expenses incurred concerning the funeral costs and final resting place
            for the deceased. The days of being buried in a wooden box at the back of the family property are long gone.
            Few people do any kind of planning for the sudden death of a loved one and must make sudden, expensive decisions
            during their time of grieving. Many Funeral homes and crematoriums will provide a list of expenses which can
            vary from a few thousand dollars up to $20,000 or more. The default for this number is determined by the adviser’s
            preferences in their global settings.
          </p>
        </ng-template>
        <p class="mt-2 mr-3">
          <i class="zmdi zmdi-brightness-5 mr-2 text-muted mt-1"></i>How much will it take to cover your final expenses</p>
        <input class="form-control col-md-3 col-sm-3 my-auto" app-restrict-input="float" [attr.maxLength]="15" type="text" name="financialExpence"
          [(ngModel)]="spouseDetails.financialExpence">
        <i class="zmdi zmdi-info text-success ml-2" triggers="mouseenter:mouseleave" [ngbPopover]="popContentFinalExpenses" container="body"></i>

      </div>
      <p class="f-12 ml-3"> Note : Include funeral cost, Medical bills, Estate settling costs, etc.</p>

      <div class="d-flex">
        <ng-template #popContentUltimate>
          <p class="f-12">
            <strong>Income Replacement</strong> usually is the biggest financial concern upon the death of a breadwinner. Most professionals
            agree it makes sense to replace 100% of a breadwinner’s income, however, if outstanding debts, mortgages, and
            educational expenses are factored in to the life insurance proceeds, you may only need a fraction of the breadwinner’s
            income.</p>
          <p class="f-12">For the
            <strong>Number of years income needed</strong>, many people simply choose the number of years until the youngest child
            is 18, all children are out of college, or possibly the number of years until the house in paid off. If you check
            ‘Unlimited,’ the income would be paid through the life expectancy age of the spouse. Checking ‘Unlimited’ results
            in the highest lump sum needed but it is the most practical since most expenses continue and increase with inflation
            through the years.</p>
          <p class="f-12">The Protection Needs output report calculates and then displays the total lump sum of money needed to provide the
            specified monthly income (factoring in inflation) for the number of years needed, ending in $0 value after the
            stated time period.
          </p>
        </ng-template>
        <p class="mt-2 mr-3">
          <i class="zmdi zmdi-brightness-5 mr-2 text-muted mt-1"></i>How much monthly income will your family need in the event of your untimely death?</p>
        <input type="text" class="form-control col-md-3 col-sm-3 my-auto" app-restrict-input="float" [attr.maxLength]="15" name="expenceafterdeath"
          [(ngModel)]="spouseDetails.expenceafterdeath">
        <i class="zmdi zmdi-info text-success ml-2" triggers="mouseenter:mouseleave" [ngbPopover]="popContentUltimate" container="body"
          placement="left"></i>
      </div> 
      <div class="d-flex">
        <p class="mt-2 mr-3 mb-1">
          <i class="zmdi zmdi-brightness-5 mr-2 text-muted mt-1"></i>For how many years?</p>
        <select class="custom-select ml-2" [(ngModel)]="spouseDetails.insuranceType" name="insuranceType" (change)="changeSpouseInsType($event.target.value)">
          <option *ngFor="let type of LifeInsTypes" [value]="type.VALUE">{{type.TEXT}}</option>
        </select>
        <input class="form-control col-md-3 col-sm-3 ml-2" name="spouseInsurancePeriod" [restrictNumeric] *ngIf="spousePeriodShow"
          type="text" [(ngModel)]="spouseDetails.insurancePeriod" [restrictmaxvalue]="100" [attr.maxLength]="10">
      </div>
      <div class="d-flex">
        <ng-template #popContentassets>
          <p class="f-12">You may choose to consider various assets to offset life insurance needs by checking the boxes below. If any of
            the boxes are checked, a new section will appear on the output that subtracts the value of the accounts checked
            from the life insurance need. If no boxes are checked on the input, this section does not appear on the output
            page. The defaults here can also be set in the adviser global settings.
          </p>
        </ng-template>
        <p class="mt-2 mr-3 mb-1">
          <i class="zmdi zmdi-brightness-5 mr-2 text-muted mt-1"></i>Consider the following assets to offset life insurance needs:
          <i class="zmdi zmdi-info text-success ml-2" triggers="mouseenter:mouseleave" [ngbPopover]="popContentassets" container="body"></i>
        </p>
      </div>
      <div class="ml-3">
        <span class="mr-3">
          <input type="checkbox" class="mr-1" [(ngModel)]="spouseDetails.spouseRetAsset" name="spouseRetAsset" [checked]="spouseDetails.spouseRetAsset">Spouse Retirement Assets</span>
        <span class="mr-3">
          <input type="checkbox" class="mr-1" [(ngModel)]="spouseDetails.nonRetAsset" name="nonRetAsset" [checked]="spouseDetails.nonRetAsset">Non - Retirement Assets</span>
        <span class="mr-3">
          <input type="checkbox" class="mr-1" [(ngModel)]="spouseDetails.retAsset" name="retAsset" [checked]="spouseDetails.retAsset">Retirement Assets</span>
        <span class="mr-3">
          <input type="checkbox" class="mr-1" [(ngModel)]="spouseDetails.otherRetAsset" name="otherRetAsset" [checked]="spouseDetails.otherRetAsset">Other Retirement Assets</span>
        <span class="mr-3">
          <input type="checkbox" class="mr-1" [(ngModel)]="spouseDetails.cashAccounts" name="cashAccounts" [checked]="spouseDetails.cashAccounts">Cash Accounts</span>
        <span class="mr-3">
          <input type="checkbox" class="mr-1" [(ngModel)]="spouseDetails.selectAll" name="selectAllSpouseChange" [checked]="spouseDetails.selectAll"
            (change)="selectAllSpouseChange($event.target.value)">Select All Accounts</span>
      </div>
    </div>
    <div class="text-center mt-4">
      <button class="btn btn-dark px-5 btn-submit" type="submit">Save</button>
    </div>
  </form>
</div>