<div class="mb-auto">
  <div class="header fixed-top">
    <app-header></app-header>
    <div class="status-bar py-2">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-6 ">
            <div class="logo-space">
              <h5 class="mb-0 mt-1">Change Password</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-container mb-auto py-2">
    <div class="container">
      <div class="form-wrapper my-5 mx-auto">
        <form #changePasswordForm="ngForm" (ngSubmit)="changePasswordForm.form.valid&&changePassword()" novalidate>

          <div class="form-group">
            <label for="">Old Password</label>
            <input type="password" placeholder="" class="form-control" name="oldpassword" [(ngModel)]="changePwdModel.oldpassword" #oldpassword="ngModel"
              required>
            <div *ngIf="!oldpassword.valid && oldpassword.errors && changePasswordForm.submitted" class="error_message">
              <div [hidden]="!oldpassword.errors.required">
                OldPassword is required
              </div>
            </div>
          </div>


          <div class="form-group">
            <label for="">New Password</label>
            <input type="password" class="form-control" placeholder="" name="password" [(ngModel)]="changePwdModel.password" required
              validateEqual="confirmPassword" #password="ngModel" reverse="true">

            <small [hidden]="password.valid || (password.pristine && !changePasswordForm.submitted)" class="error_message">
              Password is required
            </small>


          </div>
          <div class="form-group">
            <label for="">Confirm Password</label>
            <input type="password" class="form-control" placeholder="" name="confirmPassword" [(ngModel)]="changePwdModel.confirmPassword"
              required validateEqual="password" #confirmPassword="ngModel">
            <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !changePasswordForm.submitted)" class="error_message">
              Password mismatch
            </small>
          </div>
          <div class="d-flex justify-content-between">
            <button type="submit" class="btn  btn-dark">Submit</button>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>