﻿@model IEnumerable<CLayer.AssetTypesModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.assetCatName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.typeName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.isTaxed)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.isGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sortOrder)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.isActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.createdDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updatedBy)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.assetCatName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.typeName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.isTaxed)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.isGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sortOrder)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.isActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.createdDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updatedBy)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.assetTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.assetTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.assetTypeID })
        </td>
    </tr>
}

</table>
